[2020-09-07 19:32] rakyll opened #1130 "Moving SpanConfig and TracerConfig to internal"
Both configuring spans and tracer, there are various types and functions. It's hard for the user to determine which one they should be focused on.

For example, spans work with:
- SpanConfig
- SpanConfigure
- SpanOption

Tracers work with:
- TracerConfig
- TracerConfigure
- TracerOption

If we assume the users won't be engaging with the TracerConfig and SpanConfig directly that much, would it make

[2020-09-07 19:44] rakyll opened #1131 "http.Request as a first class object for HTTPPropagator interfaces"
Unlike other languages, Go has a strong consensus on the HTTP APIs. The ecosystem and the framework space consistently relies on `http.Request`.

Due to this unique situation, I wonder if it makes sense to provide http.Request-based interfaces in the propagation packages. They can be a tiny layer on the existing types (HTTPExtractor, HTTPInject, etc). We may also introduce the lower-level abstract

[2020-09-08 01:16] rakyll opened #1132 "trace.EmptySpanContext is not needed"
This function is documented as internal but is exported from the package. Either we can remove it (because it's redundant) or move it under an internal package.

[2020-09-08 01:21] rakyll opened #1133 "Unexport NoopXXX"
The noop types (NoopProvider, NoopTracer and NoopSpan) are dominating the API space although users will not need these types directly. Unexporting these types and providing a constructor would be sufficient:

[code]

Then, noopProvider.Tracer(...) // returns noopTracer

noopTracer.StartSpan(...) // returns noopSpan

[2020-09-08 15:14] MrAlias commented on #1128
Duplicate of https://github.com/open-telemetry/opentelemetry-go/issues/1012 and being addressed in https://github.com/open-telemetry/opentelemetry-go/pull/1118

Please reopen if I've misunderstood.

[2020-09-08 15:14] #1128 closed

[2020-09-08 15:19] MrAlias commented on #1127
The goal is to move the API up one package level: https://github.com/open-telemetry/opentelemetry-go/issues/964. This was based on your feedback that the API needed to be more front and center. Moving the codes package was a part of this move.

[2020-09-08 15:28] MrAlias opened #1138 "Ensure exported interface types include parameter names"
Similar to #1135, the exported interfaces should include parameter names to help document the function signature.

Based on https://github.com/open-telemetry/opentelemetry-go/pull/1135#pullrequestreview-483772709

[2020-09-08 15:32] MrAlias commented on #1132
For reference:

https://github.com/open-telemetry/opentelemetry-go/blob/b0f978c307724aa33affa40681d355d79daa24fd/api/trace/span_context.go#L162-L166

[2020-09-08 15:36] MrAlias commented on #1131
This sounds like a great addition. Based on the OpenTelemetry specification we need to continue exporting `HTTPExtract` and `HTTPInject` to ensure we implement it, but I don't see why we couldn't include useful helpers.

I imagine this might change the [`net/http` instrumentation](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/instrumentation/net/http). I'm interested to he

[2020-09-08 15:41] MrAlias commented on #1126
For reference: https://github.com/open-telemetry/opentelemetry-go/tree/master/tools

[2020-09-08 18:26] rakyll commented on #1128
It is a duplicate, sorry for that :)

[2020-09-08 18:27] rakyll commented on #1127
I can close this issue, looks like #964 is taking care of it!

[2020-09-08 20:32] MrAlias commented on #1092
Digging a bit further into this again I realized I had reverted the original change because the `IsSampled` method directly states that it just returns if the `Sampled` bit is set:

https://github.com/open-telemetry/opentelemetry-go/blob/224629bd0ba38bd65f6abd347ddff878e7d7e4dc/api/trace/span_context.go#L194

This is in contrast to the interpreted meaning that it returns if the span is sampled. Fr

[2020-09-08 20:48] otherview commented on #708
Hey @moorara any chance you can show a snippet of the code ?
I'm also stuck trying to create a Gauge too.

Thanks!

[2020-09-08 21:07] otherview opened #1139 "[Question] Prometheus Gauge in OpenTelemetry?"
Hi !

Similar to https://github.com/open-telemetry/opentelemetry-go/issues/708 I'm trying to model a Gauge using otel-go.
Finding it hard to wrap my head around it, can someone shine some light on this?

The results seem to be accumulative either way I do it 🤔

Using prometheus client:
[code]

Using otel-go:
[code]

Rendering:
[code]

Thanks! 😃

[2020-09-08 21:22] TommyCpp commented on #1092
I was looking at the Java implementation and they set the debug bit and sample bit at the same time when the decision is debug.

https://github.com/openzipkin/brave/blob/34dfe4a3c5f7e5e2712465f0144d79df485375e6/brave/src/main/java/brave/propagation/SamplingFlags.java#L26-L30

I guess the problem is if we change `IsSampled` implantation, it may cause unexpected behavior with existing code for users

[2020-09-08 22:05] moorara commented on #708
@otherview

This is a simple example:

[code]

And here is how you can measure the metrics:

[code]

You can see the full code [here](https://github.com/moorara/observer/blob/master/ohttp/server.go).

[2020-09-08 23:19] otherview commented on #708
Thanks for the swift reply @moorara !

So.. to replicate a `promauto.NewGauge().Set()` (prometheus client API) I would have to store and subtract the existing value in otel?

[2020-09-09 00:07] rakyll commented on #1132
I gave this a second thought and I think even though it's arbitrary, it's making the code more expressive.

EmptySpanContext() stands out more in terms of readability in terms of representing an empty context. I think it's good to keep it.

[2020-09-09 00:15] rakyll commented on #1130
@MrAlias if you are not working on this already, I can also take it!

[2020-09-09 00:17] rakyll opened #1140 "go test ./... and make build fails differently"
When I run `go test ./...` on the top directory of this repo, it seems to be skipping some packages thus `make build` and `go test` fail differently.

It confused me as a new contributor. I opened a few PRs after just running go test and the CI failed. I don't have time to investigate this (and don't know if it's a reasonable ask) but it would be great if go test was working as expected.

[2020-09-09 00:43] #1133 closed

[2020-09-09 00:50] #932 closed

[2020-09-09 01:41] Aneurysm9 commented on #1140
This seems to relate to [this Go issue](https://github.com/golang/go/issues/27957) which seems to acknowledge that the behavior of `go test ./...` may be unanticipated when multiple modules live in a single repo, but is the intended behavior.  Would additional documentation of the necessity of using `make test` over `go test ./...` in our `CONTRIBUTING.md` help address this issue?

[2020-09-09 01:55] MrAlias commented on #1130
@rakyll all yours :+1:

[2020-09-09 02:29] Aneurysm9 commented on #1131
The inclusion of `HTTP` in the propagator interface and method names never really sat right with me as they're useful for more than just HTTP.  The [`HTTPSupplier`](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/propagation/propagation.go#L24-L31) interface is easily implemented with a [wrapper around Kafka message headers](https://github.com/open-telemetry/opentelemetry-go-con

[2020-09-09 03:02] Aneurysm9 commented on #1009
+1 for option (1).

[2020-09-09 09:03] ngadre-juniper opened #1143 "go get -u go.opentelemetry.io fails"
Hi,

I am using go-redis package which uses the opentelemetry package.

I tried fetching go-redis using "go get -u -v github.com/go-redis/redis"

_[The -u flag instructs get to use the network to update the named packages and their dependencies. By default, get uses the network to check out missing packages but does not use it to look for updates to existing packages.

The -v flag enables verbose

[2020-09-09 14:00] utrack opened #1144 "[q] Inject Trace ID for a new trace from a context"
Hi! Is there any way to give Tracer/IDGenerator a pre-generated ID for a new trace?

Here's what I'm trying to do:
I've got my service and its descendants that support upcoming W3C `traceparent` standard, and OTL plays along with them nicely.
But between me and clients, there's an nginx proxy w/o any OTL support.

nginx has a Request-ID which looks like trace ID though, so if a request comes to me

[2020-09-09 14:50] hairyhenderson commented on #1144
Not a direct response to the question, but have you considered using the [nginx-opentracing module](https://github.com/opentracing-contrib/nginx-opentracing)? It supports zipkin-format trace propagation, which OTel can also support, so while it doesn't help with propagating the W3C headers, it'll at least let you propagate traces...

[2020-09-09 14:52] hairyhenderson commented on #1144
Also worth noting that there is an open issue in nginx-opentracing to support the w3c header: https://github.com/opentracing-contrib/nginx-opentracing/issues/132

[2020-09-09 16:11] Aneurysm9 commented on #1143
This appears to be a failure connecting to the go.opentelemetry.io vanity domain to retrieve the module metadata.  I am not able to reproduce at this time.  Are you still experiencing this issue?

[2020-09-09 17:19] #937 closed

[2020-09-09 18:13] #1112 closed

[2020-09-10 03:18] rakyll commented on #1140
Documenting sounds great, sending a PR.

[2020-09-10 04:11] jmacd commented on #1139
Ah, now that I see your example, the `ValueObserver` instrument (asynchronous) is well suited to your needs. Instead of defining a loop and a periodic gauge being Set, you'll define a `ValueObserver` callback that will be called once per collection interval and output a classic Gauge in both OTLP and Prometheus exporters.

You'll have fewer goroutines and arbitrary sleep statements then. See https

[2020-09-10 04:53] #1140 closed

[2020-09-10 10:23] otherview commented on #1139
Thanks for the reply @jmacd ! ☺️

I'm still not able to achieve it though...
This is returning an accumulative histogram, whereas I just want it to spit out the value that is "set".

I feel like my approach to this is wrong 🤔 . Can you have a look ?

Given :
[code]
This renders:
[code]

[2020-09-10 12:39] matej-g commented on #1114
If no one's looking into this, happy to take it :slightly_smiling_face:

[2020-09-10 16:01] MrAlias commented on #1076
My first thought is this can be setup as a resource detector that sets up all the relevant attributes. Is this in line with what you are envisioning @codeboten

[2020-09-10 17:56] codeboten commented on #1076
@MrAlias I don't have a clear picture of how resource detectors are used in the Go implementation. In the Python implementation we decided to add those attributes to the Resource itself instead of a resource detector, you can see the discussion that lead us there here: https://github.com/open-telemetry/opentelemetry-python/issues/932#issuecomment-672278737

The implementation was done in this PR:

[2020-09-10 18:28] MrAlias opened #1160 "Update Configuration Style Guide"
The changes in #1155 should be propagated to all implementations of our configuration style and it should be captured in an update to the project style guide.

- [x] Update [CONTRIBUTING.md style guide](https://github.com/open-telemetry/opentelemetry-go/blob/master/CONTRIBUTING.md#config)
- [x] Change all `*Configure` functions to `New*Config`
   - [x] https://github.com/open-telemetry/opentelemet

[2020-09-10 18:42] #1120 closed

[2020-09-10 18:50] MrAlias commented on #1076
Gotcha. This was the implementation that I was not sure is desired from a user perspective. It makes sense to make it easy to annotate telemetry by including this information in the `Resource`, but I expect having this showup without users configuring it might be bothersome to certain users. Especially users that prioritize optimization by reducing included information to an absolute minimum.

Hav

[2020-09-10 19:15] #1130 closed

[2020-09-10 19:21] MrAlias commented on #1075
@wonko thanks for using OTel and providing some feedback here. I'm not sure I fully understand the issue(s) you are running into.

What version of `go.opentelemetry.io/otel` are you using? Also what other modules are you using?

We recently split the all of the exporters, including the OTLP one you listed, into their own modules to remove the gRPC and protobuf dependencies from the main API.

We i

[2020-09-10 19:39] #1084 closed

[2020-09-10 20:01] rakyll opened #1164 "Can tracetest.SpanRecorder be a concrete type?"
In the tracetest package, we have a [SpanRecorder](https://pkg.go.dev/go.opentelemetry.io/otel/api/trace/tracetest?tab=doc#SpanRecorder) interface and a standard implementation named "StandardSpanRecorder".

I was thinking about use cases where users would need to reimplement this interface. If the user want flexibility and want to collect these events in a custom way, they already have access to

[2020-09-10 20:43] #1127 closed

[2020-09-10 21:49] nilebox commented on #1139
This is probably because Prometheus is using simple selector: https://github.com/open-telemetry/opentelemetry-go/blob/f995380e5848d2b9287f8b8e0608a4bda6f986d5/exporters/metric/prometheus/prometheus.go#L149

which uses histogram distribution for ValueObserver: https://github.com/open-telemetry/opentelemetry-go/blob/c9726efd6075c1dccbafc5a17724f0299fd1998a/sdk/metric/selector/simple/simple.go#L127-L

[2020-09-10 22:57] MrAlias commented on #1139
Talking about this in the SIG meeting today the proposal put forth was to include a selector similar to what @nilebox showed was done in the Google Cloud Monitoring exporter in the main project. Additionally add the functionality to the prometheus and cortext exporters to be configured with a user defined selector. That way, even though the default will still be the Histogram selector, it will all

[2020-09-11 12:45] NathanBaulch opened #1168 "Include InstrumentationName in SamplingParameters?"
I'm relatively new to OTEL. I've instrumented my application for tracing but one particular package I'm using creates a bunch of spans internally that make a lot of noise in my traces. I'd like to filter these out using a custom sampler, however the instrumentation name isn't provided in `SamplingParameters` and it feels a bit risky if I drop spans based only on the span name.

Thoughts?

[2020-09-11 19:13] TommyCpp opened #1169 "Proposal: Add Jaeger propagator"
As detailed in [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#propagators-distribution), SDK should come with B3 and Jaeger propagators. We already have B3 propagator, so it make sense to add a jaeger propagator.

I'd like to work on that if that sounds good.

[2020-09-11 21:14] #1160 closed

[2020-09-13 22:18] evantorrie opened #1173 "Remove B3 propagator code from go.opentelemetry.io/otel repository"
Once https://github.com/open-telemetry/opentelemetry-go-contrib/pull/344 is merged, we should remove the B3 propagator code from this repo.

[2020-09-14 11:25] NathanBaulch commented on #1168
Looks like this is already possible with a span processor instead of a sampler.

[code]

[2020-09-14 12:55] NathanBaulch opened #1174 "Execute span processor OnEnd in reverse order"
If span processors are intended for more than just exporters, then it would be nice if `OnEnd` was called on the processors in reverse order. This makes it possible to create a span filter that removes short spans for example since `EndTime` is obviously only available on end and it's critical that the filter runs before the exporter.

I was able to hack it into `span.End` like so:

[code]

[2020-09-14 14:44] hairyhenderson commented on #1169
FWIW, I'm in favour of this - we've been working on migrating from OT/Jaeger to OTel internally and trace propagation between services has been a big concern.

Glad to see that https://github.com/open-telemetry/opentelemetry-specification/pull/770 was merged, and I wish that I'd seen that before starting to move some of our services that don't support OTel over to Zipkin (notably, nginx)

[2020-09-14 16:38] #1113 closed

[2020-09-14 20:18] matej-g commented on #1114
This can be closed as https://github.com/open-telemetry/opentelemetry-go/pull/1170 has been merged, included wrong issue # by accident so the issue wasn't closed automatically. Sorry.

[2020-09-14 21:02] #1114 closed

[2020-09-14 22:56] jmacd opened #1177 "Upgrade Metrics to OTLP v0.5"
The OTLP exporter in this repository is still at version 0.3.  To bring it forward to v0.5 will require two new supports to be in place.

1. LastValue aggregation is required: being added in #1165.
2. Histogram aggregation is required: no open PR

Histogram aggregation is required as an alternative to Summary data points.  Since Summary has no current expression in OTLP v0.5, and at the specificat

[2020-09-15 14:04] wonko commented on #1075
@MrAlias Thanks for looking into this.

The moment we include the otlp exporter as a module, we're forced to use the version of the grpc module defined in the linked go.mod. This clashes with our own version of grpc we need to run our stack ... and you can't include two minor versions of a module (1.3.x (our stack) and 1.4.x (otlp exporter) in this case).

We currently work around this by replacin

[2020-09-15 14:40] MrAlias commented on #1177
Is this a duplicate of https://github.com/open-telemetry/opentelemetry-go/issues/1123?

[2020-09-15 14:52] Aneurysm9 commented on #1075
Does the grpc module not adhere to semver?  It seems that it should indeed be a guarantee that a higher minor version can be used in place of a lower one and still compile and function correctly, at least post v1.0.  If the grpc module publishes incompatible changes as minor version increments, I'm not sure there's much we can do about it.  We can test that our code continues to work but we can't

[2020-09-15 14:52] MrAlias opened #1178 "Investigate restructuring the BatchSpanProcessor queue and batching algorithm"
As a result of our queueing strategy with the enque being asynchronous from the processing of the batch it is possible for spans to be dropped instead of flushed when a user calls for this flush or shutdown.

Alternatives should be discussed here.

_Originally posted by @MrAlias in https://github.com/open-telemetry/opentelemetry-go/pull/1166#discussion_r487329301_

[2020-09-15 15:07] #1012 closed

[2020-09-15 15:21] jmacd commented on #1177
Yes, except I've put in more detail about how I think it should be sequenced.

[2020-09-17 02:03] ThomsonTan opened #1180 "Update sampling decision names for spec update"
OTel trace [SDK spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampler) was update with new names for sampling decision.

[2020-09-17 04:22] anuraaga opened #1181 "Confirm specification for runtime information"
open-telemetry/opentelemetry-specification#882 is adding a list of well-known runtime information to the specification to populate in the Resource. The author (me) only knows Java well and has guessed at helpful values for other languages. Please check the spec and update it if there is anything that should be fixed or could be more clear. Thanks!

[2020-09-17 12:42] arminru commented on #1180
There was a follow-up renaming it once again:
https://github.com/open-telemetry/opentelemetry-specification/pull/956/files

[2020-09-17 14:25] stefanprisca commented on #1121
@MrAlias  I would like to work on this.

Maybe a clean approach to this would be to separate the exporter logic (from [otlp.go](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/otlp/otlp.go) in two: MetricsExporter and TracesExporter. These are both internal structures, will have specific connection and export methods and can be configured separately. The existing OTLP Expo

[2020-09-17 15:21] huikang commented on #1122
Hi, @MrAlias , I am interested in this task. Please assign it to me, if no one has taken it. Thanks.

[2020-09-17 16:16] MrAlias commented on #1121
I think I would need to see a prototype to really follow this, or if you are able to join the SIG meeting in an hour we could talk about this.

The important thing I would look for in a design would be the reusability of connection handling logic. The connections to the collector need to support things like back-off, retries, and likely more features in the future. It is important that this logic

[2020-09-17 16:19] MrAlias commented on #1180
@arminru do you expect this to be "stable" at this point?

[2020-09-17 16:21] arminru commented on #1180
After consulting my 🔮 I'd say yes, feel free to go ahead!

[2020-09-17 23:16] rakyll opened #1182 "Reconsider the context keys"
Based on the conversations at https://github.com/open-telemetry/opentelemetry-specification/issues/948, we may need to reconsider the entries we propagate in the context and whether we will allow two different context keys. I'm filing this issue for visibility because it might be API breaking.

[2020-09-17 23:20] rakyll commented on #1174
It would be good to discuss this behavior on the specs as well: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md

[2020-09-18 05:03] huikang opened #1183 "example/otel-collector: Missing the first and last span"
When I run the example under './example/otel-collector' against a otel-agent, the agent can only receive 9 spans, instead of 11 spans as expected in the code ([1 root span + 10 iterations ](https://github.com/open-telemetry/opentelemetry-go/blob/a12224a454135a5d7ec17831b6b39cf9723c0cdb/example/otel-collector/main.go#L111-L122)). The otel-agent is under utilized so resource should not be a problem.

[2020-09-18 05:29] Aneurysm9 commented on #1183
Could you try applying this diff to the example and let me know if it makes the behavior consistently correct?

[code]

[2020-09-18 13:23] stefanprisca commented on #1121
I'm in the CET timezone, and couldn't join the SIG yesterday. If you want (and have time), we can have a chat either way because it might help.

I put up a small prototype (only for metrics) on my repo: https://github.com/stefanprisca/opentelemetry-go/tree/otlp-exporters-1121/exporters/otlp/1121. I tried to also capture the overview in some flow [diagrams](https://github.com/stefanprisca/opentelem

[2020-09-18 16:40] huikang commented on #1183
<img width="1041" alt="Screen Shot 2020-09-18 at 12 39 31 PM" src="https://user-images.githubusercontent.com/463631/93623009-0d3cc900-f9ac-11ea-8720-c046d772cdc2.png">

@Aneurysm9, your patch resolves the issue. It would be nice to create a PR to fix this. Thanks.

[2020-09-18 16:52] MrAlias opened #1184 "Update the default propagator to be noop"
Implement the changes from this PR: open-telemetry/opentelemetry-specification#930

[2020-09-18 16:57] huikang commented on #1183
BTW, I think the root cause probably is the batchprocessor is not shutdown properly in the original code. Changing to the following works too:

[code]

[2020-09-18 18:52] Aneurysm9 commented on #1183
Yup, that was my suspicion as well.  If you can turn that patch into a PR that would be great, otherwise I might not be able to get to it until the weekend.

[2020-09-18 18:52] huikang commented on #1183
Although the trace looks good in the Jaeger UI, the log of the otel-agent shows some error

[code]

My understanding is that some strings of the labels are not transmitted correctly. This happened constantly each time I run the example code.

[2020-09-18 19:20] huikang commented on #1183
Sure, I will take care of it as I have some time today.

[2020-09-19 04:50] huikang commented on #1122
@MrAlias , I setup an oltp collector which receives HTTP/JSON POST request at port `55681`. I was sending the following request with some test span content, which returns http code 200.

[code]

However, the collector's zpage does not show any received data, so I think there is some wrong with the request body. Could you please provide some advice on how to form a valid http/JSON content of a span

[2020-09-19 04:57] huikang commented on #1122
I think I found some example at the receiver's test file: https://github.com/open-telemetry/opentelemetry-collector/blob/e7e66939263ccbd99c9ac9352960c263d464263c/receiver/otlpreceiver/otlp_test.go#L101

[2020-09-20 14:18] stefanprisca commented on #1121
I pushed a prototype on my own repo: https://github.com/stefanprisca/opentelemetry-go/tree/otlp-exporters-1121/exporters/otlp/1121
Here are some flow diagrams, and notes, showing the configuration flow and start logic for the connections: https://github.com/stefanprisca/opentelemetry-go/blob/otlp-exporters-1121/exporters/otlp/1121/OtlpExporterDesign-Page-1.png
There is also a functional example he

[2020-09-20 17:35] #1072 closed

[2020-09-20 19:50] #1183 closed

[2020-09-22 05:39] stefanprisca commented on #1121
@MrAlias should I continue with this design, and put together a pull request?

[2020-09-22 15:18] MrAlias opened #1193 "Remove semantic convention for HTTP status text"
Based on these changes: https://github.com/open-telemetry/opentelemetry-specification/pull/972

[2020-09-22 15:32] MrAlias commented on #1121
@stefanprisca sorry about the delay. Thank you for digging into this, your design docs are great!  This looks like the approach I was thinking about and I think with your prototype it's clear that it is viable.

The only feedback I have on a potential change would the the options might be better abstracted. We could collapse the `With*Address`, `With*Insecure`, and `With*GRPCDialOption` options in

[2020-09-22 16:20] MrAlias commented on #1092
That is going to be the worry for sure :+1: .

I'm definitely not an expert in Java, but looking at that link I'm not seeing the sampling flag being set when the debug flag is set, rather the other way around (setting the debug flag when the debug and sampling flag are set).

https://github.com/openzipkin/brave/blob/34dfe4a3c5f7e5e2712465f0144d79df485375e6/brave/src/main/java/brave/propagation/Sam

[2020-09-22 16:24] MrAlias commented on #1009
Looking into flattening this out last week and found the initial dependency cycle that likely split the package in the first case.

https://github.com/open-telemetry/opentelemetry-go/blob/b9357d7ee2b37b475521db639f0c738f02ca8e57/api/global/internal/trace.go#L39

And also now,

https://github.com/open-telemetry/opentelemetry-go/blob/b9357d7ee2b37b475521db639f0c738f02ca8e57/api/global/internal/state

[2020-09-22 16:33] MrAlias commented on #1144
Based on your description it sounds like you are trying to build a custom trace propagation scheme. To support this you would indeed want to take a look at the `HTTPExtractor`.

That is going to always be the case based on the problem you described.

The recommendation @hairyhenderson made about using the B3 encoding to propagate traces sounds like a good alternative. Otherwise, you will need to r

[2020-09-22 16:42] MrAlias commented on #1164
Sorry about the delay. This sounds like a reasonable question and I think we can indeed make it a concrete type.

Yeah that was the idea. Additionally, there were some testing setups that used a map to capture completed span.

https://github.com/open-telemetry/opentelemetry-go-contrib/blob/6d5d814987af9ceb48e904b79ee03bd7d1867cc7/instrumentation/google.golang.org/grpc/interceptor_test.go#L39-L61

[2020-09-22 16:44] MrAlias commented on #1164
Also, if we do make this change, it probably goes without saying, but we sound rename the `StandardSpanRecorder` to just be `SpanRecorder`.

[2020-09-22 16:47] MrAlias commented on #1168
@NathanBaulch thanks for the question and the workaround. I think this is probably going to be a useful things that many people will want. I'm going to add this as something to add post-GA as it should be able to do so in a backwards compatible manner. Until then I think your workaround should suffice.

Thanks again :smile:

[2020-09-22 16:51] MrAlias commented on #1169
@TommyCpp thanks for identifying this and picking up the task. The help is definitely appreciated.

We have interpreted the specification

as saying the B3 and Jaeger propagators should live in the [contrib repository](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/propagators). I'm going to migrate this issue there to track this work.

[2020-09-22 17:03] evantorrie commented on #1087
Closed via #1119

[2020-09-22 17:03] #1087 closed

[2020-09-22 17:23] MrAlias commented on #1174
Opened https://github.com/open-telemetry/opentelemetry-specification/issues/987 to see if we can change this.

[2020-09-22 17:34] #1180 closed

[2020-09-22 18:02] #1173 closed

[2020-09-22 18:45] MrAlias commented on #1174
From open-telemetry/opentelemetry-specification#987 the span processor model does not operate in the following fashion when a new span processor is registered:

[code]

Instead, the processors are registered "in parallel":

[code]

This means that the processing chains are independant and while the ordering of their execution is specified the execution of a processor does not affect the following

[2020-09-22 18:53] MrAlias opened #1195 "Update SpanProcessors to be invoked in order they are registered"
Currently a TracerProvicer stores known SpanProcessors in a map:

https://github.com/open-telemetry/opentelemetry-go/blob/038f505d12a63d5121e07936981930e20efb0678/sdk/trace/span_processor.go#L46

When a span is started or finished it iterates through the map and invokes the associated method of the SpanProcessor:

https://github.com/open-telemetry/opentelemetry-go/blob/038f505d12a63d5121e079369819

[2020-09-22 21:57] MrAlias commented on #1174
I've added an example of this workflow here: https://github.com/open-telemetry/opentelemetry-go/pull/1196

[2020-09-23 00:22] TommyCpp commented on #1092
@MrAlias Yes I definitely think we could open an issue in B3 repo to clearify thing a little bit. https://github.com/openzipkin/b3-propagation/issues/43

About the Java implementation/Brave,

Yes that was actually my point. In that implementation when flag extracted is debug. The sample bit and debug bit in tracing context will both be set to 1. If the flag extracted is sampled then only sample bi

[2020-09-23 00:51] dashpole opened #1197 "Basic and namedtracer examples do not print traces"
Both examples appear to be missing traces.

[code]

[code]

If I add sdktrace.WithSyncer(exp) as an argument to sdktrace.NewProvider [here](https://github.com/open-telemetry/opentelemetry-go/blob/master/example/namedtracer/main.go#L52), that fixes the problem for the namedtracer.  I can also do the same inside the stdout exporter to fix the basic example.

But looking at the [BatchSpanProcessor](h

[2020-09-23 03:17] huikang commented on #1195
Hi, @MrAlias , I'd like to give this a shot. Thanks.

[2020-09-23 04:50] dashpole commented on #1197
Using [WithBatcher](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/provider.go#L176) prevents correct handling of shutdown for the batch span processor, and should either return the Shutdown() function, or be removed entirely.

The stdout [NewExportPipeline](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/stdout/exporter.go#L53) and [InstallNewPip

[2020-09-23 07:04] liguozhong opened #1200 "[metrics] prometheus remote write exporter"
https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/exporters/metric/cortex

https://github.com/open-telemetry/opentelemetry-go/tree/master/exporters

Please add cortex exporter to this project

[2020-09-23 13:59] huikang commented on #1184
If no one has taken this, please assign this to me. Thanks.

[2020-09-23 14:44] stefanprisca commented on #1121
@MrAlias no worries, just wanted to check if you got a chance to look over the design :)

I submitted a PR, but it still needs a bit of polishing (build failing and CHANGELOG.md update) so it's in progress for now.

[2020-09-23 15:10] Aneurysm9 commented on #1200
The [Prometheus remote-write exporter](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/exporters/metric/cortex) *is* part of this project.  It is hosted in the contrib repo.  Am I missing something in your request?

[2020-09-23 18:52] #1193 closed

[2020-09-24 07:42] liguozhong commented on #1200
This is a cortex exporter, not Prometheus remote writer exporter.
There is a small issue, but because it is not in the main project, we do not know how to participate in the optimization. For example, when we use it, we find that the prompb protocol has been changed. However, cortex exporter did not follow up, which made it impossible for us to use cortex exporter directly
![image](https://user-im

[2020-09-24 17:43] MrAlias commented on #1197
This sounds like a good thing to address directly as these are useful convenience functions. We should updated these functions (for all exporters) to support returning a generalized shutdown function or the BSP shutdown function directly.

[2020-09-24 18:14] MrAlias opened #1203 "Add integration tests for span processor ordering"
Possibly, have two span processors be registered that each modified some state held by the test function. After a span was started and ended the state could be verified that it was updated in the correct order from the span processors.

_Originally posted by @MrAlias in https://github.com/open-telemetry/opentelemetry-go/pull/1198#discussion_r494500721_

[2020-09-24 18:42] MrAlias commented on #1203
@huikang looks like you're not a member of the GitHub OpenTelemetry org yet (you should [apply](https://github.com/open-telemetry/community/blob/master/community-membership.md#requirements) though :smile: ) so I can't directly assign this to you yet.

[2020-09-24 18:43] #1195 closed

[2020-09-24 19:30] Aneurysm9 commented on #1197
Should the `apitrace.TracerProvider` have a `Shutdown()` method that can invoke the respective `Shutdown()` methods of all configured span processors?

[2020-09-24 19:37] MrAlias commented on #1197
This sounds reasonable to me. This is the main thing operators of instrumentation will interact with so it would follow that it would be a useful place to facilitate all this.

[2020-09-24 19:39] Aneurysm9 commented on #1197
Would we need to get a spec update to reflect that new interface?

[2020-09-24 22:25] #1197 closed

[2020-09-24 22:29] dashpole commented on #1197
Should we reopen this to track adding Shutdown(), or open a new issue?

[2020-09-24 22:30] #1139 closed

[2020-09-24 22:32] Aneurysm9 commented on #1197
Can you open a new issue?

[2020-09-24 22:52] dashpole opened #1206 "It should be easy to Shutdown() SpanProcessors"
Forked from https://github.com/open-telemetry/opentelemetry-go/issues/1197#issuecomment-697132450.

[SpanProcessor](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/span_processor.go#L24) supports a Shutdown() method, which users should call if their program exits to ensure spans are written before shutting down.  Currently, many of our convenience functions, including [Wit

[2020-09-25 15:21] MrAlias commented on #1092
Looks like https://github.com/openzipkin/b3-propagation/issues/43#issuecomment-698632676 indicates that we should indeed set the sampling bit when debug is set. I'm :+1: for a PR for this at this point. @TommyCpp guessing you were hoping to do this work or would you be okay if someone else wanted to jump on this?

I'm going to migrate this issue to the contrib repo as the B3 propagator now resides

[2020-09-25 19:26] MrAlias commented on #910
Closing as it looks like the TraceContext binary protocol resolved the initial question.

[2020-09-25 19:26] #910 closed

[2020-09-25 19:28] MrAlias commented on #1051
Closing based on the last comment looks to have resolved this. If this is in error, please reopen.

[2020-09-25 19:28] #1051 closed

[2020-09-25 19:30] MrAlias commented on #1070
We are tracking our GA release with [this project](https://github.com/open-telemetry/opentelemetry-go/projects/1) and [this milestone](https://github.com/open-telemetry/opentelemetry-go/milestone/10). Hopefully, this helps to answer some of the projects timelines.

[2020-09-25 19:30] #1070 closed

[2020-09-25 19:33] MrAlias commented on #1014
This is partially related to #964. I think we can try to do the same in the SDK and SDK exporter package.

[2020-09-25 19:42] MrAlias commented on #787
I think this has become a duplicate of #192, going to close this and consolidate the conversation there.

[2020-09-25 19:42] #787 closed

[2020-09-25 19:44] MrAlias commented on #192
Info from duplicate issue #787

[2020-09-28 16:29] #1203 closed

[2020-09-28 20:49] jmacd opened #1210 "Prometheus exporter should use Gauge for non-monotonic sums"
The existing `exporters/metric/prometheus` exporter exports a sum for the UpDown- instruments, which leads to issues like https://github.com/open-telemetry/opentelemetry-go-contrib/issues/368.

The `metric.Kind` type already has a getter `Kind.Monotonic()` that tells us whether the Sum aggregation is an UpDown- variety or not. If the aggregation is UpDown-, Prometheus exporters should not export C

[2020-09-29 13:48] Verlet64 commented on #1210
I'd like to pick up this issue, if that's okay @jmacd

[2020-09-29 20:02] nchandran3 opened #1211 "Question: Add propagation through RabbitMQ messages"
Is it possible / advisable to add propagation logic for RabbitMQ messages, much like `HTTPInjectors` / `HTTPExtractors`.

If so, interested in contributing these.

[2020-09-30 02:22] MrAlias opened #1213 "Update Status Codes"
Implement changes from https://github.com/open-telemetry/opentelemetry-specification/pull/966

[2020-09-30 16:44] MrAlias commented on #448
Resolved by https://github.com/open-telemetry/opentelemetry-go/pull/1118

[2020-09-30 16:44] #448 closed

[2020-09-30 16:48] MrAlias commented on #461
Given the specification has deferred this decision we should back out the attributes that we are setting. This will ensure we are able to add them back in in a compatible manner after GA.

[2020-09-30 21:01] MrAlias opened #1218 "Remove duplicate hostname semantic convention"
Need to remove the `host.hostname` attribute for resource semantic conventions to conform with these changes: https://github.com/open-telemetry/opentelemetry-specification/pull/838/files

[2020-09-30 23:58] huikang commented on #1218
I'd like to take this one if it has not been assigned.

[2020-10-01 15:54] MrAlias commented on #1177
I've updated the description of #1123 to include the information included here and going to close this to resolve the duplicity.

[2020-10-01 15:54] #1177 closed

[2020-10-01 15:56] MrAlias commented on #1143
Closing as this looks like a transient issue and we are not able to reproduce. Please reopen if there is more info to be added to help debug this.

[2020-10-01 15:56] #1143 closed

[2020-10-01 17:14] jmacd opened #1220 "Metrics SDK collector support: support "transient descriptors""
There is a change I would like to submit for the Metrics SDK that does not directly address any SDK or API-level specification. What it will do is enable us to use the OTel-Go metrics SDK as part of an OTel-Collector processing pipeline.

The problem being solved is that the SDK expects each instrument used by the API to be registered once, statically. It expects that each instrument will have a u

[2020-10-01 17:15] jmacd commented on #1220
Connected with

https://github.com/open-telemetry/opentelemetry-specification/issues/1046

[2020-10-02 11:06] csucu opened #1221 "Custom trace IDs?"
Is there any way to set custom trace IDs for traces? We already have are own trace/request ID's which is propagated across are services, so would be quite useful to use it for the trace. FYI We are using the otel sdk and exporter.

[2020-10-02 19:01] MrAlias opened #1222 "Unify Internal Baggage Map and Label Set"
From [this comment](https://github.com/open-telemetry/opentelemetry-go/pull/1217/files/6b4686f6dcb309da624e1618b3e1b5d930378ded#diff-45a1435c9c3424400e487d462d919828R26-R28):

A proposed design would be to abstract the `label.Set` into an internal set implementation that supports updates (the Map supports this but the `label.Set` does not (nor should it)). And then the `label.Set` can expose this

[2020-10-02 19:27] #1082 closed

[2020-10-02 19:50] MrAlias opened #1223 "Add example test to document how a propagator can be used for inject/extract only"
#1212 updated the propagation API to unify the inject and extract parts of propagators given this is assumed the default case.

It is still possible to wrap a propagator in a way that it is only used to inject or extract cross-cutting concerns. This should be captured in an example test to help users understand how to do this if they need this functionality.

[2020-10-02 21:41] #1107 closed

[2020-10-04 04:51] huikang commented on #1206
@MrAlias , I'd like to take this one if no one has take it.

[2020-10-05 18:36] #1213 closed

[2020-10-05 20:13] Aneurysm9 commented on #1221
Do you have a system out-of-process that is generating these trace IDs and sending them on to a system using the OTel SDK?  In that case, it sounds like implementing a custom propagator for your propagation format may be what you're looking for.

[2020-10-06 00:09] #949 closed

[2020-10-06 14:59] jmacd commented on #1123
We have histogram aggregation now, so the next step is just to upgrade the protocol, where all we do is swap protocol versions. This will require changing the default for ValueRecorder to Histogram, which is now implemented for OTLP.

[2020-10-06 15:48] codeboten commented on #1123
I'm happy to help with this one

[2020-10-06 17:04] MrAlias commented on #1220
@jmacd should we tag this with `required-for-ga`?

[2020-10-07 17:31] paulosman opened #1228 "Attributes from Samplers not being added to sampled Spans"
The [sampling section of the Tracing SDK specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#sampling) specifies that the return value of the ShouldSample method contains "A set of span Attributes that will also be added to the Span.".

When using a custom sampler with the Go SDK, attributes returned from the Sampler are only set on t

[2020-10-07 17:47] paulosman commented on #1228
btw, I'm happy to take a crack at a PR for this but want to make sure others agree with the framing of the problem first.

[2020-10-07 18:21] codeboten commented on #1123
What's the expected OTLP datapoints for `MinMaxSumCountKind` aggregation now that SummaryDataPoint is gone? @jmacd @MrAlias

[2020-10-07 21:22] Aneurysm9 commented on #1228
I can't access [the sample application](https://github.com/honeycombio/otel-sampling-demos/blob/master/golang/deterministic/main.go), perhaps the repo is private?

It looks like we might be [slightly overzealous](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/span.go#L401) in attempting to invoke samplers.  This may be a holdover from before [the `ParentBased` sampler was

[2020-10-08 01:05] MrAlias commented on #1123
Hmm, I don't know off-hand. I thought it was something the metric SIG is still discussing the best way to add this into the proto IIRC.

[2020-10-08 01:11] MrAlias commented on #1123
[This](https://github.com/open-telemetry/opentelemetry-go/pull/1230/files#diff-350d737ff3bc7b6473d30f043e6bbd9fR420-R421) seems reasonable for now. @codeboten out of curiosity, did this come from the collectors interpretation of these?

[2020-10-08 01:14] codeboten commented on #1123
I ended up following the [java implementation](https://github.com/open-telemetry/opentelemetry-java/blob/master/exporters/otlp/src/main/java/io/opentelemetry/exporters/otlp/MetricAdapter.java#L185)

[2020-10-08 03:03] XSAM commented on #1206
I raised an issue to specification to reflect the new interface. open-telemetry/opentelemetry-specification#1073

[2020-10-08 14:06] paulosman commented on #1228
My apologies, the [repo is public](https://github.com/honeycombio/otel-sampling-demos/blob/master/golang/deterministic/main.go) now in case it's still helpful.

I've confirmed - the `ShouldSample` method is only being called once per trace, and not once per span. I tried commenting out that guard that you linked to and indeed that results in the expected behavior - the sampler is consulted for eac

[2020-10-08 16:48] Aneurysm9 commented on #1228
Excellent!  @paulosman do you want me to assign this issue to you?  I'll add it to the agenda for the Go SIG meeting this afternoon to see if anyone has any reason why we shouldn't just strip that guard out.

[2020-10-08 17:17] paulosman commented on #1228
@Aneurysm9 Yeah sure, that sounds good! I'll join the SIG meeting today.

[2020-10-08 17:37] nchandran3 commented on #453
On a similar note, if the rest of the ecosystem is adhering to OpenTracing spans and serialization, will OpenTelemetry be backwards compatible with its standard for how span context is represented?

As in, can I have a mix of OpenTracing and OpenTelemetry compatible services, that can all talk to each other without being privy to which standard the rest of the systems are using? Does the span cont

[2020-10-08 17:38] jmacd commented on #1210
@Verlet64 yes please 😀

[2020-10-08 18:04] Verlet64 commented on #1210
Amazing, thanks! Should be able to throw some time at this at the weekend.

[2020-10-08 18:27] MrAlias commented on #1184
Closed by #1204

[2020-10-08 18:27] #1184 closed

[2020-10-08 18:29] MrAlias commented on #1218
Closed by #1219

[2020-10-08 18:29] #1218 closed

[2020-10-08 22:24] MrAlias opened #1232 "Update the SpanProcessor Shutdown method"
[New changes](https://github.com/open-telemetry/opentelemetry-go/pull/1227/files#diff-e17508b7c9b2ce7e8ba38f9c37c3f113R186) added a `Shutdown` method to the `TracerProvider` to shutdown all `SpanProcessor`s in a unified way.

https://github.com/open-telemetry/opentelemetry-go/blob/bde399bf0d6e971b7cacf1702f980089835dcfe9/sdk/trace/provider.go#L186

This function, however, has a context as a parame

[2020-10-08 23:59] MrAlias commented on #1069
https://github.com/open-telemetry/opentelemetry-specification/issues/948#

This is likely going to be the top issue at the next Specification SIG meeting.

[2020-10-09 03:07] #1123 closed

[2020-10-09 13:53] csucu commented on #1221
We use a request id coming from haproxy across our systems. Do you have any more details or an example i can take a look at?

[2020-10-09 16:03] MrAlias opened #1236 "Revert Propagators Move"
[This issue](https://github.com/open-telemetry/opentelemetry-specification/issues/1047) will revert the change to move the B3 propagator to the contrib repo. We'll need to track this change as it is expected to land.

[2020-10-09 16:52] settys opened #1237 "cannot find package "go.opentelemetry.io/otel/api/trace""
I use go-redis, which fails,with the error,

cannot find package "go.opentelemetry.io/otel/api/trace" in any of:
	/usr/local/go/src/go.opentelemetry.io/otel/api/trace (from $GOROOT)
	/go/src/go.opentelemetry.io/otel/api/trace (from $GOPATH)

[2020-10-09 16:59] Aneurysm9 commented on #1237
Are you not using Go modules?  go-redis should be using the [v0.11.0 SDK](https://github.com/go-redis/redis/blob/master/go.mod#L10) according to its `go.mod`.  Building it against `HEAD` is not guaranteed to work and is likely to break intermittently as we work toward 1.0, thus we cannot support it.

[2020-10-09 17:01] MrAlias commented on #1237
This was moved into the `otel` package on master: https://github.com/open-telemetry/opentelemetry-go/pull/1229

It looks like go-redis uses modules: https://github.com/go-redis/redis/blob/b965d69fc9defa439a46d8178b60fc1d44f8fe29/go.mod#L10

If you make sure you are using a compatible version of Go you should also use modules and not have an issue.

[2020-10-09 17:01] #1237 closed

[2020-10-09 17:28] MrAlias commented on #1221
@csucu the recent jager propagator should be a good example to emulate: https://github.com/open-telemetry/opentelemetry-go-contrib/blob/bbc03fa6f1ad325293b5bd5c14f01a46585a5bbe/propagators/jaeger/jaeger_propagator.go#L60-L95

[2020-10-09 22:48] #1228 closed

[2020-10-11 08:53] adam-burns opened #1238 "go get go.opentelemetry.io/otel producing errors over the last few days"
Over the last few days, (I *suspect* since commit #27c84d689d64167e8a1873311782750da6defa39)

building go applications that pull in opentelemetry, or invoking directly

[code]

Produces the following errors in the output code block below.

[code]

[2020-10-11 12:30] ilyakaznacheev commented on #1232
Looks like a good place for me to start contributing to a project that I have been following since the beginning of the year.

May I pick up this, @MrAlias ?

[2020-10-11 15:22] hairyhenderson commented on #1238
@adam-burns It looks like you're using Go 1.11 - that's super old, any reason why you can't use the latest (1.15.2)?

Running in an empty environment (a Docker container), this works fine:

[code]

[2020-10-11 17:03] dokterbob opened #1239 "Impossible to override SpanContext"
In the current implementation, when both a SpanContext as well as a Remote SpanContext are set, the Remote SpanContext is ignored. As it is currently not possible to override the current SpanContext, only the remote, using a remote seems only possible when no prior span has been defined.

Our current setup is such that we have a pipeline where the same objects are being processed by various compon

[2020-10-11 17:07] dokterbob commented on #1239
Note that the specs suggest that in messaging-type of scenario's, setting the parent is a requirement. https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/messaging.md#examples

[2020-10-11 17:18] dokterbob commented on #1239
Also note that in OpenCencensus, option 3 seems to be the defined behaviour (remote context overrides existing context).

https://godoc.org/go.opencensus.io/trace#StartSpanWithRemoteParent

[2020-10-11 18:39] Aneurysm9 commented on #1238
As @hairyhenderson noted, Go 1.11 is quite old and outside of our support window.  We are currently supporting Go 1.14 and 1.15.  It also looks as if you are not using Go Modules, which can make it very difficult to utilize a rapidly evolving, pre-1.0 project like this.  We publish periodic releases that are tagged for use as Go Modules and you can expect that equivalent versions of the API/SDK fr

[2020-10-11 18:39] #1238 closed

[2020-10-11 19:12] adam-burns commented on #1238
Thank you for the tip, I was wondering what was holding me back.

On 11/10/2020 17:23, Dave Henderson wrote:

This error was from our base docker container build. Will update go for
the docker build.

Thanks again,

Best,

Adam.

[2020-10-12 07:09] louiemiranda commented on #1237
Hi @MrAlias If I understand correctly, go-redis should be using the version of go 1.13 and not go 1.11 to run `opentelemetry-go` ?

[2020-10-12 14:51] Aneurysm9 commented on #1237
If you are using Go <1.14 you need to [ensure you are using Go in module mode](https://golang.org/cmd/go/#hdr-Modules__module_versions__and_more).  From 1.14 module mode is the default.  Prior to that you can specify `GO111MODULE=on` as an environment variable to ensure Go operates in module mode.

[2020-10-12 18:40] evankanderson opened #1245 "Support storing Resource on context?"
It would be really handy to be able to say:

[code]

Right now, it seems like this might not be possible because the Measurement is derived from a specific Meter, which means that each Meter may have a separate set of Measurement metadata (description, etc) within the same process.

[2020-10-12 19:54] nchandran3 opened #1246 "Question: Is OpenTelmetry (De)Serialization Backwards Compatible with OpenTracing Implementations?"
Is the serialization of `span context` backwards compatible with existing OpenTracing implementations?

Wondering how we can have an ecosystem of systems / processes that are originally instrumented with OpenTracing implementations, while iteratively introducing OpenTelemetry instrumentation to certain processes.

For instance, if process A is instrumented using OpenTracing, and sends an HTTP requ

[2020-10-12 21:05] Aneurysm9 commented on #1246
This concern is handled by [propagators](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md) in the OpenTelemetry ecosystem.  Interoperability can be achieved as long as both ends of the link are using compatible propagation schemes.  The OTel Go SDK includes support for [the W3C Trace Context format](https://pkg.go.dev/go.opentelemet

[2020-10-12 21:05] #1246 closed

[2020-10-13 01:15] satvirgrewal opened #1247 "go 1.15.2: cannot find package "go.opentelemetry.io/otel/api/trace" in any of GOROOT or GOPATH"
I am using go 1.15.2 for my VSTS pipeline.

The pipeline was working fine till last week and today it is failing with the issue if not able to find the 'go.opentelemetry.io/otel/api/trace'

Approaches tried based of your responses to similar issues:

1. I have tried using export GO111MODULE=on . No luck

<img width="799" alt="Screen Shot 2020-10-12 at 7 59 34 PM" src="https://user-images.githubuse

[2020-10-13 02:17] MrAlias commented on #1247
Are you using the latest version of `github.com/go-redis/redis`? It was updated to support the latest release of `opentelemetry-go` 3 days ago:

https://github.com/go-redis/redis/blob/36223c9349f0c78a386df4a38c00a077cc38cdce/go.mod#L10

Do you have a different version of go.opentelemetry.io/otel installed other than v0.13.0? Is it a version that is compatible with the version of github.com/go-redi

[2020-10-13 02:17] #1247 closed

[2020-10-13 02:30] MrAlias commented on #1245
This seems like a bit of a mismatch of the layers of OpenTelemetry. A `Resource` is a part of the default OpenTelemetry SDK. They are used to describe the runtime environment an instrumented service is operating in. They are constructed by the person operating the code or using the instrumented library. The included example has the Resource as a known value in the instrumentation, something writte

[2020-10-13 02:30] #1245 closed

[2020-10-13 04:14] MrAlias opened #1250 "Add a Meter testing method to the Harness of the `oteltest` package"
Currently the Harness in the `oteltest` validates Tracer implementations (and the Spans it produces).

https://github.com/open-telemetry/opentelemetry-go/blob/65044a118bc4a26d40b694c11f142e43fd083544/oteltest/harness.go#L44

A similar method should be added to the Harness to validate the functionality of the Meter API.

[2020-10-13 04:25] MrAlias opened #1251 "SpanFromContext should return nil if no Span is set"
https://github.com/open-telemetry/opentelemetry-go/blob/65044a118bc4a26d40b694c11f142e43fd083544/trace.go#L210-L215

If this was changed to return nil instead of an instance of `noopSpan` the caller would be able to determine a missing value without having to know the internal implementation of `noopSpan` and how to check that was returned (i.e. comparing to an empty `noopSpan` if internal or by l

[2020-10-14 15:55] MrAlias opened #1256 "Rename SpanContext to SpanReference"
Update needed to track these changes: https://github.com/open-telemetry/opentelemetry-specification/pull/1075#

[2020-10-14 17:34] MrAlias opened #1257 "The global TextMapPropagator should delegate after being set"
Currently the global package returns a new TextMapPropagator when `global.TextMapPropagator` is called. If global propagators are set after this has been returned it will not use the newly set TextMapPropagator. This breaks from the behavior of the Tracer and Meter for the global package and will require the operator to reinitialize things after setting the global value (invalidating the original

[2020-10-15 14:31] cpackingham commented on #1256
@MrAlias Mind if I take this one?

[2020-10-15 14:51] Verlet64 commented on #1210
Hey @jmacd,

I took a look at this on Sunday, and whilst I was able to pretty trivially make the export the data points as a gauge rather than a counter, by checking if the metric was monotonic or not, I feel like I'm missing something if we're talking fixing some of the [related issues](https://github.com/open-telemetry/opentelemetry-go-contrib/issues/368).

As as first pass, I was thinking of ad

[2020-10-15 16:49] jmacd commented on #1210
@Verlet64 your assumptions and conclusions are all correct. This issue calls for a minor change which you have spelled out perfectly. To your final question (3), yes, a UpDownSumObserver is the right instrument for memory allocation over time, since the measurement is a sum of bytes.

[2020-10-15 17:35] #1257 closed

[2020-10-15 19:03] MrAlias commented on #1251
https://github.com/open-telemetry/opentelemetry-go/pull/1255#issuecomment-709484024

[2020-10-16 15:09] #1103 closed

[2020-10-17 00:42] MrAlias opened #1263 "(RFC) Rename `NewConfig` in `sdk/resource` to better fit its function"
Currently `NewConifg` doesn't return a `config` and there are likely better names for this function. I'm guessing a better name would reflect the `Resource` being returned and the use of `Detectors` to create it. Possibly `NewFromDetectors` to compliment `New`.

We should brainstorm names here, form consensus, and then implement a new name.

_Originally posted by @MrAlias in https://github.com/ope

[2020-10-17 17:03] #964 closed

[2020-10-17 19:10] yajna-pandith commented on #1143
same issue

[2020-10-18 15:17] ilyakaznacheev commented on #1232
@MrAlias should it be a PR to master or to #1227 branch?

[2020-10-19 09:17] ilyakaznacheev commented on #1232
@MrAlias ready for review

[2020-10-19 17:46] lizthegrey opened #1265 "propagator configuration needs better shorthand"
[code]

is impossible for a new user to figure out on their own, and is a magic incantation we should give a mnemonic if we don't just make it the default.

[2020-10-19 18:37] codeboten opened #1266 "Rename otcorrelations to baggage"
As per the spec compliance matrix: https://github.com/open-telemetry/opentelemetry-specification/blob/master/spec-compliance-matrix.md#baggage

[2020-10-19 18:56] Aneurysm9 commented on #1265
Agreed.  Unfortunately, the spec [now requires no-op default propagators](https://github.com/open-telemetry/opentelemetry-specification/pull/930/files).  Perhaps we should have a function in the `propagators` package that returns a composite propagator with `TraceContext` and `Baggage`.

[2020-10-19 19:39] lizthegrey commented on #1265
agree, a composite out of box propagator would be helpful to have a util function for.

[2020-10-20 17:51] #1266 closed

[2020-10-20 21:07] cpackingham commented on #1256
Definitely going to need some extra eyes on the opentracing bridge and the exporters. Opentracing seems to have its own concepts of SpanReference and SpanContext so renaming is pretty dicey there - same with Zipkin.

[2020-10-21 17:12] abihf opened #1272 "Allow empty remote SpanID for xray integration"
I created propagator for xray like this
[code]

By default, AWS ALB add trace id header without parent span id ([docs](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-request-tracing.html)), therefore [parent.GetSpanContextAndLinks()](https://github.com/open-telemetry/opentelemetry-go/blob/master/internal/trace/parent/parent.go#L24) always return empty span contex

[2020-10-21 21:30] #1251 closed

[2020-10-22 16:40] jmacd commented on #1263
I'd like to fix this in the open PR. I've proposed we replace `New()` with this new method in #1235. How does this sound?

[2020-10-22 16:41] jmacd commented on #1263
Maybe we could name a new helper with a signature `NewFromAttributes(...label.KeyValue) *Resource` which calls the more-general `New()`?

[2020-10-23 02:02] dackroyd opened #1273 "Codes fail on round trip marshal/unmarshal"
Unmarshalling a `codes.Code` value that was previously marshalled to JSON fails.

Test case reproducing the issue:

[code]

Fails with (all codes fail, not just Unset):

[code]

Unmarshal/marshal should round trip successfully, but the wrapping quotes in the incoming bytes when performing an unmarshal aren't expected by the mapping code, so it fails.

[2020-10-23 16:11] MrAlias commented on #1263
I am in support of both of these. :+1:

[2020-10-23 17:40] abihf commented on #1272
I made some small changes here: https://github.com/abihf/opentelemetry-go/commit/b7c0d734af46417a587c242b64b31d15bf0e5958#diff-aa21a30a3d52621c58541a76385ed6006fe95d69553f00881745e5c36d83da7b

But I don't think it will be accepted as PR.

[2020-10-26 05:02] samm02 commented on #1122
hi @huikang i am also interested in seeing this feature implemented - could you let us know of progress, or would it be possible for me to assist in getting this across the line?

[2020-10-26 14:23] zombiezen opened #1275 "Span.End contract unclear"
From [`go.opentelemetry.io/otel/api/trace.Span` docs](https://pkg.go.dev/go.opentelemetry.io/otel@v0.13.0/api/trace#Span.End):

[code]

I read this as it being safe to write code like this:

[code]

But I'm left with confusion as to when a span would be sent to an exporter and in what state. Does a span get sent after some period of time after the `End`? Can this race with `SetStatus`? etc. I have

[2020-10-26 16:20] #1206 closed

[2020-10-26 17:53] rakyll commented on #1275
/cc @MrAlias @jmacd

[2020-10-26 17:57] rakyll commented on #1275
FYI, according to the spec, status must not be changed after span's end time has been set. This behavior seems inconsistent with the spec. See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md

[2020-10-26 18:57] bboreham opened #1277 "Bug in first example"
https://github.com/open-telemetry/opentelemetry-go/blob/da3f60ac96779dee397a46a450bd3de7b929c56b/doc.go#L29-L33

This results in "tracer declared but not used"

If the `:=` is replaced with `=` this does not happen.

[2020-10-26 18:59] huikang commented on #1122
@samm02 , feel free to take it. Thanks.

[2020-10-26 19:23] #1277 closed

[2020-10-26 20:16] MrAlias commented on #1275
Yeah, we should try to compliant with the specification, but my understanding from the specification is it is _recommended_ that calls to change the state of a span post `End` being called be ignored: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#end

@rakyll is there another location where it is stated as a requirement?

If I recall correctly

[2020-10-27 02:06] #1232 closed

[2020-10-27 07:54] yogo1212 opened #1279 "Update README and documentation to better communicate pre-GA state"
via https://github.com/go-redis/redis/pull/1541

go sees the tag in go.mod as a 'minimum version' [1]. As a consequence, their recommendation is this:

The recent move of the tracing API breaks automated setups relying on this very useful go principle.

Please use at least deprecations warnings and keep the old API intact for at least for one version jump to give other projects time to adjust thei

[2020-10-27 14:39] cpackingham commented on #1256
@MrAlias  This issue should be closed - the decision to rename SpanContext was reverted in the spec: https://github.com/open-telemetry/opentelemetry-specification/issues/1126

[2020-10-27 15:05] MrAlias commented on #1256
@cpackingham thank you for digging into this and sorry it ultimately was wasted time. :disappointed:

[2020-10-27 15:05] #1256 closed

[2020-10-27 15:16] MrAlias commented on #1279
This project is still an active work in progress. We are in a pre-GA phase of our lifecycle that will include breaking changes.

With our GA 1.0 release we will be holding our design choices to conform to the methodology you linked, until then we do not make backwards compatibility guarantees. You can track our progress to this stable release on [this project board](https://github.com/orgs/open-te

[2020-10-27 16:46] yogo1212 commented on #1279
@MrAlias i respect that. and i did oversee that section second to last section of the readme - my mistake.

consequentally, the readme should reflect that state better.
prominent projects like go-pg or go-redis and Google Cloud Platform are already using this package - with major versions and many users.

[2020-10-27 17:09] MrAlias commented on #1279
That is a good point. I'll get a PR together to address that.

[2020-10-27 17:18] atoulme opened #1280 "Write an example showing how to create a histogram from a value recorder"
Write a complete representation of what it takes to create a histogram that aggregates values from a value recorder.

The sample should have code that:
* Creates a recorder
* Creates a basic pull associated with the recorder
* Creates a histogram representation of the values

[2020-10-27 22:02] atoulme opened #1283 "Offer defaults for histogram boundaries"
It would be great to have sane defaults for histogram boundaries.

In Prometheus, histograms are offered default boundaries as a constant one can set explicitly.

https://github.com/prometheus/client_golang/blob/master/prometheus/histogram.go#L63

[2020-10-27 22:30] #1273 closed

[2020-10-27 23:10] rakyll opened #1284 "*Impl type names are confusing"
Per spec, https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/metrics, there are various metrics interfaces that sit in the boundary of the SDK and the API. These types are named as "*Impl" which resembles "implementation" types from other languages. Is there a better way to rename them to avoid the confusion that they are concrete types.

For example, MeterImpl

[2020-10-27 23:12] rakyll opened #1285 "Arbitrary type aliases?"
The root package contains type aliases for Meter and Tracer (see https://pkg.go.dev/go.opentelemetry.io/otel#Tracer). It's not clear why these aliases exist. If they exist for backwards compatibility reasons, we should document they are deprecated.

[2020-10-27 23:15] rakyll opened #1286 "The preferred error handler"
Currently, there are two global error handlers in the package.

https://pkg.go.dev/go.opentelemetry.io/otel@v0.13.0/api/global#ErrorHandler
https://pkg.go.dev/go.opentelemetry.io/otel@v0.13.0/#ErrorHandler

It's not clear to the developer which one is the preferred/canonical one. Let's add some docs about deprecation if we cannot remove one or the other due to backwards compatibility.

[2020-10-27 23:17] rakyll commented on #1275
@MrAlias, the spec mentions an exception at https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#span-operations

"With the exception of the function to retrieve the Span's SpanContext and recording status, none of the below may be called after the Span is finished."

I think we can clarify the first section in the spec. I assumed recording status wa

[2020-10-28 03:21] rakyll opened #1287 "Consider moving Number into its own package"
Even though the metric.Number type is currently only used by the metric package, it might be good to consider the into its own package if we would need a similar high level type for another telemetry signal/package. Given the size of the metric package, it might be also useful to split this type to reduce the API surface exported from the package.

What do you think?

/cc @MrAlias @jmacd

[2020-10-28 15:13] MrAlias commented on #1287
I was considering this as well and think it is a good idea.

Possibly relate, I had started looking into if we could encapsulate the number kind in the number type, similar to how we keep the label kind with the label. It might be worth evaluating this if we move the number to a dedicated package.

[2020-10-28 15:47] MrAlias commented on #1286
The global package `ErrorHandler` is a function that returns the default implementation of the otel `ErrorHandler`. In #1009 I had proposed we change the `ErrorHandler` function to `GetErrorHandler`. This was with the goal of integrating the global package into the otel package and avoiding the name collision, but based on your point @rakyll it sounds like a good move to also make it clear what th

[2020-10-28 15:51] MrAlias commented on #1285
The soon to be released master branch contains a refactor that removes these. The API has been moved to the top level otel package to make it more prominent and easier for users to understand what they should work with. This is based on feedback we received from you a while ago.

I'm going to close this as it has been resolved on master, but if you can take a look there I would appreciate any feed

[2020-10-28 15:51] #1285 closed

[2020-10-28 21:10] juanandresgs commented on #1143
same

[2020-10-28 22:14] Aneurysm9 commented on #1263
I second that support.

[2020-10-28 22:24] Aneurysm9 commented on #1275
I suspect that this is a case of imprecise writing in the spec sending us down [a garden path](https://en.wikipedia.org/wiki/Garden-path_sentence).  It seems that @MrAlias and @rakyll are interpreting "recording" as a verb operating on the span's status, but I suspect that it is instead part of the noun phrase "recording status" referring to whether the span was recording data or not.

This is sup

[2020-10-28 23:30] jmacd opened #1288 "Exported OTLP metric Int/DoubleSum data points lack temporality / is_monotonic fields"
The current OTLP exporter does not set two fields in the IntSum and DoubleSum data points. The testing framework is also not validating these fields.

e.g., in `otlp_metric_test.go` the function `runMetricExportTest` does not check the expected temporality or monotonicity. There is no mention of these fields in the `internal/transform` directory.

[2020-10-29 04:37] rakyll opened #1289 "Async/Sync concepts shouldn't be represented as types"
The metrics specs introduces async and sync as concepts to explain how the data collection will be behave, https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/metrics/api.md#synchronous-and-asynchronous-instruments-compared.

These concepts doesn't necessarily have to be represented in the API but rather their behavior should be expressed in observer vs non-obse

[2020-10-29 04:42] rakyll opened #1290 "MeterMust and variants can live in a metricutil package"
The Must* types and functions are convenience wrappers, we can move them to another package. They make it harder to focus on what are the core types and where the developers start engaging with the metric package.

[2020-10-29 04:46] rakyll opened #1291 "Making aggregators interfaces to support different flavors"
In the metric package, we provide different flavors of the aggregator types, such as Float64SumObserver
 vs BoundFloat64UpDownCounter. This is adding some mental overhead for the developer and requiring them to see another type. Instead of exporting various concrete types, would it be better to turn Float64SumObserver into an interface and provide two unexported concrete types?

[2020-10-29 05:08] rakyll opened #1292 "Split aggregators into different packages"
The metric package currently is pretty big and hard to begin with. In order to be able to highlight the core types users should be engaging with, can we split aggregation related types into different packages?

For example,

[code]

[2020-10-29 05:27] rakyll commented on #1291
Or following this model at https://github.com/open-telemetry/opentelemetry-go/issues/1292, we split the bound types into separate packages, so they don't confuse the users.

[2020-10-29 06:29] jmillikin-stripe opened #1294 "Static analysis error in `label/kv.go`"
Error from `nogo`:
[code]

The start of the function returns immediately if `value == nil`, and then later on it checks `value != nil && err == nil` after calling `json.Marshal()`. I believe that second use of `value` should be a different symbol (maybe `b` ?).

[2020-10-29 07:37] rakyll commented on #1292
A prototype of this idea is at https://godoc.org/github.com/rakyll/opentelemetry-metric-go. It's a rough idea at this point, we still need to investigate the potential cyclic dependencies and may end up introducing some internal types to get around. I'll give an overview of the idea at the next meeting to discuss whether it's a feasible approach. If yes, I highly suggest us to give it a try. It po

[2020-10-29 11:37] Palit-Mukul opened #1295 "Unable to export data from otel-collector to prometheus"
I am trying to send metrics to otel-collector so that it could be exported to prometheus but am I getting the following logs in terminal.
[code]
I am unable to understand why these special symbols are coming
I am using OTEL version 0.13.0

[2020-10-29 16:22] MrAlias commented on #1275
This makes sense to me :+1:

[2020-10-29 16:23] #1279 closed

[2020-10-29 16:25] MrAlias commented on #1283
Thanks for opening this. I agree sane defaults are helpful.

To better understand the scope here, is this proposing the prometheus exporter incorporate these same default histogram boundaries? Or, something else?

[2020-10-29 16:29] MrAlias commented on #1289
I'm excited to see this!

[2020-10-29 16:36] matej-g commented on #1129
I would take this one. To me it seems same could be applied to `oteltest.Tracer` and `oteltest.MockTracer`, i.e. we could do just with having `oteltest.Tracer`.

[2020-10-29 16:42] MrAlias commented on #1295
@Palit-Mukul do you have a minimal example of code that can reproduce this?

[2020-10-29 16:54] MrAlias commented on #1129
:100:

[2020-10-29 17:11] dashpole commented on #93
I'd like to tackle this.  I recently made it possible to swap out the OpenCensus "SDK" for go: https://github.com/census-instrumentation/opencensus-go/pull/1238, and would like to contribute a shim library that implements the OpenCensus APIs using opentelemetry.  I have a working prototype here: https://github.com/dashpole/opencensus-migration-go/blob/master/migration/tracer.go

If that direction

[2020-10-29 17:23] seh commented on #1090
See #609 for precedent.

[2020-10-29 18:43] MrAlias commented on #93
@dashpole that sounds good to me. Including a new `opencensus` package in the [`bridge` package](https://github.com/open-telemetry/opentelemetry-go/tree/master/bridge) seems appropriate.

[2020-10-29 20:21] dashpole commented on #93
I forgot one piece in opencensus-go needed to accomplish this, so I haven't opened the PR yet.

In the mean time, I wanted to raise a few incompatibilities between OpenCensus and OpenTelemetry:

1. OpenCensus supports calling `StartSpan` with a `Sampler`.  OpenTelemetry does not.  The current migration would ignore any OpenCensus Samplers that are specified during span creation.
2. OpenTelemetry s

[2020-10-30 01:41] Palit-Mukul commented on #1295
@MrAlias  This is the sample main function through which I am sending the metrics
[code]

[2020-10-30 03:29] atoulme commented on #1283
Something like this would be enough?

[code]

[2020-10-30 16:22] MrAlias opened #1298 "Add a "Quickstart" guide"
The Java SIG has an instructive and helpful set of documentation that provides relevant details for things like creating instrumentation and setting up the telemetry pipelines: https://github.com/open-telemetry/opentelemetry-java/blob/master/QUICKSTART.md

We should create something similar.

[2020-10-30 16:58] inge4pres commented on #1295
@Palit-Mukul this looks like a weird address...

[2020-10-31 18:16] #1076 closed

[2020-11-01 04:09] jtescher opened #1300 "Remove extra label value types"
Currently [label value types](https://github.com/open-telemetry/opentelemetry-go/blob/master/label/value.go#L42-L65) can include `INT32`, `UINT32`, `UINT64`, and `FLOAT32` values, but the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/9e6a3de19cb3db983b2e4d56b37ec6313fd4ffc6/specification/common/common.md#attributes) states that:

   ...
   The attribute value, which is

[2020-11-01 17:03] Palit-Mukul commented on #1295
[code]
This is the docker compose file which I am using and I have used 55678 for otel-collector.
Below is the otel-collector config
[code]
`

[2020-11-02 10:37] inge4pres commented on #1295
This looks incorrect, you should not use `0.0.0.0` as targets, but `127.0.0.1` or `localhost` because I see you are using the default bridge network.
Read here how to use Docker networks in compose https://docs.docker.com/compose/networking/.

[2020-11-02 16:27] #1294 closed

[2020-11-02 19:24] yegle commented on #93
Is the current focus of the shim on the tracing side of OpenCensus?

While looking into migrating from OpenCensus to OpenTelemetry with the focus on our metrics, I realized OpenTelemetry don't have full metrics support in packages like `sql`, `grpc` etc. It would be great if those can be supported by the bridge/shim.

[2020-11-02 19:26] gavinservai opened #1302 "API: Add TraceState to SpanContext"
The spec mentions TraceState under SpanContext:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#spancontext

The previous issue that was filed for this was closed, mentioning that tracestate is not a part of the spec anymore.
I'm not sure why this was done, as an open PR from the spec was linked - and that PR did not end up getting merged into t

[2020-11-02 20:36] MrAlias opened #1303 "Encapsulate OTel API"
[The recent move](https://github.com/open-telemetry/opentelemetry-go/issues/964) to make the OTel API more front-and-center and ultimately discoverable has also consequentially introduced issues.

1. Portions of the API (e.g. tracing, metrics) are not able to be versioned independently or be given different levels of stability. This split in versioning, while not desirable, may be needed if the sp

[2020-11-02 21:45] abihf opened #1304 "Update SpanProcessor.OnStart to conform with specification"
The SDK `SpanProcessor.OnStart` method needs to be updated to follow [the specification](https://github.com/open-telemetry/opentelemetry-specification/pull/875/files#diff-ace73543d690260e873d774428419c23895283b6c31177d405816b154d1f5aa0)

* Instead of passing `export.SpanData` we need to pass a read/write form of the SDK span. Given it is not an exported type the method should accept the otel trace

[2020-11-03 12:57] Palit-Mukul commented on #1295
I tried with `localhost` as well as` 127.0.0.1` but it did not work. It with localhost I dint get the collector logs which I was previously getting. I think the problem is with the special characters only because of which the collector is unable to interpret and convert it into a particular format for prometheus.

[2020-11-03 19:09] MrAlias commented on #1300
I like the idea of reducing the API surface area and conforming to the specification. :+1:

[2020-11-03 21:13] krnowak commented on #1303
I'm not sure if the listings above meant to be comprehensive (they looked like that), but I went through the exported types and functions in otel and I have some notes:

I'd add the following to the metric package:

- `Must`
- `NewDescriptor`
- `SyncImpl`
- `NewMeterConfig`

I'm not sure I'd put `InstrumentationOption` and `WithInstrumentationVersion` into `metric` package, though. `Instrumentatio

[2020-11-04 00:57] MrAlias commented on #1303
Thanks for thoroughly double checking this.

Agreed, I've updated the description to included these in the proposal.

Yes, I should have explained this better. I think we will need to add an `InstrumentationOption` and `WithInstrumentationVersion` back into both the `metric` and `trace` package. Effectively splitting this back into two different types in the different packages. The metric one pass

[2020-11-04 17:32] MrAlias commented on #1283
Ah, I see. I don't think we should add defaults within the SDK itself. It is impossible to make a recommendation for buckets to cover even the common use cases of histograms. For example, if someone is measuring request latency the recommendations would be different if measured in seconds, milliseconds, microseconds, or nanoseconds. That recommendation, even if you could resolve the unit discrepan

[2020-11-04 18:39] krnowak commented on #1303
Cool, thanks for making this clear.

Agreed to solve this in a separate issue. For now I'll just move it to the `metric` package without changing it in any way then.

One fallout from this reorganization of API will the return of stuttering types. `number.Number`, `trace.TraceID`, `baggage.Baggage` and likely more (mostly in `trace` and `number` packages). Is this something we should solve in this

[2020-11-04 19:23] MrAlias commented on #1303
This is a good question. I think it is tractable to address here based on an inventory of the listed move, but agree if there is contention I think we should address in a separate issue.

For the `number` package:

- `type Number struct`. I do not see us being able to change this. It correctly describes the contents of the structure and this type of "stuttering" is common in Go.
- `type NumberKind

[2020-11-05 11:03] XSAM commented on #1303
Agreed.

I think the rest of the `baggage` package should have a better naming:

- ContextWithBaggageValues. Rename to `ContextWithValues` seems concise.
- ContextWithoutBaggage. Rename to `ContextWithEmpty` might be a good choice.
- ContextWithoutBaggageValues. Rename to `ContextWithoutValues`.

[2020-11-05 14:19] krnowak commented on #1303
So there is a PR for moving the trace code to trace package (#1307). The rest of the changes are in my `new-api-2` branch (https://github.com/kinvolk/opentelemetry-go/tree/krnowak/new-api-2).

[2020-11-05 16:47] MrAlias commented on #93
@yegle the tracing API is more mature than the metric API in OpenTelemetry. The ultimate goal is to have a complete migration shim. However, something is better than nothing and it seems like we are hoping to iterate a into a full solution, starting with what we can currently do in tracing.

[2020-11-05 16:50] MrAlias commented on #93
SGTM

I think this is a good way to at least start.

[2020-11-05 16:51] MrAlias commented on #1263
Fixed in #1235

[2020-11-05 16:51] #1263 closed

[2020-11-05 19:30] MrAlias commented on #1129
resolved with #1306

[2020-11-05 19:30] #1129 closed

[2020-11-05 23:32] MrAlias commented on #1275
To resolve this we should fix the comment and open Bugs to address and SDK behavior that does not conform to this.

[2020-11-05 23:35] MrAlias commented on #1104
This can likely be closed. We need to double check, but this is likely in line with the specification.

[2020-11-06 13:57] matej-g commented on #1302
Yes, looks like that issue was prematurely closed together with [the original PR](https://github.com/open-telemetry/opentelemetry-go/pull/81#issuecomment-519611895), while recently `TraceState` has been [moved to API](https://github.com/open-telemetry/opentelemetry-specification/pull/922) and operations on it have been specified.

@MrAlias if you agree I would like to take this one.

[2020-11-06 16:59] MrAlias opened #1311 "SDK Span locking overused"
The [`span.mu` field](https://github.com/open-telemetry/opentelemetry-go/blob/9ac3a08eef14d96687edb260e2c27114a658d6b7/sdk/trace/span.go#L49) is documented to protect the contents of the `span.data` field's value (not pointer). However, it is used to also lock the span when events, links, or attributes are added:

https://github.com/open-telemetry/opentelemetry-go/blob/9ac3a08eef14d96687edb260e2c2

[2020-11-06 17:53] MrAlias commented on #1287
Addressing in https://github.com/open-telemetry/opentelemetry-go/issues/1303

[2020-11-06 18:48] MrAlias opened #1313 "SDK Span updates should be ignored after End is called"
The following methods of the SDK span need to be updated to not perform an action if called after the `End` method has been called and the documentation for the methods need to include this information.

- `AddEvent`
- `RecordError`
- `SetAttributes`
- `SetName`
- `SetStatus`
- `addLinks`
- `addChild`

[2020-11-06 19:00] johananl commented on #1304
Happy to pick this one up @MrAlias.

[2020-11-06 20:50] dstdfx commented on #1300
@MrAlias would be glad to take this one

[2020-11-09 14:34] johananl commented on #1304
The change is simple enough and I have a WIP [here](https://github.com/kinvolk/opentelemetry-go/pull/2), however as @krnowak helpfully pointed out to me, looks like we need to discuss our handling of `OnStart` more broadly:

- Right now we pass an `export.SpanData` rather than a `Span` to `OnStart`, which doesn't seem to follow the spec.
- `export.SpanData` already contains a parent span ID, which

[2020-11-09 16:41] codeboten opened #1317 "Update limits for collection size"
As per the spec change here https://github.com/open-telemetry/opentelemetry-specification/commit/507884f02618a91247fe3634a8c6c5ac99a32a40

The limits for event, attribute and link collection should be 1000:

https://github.com/open-telemetry/opentelemetry-specification/blob/323cd1d8811d3e3df08bec689f9dacd6cb782888/specification/trace/sdk.md#limits-on-span-collections

[2020-11-09 18:57] #1275 closed

[2020-11-09 20:11] MrAlias commented on #1069
Specification issue is being tracked here now: https://github.com/open-telemetry/opentelemetry-specification/issues/1113

[2020-11-09 20:29] austinlparker commented on #1298
Hi! Friendly neighborhood Comms SIG is here with a PR that adds some quickstart documentation for Go to the OpenTelemetry website. If someone would be so kind as to put some eyes on it, we'd love for this to be a starting point for future docs!

Note that this doesn't necessarily replace documentation that you wish to have in your repository or on pkg.go.dev, it's meant to be a high-level overview

[2020-11-09 21:25] MrAlias opened #1320 "Update Prometheus exporter test to validate monotonic vs. non-monotonic counters"
https://github.com/open-telemetry/opentelemetry-go/blob/228bbcbc59276ee1e470a896aa3d027f1e1df27c/exporters/metric/prometheus/prometheus_test.go#L37-L40

_Originally posted by @jmacd in https://github.com/open-telemetry/opentelemetry-go/pull/1269#r514551894_

[2020-11-09 21:59] MrAlias commented on #1295
I would guess these erroneous symbols are going to come from version incompatibilities between `go.opentelemetry.io/otel` and the recent release of the collector. The recent release of the collector uses the latest `v0.5.0` version of the OTLP and the `v0.13.0` release of `go.opentelemetry.io/otel` uses the prior release.

The next release of `go.opentelemetry.io/otel` will use the `v0.5.0` releas

[2020-11-10 02:30] Palit-Mukul commented on #1295
Is there a way to make it work for now ? What will be the best suited versions of `go.opentelemetry.io/otel` and `collector` to make is compatible and working ?

[2020-11-10 15:40] #1317 closed

[2020-11-10 15:44] MrAlias commented on #1295
@Palit-Mukul the collector upgraded their version of the OTLP in [v0.10.0](https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v0.10.0), so anything between v0.5.0 (first release to include v0.4.0 of the OTLP) and that should work.

[2020-11-10 15:44] #1288 closed

[2020-11-11 15:24] #1287 closed

[2020-11-11 17:03] krnowak commented on #1085
I'll try to push it forward.

[2020-11-11 17:22] MrAlias commented on #1304
As far as I can tell this is a bug, we should be passing a `Span` to `OnStart`. We should include this fix in this issue.

I think the confusion is coming from `SpanContext` and `context.Context`. My understanding of the specification is that it wants the full parent `context.Context` to be passed to the `OnStart` method. This will allow the method to look at the full set of context the span was c

[2020-11-11 17:48] johananl commented on #1304
Great @MrAlias, will refactor accordingly.

[2020-11-11 19:44] johananl commented on #1304
@MrAlias @krnowak changing `OnStart` and `OnEnd` to accept an `otel.Span` instead of `*export.SpanData` breaks the following:

https://github.com/open-telemetry/opentelemetry-go/blob/386331a472deda26020f125501cba346cacf0193/sdk/trace/span_processor_test.go#L84

We don't have a way to **read** span attributes via the API, only set them (which is intentional AFAIK and follows the spec). In order to

[2020-11-12 01:04] jmacd opened #1324 "How can we use OTLP protocol without exposing opentelemetry-proto-gen?"
For reasons that are (probably still) sensible, the `go.opentelemetry.io/exporters/otlp/internal/opentelemetry-proto-gen` is an internal package and I'm not able to depend on it for my own applications. Now suppose I've written an application that handles OTLP data itself but is also instrumented by an OTel-Go SDK. I need a copy of the OTLP protocol for my own application, but the Google and Gogo

[2020-11-12 17:00] johananl commented on #1304
Following the above, I assumed we want to pass a `Span` (rather than an `export.SpanData`) to `OnEnd`, too.

When implementing this change I've encountered the following problem:

In `span.End` in the SDK, we set the span's end time in `sd` which is a **copy** of the span's `data` field:

https://github.com/open-telemetry/opentelemetry-go/blob/27aa1f601124468cde6c796935460435b6723700/sdk/trace/spa

[2020-11-12 18:44] johananl commented on #1304
We've discussed [this](https://github.com/open-telemetry/opentelemetry-go/issues/1304#issuecomment-726206274) problem in the Go SIG meeting and realized that the scope of this problem is wider than this issue. We've decided to take another look at the way we implement the read-only vs. read/writable span from the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/spec

[2020-11-12 18:56] johananl opened #1326 "Align span interfaces with the spec"
Following the discussion [here](https://github.com/open-telemetry/opentelemetry-go/issues/1304#issuecomment-726206274), we should take another look at the way we use `export.SpanData` in `sdk/trace`.

The spec [mentions](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#additional-span-interfaces) two types of interfaces to a span at the SDK level

[2020-11-12 18:57] johananl commented on #1304
Issue for refactoring `export.SpanData`: https://github.com/open-telemetry/opentelemetry-go/issues/1326

[2020-11-12 18:57] johananl commented on #1326
@MrAlias please feel free to assign me.

[2020-11-12 18:58] MrAlias opened #1327 "Update Jaeger exporter to not return BatchSpanProcess shutdown function"
https://github.com/open-telemetry/opentelemetry-go/blob/f6df5df9388279ee4627ed9e4999f0b83d09d1a8/exporters/trace/jaeger/jaeger.go#L154

Returning this function stub is not needed anymore given the `TracerProvider.Shutdown` method will call this function on shutdown.

This should be updated to match what the Zipkin package implements, i.e.

[code]

[2020-11-12 19:46] seanschade commented on #1324
I don't think it needs to be an internal package. It seems like the protocol is something you would want available as a Go package. As you pointed out someone can just generate their own stubs. If you move these stubs out now we can use a specific version, and know that they were generated consistently. This adds stability to the ecosystem.

[2020-11-12 19:59] seanschade commented on #1265
I will give you my experience from a user's point of view. I implemented this yesterday in one of our shared libraries and found it to be quite intuitive.

We plan to create one or more custom propagators, and `otel.NewCompositeTextMapPropagator(...)` is an easy way to set them when initializing the telemetry. I created a map to help parse the `OTEL_PROPAGATORS` environment variable and set the gl

[2020-11-13 01:39] flycash commented on #1327
I want to help to do this. From my understanding, I only need to change the return value from `(trace.TracerProvider, func(), error)` to `(trace.TracerProvider, error)`, right?

[2020-11-13 08:02] ilyakaznacheev commented on #583
What about proto generation? How do you fix all the versions of protoc and plugins?

[2020-11-13 15:37] MrAlias commented on #1327
That is indeed going to be the bulk of the work. The `InstallNewPipeline` will also need to be updated to not return the now unpassed function and there might be tests that need calling structures updated, but should be the bulk of the work AFAIK.

[2020-11-13 15:43] flycash commented on #1327
Thank you.

[2020-11-13 15:58] MrAlias commented on #1069
Given the `label` package is already used for attributes, we should not be blocked with issues blocking https://github.com/open-telemetry/opentelemetry-specification/issues/1113 and should be able rename the `label` package and metric use of it.

[2020-11-13 16:01] MrAlias commented on #1122
From this ticket this duplicated:

Implementation on the collector side for reference: https://github.com/open-telemetry/opentelemetry-collector/pull/1021 (issue https://github.com/open-telemetry/opentelemetry-collector/issues/881)

_Originally posted by @nilebox in https://github.com/open-telemetry/opentelemetry-go/issues/860#issuecomment-648512227_

[2020-11-13 16:02] MrAlias commented on #860
It looks like I duplicated this with #1122 mistakenly. I'm going to close this as there doesn't seem to be movement here. Please reopen if that was a mistake.

[2020-11-13 16:02] #860 closed

[2020-11-13 16:26] justinfoote opened #1331 "opentelemetry-go should set the resource attribute `telemetry.sdk.name` to `opentelemetry`"
According to [the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/a2758014f408f64ff84728918d671ee3fdab2225/specification/resource/semantic_conventions/README.md#telemetry-sdk):

But [the implementation in opentelemetry-go](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/resource/builtin.go#L57) sets the value to `"opentelemetry-go"`:
[code]

[2020-11-13 16:43] MrAlias commented on #1324
@open-telemetry/technical-committee can we create a repository to host this generated code?

[2020-11-13 17:09] tigrannajaryan commented on #1324
Why not host it in this repo? Alternatively, host in proto repo? (was discussed in the past and decided against, but can reopen the discussion).

[2020-11-13 17:21] MrAlias commented on #1324
I'd rather not host here given it is generated code from a different project. Hosting this in the proto repository sounds like a good solution to this as well.

[2020-11-13 17:32] MrAlias commented on #1324
Opened https://github.com/open-telemetry/opentelemetry-proto/issues/238 to track a potential solution in the proto repo.

[2020-11-13 18:44] johananl commented on #1304
https://github.com/open-telemetry/opentelemetry-go/pull/1333 is ready for review.

[2020-11-13 20:21] johananl commented on #1326
After reading the [relevant](https://github.com/open-telemetry/opentelemetry-specification/blob/f8bacdbde5a9b1d21201dfafea6c414125def3a7/specification/trace/sdk.md#additional-span-interfaces) [parts](https://github.com/open-telemetry/opentelemetry-specification/blob/f8bacdbde5a9b1d21201dfafea6c414125def3a7/specification/trace/sdk.md#interface-definition) of the spec and looking at the way things a

[2020-11-13 21:25] johananl opened #1335 "Rename attributesMap.go"
https://github.com/open-telemetry/opentelemetry-go/blob/63a11144cf5a5fd185e40eba7dd22bce2b2980ef/sdk/trace/attributesMap.go#L1

While AFAIK there isn't a standard convention for naming "regular" (i.e. non-test) source files in Go, we seem to be using `foo_bar.go` throughout the codebase and this specific file seems odd.

We might want to rename this file to `attributes_map.go` or `attributesmap.go

[2020-11-16 08:54] XSAM opened #1341 "Sampler interface should return Tracestate"
According to the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/8d0d19581caa3e802e6f798fa3e15c1ad5f2e9e2/specification/trace/sdk.md), `Sampler` should return `SamplingResult` that contains `Tracestate`.

[2020-11-16 10:19] neemiasjnr opened #1342 "Update otlp exporter to be in sync with changes on opentelemetry-colletor v0.14.0"
## Description
It's my first issue on opentelemetry org, I appreciate any feedback and I'm glad to add more details. I would like to run my app with opentelemetry collector sending spans to Jaeger (instead of directly running jaeger collector) to be platform agnostic and potentially change it to Google Cloud Tracing later on.

## Issue
All spans are being sent with error tag when using otel-collec

[2020-11-16 10:49] neemiasjnr commented on #1342
I opened the issue here because I'm following the examples folder from this repo and it didn't work for me, if you think this belongs to https://github.com/open-telemetry/opentelemetry-collector I can close it here and reopen there. Any thoughts?

[2020-11-16 14:20] Manimaran11 commented on #1320
@MrAlias I would like to look into this issue

[2020-11-16 16:31] MrAlias commented on #1326
This sounds like a good design to me.

[2020-11-16 16:41] johananl commented on #1326
Talked to @krnowak offline. He suggests using getter methods which "mirror" the setters we already have in `trace.Span`. Might want to expose only fields which are actually needed right now and not every single `trace.Span` field.

[2020-11-16 16:42] johananl commented on #1326
Also - we might want to improve the naming of the new interfaces. We could maybe do `ReadOnlySpan` and `ReadWriteSpan` which is more consistent language-wise.

[2020-11-16 16:45] #1304 closed

[2020-11-16 17:30] #1009 closed

[2020-11-16 17:30] #1286 closed

[2020-11-16 17:45] Aneurysm9 commented on #1341
Once #1340 lands we'll have `TraceState` in the `SpanContext` provided to the samplers and it should be relatively straightforward to update the `SamplingResult` struct to include a `TraceState`.

[2020-11-16 18:15] Aneurysm9 commented on #1342
I'm not sure yet whether this is an issue with the collector or the exporter, but the issue does not exist using `v0.13.0` of the collector.  I suspect this is related to the change to the status code enumeration and that we may need to update the OTLP definitions used here.

[2020-11-16 18:41] MrAlias commented on #1335
@dstdfx has an open PR for this.

[2020-11-16 19:04] seanschade opened #1344 "otlp.ExporterOption WithInsecure should take a boolean parameter."
https://github.com/open-telemetry/opentelemetry-go/blob/bbc9465ddb47b3791db8213d0b47e6d4c9be8b1b/exporters/otlp/options.go#L104

The current design makes it harder to map this option to configuration. You need to check if the value was set, and then add the `WithInsecure` option. All of the other options take a parameter for the value. This is nice because you can just pass the value into the opti

[2020-11-16 19:10] seanschade opened #1345 "otlp.ExporterOption WithAddress should be renamed to WithEndpoint"
https://github.com/open-telemetry/opentelemetry-go/blob/bbc9465ddb47b3791db8213d0b47e6d4c9be8b1b/exporters/otlp/options.go#L113

The functional options should match the configuration options outlined in the specification.

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md#configuration-options

[code]

For an example configuration I think

[2020-11-16 19:35] johananl commented on #1326
WIP is here: https://github.com/kinvolk/opentelemetry-go/tree/johananl/refactor-spandata

TODO:

- [ ] Store all span data directly under `span`.
- [ ] Ensure `export.SpanData` is immutable and used only for exporting purposes (the docs should be clear about this).
- [ ] Add `ReadOnlySpan` interface.
- [ ] Add `ReadWriteSpan` interface.

[2020-11-16 20:15] seanschade commented on #1344
I realize that this option just mirrors the `grpc.WithInsecure()` option, but it also suffers from the same problem IMO.

https://pkg.go.dev/google.golang.org/grpc#WithInsecure

[2020-11-16 21:09] Aneurysm9 commented on #1344
I'm definitely on board with ensuring options are easily managed through configuration and niladic options to set flags don't really fit well in that model.  I wonder whether the consonance with the `grpc.WithInsecure()` option is enough to leave that interface as it is and perhaps add an additional interface.  I could see something like this working:

[code]

[2020-11-16 21:16] neemiasjnr commented on #1342
I am using `v0.13.0` in my previous example and didn't work. Since open telemetry is distributed into multiple services, what's the best approach to debug problems like this?

[2020-11-16 21:29] Aneurysm9 commented on #1342
`v0.13.0` of the SDK or of the collector? Your `docker-compose.yaml` in the repro repo was referencing `otel/opentelemetry-collector:latest` and I made this change and stopped seeing the errors:

[code]

I think we have some known issues in this project relating to updated OTLP protocol versions, so it is possible we're not doing the right thing in the exporter, but it's also possible something in

[2020-11-17 08:05] neemiasjnr commented on #1342
Yes you are right, here is the difference on otel-collector receiving the span:
using 0.13.0: `Status code    : STATUS_CODE_OK`
using 0.14.0: 'Status code    : STATUS_CODE_UNSET`

Totally makes sense what you said, either there is a bug on 0.14 or we need to sync this repo. Looking at the commits deployed on 0.14.0 tag this PR might have caused this issue: https://github.com/open-telemetry/opentel

[2020-11-17 09:16] cbandy commented on #1068
https://github.com/go-logr/logr ?

[2020-11-17 15:27] Aneurysm9 commented on #1342
The Go SDK has already been updated to use the `Unset`/`Ok`/`Error` codes, so I think we'd want to update to proto `v0.6` and just use the new fields.  I wonder if there is a bug in the collector jaeger exporter, though, as an unset code should not be interpreted as an error.

[2020-11-17 15:30] #1303 closed

[2020-11-18 01:42] atoulme commented on #1283
Understood, closing.

[2020-11-18 01:42] #1283 closed

[2020-11-18 22:03] MrAlias opened #1347 "Add NewExportPipeline and InstallNewPipeline functions to OTLP exporter"
Similar to the other exporters:

* https://github.com/open-telemetry/opentelemetry-go/blob/3d6e8b5078443c822c3800e89bdb84289d82b084/exporters/metric/prometheus/prometheus.go#L90
* https://github.com/open-telemetry/opentelemetry-go/blob/fd3c82bec5fc8012da1fdd0402149b38bd8ec59d/exporters/stdout/exporter.go#L53
* https://github.com/open-telemetry/opentelemetry-go/blob/fd3c82bec5fc8012da1fdd0402149b38

[2020-11-19 00:15] #1335 closed

[2020-11-19 15:52] nabam opened #1349 "Add ability to flush metrics on demand from push controller"
Right now push controller is only able to flush metrics on timer. It would be useful to have a handle to force flush metrics. Such handle could be invoked before application termination to not lose measurements.

https://github.com/open-telemetry/opentelemetry-go/blob/2c2f9852fef1d85d8a08e6d763777ccea3797648/sdk/metric/controller/push/push.go#L136

[2020-11-19 21:08] MrAlias commented on #1349
Seems reasonable to me. @jmacd thoughts?

[2020-11-19 21:12] dashpole commented on #93
I wanted to add an example for using the bridge, but otelgrpc is in the contrib repo.  Using it in the example in this repo would produce an import cycle, or pin the example to a released version of this repo (v0.13.0) instead of using HEAD.  I could:

1. Just add the example somewhere in contrib (where would it go?)
2. Add the example in the bridge/opencensus/examples directory, and pin it to a r

[2020-11-19 21:13] MrAlias commented on #849
@codeanyway11 are you still working on this or should I unassign you?

[2020-11-19 21:19] MrAlias commented on #1324
A new repository has been created to host this generated code. My goal is to open issues there to build that up and take over the OTLP responsibilities from this repository. Stay tuned.

[2020-11-19 22:16] jmacd commented on #1210
I want to leave this open until it's stated in a specification somewhere.

[2020-11-19 22:54] wilguo opened #1351 "Provide extensibility of the SDK to support vendor specific ID Generators"
Hi everyone,

I'm currently working on an ID Generator to generate traceIDs in order to support sending traces to AWS X-Ray. The ID Generator will generate a traceID based on the [AWS X-Ray Trace ID Format](https://docs.aws.amazon.com/xray/latest/devguide/xray-api-sendingdata.html#xray-api-traceids). I submitted a [PR for the AWS X-Ray ID Generator](https://github.com/open-telemetry/opentelemetry-

[2020-11-19 23:17] dashpole commented on #93
We chose option 3 in the meeting today.  We can put it in the propagators package in contrib.  The example will live within the  opencensus binary propagation package.

[2020-11-19 23:33] MrAlias opened #1352 "Upgrade to v0.6.0 of OTLP"
From the SIG meeting today, we identified this a the last thing blocking us doing a release.

https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.6.0

[2020-11-20 01:57] #1352 closed

[2020-11-20 13:09] nabam commented on #1349
I can make a PR if you give me a green light

[2020-11-20 18:54] johananl commented on #536
Happy to take this one @MrAlias.

[2020-11-20 21:38] seanschade opened #1362 "SDK should offer NewMeterProvider similar to NewTracerProvider"
It would be nice to unify the SDK. Setting up a `TracerProvider` is very straightforward. The same cannot be said for the `MeterProvider`.

Current tracer provider:

[code]

Current meter provider:

[code]

Proposed meter provider:

[code]

I will have some time over the next week to explore this further if there is interest in the idea.

[2020-11-21 17:07] binjip978 commented on #1347
Hello, i would to help with this issue, looks like https://github.com/open-telemetry/opentelemetry-collector/pull/2159 can be taken as reasonable defaults.

[2020-11-23 07:16] ocelotl opened #1364 "Wrong Stop method called in example"
[This](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/otlp/README.md#installation-and-setup) example calls `Stop`:

[code]

The OTLP exporter no longer has `Stop` since 422188a85f45411d2db8ab9eb7dcc4044736d502.

[2020-11-23 12:19] krnowak commented on #536
Maybe one thing that needs to be looked at, is how to configure two same things within one object. So an example would be in otlp exporter, where we can configure (not in master yet) two connections separately (one for sending metrics, one for sending traces).

So I don't have an ideal solution yet, but that's what I have done for now:

[code]

so the use is:

[code]

For `NewMultiConnectionManage

[2020-11-23 13:32] flycash commented on #1327
@MrAlias could you help to review my PR?

[2020-11-23 16:55] johananl commented on #1298
Thanks @austinlparker! We'll definitely take a look.

@MrAlias - happy to take this issue.

[2020-11-23 18:40] simonjpartridge opened #1365 "Using Open Census bridge breaks context propagation"
I have a set of gRPC microservices using Opentelemetry. The database is instrumented with OpenCensus so I have tried using the new bridge like so:
[code]
When I add this line the SQL traces are added as expected but traces stop being propagated between services like they are when not using this bridge.

Without using bridge:

<img width="1596" alt="Screenshot 2020-11-23 at 18 38 12" src="https://u

[2020-11-24 11:37] weizhang9 opened #1366 "V0.14.0 cannot find otel/api/global package"
Hi, I ran  `go get go.opentelemetry.io/otel/api/global` but failed to get the package
[code]

[2020-11-24 12:37] krnowak commented on #1366
Yes, the contents of the `api/global` package have been moved to toplevel package, so they are at `go.opentelemetry.io/otel` now.

[2020-11-24 15:51] MrAlias commented on #1366
As @krnowak pointed out, this package has moved. Please take a look a the release notes associated with the release of this version to find info on this and all the other changes included in the release: https://github.com/open-telemetry/opentelemetry-go/releases/tag/v0.14.0

[2020-11-24 15:51] #1366 closed

[2020-11-24 20:06] MrAlias commented on #1364
We should prefer using [Go example tests](https://blog.golang.org/examples) to including code blocks in the documentation when we fix this.

[2020-11-24 23:14] alolita commented on #880
Hi @MrAlias @tedsuo - we're working on this proposal to migrate to GH Actions from CircleCI. Please assign @AzfaarQureshi @shovnik @alolita to this issue.

[2020-11-25 06:25] anuraaga opened #1367 "Consider using normal random instead of crypto random for IDs"
Currently, cryptographic randoms are used for IDs I think.

https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/trace.go#L18

This generally has a far larger impact on the CPU usage of a user's app than normal random (I've seen 10% of CPU used on ID generation before when using crypto random). You can see some benchmarks and discussion for JS here

https://github.com/open-tele

[2020-11-25 14:02] terorie opened #1368 "SumObserver sums up observations"
otel version: v0.14.0

**Expected behavior**

The OpenTelemetry specification claims:

The comment on Int64SumObserver claims:

[code]

I expect that calling `Int64SumObserver.Observe(v)` only returns the latest observation instead of a sum of all observations.

**Actual Behavior**

`Int64SumObserver` sums up all observations instead of using the last value.

This makes it impossible to define Pro

[2020-11-25 19:32] neemiasjnr commented on #1342
I confirm that the [0.14.0 release](https://github.com/open-telemetry/opentelemetry-go/releases/tag/v0.14.0) solved this issue, therefore I'm closing this.

[2020-11-25 19:32] #1342 closed

[2020-11-29 12:24] matej-g opened #1376 "Update span status & description setting to comply with the spec"
### Related PRs (merged ones ticked off)
- \[X] Jaeger Exporter: Fix minor mapping discrepancies #1626
- \[ ] Zipkin Exporter: Adjust span transformation to comply with the spec #1688
- \[X] Span status from HTTP code: Do not set status message if it can be inferred #1681
---

According to recent spec change in  https://github.com/open-telemetry/opentelemetry-specification/pull/1186 and
https://gi

[2020-11-30 12:05] un000 opened #1379 "How to make a custom SamplingDecision for a started span?"
Hi!

I have a service that starts tracing with a given ratio:
[code]

So I want to override this Sampler with a `trace.AwlaysSampler` like I did it with opencensus.
[code]

`trace.WithRecord()` enables recording but doesn't affect the sampling decision.

How to achieve 100% sampling by a flag?

[2020-11-30 15:37] johananl opened #1380 "Clarify package demarcation between sdk/trace and sdk/export/trace"
## General

In the discussion [here](https://github.com/open-telemetry/opentelemetry-go/pull/1360#pullrequestreview-537708095) we consider doing a few refactoring tasks around `sdk/trace` and `sdk/export/trace` (for brevity I'll refer to them as `trace` and `export`, respectively):

- Move `Event` from `export` to `trace`.
- Move `SpanSnapshot` (currently named `SpanData` in `master`) from `export

[2020-11-30 17:11] Aneurysm9 commented on #1380
This makes sense to me.  I wondered for a bit whether the `SpanProcessor` implementations should live somewhere other than `sdk/export/trace` since processors are definitely useful for more than just exporting trace data, but these two implementations are trace export-specific.

[2020-11-30 17:36] MrAlias commented on #1380
I would propose we just get rid of the `sdk/export/trace` package and move the `SpanExporter` (and other types) into the `sdk/trace` package. This dependency cycle seems like a strong indicator of the fact that these packages share the same functional responsibilities. Additionally, the fact that the `export` package contains (currently) only three types and no function code implies that this pack

[2020-11-30 21:21] krnowak commented on #1380
I had the same thoughts about merging the packages, but I'm bit uneasy about doing the same for `export/metric` - it's considerably more code compared to just 3 types in in `export/trace`. As such, we need to put more thought into how the merging should be done. Likely blindly putting all the types into `sdk/metric` will result in an unwieldy package, that will require another splitting, just like

[2020-12-01 14:12] johananl commented on #1298
@MrAlias given that we already have https://opentelemetry.io/docs/go/getting-started/, what should be the relationship between the guide on the website and this guide we're adding to the repo?

Assuming we do want two separate guides, I have the following questions:

- Shall we cover both tracing and metrics?
- Which exporter(s) shall we use? IMO looking at things via e.g. Jaeger or Grafana is a l

[2020-12-01 16:22] johananl commented on #1380
Getting rid of `export/trace` is easy enough. I've pushed a WIP commit which does this refactoring [here](https://github.com/johananl/opentelemetry-go/tree/johananl/span-interfaces-no-export). This branch is build on top of #1360.

I wonder if this is the right approach though. To me it makes sense that the package structure for traces and metrics be similar.

[2020-12-01 17:15] MrAlias commented on #1380
Agreed. Looking closer at the `export/metric` package I think it suffers from the similar tight coupling of the trace package. These are the exported types from the package (not including the sub-package):

- `Accumulation`
- `Aggregator`
- `AggregatorSelector`
- `CheckpointSet`
- `Checkpointer`
- `ExportKind`
- `ExportKindSelector`
- `Exporter`
- `Metadata` (part of the `Accumulation` and `Record

[2020-12-01 17:21] MrAlias commented on #1380
This looks like a good simplification to me. I wouldn't export the SpanSnapshot and instead return a ReadOnlySpan interface from the Snapshot method, but we can talk more about that if that evolves into a full PR.

[2020-12-01 18:41] johananl commented on #536
My WIP is here: https://github.com/johananl/opentelemetry-go/tree/johananl/refactor-config-init

[2020-12-01 19:15] dashpole commented on #93
For metrics, this is the approach java is taking:  https://github.com/open-telemetry/opentelemetry-java/pull/2085

They implemented a metrics exporter bridge (i.e. wrap an OpenTelemetry exporter so that it implements the OpenCensus exporter interface).  If you have a mix of OpenTelemetry and OpenCensus libraries, you can use a single OpenTelemetry exporter with the OpenTelemetry SDK and the OpenCe

[2020-12-01 20:17] MrAlias commented on #1298
@austinlparker those are some excellent docs!

@johananl I'm hesitant to create additional documentation after seeing the quality of those linked docs. Having a single place for a "getting started" set of documentation is probably a good place to start and will avoid drift and increased maintenance burden.

I think we should update this issue to instead update those linked docs and link them in ou

[2020-12-01 20:25] austinlparker commented on #1298
Just as a small note, there's a section designed to cover export to Jaeger/whatever (https://opentelemetry.io/docs/go/exporting_data/) in the docs templates, so you could fill that out for whatever preferred exporter you have. In the absolute 'getting started' stuff I felt like keeping it limited to console export was easier, just to reduce the amount of boilerplate.

You can, of course, add more

[2020-12-01 22:58] MrAlias commented on #1347
@binjip978 sorry about the late response, thanks for picking this issue up. I think there might be some differences between what the other exporters do and what that example does. We should try to remain consistent with what the other examples do.

[2020-12-02 15:54] AzfaarQureshi commented on #880
Now that I'm migrating the CI jobs anyways, what do the maintainers think about me adding a CD workflow? (@MrAlias @Aneurysm9 @any_other_interested_party)

 I was thinking about adding two workflows: `publish` and `nightly`.

For `publish` I would just copy the steps from `RELEASING.md`, so the new releasing workflow could be something like:

1. maintainers would add a release tag, open up a PR
2.

[2020-12-02 18:40] johananl commented on #1380
I've pushed another commit to my [WIP branch](https://github.com/johananl/opentelemetry-go/tree/johananl/span-interfaces-no-export) in which I've started to work in this direction. This isn't done though as we've relied heavily on the old `SpanSnapshot` data structure in tests, all of which likely need to be modified now.

Here are the changes I've started implementing:

- `SpanSnapshot` becomes `

[2020-12-02 19:15] MrAlias commented on #1380
:+1:

I think we need to maintain this if it is going to be passed to SpanProcessors as a ReadWriteSpan (which embeds the ReadOnlySpan interface), right?

[2020-12-02 19:19] MrAlias commented on #880
I think this sounds like a good idea, though I would probably tackle it as a follow-on issue to not have this issue dramatically increase in size. The details about how things are versioned and the human checks we put in place are going to be very important. Mistakes to releases are not retractable once they hit the Go package mirrors.

[2020-12-02 23:54] AzfaarQureshi commented on #880
@MrAlias @Aneurysm9 The PRs for migrating the existing CircleCI jobs are ready for review on `core` (#1382) and `contrib`([#476](https://github.com/open-telemetry/opentelemetry-go-contrib/pull/476)) 😄

[2020-12-03 16:24] johananl commented on #1380
Latest status on my [WIP](https://github.com/johananl/opentelemetry-go/tree/johananl/span-interfaces-no-export):

A lot of tests are currently failing and have to be refactored following the changes to `spanSnapshot`. The old `SpanData` type has been used extensively throughout the codebase for testing purposes. These usages need to be replaced with `ReadOnlySpan` or something else now.

One trick

[2020-12-03 21:28] MrAlias commented on #1365
It looks like this might be related to the need for the OpenCensus binary propagation format: https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/propagators/opencensus

[2020-12-03 23:54] MrAlias commented on #1362
Will likely relate to https://github.com/open-telemetry/opentelemetry-go/pull/1378

[2020-12-06 08:28] schmurfy opened #1383 "grouping attributes"
This is not an issue but I don't know where to ask and could not find any answers on this: is there a way to group attributes with opentelemetry ?

Here is what I means:
[code]

In that cas it would be nice to be able to group `request` attributes and `response` attributes.
Is there a cleaner way to achieve this ?

[2020-12-07 12:28] simonjpartridge commented on #1365
Thanks so much @MrAlias! That was exactly the problem. I added the binary propagator (I had to copy and paste and re-jig some imports to make it work with otel 0.14) and my traces started propagating again :)

[2020-12-07 15:49] tigrannajaryan commented on #559
@jmacd @MrAlias just to confirm: there will not be exemplars support in the GA based on how this is labeled, correct?

[2020-12-07 18:39] MrAlias commented on #1383
Thanks for the question, and the interesting proposal.

If I understand the proposal correctly, you should be able to group attributes in whatever form you like at the export level. If you want to write an exporter to accomplish this grouping it should be possible.

However, from the perspective of OpenTelemetry, attributes are all treated a singular the batch of annotation for a signal. This is t

[2020-12-07 18:39] #1383 closed

[2020-12-07 18:42] MrAlias commented on #1365
Cool :+1:, glad that helped.

[2020-12-07 18:42] #1365 closed

[2020-12-07 18:44] MrAlias commented on #559
AFAIK, that is correct. Especially since they seem to be something we can add post-GA with backwards compatibility.

Though, I'm interested to know what @jmacd thinks.

[2020-12-07 22:44] AzfaarQureshi opened #1385 "Proposal: Add GitHub Actions release and nightly CD workflows"
# Proposal: Add GitHub Actions release and nightly CD workflows

As a follow-up to issue [#880](https://github.com/open-telemetry/opentelemetry-go/issues/880) and PR [#1382](https://github.com/open-telemetry/opentelemetry-go/pull/1382) I would like to start a discussion on how we could add CD jobs to our existing GitHub Actions workflow.  My proposal is to add two new jobs: `release` and `nightly`

[2020-12-07 22:48] AzfaarQureshi commented on #880
Filed that CD issue we were talking about here :) https://github.com/open-telemetry/opentelemetry-go/issues/1385

[2020-12-08 18:13] dashpole commented on #1385
Small suggestion: use "canary" instead of "nightly" to give us more flexibility on when we want to run the all-the-time build.

I'm not a maintainer, but when i've maintained projects in the past there are often times when I _don't_ want a release cut--either because of a regression, because I want to wait for it to include a particular fix of high importance, or because e2e tests (not part of pre

[2020-12-08 18:44] jonioliveira commented on #1364
Hello, I'd love to take this as first contribution.

[2020-12-08 22:26] jmacd commented on #1368
https://github.com/open-telemetry/opentelemetry-go/pull/1381

[2020-12-08 22:29] jmacd opened #1386 "Tracer configurations: how to set Export() timeout?"
I haven't found any way to configure an export timeout for an OTLP ExportSpans() method. I believe this should be configurable for users.

#1378 refactors the way this setting works in the Metrics SDK. I believe such a configuration should be independent of the trace exporter--probably it belongs in the Span Batcher?

[2020-12-09 18:51] bogdandrutu opened #1387 "Metrics Accumulator split proposal"
Right now the Accumulator has a global map (InstrumentDescriptor + LabelSet) -> Record. This has an advantage of simpler code, but with this approach there is a chance of high contention on the global map.

The proposal is to split Accumulator into 2 parts:

Accumulator: global map InstrumentDescriptor -> InstrumentAccumulator
InstrumentAccumulator: local to the instrument map between LabelSet ->

[2020-12-10 00:16] bogdandrutu opened #1389 "Remove StartCollection and FinishCollection from Checkpointer"
These funcs are always called before and after a `Accumulator.Collect(ctx)` also only the `basic` package implements it. So the logic that is currently implemented in the `basic` package can be moved to the Accumulator.Collect and remove the extra interfaces.

[2020-12-10 01:30] #1351 closed

[2020-12-10 12:03] krnowak commented on #1298
Working on it, so please assign it to me.

[2020-12-10 18:51] dashpole commented on #93
AIs from 12/10/20 sig meeting:

* What are the features people want from OpenCensus monitoring?
  * Note: We expect that many of the features OpenCensus has will exist in OpenTelemetry soon.  Views and context-based labels should both have rough feature parity in the future.
* The exporter approach will work now, and means we don't need to worry about API compatibility.  Plan to proceed with the e

[2020-12-11 00:58] jmacd opened #1391 "Install default SDK resources if none are configured"
From a comment here: https://github.com/open-telemetry/opentelemetry-go/pull/1373#discussion_r534466997

The problem is that every exporter has convenience "installers" that do not currently allow configuring resources. The recently added `sdk/resource/resource.New()` method has a default behavior that should be used when there are no resources; this is required by the OTel spec. I think it would

[2020-12-11 01:23] Aneurysm9 commented on #1385
I'm definitely for automating as much of the release process as possible, though without programmatic means to ensure semver-compliant version increments I don't think that I would be in support of automating the _decision to_ release.  It seems to me that it would be unsafe to assume that all changes within any given two-week window were patch-level changes or that manual releases happened after

[2020-12-11 02:13] #1368 closed

[2020-12-11 05:15] #1326 closed

[2020-12-11 10:32] johanbrandhorst opened #1393 "Migrate away from GoGo Protobuf"
Hi! As a member of the Go observability community, it has me slightly worried that you're using gogo protobuf for your protobuf generation (and by extension, staying on version 1.3.x). GoGo protobuf is [not currently maintained](https://github.com/gogo/protobuf/issues/691), and I believe this project should move away from it before committing to backwards compatibility, as moving from Gogo protobu

[2020-12-11 12:05] gedw99 commented on #1393
Inclined to agree.

The new grpc Golang stuff is quite good

[2020-12-11 13:37] matej-g opened #1394 "Propagation: Use TraceState from SpanContext"
The change to trace API introducing `TraceState` (https://github.com/open-telemetry/opentelemetry-go/pull/1340) is in its final stage.

After the change is in, propagation methods should be adjusted to extract / inject `TraceState` from / in `SpanContext`.

[2020-12-11 14:07] matej-g commented on #1376
@MrAlias I updated the description as there was another related change to the spec (see the update description), I think it makes sense to tackle it all in one go. I hope the update is OK, not sure whether it changes priority etc.

Also happy to pick up this issue :arrow_up:

[2020-12-11 15:45] jsvensson commented on #1090
I'm coming from OpenTracing and making a test project using otel, and yeah, had this exact stumbling block. At first glance I thought I'd just keep passing the parent context without making a new child span for each level.

[2020-12-11 16:45] jmacd commented on #1387
This will be important before we can vary the collection interval on a per-instrument basis. OTOH doesn't feel urgent to me.

[2020-12-11 16:46] jmacd commented on #1389
We haven't decided if an exporter is allowed to consume outputs from multiple accumulators. These functions are needed to support multiple accumulators, which I think is a nice-to-have b/c it supports variable resources.

[2020-12-11 16:48] jmacd commented on #1349
Sounds good.
I'd like to merge #1378 first, and then it will be a simpler change on top of the new combined controller.

[2020-12-11 16:50] jmacd commented on #1291
Either approach sounds good.

[2020-12-11 21:20] pmcollins opened #1395 "otlp exporter readme appears to be out of date"
Hi!

I wanted to experiment with the code listed [here](https://github.com/open-telemetry/opentelemetry-go/tree/master/exporters/otlp#opentelemetry-collector-go-exporter) but found that it doesn't compile for me.

The line

[code]
has the error `Cannot use 'simple.NewWithInexpensiveDistribution()' (type export.AggregatorSelector) as type export.Checkpointer Type does not implement 'export.Checkpoi

[2020-12-15 08:16] eundoosong commented on #965
@MrAlias
Hello, I'd like to finish off this issue and I have questions.

After some investigation in `internal/testing` code, I'm starting to wonder what the point is why this package needs to be(or can be..) restructured.
This package includes `byte alignment check`, `env storage for test`, `error for test` that are widely used for opentelemetry-go's testing, do you think those can be moved to so

[2020-12-15 21:54] dashpole opened #1404 "Improve defaulting for propagation"
Related to https://github.com/open-telemetry/opentelemetry-go/issues/1391

Currently, installing an SDK and plugins, such as otelhttp does not install any propagators.  I encountered this in my personal experience trying to instrument a web service, and force sampling by sending a sampled trace context.  I couldn't figure out why it wasn't working, and it took me a day of debugging to realize I ne

[2020-12-15 21:57] dashpole commented on #1404
also related: open-telemetry/opentelemetry-go#1265

[2020-12-16 18:34] glazychev-art opened #1405 "jaeger WithCollectorEndpoint usage"
Hello,
Could you please explain me, what's the right way to use the `jaeger.WithCollectorEndpoint`?
I've tried to run this example
https://github.com/open-telemetry/opentelemetry-go/blob/master/example/jaeger/main.go
but run it using `go test` and goroutine leak detector `go.uber.org/goleak`:

[code]
Output:
[code]
As we can see, there is goroutine leak

[2020-12-16 19:26] krnowak commented on #1298
Please see the PR I filed - https://github.com/open-telemetry/opentelemetry.io/pull/345

[2020-12-16 19:31] krnowak commented on #1298
Re 1) I pinned to v0.15.0
Re 2) I updated the code to build with 0.15.0 for now.
Re 3) TODO
Re 4) I'm not sure where to put it. opentelemetry.io for now points to otel-go github repo for jaeger and prometheus exporters.

The issue I have with 4) is that we have several places where we are putting docs:

- opentelemetry.io website
- README.md for the module
- doc.go for the package

I suppose we wo

[2020-12-16 19:39] krnowak commented on #1298
Re 3) See #1406.
Re 2) I suppose that checking if the documentation on opentelemetry.io is up to date should be done as a part of the release process, because the documentation there uses the latest release of otel-go, not the code from master branch.

[2020-12-17 08:53] schmurfy opened #1408 "otel.Tracer(...) concurrent usage"
Sorry that is not an issue but I cannot find the answer and don't know where to ask: can the tracer object returned by `otel.Tracer("xxx")` be used in multiple goroutines or should I create it again when I need it ?

I did not found any clear documentation on this and I found conflicting examples where some declare a global variable with the tracer and reuse it and some call `otel.Tracer` each tim

[2020-12-17 22:32] MrAlias commented on #1404
Likely going to be related to this part of the SDK specificationhttps://github.com/open-telemetry/opentelemetry-specification/blob/f2869a369ff4b93024e3437837320da76d2c0637/specification/sdk-environment-variables.md#general-sdk-configuration

[2020-12-18 06:19] shabicheng opened #1411 "otlp Exporter do not retry when send error many times in a short time"
# General
## Environment
1. opentelemetry-golang version  : v0.15.0

## Reproduce
This can be reproduced every time.

1. If the otlp.Exporter's endpoint fails, the exporter return error like 'rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp xx.xx.xx.xx:55680: connect: connection refused"'
2. And if the SDK sends some data continuously, the expo

[2020-12-18 23:39] jmacd opened #1413 "OTLP: Support for exporting raw metric data"
The Metric SDK includes an `exact` aggregator that records raw point values and timestamps. The OTLP exporter could be extended to export raw values for all instruments using an exact aggregator.

Related question about protocol support: https://github.com/open-telemetry/opentelemetry-proto/issues/188

Related PR about adding timestamps to the exact aggregator: #1412.

Request for raw metric data:

[2020-12-21 16:48] nchandran3 commented on #1246
If we internally use a binary format in other systems,  is there a recommended way to shoehorn this into a `TextMapPropagator` format?

I saw that binary propagator support was deferred until GA, but is there a way to add this support independently before it is supported by the canonical SDK?

[2020-12-21 16:53] Miriam-R commented on #1085
This is waiting on a review & merge from @MrAlias

[2020-12-21 17:07] krnowak commented on #1085
The code for this issue and #1121 and #1122 is here: https://github.com/krnowak/opentelemetry-go/tree/otlp-conn

[2020-12-21 17:22] MrAlias commented on #1246
@nchandran3 the answer will depend on the implementation of your binary format. As an example [the OpenCensus binary propagator](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/master/propagators/opencensus/binary.go) already exists.

If you need more help with this please open a new issue to address this instead of adding to this.

[2020-12-21 17:30] krnowak opened #1416 "Guidelines for writing documentation"
Currently we have three places where we can put documentation:

- opentelemetry.io website
- README.md of every go module
- package documentation (usually in doc.go)

I think we need to find out what kind of documentation we have (API docs, guides, contribution guidelines, project-wide information, …), what are the targets of the documentation (contributors, instrumentation developers, application

[2020-12-21 17:33] krnowak commented on #1298
Let's close this issue. I filed a follow up (#1416).

[2020-12-21 18:09] eclipseo opened #1417 "Consider moving github.com/DataDog/sketches-go to 1.0.0"
Hi,

I'd like to package open-telemetry for my distro, but we have system-wide github.com/DataDog/sketches-go at version 1.0.0. It has API breaking changes from 0.0.1. Could you consider updating the code to work with 1.0.0?

Thanks.

[2020-12-21 21:11] #1302 closed

[2020-12-21 22:45] krnowak commented on #1417
There is a PR that drops the dependency on DDSketch: #1412

[2020-12-21 23:17] jmacd commented on #1417
FYI we plan on re-introducing this dependency. Some restructuring is needed in the OTel-Go SDK before we can get there, and we won't really be ready to use DDSketches in OTel-Go until https://github.com/open-telemetry/opentelemetry-proto/pull/226 merges. Thanks.

[2020-12-22 07:23] schmurfy commented on #1408
should I be worried that nobody seems to know ?
From what I gathered the real method called underneath is dependant on each exporter implementation but is there some guidelines ?

[2020-12-22 08:25] jmacd opened #1419 "Move metric SDK processor, controller, aggregator-selector packages up one level"
The packages `sdk/metric/processor/basic`,  `sdk/metric/controller/basic`, and  `sdk/metric/selector/simple`
 can all move up one level. This will improve readability.

See this comment: https://github.com/open-telemetry/opentelemetry-go/pull/1378#discussion_r537634831

[2020-12-22 08:27] jmacd commented on #998
Will fix this in #1378 (was suggested by reviewer).

[2020-12-22 08:33] jmacd commented on #1349
I think this can be closed. The push controller already flushes metrics on `Stop()`, and after #1378 it will be possible to stop, manually collect, and then start again. I'll let this close with #1378 unless anyone objects.

[2020-12-22 17:21] #1121 closed

[2020-12-23 09:36] nabam commented on #1349
@jmacd for monitoring of serverless functions do you think it's a good pattern to start and stop controller on every function invocation?

[2020-12-23 09:50] jmacd commented on #1349
That's probably not a good pattern. My understanding is that the ideal for serverless is to use an agent that can flush in the background. If you don't have an agent though, Start() and Stop() are correct. I'm probably not the best person to ask serverless questions. :-)

[2020-12-23 10:15] nabam commented on #1349
I have instrumented lambdas with otlp exporter using delta aggregations. It works decently, metrics are flushed in the background while functions are running. There are two caveats though: if lambdas are not called often enough aggregated measurements that were not exported before function is suspended are not exported till next invocation and obviously when lambda instance terminates measurements

[2020-12-24 01:06] jmacd commented on #1349
Calling `Stop()` on the controller is the correct way to flush at export. That's always been the case, and #1378 when it merges makes it possible to repeatedly start and stop the controller, although I'm not sure what reasons there are for doing that.

We could add an explicit flush method, but I still think `Stop()` should flush before stopping. If there was an explicit flush method, it's just go

[2020-12-24 17:03] jmacd opened #1422 "Spans stop sending (reasons unknown)"
I'm running https://github.com/lightstep/opentelemetry-prometheus-sidecar in a production cluster :tada: :tada: :tada: which has interesting properties that are helping to uncover a bug.

This process has three ways to send OTLP data:
1. the Primary metrics output copied from Prometheus
2. the Diagnostics output from OTel-Go Tracing (HTTP and gRPC instrumentation)
3. the Diagnostics output from OT

[2020-12-24 17:08] jmacd commented on #1422
I wish I had saved a log from the event. I will be sure to next time.
There were messages about connection failures correlated with the moment spans stopped sending.

[2020-12-26 10:03] vmihailenco opened #1423 "BatchSpanProcessor does not Shutdown underlying export.SpanExporter"
https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/batch_span_processor.go#L128-L145 is expected to call `bsp.e.Shutdown`

[2020-12-29 19:15] #1345 closed

[2021-01-01 13:41] lonewolf3739 commented on #1394
Hello, I would like to work on this.

[2021-01-03 02:21] Aneurysm9 commented on #1367
I'm not sure this change is useful.  We're currently only using the `crypto/rand` package for obtaining seed data for a PRNG from the `math/rand` package.  ID generation is performed with a PRNG from the `math/rand` package already.

[2021-01-03 02:56] anuraaga commented on #1367
Ah got it, didn't realize the crand is only for the seed. Looks good then.

[2021-01-03 02:56] #1367 closed

[2021-01-05 01:05] seanschade commented on #1393
I believe @bogdandrutu mentioned in one of the SIG meetings that they were using GoGo for performance reasons when serializing certain types, but I could be misremembering that comment.

I would suggest moving to the new API as well. It has finally matured enough with the support for gRPC that isn't as painful of a process as it was last Summer. It also handles Timestamp and Duration much better n

[2021-01-05 14:25] nabam commented on #1349
I don't have strong opinions here, stop-start to flush metrics should work. Would be great to hear from someone who has a similar use-case.

[2021-01-06 09:21] meilihao opened #1437 "Connection closed early in OpenTelemetry Collector Traces Example"
Sometime collector missed receiving  "ResourceMetrics". And the example will pirnt some error:

1.
[code]

2.
[code]

I changed code order, it's ok:
[code]

[2021-01-06 18:50] #1437 closed

[2021-01-06 19:09] #1341 closed

[2021-01-07 17:13] MrAlias commented on #1387
Marking as after GA. Please update if this is incorrect.

[2021-01-07 17:16] MrAlias commented on #1393
Ideally we should try to resolve this in the move to building up and starting to use https://github.com/open-telemetry/opentelemetry-proto-go

[2021-01-07 17:21] MrAlias commented on #1408
The Tracer is safe for concurrent use is you use the default SDK provided by this project.

[2021-01-07 17:50] MrAlias commented on #624
Closing as this sounds like expected behavior.

[2021-01-07 17:50] #624 closed

[2021-01-07 19:08] eundoosong commented on #965
@MrAlias  Ping

[2021-01-07 19:45] #1395 closed

[2021-01-07 22:36] evantorrie commented on #224
With #1360, the `span.data` field was eliminated and `SetName()` now no longer early exits. Instead, the Sampler is always called with the updated `samplingData`, including the new name.

If it's the case that `IsRecording() == false`, then the various other span fields such as attributes, links and the span itself are still passing in the `samplingData`, even though these fields will be unchanged

[2021-01-08 09:08] govine opened #1442 "Why we don’t have a file exporter?"
We all know that the memory buffer is limited, and the port-based exporter will cause longer I/O blocking, and may have to have a retry mechanism.
Using file expoter and a collection mechanism similar to filebeat can solve this type of problem.

[2021-01-08 15:33] gedw99 commented on #1393
@MrAlias Its empty..  ??

[2021-01-08 16:42] MrAlias commented on #1442
The stdout exporter [can be configured](https://github.com/open-telemetry/opentelemetry-go/blob/5ed96e92446d2d58d131e0672da613a84c16af7a/exporters/stdout/config.go#L37-L38) to write to whatever io.Writer you would like, including a file. Hopefully this helps.

[2021-01-08 16:42] #1442 closed

[2021-01-08 16:55] MrAlias commented on #1393
Correct, it needs to be built up.

[2021-01-08 18:20] gedw99 commented on #1393
So what’s the reason for a new proto repo if I nay ask.

I am keen on getting Otel working with my golang franework and so trying to
get insight on the Otel roadmap.

On Fri 8. Jan 2021 at 17:55, Tyler Yahn <notifications@github.com> wrote:

--
Mobile:        +4915231894553
Telegram:    http://t.me/gedw99

[2021-01-10 07:06] #1422 closed

[2021-01-10 07:06] jmacd commented on #1422
I will re-open with details. I now suspect this was an proxy introducing mystery errors.

[2021-01-10 08:40] govine commented on #1442
Oh, Thanks!

[2021-01-10 13:47] leewei05 commented on #1416
@krnowak Hi, I'm Lee. I want to contribute to open-telementry by writing documentation.
Is there anything I can do to help resolving this issue? :)

[2021-01-11 17:39] MrAlias commented on #965
@eundoosong sorry about the delay. Sounds like just renaming `internal/testing` to `internal/internaltest` would be ideal if it cannot be refactored.

[2021-01-11 17:45] Aneurysm9 opened #1446 "Module version policy compliance and release tooling improvement"
In order to support our [versioning policy](https://github.com/open-telemetry/opentelemetry-go/blob/master/VERSIONING.md), specifically the requirement that experimental modules are versioned independently from stable modules, we need to make some improvements to our [release process](https://github.com/open-telemetry/opentelemetry-go/blob/master/RELEASING.md) and [tooling](https://github.com/open

[2021-01-11 20:06] punya commented on #1446
According to the versioning policy,

Is it possible for two stable modules to have distinct major versions in the same Git commit? I.e. could we have metrics/v2 and trace/v3 at the same time?

[2021-01-11 20:51] punya commented on #1446
Related to my previous question, let's suppose we're in a situation where stable modules are all v2 (specifically, v2.3.0), and one experimental module is v0 (specifically v0.18.0). When the experimental module is promoted to stable, should it become:
* v1.0.0 -- the natural next version given that it was v0.18.0, and because there is no other v1.x module in this commit
* v1.8.0 -- because v1.7.0

[2021-01-11 21:03] dashpole commented on #1446
Yes, I believe it is.

The second question is a good one.  The policy just states:

It probably shouldn't be a v2.*, since there isn't a requirement stated anywhere for stable major versions to match.  I think both of the v1.8.0 versions would be in compliance with the stated policy, but v1.0.0 probably would cause the least surprise for users, and be easiest to implement for you

[2021-01-11 23:00] punya commented on #1446
v1.0.0 would certainly be easy to implement. However, for a module consumer, it would be confusing to see that this new module’s v1.0.0 is unrelated to and incompatible with all the existing v1.0.0 releases.

[2021-01-12 02:22] Aneurysm9 commented on #1446
Yeah, that would definitely be likely to cause some surprise.  I think for that reason it would be best to go directly from `v0.x.x` to `v2.x.x`.  Perhaps the versioning policy document could use an update to clarify, but I would expect that experimental modules would be developed against the latest stable version of their dependencies and would be promoted to the same major version as their stabl

[2021-01-12 04:09] Aneurysm9 commented on #1411
@shabicheng the OTLP exporter's gRPC connection handling was just reworked in https://github.com/open-telemetry/opentelemetry-go/pull/1420.  Are you able to test against the current `HEAD` to see if this issue remains?

[2021-01-12 04:36] Aneurysm9 commented on #1405
I wonder whether this may be due to the fact that, similar to #1423, the `SimpleSpanProcessor` does not call `Shutdown()` on the underlying `Exporter`.  This looks like the `http.Client` used by the `collectorUploader` maintaining keepalive on its connection and watching for it to close, so something may also need to be done in the `Exporter` to ensure that those connections are closed during `Shu

[2021-01-12 04:38] Aneurysm9 commented on #1404
That sounds like we'd need to provide a registration mechanism for third-party propagators.

[2021-01-12 13:57] dashpole commented on #1446
Just to make sure I understand, are you saying that all stable modules always have the same version, or just that when a module is promoted it advances to where another stable module is?  If we want to make a breaking change in a stable module, does that require bumping all major versions in the repo, or just the module with the breaking change?

[2021-01-12 14:00] punya commented on #1446
Are we planning to use the [major branch or the major subdirectory strategy for releasing v2 and higher versions](https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher)? As a related question, should the tooling support patching historical stable versions?

[2021-01-12 15:02] Aneurysm9 commented on #1446
Certainly the latter, though I'm not sure about the former.   I think an element of the intent behind versioning modules in lockstep is to ensure that users can have a reasonable understanding about what version of the API and/or SDK they are using without worrying too much about the details of the individual modules.

As a thought exercise, presume we've split the API and SDK into two sets of mod

[2021-01-12 15:07] punya commented on #1446
A third option (and my personal preference) is to have the SDK support *both* v1 and v2 of the API simultaneously. This would allow users to migrate smoothly from API v1 to API v2 at their preferred pace. We'd only upgrade SDK to v2 when we *drop* support for API v1.

[2021-01-12 15:34] punya commented on #1446
@Aneurysm9 I wonder if it would be more productive to create the tooling after we factor the modules by signal (at least in draft form). That will help us to more clearly see which modules would go into which "consistent version set".

[2021-01-12 16:33] #1298 closed

[2021-01-12 16:56] #965 closed

[2021-01-12 18:19] #1417 closed

[2021-01-12 19:12] #1394 closed

[2021-01-13 22:07] #1349 closed

[2021-01-13 22:07] #998 closed

[2021-01-14 01:14] #1423 closed

[2021-01-14 18:53] punya opened #1467 "Organize API into Go modules based on stability and dependencies"
In order to release a stable v1.0 of the Trace API and SDK without forcing the same stability on work that is still experimental (e.g. Metrics), we need to separate the Trace API into an independent Go module. While performing this separation, we must respect the following constraints:
~1. Stable modules must not depend on unstable modules.~
2. The global API must be a stable module.
~3. There mus

[2021-01-14 20:38] MrAlias commented on #1467
Related to #1446

[2021-01-16 23:24] aNickPlx commented on #1320
Is this abandoned?
Can I have a go at it?

[2021-01-16 23:31] Manimaran11 commented on #1320
please go ahead.

[2021-01-19 14:01] YuriiBarninets opened #1475 "Update regular expression for traceStateKeyFormatWithMultiTenantVendor"
The regular expression for tracestate key format with multi-tenant vendor does not match W3C TraceContext specification.

TraceContext specification:
[https://www.w3.org/TR/trace-context-1/#key](https://www.w3.org/TR/trace-context-1/#key)

TraceContext specification allows digits to be placed at the beginning of tracestate key for multi-tenant vendor scenarios, however the current regular expressi

[2021-01-19 19:17] xmlking opened #1476 "tidy gives error: does not contain package error"
I am getting following error when I run `go mod tidy`

my go.mod has
[code]

[code]

[2021-01-19 20:22] dashpole commented on #1476
v0.16.0 of opentelemetry-go doesn't have otel/sdk/metric/controller/push anymore.  It was replaced by https://github.com/open-telemetry/opentelemetry-go/tree/master/sdk/metric/controller/basic.  You will have to update your code to not refer to the push package anymore

[2021-01-20 12:06] pmalek-sumo commented on #1364
This seems to have been fixed in https://github.com/open-telemetry/opentelemetry-go/pull/1441

[2021-01-20 16:47] #1364 closed

[2021-01-21 04:53] punya commented on #1467
Here is a sequence of package refactors (moves, renames, splits) that accomplishes this goal:

[code]

[2021-01-21 16:37] MrAlias commented on #1475
There is some ambiguity with the start character of the key as described in [this issue](https://github.com/w3c/trace-context/issues/441). I think we should update to match what is there as this issues describes, but it should be understood that things might change in the future.

[2021-01-21 17:41] #1476 closed

[2021-01-21 17:49] MrAlias commented on #1475
Looking into addressing this and adding tests, we should at a minimum test for the same data set that the W3C project does: https://github.com/w3c/trace-context/blob/master/test/test_data.json

[2021-01-22 16:47] tigrannajaryan opened #1484 "Have simpler SDK initialization API"
The calls needed to setup and enable the emitting of telemetry by the SDK are currently quite complicated.

We should have a much simpler API for basic use-cases.

Here is what needs to be done currently to enable telemetry (copied from
[example code](https://github.com/open-telemetry/opentelemetry-go/blob/c066f15ed74fec52c4755014bfcf2bdfb8e0e661/example/otel-collector/main.go#L45)):
[code]

It wi

[2021-01-22 16:47] tigrannajaryan commented on #1484
cc @bogdandrutu @MrAlias

[2021-01-25 15:54] varun06 opened #1490 "Memory leak issue with Open Telemetry and jaeger exporter"
We are using Open Telemetry in a reverse Proxy at scale and seeing memory leak.

[code]
This is how I am initiating tracer.

[code]

This is how it is used to create a global tracer.

[code]

That's how we are creating a span and then few more child spans are created. But we are seeing this

<img width="297" alt="Screen Shot 2021-01-25 at 9 48 25 AM" src="https://user-images.githubusercontent.com/

[2021-01-26 19:04] mothershipper opened #1491 "Deviation from semconv exception spec?"
Just noticed that the trace implementation doesn't seem to follow the spec for exceptions -- looks like this package uses [`error`](https://github.com/open-telemetry/opentelemetry-go/blob/c066f15ed74fec52c4755014bfcf2bdfb8e0e661/sdk/trace/span.go#L34-L38) as the prefix instead of [`exception`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_co

[2021-01-26 23:47] codeboten opened #1493 "Add keys func to TextMapCarrier"
As per spec, the carrier must provide a `keys` method

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#keys

[2021-01-27 07:59] XSAM commented on #1491
Good catch.

From [Record Exception](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#record-exception)

and can be overloaded as appropriate.

I'm not sure we can keep `RecordError` by appropriately changing the signature of `Record Exception`. After all, there is no term called `Exception` in Go; `RecordException` might confuse the users from G

[2021-01-27 16:06] mothershipper commented on #1491
I'm on the fence about the method name, but I'm doubtful that `Exception` would confuse go developers -- if this were the case, I'd think adding a span event as an `exception` from a `RecordError` method would be equally as confusing.

My gut feeling is that the terms are relatively interchangeable to developers. For instance, JavaScript doesn't have an `Exception` as best I can tell either. They

[2021-01-27 19:36] jumpyBiggins opened #1495 "Use UnaryServerInterceptor with otel.tracer"
I was an older version of otel(v0.11) and I was using the tracer in a UnaryServerInterceptor.
after the update to v0.16.0

the below code does not work because tracer does not implement the `Apply` method
[code]

what is the workaround for this?

thanks.

[2021-01-28 16:09] dyladan opened #1496 "Rename default branch to main"
I apologize if there is already an open issue for this. I searched and did not find one. This should be done in this repo as well as https://github.com/open-telemetry/opentelemetry-go-contrib.

For more information see https://github.com/open-telemetry/community/issues/402

[2021-01-28 22:44] MrAlias commented on #1490
Thanks for the bug report. Have you been able to see the error while running with a profiler?

Also, when you defer the end of the span, does that function ever return?

[2021-01-28 23:33] MrAlias commented on #1416
@leewei05 I would hold off on taking this issues as it isn't so much about writing documentation as it is restructuring and defining where documentation is kept.

From the SIG meeting today:

* README.md should be a high-level developer centric source of information. It should contain what new developers using OTel or wanting to contribute to this project need to know. This will likely include a l

[2021-01-29 00:31] MrAlias commented on #1496
https://docs.google.com/document/d/1lkA0Re3vWfqXmuYLhL93Y6ABR27Sg6DzPcwi4kPXj0Y/edit

[2021-01-29 01:19] kit494way opened #1499 "Exporter is shutdown before controller finishes pushing metric events in otel-collector example"
https://github.com/open-telemetry/opentelemetry-go/blob/c066f15ed74fec52c4755014bfcf2bdfb8e0e661/example/otel-collector/main.go#L92-L96

As I understand it, calling `tracerProvider.Shutdown()` eventually invokes `Shotdown()` of  exporter which is shared with a controller.
As commented, `cont.Stop()` tries to push metric events to the exporter.
So, `cont.Stop()` should be called before  `tracerProv

[2021-01-29 04:32] evantorrie opened #1500 "Update Resource.Merge to be compliant with spec change"
https://github.com/open-telemetry/opentelemetry-specification/pull/1345 changed the specification to reverse the order in which Resource attributes are merged (updating resource takes precedence).

This needs to be changed in the Go implementation to conform to spec.

[2021-01-29 08:55] morigs opened #1502 "Invalid example in the OTLP exporter readme"
`otlp.NewExporter` missing second argument `driver`
https://github.com/open-telemetry/opentelemetry-go/tree/master/exporters/otlp

![image](https://user-images.githubusercontent.com/13474134/106253628-c8ae1d80-6228-11eb-9d5a-a615c59dc7a1.png)

[2021-01-29 20:50] #1500 closed

[2021-02-01 14:39] morigs commented on #1502
It also seems that `WithAddress` is replaced with `WithEndpoint`

[2021-02-01 17:10] MrAlias commented on #1496
Both this repo and the contrib repo `master` branches have been renamed to `main`. Still cleaning things up to resolve this.

[2021-02-02 12:41] punya commented on #1467
Today I learned that Go modules can have cyclic dependencies (https://github.com/golang/go/issues/24098), so I'm going to see if this can be solved much more simply with fewer (perhaps no) changes to the package structure.

[2021-02-05 00:24] #1496 closed

[2021-02-05 06:07] schafle commented on #1502
@MrAlias I created a PR to fix this issue, can you please take a look?

[2021-02-05 07:22] Aneurysm9 commented on #1493
I don't read the spec as requiring that the carrier must provide a `Keys` method, but rather than a `Propagator` may optionally accept a `Getter`:

This `Getter` is undefined in terms of structure and behavior, though a possible solution is defined in the form of a class with `Get` and `Keys` methods.

Indeed, it seems that the expectation is that the `Getter` and `Setter` implementations would be

[2021-02-05 15:33] Aneurysm9 commented on #1491
I don't think a change in method name is required.   `RecordException` is optional in the spec and scoped to languages that use exceptions, which Go does not.

Instead, we have errors and provide an analogous `RecordError` method.  Obviously, this [wasn't intended to preclude us](https://github.com/open-telemetry/opentelemetry-specification/pull/874#discussion_r476659098) from having a convenience

[2021-02-05 17:14] mothershipper commented on #1491
@Aneurysm9 @XSAM Thank you both for the reviews!

Looking for clarity here -- would you have `RecordError` add an `exception` event with `exception.*` attributes? Or leave it as-is?

[2021-02-05 20:16] bogdandrutu opened #1515 "Remove undefined trace flags"
The current spec does not define flags properties for: `IsDeferred` and `IsDebug`. See https://github.com/open-telemetry/opentelemetry-go/blob/main/trace/trace.go#L345

[2021-02-05 20:21] Aneurysm9 commented on #1491
I think I would prefer to leave it as-is, though I can see the argument for using `exception.*` to align downstream with attributes produced in a heterogeneous environment.

[2021-02-05 20:25] bogdandrutu opened #1516 "Recommend to make traceflags a struct"
Right now TraceFlags is just a bit, I think it is more extensible to have it like a struct `type TraceFlags byte` and expose helpers like `IsSampled` on this struct.

[2021-02-05 23:19] mothershipper commented on #1491
For reference the majority of opentelemetry SDKs have a `RecordException` with `exception.*` semantics, though, most of these languages do have throw/catch semantics:

* [C#](https://github.com/open-telemetry/opentelemetry-dotnet/blob/6c742e916a60e02201de177544a88c0d9fa7a8d9/src/OpenTelemetry.Api/Trace/TelemetrySpan.cs#L295-L319)
* [Python](https://github.com/open-telemetry/opentelemetry-python/bl

[2021-02-06 21:01] varun06 commented on #1490
Hey @MrAlias

It seems that problem was calling GetTracer every time we were creating a new Span(Bug). But I was wondering, shouldn't GetTracer be a Singleton??

[2021-02-08 18:22] punya commented on #1467
# Goals
1. Identify the parts of opentelemetry-go that need to have a stable public API as part of releasing the Trace release.
2. For each package, determine if it can be declared stable (put into a v1.x module), declared unstable (put into a v0.x module), or needs to be split.
3. Minimize disruption to existing pull requests and pull requests.
4. Minimize future disruption to code when we stabil

[2021-02-09 15:40] MrAlias commented on #1490
Thanks for looking into this. The Tracer returned from `GetTracer` should indeed be a reference to the same Tracer value if it is named the same. Do you have evidence this is not happening? That definitely sounds like a bug if so.

[2021-02-09 16:08] MrAlias commented on #1515
Thanks for opening this. These fields are used to satisfy [this part of the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/14d123c121b6caa53bffd011292c42a181c9ca26/specification/context/api-propagators.md#b3-extract):

Did you have a suggestion for how we can propagate these if that is not used?

[2021-02-09 18:18] bogdandrutu commented on #1515
There are some options that I can think of:
1) Propagate them as a different entry in the `Context`, this is what Java does. I think this is safe, if debug then you set sampled and propagate the debug bool in the context, because only if the user uses extract and inject b3 it matters.
2) Just remove the API to retrieve them and treat everything else except the Sample bit as opaque (not sure if thi

[2021-02-09 19:33] MrAlias commented on #1515
The `SpanContext` struct is a concept of the SDK not the propagators. The propagator never sees the `SpanContext` but only deals with a `context.Context`. Setting a specific field in a `context.Context` that is returned from the extract field will mean that the SDK will then need to determine if that field is set and propagate it. This will couple the tracing SDK with a propagator extraction logic

[2021-02-09 20:50] bogdandrutu commented on #1515
See the specification:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#spancontext

[2021-02-10 17:00] MrAlias opened #1523 "Update CI and build tools"
As we move to a stable release of this project it would be ideal if we can assert confidence that this project will work on more than just linux systems with x86 or 386 CPU architecture. Additionally, it would be ideal if we could speed up the CI process.

1. Decouple the Makefile from a specific 386 CPU architecture run.
2. Add a testing matrix on the CI system to test different OS and architectu

[2021-02-10 17:04] lizthegrey commented on #1523
please build linux/arm64 as well please, and I think we can drop linux/386

[2021-02-10 17:06] MrAlias commented on #1523
Added to the list :+1:

[2021-02-10 17:07] MrAlias commented on #1523
FWIW, I made the subjective selection on OS/arch from this list:

- aix/ppc64
- darwin/386
- darwin/amd64
- dragonfly/amd64
- freebsd/386
- freebsd/amd64
- freebsd/arm
- freebsd/arm64
- illumos/amd64
- js/wasm
- linux/386
- linux/amd64
- linux/arm
- linux/arm64
- linux/ppc64
- linux/ppc64le
- linux/mips
- linux/mipsle
- linux/mips64
- linux/mips64le
- linux/riscv64
- linux/s390x
- netbsd/386
- net

[2021-02-10 17:11] varun06 commented on #1490
I have lost the pprof that shows something like that, but i can share problematic code that was creating this problem.

[code]

and it was getting called every time someone created a new span. When i profiled, i remember seeing multiple tracer.

[2021-02-10 21:26] kstasik opened #1524 "Otel grpc reconnection issue"
Otel grpc client never gets reconnected:

[code]

How to reproduce:
a) otel-collector with replicas=1
b) application with configuration similar to:
[code]
c) restart otel-collector pod (in local environment it needs few seconds to initialize)
d) after first try application stops trying to reconnect

Suggested solution:
https://github.com/open-telemetry/opentelemetry-go/pull/1521

[2021-02-10 22:36] Aneurysm9 commented on #1491
I've added an agenda item for the SIG meeting tomorrow to discuss this as I'd like to get input from a broader set of users and approvers.  My personal preference at this point is to retain the `RecordError()` function but have it produce `exception.*` attributes on an `exception` event.  This is partly selfish as I'm leaving a team with a reasonably large body of OTel-instrumented code with broad

[2021-02-10 23:25] jmacd commented on #1524
Lightstep has been having trouble with these errors, too. Thank you @kstasik.
See also https://gitter.im/open-telemetry/opentelemetry-go?at=601d86aea0246860dc340034

[2021-02-10 23:46] mothershipper commented on #1491
Thanks Anthony!

For what it's worth, I don't feel as strongly about the method name as I do about the behavior (producing the `exception` event).  There is value in consistency, but also in avoiding breaking changes / not inflicting maintenance work on the community.

[2021-02-11 04:44] marvin-hansen opened #1525 "Makefile.proto prevents Bazel build. Please rename."
When building a project that depends on opentelemetry-go with bazel, the build fails because bazel invokes protoc internally to compile all *.proto files and that implies Makefile.proto.

I have this issue right now when integrating go-pg. See https://github.com/go-pg/pg/issues/1832

The easiest solution  comes down to rename the Makefile in a way that it does not end in*proto so that Bazel, and v

[2021-02-11 04:50] marvin-hansen commented on #1525
Added PR with the proposed change & signed CLA.

https://github.com/open-telemetry/opentelemetry-go/pull/1526

[2021-02-11 05:43] XSAM commented on #1525
It seems resolved in #1468 but not release yet.

`*.protos` files don't trigger the Bazel to comiple.

[2021-02-11 06:13] marvin-hansen commented on #1525
Thank you @XSAM that's exactly the same issue I am facing.

I'm closing my PR and this issue as I wasn't aware of the patch only awaits releasing.

[2021-02-11 06:13] #1525 closed

[2021-02-11 16:03] MrAlias opened #1527 "Flaky test: TestNewExporter_collectorConnectionDiesThenReconnects"
Reporting to be failing about %5 of the time on Go 1.15 but not seen on 1.14.

Version tested: https://github.com/open-telemetry/opentelemetry-go/commit/e50a1c8cecb8c584bdfada6cb21fe0b173a22646

[code]

[2021-02-11 16:04] punya commented on #1527
Actually, I see it failing 5% of the time on 1.14 as well. It's just that in one particular CI run, 1.15 failed and 1.14 passed. There are other CI runs where the opposite happens too.

[2021-02-11 19:29] punya opened #1529 "Prune auto-generated "replace" clauses in go.mod files"
As of #1528 , we auto-generate `replace` clauses in every go.mod file, pointing to every module in this repository -- even if the module being pointed to isn't a transitive dependency. This issue tracks the work to refine our tooling so that it generates the smallest possible valid set of `replace` directives.

[2021-02-11 20:06] punya opened #1530 "Enforce backwards compatibility when releasing v1+ modules"
This is especially important given that (as of #1528) stable modules may depend on unstable ones for implementation details, so we run the risk of inadvertently "leaking" unstable APIs to consumers.

https://pkg.go.dev/golang.org/x/exp/cmd/gorelease may help.

[2021-02-11 23:43] MrAlias commented on #1491
From the SIG meeting today: we will also want to update the Event name that is created when a panic is recovered from (an re-paniced): https://github.com/open-telemetry/opentelemetry-go/blob/e50a1c8cecb8c584bdfada6cb21fe0b173a22646/sdk/trace/span.go#L37

[2021-02-12 01:52] marvin-hansen commented on #1525
@XSAM is there an ETA for the next release?

[2021-02-12 12:01] XSAM commented on #1525
cc: @MrAlias

[2021-02-12 15:32] MrAlias commented on #1525
I'll try and get one out today.

[2021-02-12 15:48] MrAlias commented on #1516
The Go type system allows methods to be added to any types, not just structs, so I'm not sure that should motivate an underlying type change. That said, I think the downside of using a struct with the small increase in resource overhead might be outweighed by the potential extensibility.

What other fields do you anticipate being added to the TraceFlags type?

[2021-02-12 15:51] MrAlias commented on #1527
Possible duplicate of #1524

[2021-02-12 15:54] MrAlias commented on #1515
I'm following. Can you quote the line that is relevant to your point?

[2021-02-12 16:01] MrAlias commented on #1324
After https://github.com/open-telemetry/opentelemetry-proto-go/issues/3 is resolved we can switch to depending on that repository.

[2021-02-12 16:02] #1295 closed

[2021-02-12 16:03] #1221 closed

[2021-02-12 16:21] MrAlias commented on #1104
Consolidating the conversation in #1491

[2021-02-12 16:21] #1104 closed

[2021-02-12 16:23] #1467 closed

[2021-02-12 17:54] punya commented on #93
Can we split this into two issues (for trace and metric), such that we can close out the trace-related one which blocks RC and put the metrics-related into a future milestone?

[2021-02-15 19:39] MrAlias commented on #1525
[Release v0.17.0](https://github.com/open-telemetry/opentelemetry-go/releases/tag/v0.17.0)

[2021-02-15 20:28] #1391 closed

[2021-02-16 13:06] yorikya opened #1538 "When using Push(OTLP) and Pull (Prometheus) controller the error: `controller already started` is showing"
**Describe the bug**
In our company, we are using opentelemetry-sdk-go to export the metrics from a service. We are setting the OTLP within Prometheus exporter as shown in the [example](https://github.com/open-telemetry/opentelemetry-go/tree/main/example/prom-collector). When service is starting run all metrics are flowing via OTLP exporter and available via Prometheus endpoint as well.
But when w

[2021-02-16 13:58] brancz commented on #1490
We are experiencing the exact same problem. We continuously profile our entire infrastructure, so we have profiling data available for everything. Let us know what would be useful to you! :)

Process start: https://share.polarsignals.com/7aef522/
Right before OOM: https://share.polarsignals.com/5bf8ce4/
Diff of the two profiles: https://share.polarsignals.com/8945fcd/

This data also highly sugges

[2021-02-16 15:28] varun06 commented on #1490
@brancz Thanks for chiming in. I see nothing with those links. But yeah, we had same behavior. If I get some time this week, will try to read some code and see if I can find out, I am also planning to replicate this situation in a test env and see what is causing this.

[2021-02-16 19:02] bhautikpip commented on #1491
Hi @MrAlias ,

what is the action item here? Are we going to keep `error` or follow the spec and keep it as `exception`? I just wanted to highlight one more point is if we are going to keep `error` then we might have to introduce one more field especially for golang [here](https://github.com/open-telemetry/opentelemetry-collector/blob/522fba3dcd0b77b7bd1e25331cb61ba30bcf2d31/translator/conventions

[2021-02-16 19:44] MrAlias commented on #1069
Let's rename the `label` package to `attr`.

[2021-02-16 19:45] MrAlias opened #1539 "TraceState/Baggage fields currently should only accept string-string pairs"
Currently they use the `label.KeyValue`. This is out of compliance with the spec.

[2021-02-16 19:48] MrAlias commented on #1386
We can update to support a context timeout from the first arg. We will just need to set the timeout.

This can be done post-GA.

[2021-02-16 20:05] MrAlias commented on #1313
Need to verify, but this might have been resolved when we changed to a read-only span export type.

[2021-02-16 20:11] MrAlias commented on #1236
Closing because the 1.0.0 release of the specification happened and the specification ultimately did no switch back.

[2021-02-16 20:11] #1236 closed

[2021-02-16 20:22] MrAlias opened #1540 "Better document the Tracer.Start method"
Describe how the parent context is used in the creation path.

cc @bogdandrutu

[2021-02-16 20:26] MrAlias commented on #461
We need to remove the links (so we do not have to introduce breaking changes), document how users can add their own links if they want them, and wait for the specification to come to a consensus on this (https://github.com/open-telemetry/opentelemetry-specification/issues/1188).

[2021-02-16 20:33] MrAlias commented on #224
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#updatename

With the goal of forwards compatibility, let's remove this. We can add it back later in a backwards compatible manner.

[2021-02-16 21:27] kobim commented on #1499
This probably relates to https://github.com/open-telemetry/opentelemetry-go/pull/1443 - when using `NewBatchSpanProcessor` the underlying exporter is also closed.
Calling `cont.Stop` before shutting down the exporter should resolve this.

[2021-02-16 22:10] punya commented on #1164
I'm working on this, but I just realized that `tracetest` is part of `oteltest`, which IMO shouldn't be released as v1.0 as part of the initial stable release because it has dependencies on metrics as well.

Can we remove the `required-for-ga` label @MrAlias @Aneurysm9 @rakyll ?

[2021-02-16 23:09] rakyll commented on #1164
@punya, this was under trace/tracetest when I filed the issue so you are right that it doesn't have to be stable at this point.

[2021-02-17 00:23] #1300 closed

[2021-02-17 00:28] MrAlias commented on #1491
@bhautikpip the plan is to go with the strategy describe by @Aneurysm9 above: https://github.com/open-telemetry/opentelemetry-go/issues/1491#issuecomment-777082014 with the addition of ensuring the panic related event that is created is created with the proper name.

@mothershipper I have assigned this to you because you had an open issue to address this. Please let me know if you are still able t

[2021-02-17 01:10] MrAlias commented on #1313
Most of the work complete in #1360, #1543 documents things and cleans up some checks.

[2021-02-17 01:41] punya commented on #1493
Reading the spec alongside the Java-language reference implementation, I see that `Getter` and `Setter` are defined separately from the carrier, but are expected to be totally coupled to it. So, for example, a carrier defined as a `Map<String, String>` would have an associated getter and setter that can do things with that representation. The idea behind keeping the getter/setter stuff separately

[2021-02-17 01:58] punya commented on #1493
Digging a bit further - if I make `Keys()` a required method of `TextMapCarrier`s, then `http.Header` no longer implements `TextMapCarrier`. It's easy enough to create a wrapper to satisfy the interface, but it's less ergonomic than what we had before.

[code]

I'm going to submit a PR with this design, but it's worth thinking about alternatives.

[2021-02-17 03:15] punya commented on #1182
Does this issue relate to https://github.com/open-telemetry/opentelemetry-go/issues/1069?

[2021-02-17 14:41] #1313 closed

[2021-02-17 15:32] #1164 closed

[2021-02-17 16:04] #1493 closed

[2021-02-17 18:52] mothershipper commented on #1491
@MrAlias Happy to help! My bandwidth is a little tight this week, but I'll be able to get to it either over the weekend or early next week. If I'm lucky I might get to it sooner :)

[2021-02-17 19:49] punya commented on #1122
Does this need to be stable as part of 1.0? The scope seems broader than trace alone (OTLP covers all signals), so I'm wondering if it can be deferred.

[2021-02-18 14:31] MKruger777 opened #1547 "Compilation error: duplicate method IsRecording, SpanContext, Tracer"
Hey Opentelemetry people,

I am trying to run this example as is in:
Ubuntu 20.04
goland 2020.1
go version go1.13.4 linux/amd64

I then get the following exception.

# go.opentelemetry.io/otel/sdk/trace
../pkg/mod/go.opentelemetry.io/otel/sdk@v0.17.0/trace/span.go:71:2: duplicate method IsRecording
../pkg/mod/go.opentelemetry.io/otel/sdk@v0.17.0/trace/span.go:71:2: duplicate method SpanContext
../

[2021-02-18 14:36] punya commented on #1547
@MKruger777 you mention that you're running Go 1.13 whereas the module requires Go 1.14. Any chance you can reproduce the problem with a supported version of Go?

[2021-02-18 15:07] MKruger777 commented on #1547
Jaiks! missed that - so sorry. Gonna give it a go. Thanks!

[2021-02-18 15:56] davidgwcurve opened #1548 "Compilation Error from Jaeger exporter when updating go packages dependencies"
Hey,

When doing a `go get -u ./...` in our go service, we get an error from the `go.opentelemetry.io/otel/exporters/trace/jaeger` exporter with the below text.

The root cause of this is that go adds `github.com/apache/thrift v0.14.0 // indirect` to the go.mod. It looks like v0.17.0 of the Jaeger exporter is using v0.13.0 of Thrift and there are some breaking changes go is trying to bring in when

[2021-02-18 16:04] Aneurysm9 commented on #1548
This seems to be an artifact of Go treating modules at `v0.x` as being stable across minor version increments and "helpfully" incrementing the version of the Thrift dependency for you.  While we may update that dependency at a later time, the `v0.17.0` version of the Jaeger exporter will never be compatible with `v0.14.0` of the Thrift package as it is immutable.  I believe the only option is to m

[2021-02-18 16:31] davidgwcurve commented on #1548
Fair enough @Aneurysm9 , I got it to build again by removing the indirect reference. I thought I would raise this in case you needed to bump the version used by the Jaeger exporter :)

[2021-02-18 16:40] davidgwcurve commented on #1548
I'm assuming it will take going to GA and v1 for this to be resolved? I'm a little worried about having to make sure the team knows to remove the imported `indirect` if they do a `go get -u` and ensuring our automated dependency updates don't break from this.

[2021-02-18 16:56] MKruger777 commented on #1547
Thanks so much,  works perfectly!

[2021-02-18 16:56] #1547 closed

[2021-02-18 17:49] #224 closed

[2021-02-18 17:59] #1069 closed

[2021-02-18 18:09] MrAlias commented on #1014
Closing as there is not a desire to resolve across the SDK or API packages. The export package will likely be addressed in #1380

[2021-02-18 18:09] #1014 closed

[2021-02-18 18:11] MrAlias commented on #1182
@rakyll can you add a bit more context here. We want to make progress on this for the RC release and want to know if these relate to the remote/local span context keys or some other keys.

[2021-02-18 18:15] MrAlias commented on #1122
We may not need this for our RC. @punya will confirm if it is needed.

[2021-02-18 18:17] MrAlias commented on #536
Documented ref: https://github.com/open-telemetry/opentelemetry-go/blob/main/CONTRIBUTING.md#configuration

[2021-02-18 18:44] MrAlias commented on #1548
The suggestion here is we should look into vendoring the thrift library.

[2021-02-18 18:58] evantorrie opened #1549 "Zipkin exporter should take service.name from Resource"
Zipkin requires a service name to be sent with each span.  Per the specification https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/zipkin.md#service-name ,

    Zipkin service name MUST be set to the value of the resource attribute: service.name.
    If no service.name is contained in a Span's Resource, it MUST be populated from the default R

[2021-02-18 19:03] evantorrie opened #1550 "Jaeger exporter must populate Jaeger's Span.Process from Resource service.name attribute"
Per specification: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/jaeger.md#resource

Should fall back to `resource.Default()` `service.name` attribute if the exported Span does not have its own Resource `service.name`

[2021-02-18 19:49] MrAlias opened #1553 "Communication Channel: Gitter -> Slack"
- [x] Update community docs.
   - https://github.com/open-telemetry/community/pull/661/files
- [x] Update this project's README.
- [x] Update this project's CONTRIBUTING docs.
- [x] Update the contrib repos' README.
- [x] Update the contrib repos' CONTRIBUTING docs.
- [x] Post this issue along with notification about the change in Gitter.

[2021-02-18 20:59] MrAlias opened #1555 "Add documentation on when PR reviews should be cleared"
Instead of automating the dismissal of PR reviews when changes are made to an approved PR, which can include changes like merging main into the branch, we need to get into the practice of manually clearing reviews when substantive changes are made to the PR.

To start with at least, we need to document what is expected in the CONTRIBUTING documentation.

[2021-02-19 05:19] Aneurysm9 commented on #1548
Yup, we're not keen on the situation either.  We discussed it at the SIG meeting today and, as @MrAlias mentioned, we decided that the best approach to take for now was to vendor the dependency inside the generated Thrift package.  This is done in #1551 with import path rewriting, so there shouldn't be an issue if this exporter is used in a system that otherwise uses a different version of Thrift.

[2021-02-19 05:30] Aneurysm9 opened #1557 "SpanContext must be immutable"
The [`trace.SpanContext`](https://github.com/open-telemetry/opentelemetry-go/blob/main/trace/trace.go#L321-L326) struct needs to be made immutable to [conform to the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#spancontext).  Currently there are exported fields in this struct that can be modified.  We expect that the `SpanContext` is alwa

[2021-02-19 10:46] davidgwcurve commented on #1548
Thanks a lot for the quick response and action to this!

[2021-02-19 15:06] punya opened #1559 "Unit tests flaking in CI"
While working on #1551, I ran into several unit tests that flaked in CI:

https://github.com/open-telemetry/opentelemetry-go/runs/1930834290
(Go 1.14 only)
[code]

https://github.com/open-telemetry/opentelemetry-go/runs/1931724468
(Go 1.15 only)
[code]

https://github.com/open-telemetry/opentelemetry-go/runs/1931857269
(Go 1.14 only)
[code]

I wasn't able to reproduce any of these locally, even wh

[2021-02-19 15:40] punya commented on #1559
Another one: https://github.com/open-telemetry/opentelemetry-go/pull/1551/checks?check_run_id=1936404855 (Go 1.15 only)
[code]

[2021-02-19 15:42] punya commented on #1559
It's worth noting that CI runs each test multiple times (386 vs x64, with/without coverage), and there's no pattern to which of these fail in a given run.

[2021-02-19 17:33] varun06 opened #1562 "Errors while updating to latest version(v0.17) for jaeger exporter"
I am getting below error when trying to update to latest for jaeger exporter.

[code]

[2021-02-19 17:42] punya commented on #1562
Possible dup of #1548.

[2021-02-19 17:50] punya commented on #1122
According to https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/spec-compliance-matrix.md,

We already support OTLP/gRPC, so we are compliant. We can defer OTLP/HTTP to post-1.0.

@MrAlias @Aneurysm9 I will remove this issue from the [project](https://github.com/orgs/open-telemetry/projects/5) and I recommend that we remove the `release:required-for-ga` label as well.

[2021-02-19 17:58] varun06 commented on #1562
Thanks, closing this.

[2021-02-19 17:58] #1562 closed

[2021-02-19 18:12] #1548 closed

[2021-02-20 19:04] mothershipper commented on #1491
@MrAlias @Aneurysm9 @XSAM I've updated and rebased the PR -- seeing some test flakiness in unrelated code (TestExactMerge or something like that IIRC).  I squashed the commits after the failure and it's looking like that run will pass, but wanted to flag that if it wasn't already on your radar.

[2021-02-20 19:07] terev opened #1563 "Exported Int64ValueRecorder Metrics Via OTLP Missing Labels"
Version: v0.16.0
Collector Version: v0.20.0

When exporting a metric via the OTLP exporter pointed at a grpc receiver in a collector. The exported metric has none of my defined labels.

metric setup:
[code]

[code]

I was able to hook up a debugger and trace the library to find the metric is being transformed to a gauge array https://github.com/open-telemetry/opentelemetry-go/blob/main/exporters/o

[2021-02-20 20:24] terev commented on #1563
I tried passing `stringKeyValues(labels.Iter())` instead of `nil` and my labels end up being exported correctly. Is there a reason the labels weren't being passed before?

[2021-02-20 22:34] Aneurysm9 opened #1564 "OTLP gRPC example sets unreasonably low batch interval"
The [OTLP gRPC examples](https://github.com/open-telemetry/opentelemetry-go/blob/main/exporters/otlp/otlpgrpc/example_test.go#L56) set a batch timeout of 5ns.  This should probably be 5s.

[code]

Please update all examples to use `sdktrace.WithBatchTimeout(5 * time.Second)`.

[2021-02-21 00:47] bogdandrutu commented on #1557
I don't think exposing an interface adds value. Maybe just move to use getters instead of exposing the members is enough

[2021-02-21 16:15] jcchavezs commented on #1327
Any further feedback on this?

[2021-02-22 17:31] MrAlias commented on #1523
Looking into testing arm or arm64 on the GitHub Actions platform I discovered that we will need to build and maintain our own runners. This does not sound like something we should invest in at this point.

I'm planning to keep trying to test the 386 architecture at this point to ensure we are testing a 32 bit architecture.

[2021-02-22 21:40] rakyll commented on #1182
The link to the spec issue was incorrect, see https://github.com/open-telemetry/opentelemetry-specification/issues/949 for the earlier discussion.

[2021-02-22 21:41] rakyll commented on #1557
+1 to only getters.

[2021-02-22 21:44] rakyll commented on #1523
Do we need 32-bit Windows and Mac? They are not that common anymore, especially in our target audience. I'd focus on the following initially:

* darwin/amd64
* linux/386
* linux/amd64
* linux/arm
* linux/arm64
* windows/amd64

[2021-02-22 21:56] MrAlias commented on #1523
We do not need to focus on the darwin/386 as that is indeed an invalid OS/ARCH pair. As for `arm`* from my previous comment, we are probably not going to be able to support testing these. At least not initially and in the long term we will need to decide if we want to manage a private runner.

[2021-02-22 22:55] MrAlias commented on #1559
I'm consistently seeing this failure for testing ubuntu-latest for Go 1.14 and 1.15 on both 386 and amd64 architecture. E.g.

https://github.com/open-telemetry/opentelemetry-go/runs/1956584735?check_suite_focus=true

[2021-02-22 22:56] MrAlias commented on #1559
I'm testing this locally with:

[code]

but have yet to reproduce the failure.

[2021-02-22 23:00] seanhoughton commented on #1280
Is there an example available anywhere of how to do this? I can wait for the docs for a complete explanation, but for now just somewhere to start with a working example would be helpful.

It seems like you create a histogram with `h := histogram.New(...)` and then update the values using `h.Update(...)` but what do you do next? There doesn't seem to be any way to bridge the histogram you've create

[2021-02-23 01:18] Aneurysm9 commented on #1559
I am able to reliably reproduce the error locally while not running the race detector.  When I add the `-race` flag the tests no longer fail.  :headscratch:

[2021-02-23 15:40] MrAlias commented on #1559
@Aneurysm9 that is interesting for sure! What system are you running on and what command do you run to reproduce?

[2021-02-23 16:57] MrAlias opened #1571 "exporters/stdout TestStdoutTimestamp test failure"
This test seems to consistently be failing for Windows testing using Go 1.14 and 1.15:

https://github.com/open-telemetry/opentelemetry-go/runs/1962753557?check_suite_focus=true

[code]

Looking at the test ...

https://github.com/open-telemetry/opentelemetry-go/blob/b94cd4b24917d0099eb0ddee6f9d6be0bddee469/exporters/stdout/metric_test.go#L78-L124

## Proposals

- It is testing a "before" time is

[2021-02-23 17:00] punya commented on #1571
We're running into the same issue in #1559 too: tests flaking because they assume that a nonzero amount of time elapses.

[2021-02-23 17:19] MrAlias commented on #1571
Cool, sounds like we are going to be consistent in a solution :+1:. I've taken the same approach in the linked PR.

[2021-02-23 18:04] lavalamp commented on #877
A super quick observation:
* Kubernetes offers a client library
* The client library is used by e.g. users writing webhooks
* It'd be valuable if such webhooks at least passed through spans, even if they don't give other info
* It doesn't seem at all fair to make a decision for users about whether or how they should be configuring span reporting
* So I think it'd be good if there were an extremely

[2021-02-23 19:11] Aneurysm9 commented on #1557
@bogdandrutu and @rakyll I don't think that just having getters is sufficient since it is necessary to construct and derive `SpanContext`s at various points in the life of a span.  Can you look at the linked PR to see if the approach taken there seems sane?

[2021-02-23 19:15] MrAlias opened #1574 "Guard API interfaces that should not be directly implemented by end-users"
As discussed in a recent specification SIG meeting the situation where an additional method will be added to a public API. How this translates into our implementation of the specification is that a method would need to be added to an exporter interface. This type of change is not backwards compatible, if a user implemented the original interface they would fail to compile when they upgrade because

[2021-02-23 19:20] punya commented on #1574
What was the rationale for picking the approach to use for each interface?

Also, I'm happy to work on this if you're already planning to do it.

[2021-02-23 19:30] #1559 closed

[2021-02-23 19:34] MrAlias commented on #1574
The way I made the decision was to prefer switching to a concrete type if possible. If not it became a question of if the interface needs to be implemented outside of the package it is defined in. If it does not and we do not intend for users to implementing the interface add private method, otherwise we will have to address additions by adding new interfaces.

I'm open to alternatives if people h

[2021-02-23 19:38] #1571 closed

[2021-02-23 19:40] MrAlias commented on #1574
For the trace Span, Tracer, and TracerProvider I am a bit uncertain if we couldn't still add a private method and since we ship a NoOp implementation in the API as well assume any SDK would embed that NoOp implementation. This would ensure forwards compatibility for any SDK authors while still preventing the interface from being implemented directly.

[2021-02-23 19:44] MrAlias commented on #1574
@punya I'm happy to assign it to you. I'd want to make sure we have enough consensus on the issue and solution though before starting. @open-telemetry/go-approvers thoughts?

[2021-02-23 20:50] MrAlias opened #1576 "exporters/trace/jaeger test compilation error"
Testing on [Windows (Go 1.15 arch=amd64)](https://github.com/open-telemetry/opentelemetry-go/runs/1964472382?check_suite_focus=true):

[code]

I am able to reproduce this locally on a linux system:

[code]

It looks like we use the low level `syscall` package with a unix specific calling signature:

https://github.com/open-telemetry/opentelemetry-go/blob/4a163beaa103fd57b4cf6e07dc19781ab2fda4a9/ex

[2021-02-24 15:01] #1576 closed

[2021-02-24 15:35] MrAlias opened #1578 "go.opentelemetry.io/otel/sdk/metric/aggregator/lastvalue TestLastValueMerge failure"
Running the test suite on Windows amd64 for both Go [1.15](https://github.com/MrAlias/opentelemetry-go/runs/1966764526?check_suite_focus=true) and [1.14](https://github.com/open-telemetry/opentelemetry-go/pull/1567/checks?check_run_id=1971214546):

[code]

Looking at the code

https://github.com/open-telemetry/opentelemetry-go/blob/4a163beaa103fd57b4cf6e07dc19781ab2fda4a9/sdk/metric/aggregator/las

[2021-02-24 17:50] #1502 closed

[2021-02-24 18:03] #1574 closed

[2021-02-24 20:02] MrAlias opened #1582 "go.opentelemetry.io/otel/sdk/metric/controller/basic test failures"
[Tested on Ubuntu (amd64) Go 1.14](https://github.com/open-telemetry/opentelemetry-go/pull/1581/checks?check_run_id=1973336799):

[code]

[2021-02-24 20:45] MrAlias commented on #1582
Able to reproduce locally within about a minute of running this.

[code]

[2021-02-24 21:10] MrAlias commented on #1582
From the failing test:

https://github.com/open-telemetry/opentelemetry-go/blob/37688ef67616aa5a99e27fb03320fd0dc87e590e/sdk/metric/controller/basic/controller_test.go#L278-L314

It looks like this is relying on the collector setting a context deadline equal to the the collection timeout:

https://github.com/open-telemetry/opentelemetry-go/blob/37688ef67616aa5a99e27fb03320fd0dc87e590e/sdk/metric/c

[2021-02-24 21:57] MrAlias commented on #1582
My theory is that this test was relying on the fact that the first time through the collection pipeline a new record and other accumulation values need to be created. It assumes that it will take a while for these to be created the first time and thus fail on the first run.  I'm switching to set the pull timeout to 1ns and having the asyn func sleep more than this value. This will deterministicall

[2021-02-24 22:35] MrAlias commented on #1582
My understanding of where the context deadline exceeded error was supposed to come from was wrong. The above mentioned context timeout is set by the `CollectionTimeout` configuration not the `PushTimeout` (we should add a test to verify this as well). The push export pipeline also sets a timeout:

https://github.com/open-telemetry/opentelemetry-go/blob/37688ef67616aa5a99e27fb03320fd0dc87e590e/sdk/

[2021-02-24 22:40] MrAlias commented on #1582
With the failure mode as described above would also explain how the TestCollectAfterStopThenStartAgain was failing. Both tests are using the global ErrorHandler to evaluate errors. Therefore, when TestExportTimeout failed to receive an error and moved on, TestCollectAfterStopThenStartAgain received that error when the asynchronous collection ultimately failed.

We should also find a way to reset t

[2021-02-25 09:02] vmihailenco opened #1583 "OTLP exporter only for traces"
Is it possible to configure OTLP exporter only for traces (and omit metrics)? E.g.

[code]

produces

[code]

Uncommenting `ForMetrics` fixes the panic, but I guess it will also export metrics which is undesirable for backends that don't support metrics...

[2021-02-25 09:44] vmihailenco opened #1584 "Default TLS credentials using system certificates for OTLP GRPC"
What do you think about using system certificates for GRPC OTLP exporter by default? E.g. now I have to

[code]

But I would expect GRPC to use system certificate by default. And `otlpgrpc.WithInsecure`  can be used to disable TLS. I can send a PR if this is accepted.

[2021-02-25 13:30] seh commented on #1584
Note that if you pass nil as the first argument to [`credentials.NewClientTLSFromCert`](https://pkg.go.dev/google.golang.org/grpc/credentials#NewClientTLSFromCert), you get the system certificate pool automatically. That's per the documentation for [`tls.Config`](https://golang.org/pkg/crypto/tls/#Config)'s "RootCAs" field:

[2021-02-25 14:05] MadVikingGod opened #1585 "OLTP-GRPC generator upgrade"
While working on #1122 I found that the gogo generated protobuf types are not forward compatible with the current protobuf API v2 (google.golang.org/protobuf@v1.4.0).

A solution would involve moving away from gogo to the google protobuf.

My concern with this upgrade is the performance of the generated files, what kind of performance should we measure.  And, what kind of regression would be a blo

[2021-02-25 15:20] #1578 closed

[2021-02-25 15:36] #1475 closed

[2021-02-25 17:28] Aneurysm9 commented on #1583
The OTLP exporter handles both metrics and traces.  The `splitDriver` you're using there is intended for situations where you want to export both metrics and traces, but send them to different locations.  If you only wish to export traces you can use the OTLP/gRPC driver directly and only attach it to a trace provider.  If no metric pipeline is configured to use it as an exporter then no metrics w

[2021-02-25 18:08] MrAlias commented on #1584
From the SIG meeting: we would like to have this fixed for the RC, but it is something we can add after with backwards compatible support.

[2021-02-25 18:09] MrAlias commented on #1584
A possible first step might be to update the documentation to at least describe the solution here.

[2021-02-25 18:16] MrAlias commented on #1585
@bogdandrutu can you help specify what performance metrics we should be looking at here?

We can plan to make this change after the RC if need. Also, whatever decision made here needs to be included in the new repo: https://github.com/open-telemetry/opentelemetry-proto-go

[2021-02-25 20:04] Aneurysm9 opened #1587 "Spec Conformance Review: Traces/TracerProvider"
Please review the `Traces/TracerProvider` section of the [Spec Compliance Matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md) and the corresponding implementations in the [core](https://github.com/open-telemetry/opentelemetry-go) and [contrib](https://github.com/open-telemetry/opentelemetry-go-contrib) repositories.  For each entry in the comp

[2021-02-25 20:06] Aneurysm9 opened #1588 "Spec Conformance Review: Traces/Trace / Context interaction"
Please review the `Traces/Trace / Context interaction` section of the [Spec Compliance Matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md) and the corresponding implementations in the [core](https://github.com/open-telemetry/opentelemetry-go) and [contrib](https://github.com/open-telemetry/opentelemetry-go-contrib) repositories.  For each entr

[2021-02-25 20:07] Aneurysm9 opened #1589 "Spec Conformance Review: Traces/Tracer"
Please review the `Traces/Tracer` section of the [Spec Compliance Matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md) and the corresponding implementations in the [core](https://github.com/open-telemetry/opentelemetry-go) and [contrib](https://github.com/open-telemetry/opentelemetry-go-contrib) repositories.  For each entry in the compliance m

[2021-02-25 20:08] Aneurysm9 opened #1590 "Spec Conformance Review: Traces/SpanContext"
Please review the `Traces/SpanContext` section of the [Spec Compliance Matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md) and the corresponding implementations in the [core](https://github.com/open-telemetry/opentelemetry-go) and [contrib](https://github.com/open-telemetry/opentelemetry-go-contrib) repositories.  For each entry in the complia

[2021-02-25 20:09] Aneurysm9 opened #1591 "Spec Conformance Review: Traces/Span"
Please review the `Traces/Span` section of the [Spec Compliance Matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md) and the corresponding implementations in the [core](https://github.com/open-telemetry/opentelemetry-go) and [contrib](https://github.com/open-telemetry/opentelemetry-go-contrib) repositories.  For each entry in the compliance mat

[2021-02-25 20:10] Aneurysm9 opened #1592 "Spec Conformance Review: Traces/Span attributes"
- [x] Review [Span Operation -- Set Attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#set-attributes) and [Common specification concepts -- Attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/common/common.md#attributes) sections and identify all normative requirements they contains.
- [x

[2021-02-25 20:11] Aneurysm9 opened #1593 "Spec Conformance Review: Traces/Span linking"
Please review the `Traces/Span linking` section of the [Spec Compliance Matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md) and the corresponding implementations in the [core](https://github.com/open-telemetry/opentelemetry-go) and [contrib](https://github.com/open-telemetry/opentelemetry-go-contrib) repositories.  For each entry in the compli

[2021-02-25 20:11] Aneurysm9 opened #1594 "Spec Conformance Review: Traces/Span events"
- [x] Review [Span Operation -- Add Events](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#add-events) section and identify all normative requirements it contains.
- [x] Validate our implementation of the specification to conform or not. If it conforms, document the conformity here. If it does not open an Issue or PR track the work.
- [x] Revie

[2021-02-25 20:15] Aneurysm9 opened #1595 "Spec Conformance Review: Traces/Span exceptions"
- [x] Review [Span Operation -- Record Exception](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/api.md#record-exception) section and identify all normative requirements it contains.
- [x] Validate our implementation of the specification to conform or not. If it conforms, document the conformity here. If it does not open an Issue or PR track the work.

[2021-02-25 20:17] Aneurysm9 opened #1596 "Spec Conformance Review: Traces/Sampling"
- [x] Review [Sampler](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/trace/sdk.md#sampler) section of the specification and identify all normative requirements it contains.
- [x] Validate our implementation of the specification to conform or not. If it conforms, document the conformity here. If it does not open an Issue or PR track the work.
- [x] Review t

[2021-02-25 20:18] Aneurysm9 opened #1597 "Spec Conformance Review: Traces"
Please review the `Traces` section of the [Spec Compliance Matrix](https://github.com/open-telemetry/opentelemetry-specification/blob/main/spec-compliance-matrix.md) and the corresponding implementations in the [core](https://github.com/open-telemetry/opentelemetry-go) and [contrib](https://github.com/open-telemetry/opentelemetry-go-contrib) repositories.  For each entry in the compliance matrix p

[2021-02-25 20:19] Aneurysm9 opened #1598 "Spec Conformance Review: Baggage"
- [x] Review the [Baggage](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.0.1/specification/baggage/api.md) API specification and identify all normative requirements it contains.
- [x] Validate our implementation of the specification to conform or not. If it conforms, document the conformity here. If it does not open an Issue or PR track the work.
- [x] Review the `Baggage`