[2020-02-27 10:35] arminru opened #498 "Default sampler is incorrect"
The current default sampler is a `ProbabilitySampler(1e-4)`:
https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/provider.go#L68
https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/sampling.go#L23

The spec, however, defines the ALWAYS_ON sampler as the default:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tra

[2020-02-27 17:27] rghetia opened #499 "Add option to specify propagators for httptrace and grpctrace plugins"
[ochttp](https://github.com/census-instrumentation/opencensus-go/blob/84d38db2b42a4fc1eebad7b32616e8f4bd48bd76/plugin/ochttp/server.go#L47) allows specifying propagators. Similar option should be added to httptrace and grpctrace

[2020-02-27 18:18] rghetia commented on #476
@andrewhsu are you working on this?

[2020-02-27 18:19] rghetia commented on #458
@rebeccajae will you be able to take this?

[2020-02-27 18:21] rghetia commented on #448
@iredelmeier do you any suggestion if not W3CPropagator?

[2020-02-27 18:25] rghetia commented on #380
Sampling Hint is removed from the spec.

[2020-02-27 18:25] #380 closed

[2020-02-27 18:28] rghetia opened #500 "release 0.2.2 as 0.2.1.1 is not valid"

[2020-02-27 18:29] rghetia commented on #312
will be fixed by #494

[2020-02-27 18:30] rghetia commented on #109
addressed by #495

[2020-02-27 19:34] rebeccajae commented on #458
Yeah, I can take a look!

[2020-02-27 21:41] MrAlias commented on #331
I'm planning to go with the suggestion made in the 2020-02-13 SIG meeting:

Unless there is an alternate naming suggestion.

[2020-02-27 21:55] lizthegrey commented on #331
Agree, good idea.

[2020-02-28 19:41] rghetia opened #501 "ExtractHTTP should stop after extracting first valid trace context"
There is an [issue](https://github.com/open-telemetry/opentelemetry-specification/issues/496) opened on spec to clarify the behavior. There are two problems highlighted in the current implementation.

1. The Last trace context is invalid and the first trace context is valid - Even though the first context is valid it will not use it.
2. Both of them are valid - The last context will be used but th

[2020-02-28 21:44] #248 closed

[2020-02-29 01:08] #458 closed

[2020-03-02 21:54] #331 closed

[2020-03-02 22:50] #493 closed

[2020-03-03 15:33] MikeGoldsmith commented on #476
I've provided a PR as @andrewhsu is fairly busy.

[2020-03-03 15:39] MikeGoldsmith commented on #448
I like the addition of adding Propagator as a suffix tot he types to help people understand the intent.

If W3C is the meant to be the default/standard, could we name it `DefaultPropagator`? I'm not a huge fan of this incase we wish to change the default to something else in the future.

[2020-03-03 15:52] MikeGoldsmith opened #507 "Update Sampler descriptions"
The current samplers do no match the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#built-in-samplers)'s sampler descriptions.

eg `AlwaysOnSampler` vs `AlwaysSampleSampler`

[2020-03-03 17:59] krnowak commented on #448
DefaultPropagator is something else - we have this as a function for both span context and correlation context that returns a propagator.

[2020-03-04 06:54] jmacd commented on #320
It has been discussed in the 2/27/20 Metrics SIG and I believe we have converged on treating the empty value as equivalent to the unspecified value.

As motivational evidence, note this line in the [Prometheus documentation](https://prometheus.io/docs/concepts/data_model/#metric-names-and-labels):

This means that we should change the SDK's `Meter.Labels(...)` to drop empty-string values from the

[2020-03-04 09:14] krnowak opened #510 "Document/automate release process"
There is a couple of steps to be done when doing a release, so it would be nice to have it documented and possibly automated. Steps that come to my mind are:

- bumping version of the `go.opentelemetry.io/otel` dependency in exporters and examples to `${NEW_VERSION}`
- updating the version string in `""go.opentelemetry.io/otel/sdk".Version()` function to `"${NEW_VERSION}"` (I discovered this funct

[2020-03-04 17:30] MrAlias commented on #448
I'll throw my support behind this. I think the fully-qualified name (i.e. including the `trace.` and `correlation.` prefix) make the intent clear. To me it indicates the trace or correlation propagator defined by the W3C.

However, if including the standards body as part of the name is ultimately not desired, could we just use `trace.Propagator` and `correlation.Propagator`? [The specification sta

[2020-03-04 18:20] jmacd commented on #377
(@MrAlias I'm glad to hear you're at work on this!)

[2020-03-04 20:27] lizthegrey commented on #510
https://github.com/open-telemetry/opentelemetry-go/pull/512 doing this hopefully for the last time by hand.

[2020-03-04 22:19] #332 closed

[2020-03-04 22:31] jmacd opened #514 "Ensure metric name and kind uniqueness"
The specification states:

See the comment in https://github.com/open-telemetry/opentelemetry-specification/issues/498#issuecomment-594896820

[2020-03-04 23:55] jmacd opened #515 "Default SDK support for resources (Metrics)"
There is  interest in specifying a standard environment variable for passing resources in the default SDKs. See https://github.com/open-telemetry/opentelemetry-specification/issues/501. Although we do not have a specification for a particular environment variable name, we can assume that there will be resources configured in the SDKs and that exporters will have access to them.

Resource support s

[2020-03-04 23:56] jmacd opened #516 "Default SDK support for resources (Tracing)"
There is interest in specifying a standard environment variable for passing resources in the default SDKs. See open-telemetry/opentelemetry-specification#501. Although we do not have a specification for a particular environment variable name, we can assume that there will be resources configured in the SDKs and that exporters will have access to them.

Resource support should be added in the Traci

[2020-03-05 07:20] rghetia opened #517 "data race in BatchedSpanProcessor"
==================
WARNING: DATA RACE
Read at 0x00c0004ecb78 by goroutine 64:
  go.opentelemetry.io/otel/sdk/trace.(*BatchSpanProcessor).enqueue()
      /Users/rahulpa/rghetia/go/src/go.opentelemetry.io/otel/sdk/trace/batch_span_processor.go:210 +0xe4
  go.opentelemetry.io/otel/sdk/trace.(*BatchSpanProcessor).OnEnd()
      /Users/rahulpa/rghetia/go/src/go.opentelemetry.io/otel/sdk/trace/batch_span

[2020-03-05 15:07] Aneurysm9 opened #519 "Sampler API must accept Attributes and Links and return Attributes"
While looking at options for addressing #496 I found that the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#sampling) already requires that samplers receive the initial set of Attributes and Links attached to a span.  It also requires that the `SamplingResult` include a property for Attributes related to the sampling decision and that

[2020-03-05 15:08] Aneurysm9 commented on #519
I'll take this issue.

[2020-03-05 15:08] Aneurysm9 commented on #496
I'll work on this after I get a PR up for #519.

[2020-03-05 17:23] rghetia opened #520 "test-386 fails on Mac OS 10.15.x (Catalina)"
go test ./... GOARCH 386 in .
fork/exec /var/folders/kc/_1xzvdjj603798j97qw927br00hyn4/T/go-build403139824/b001/core.test: bad CPU type in executable
FAIL	go.opentelemetry.io/otel/api/core	0.088s

[2020-03-05 17:45] rghetia commented on #519
Thanks @Aneurysm9

[2020-03-05 18:48] rghetia commented on #224
@Aneurysm9 to look at this.

[2020-03-05 18:51] #123 closed

[2020-03-05 19:23] lizthegrey opened #522 "Prometheus should support pushgateway"
https://godoc.org/github.com/prometheus/client_golang/prometheus/push#Pusher.Push
https://prometheus.io/docs/practices/pushing/

[2020-03-05 20:15] #423 closed

[2020-03-05 20:31] #520 closed

[2020-03-05 21:29] #498 closed

[2020-03-05 21:41] #517 closed

[2020-03-05 23:52] jmacd commented on #320
The clarification is here: https://github.com/open-telemetry/opentelemetry-go/issues/345

We'll keep the current behavior, in other words, closing this.

[2020-03-05 23:52] #320 closed

[2020-03-06 22:24] jmacd commented on #522
There are some drawbacks to the push gateway (e.g., "The Pushgateway never forgets series pushed to it and will expose them to Prometheus forever unless those series are manually deleted via the Pushgateway's API."), but I agree we should consider adding this support if it's not difficult.

I would hope that users are better off sending over OTLP and then exporting Prometheus from the otel-collect

[2020-03-06 22:38] rghetia commented on #500
0.2.3 is released.

[2020-03-06 22:38] #500 closed

[2020-03-07 01:40] paivagustavo commented on #487
Hey @wingyplus, have you had time to take some time to this? If you need any help don't hesitate to get in touch :)

[2020-03-07 01:53] #447 closed

[2020-03-07 01:53] #449 closed

[2020-03-07 06:01] #376 closed

[2020-03-07 06:05] rghetia opened #527 "move transform_spans.go to internal package"
This is to track review [comment](https://github.com/open-telemetry/opentelemetry-go/pull/497#discussion_r389217314).

[2020-03-07 18:39] #491 closed

[2020-03-07 23:12] jmacd commented on #514
The global SDK facility will need a way to report errors at the moment when a new SDK is set as the global instance. This suggests that we carry out #174 and expose an error handlers on the Meter (and Trace) SDKs.  Then, when the global SDK encounters instrument constructor errors it will have something to do with them.

[2020-03-09 01:14] Aneurysm9 commented on #224
@jmacd is this still an issue?  I don't see an `UpdateName()` on any of the span types and `sdktrace.Span#SetName()` already re-runs the sampler.

[2020-03-09 01:37] paivagustavo commented on #224
Yes @Aneurysm9, if a span was not sampled when started, it's  `data`  is `nil`, i.e., the span is a Noop Span, which results in a premature return of the `setName()`, [here](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/span.go#L203).

[2020-03-09 01:57] Aneurysm9 commented on #224
Gotcha @paivagustavo. I think I'm in agreement with you and @jmacd then, given the discussion on https://github.com/open-telemetry/opentelemetry-specification/issues/307, that this SDK should implement the simple sampling behavior and thus `SetName()` shouldn't invoke the sampler at all.

Given that this is blocked on the spec and the issue over there is in the v0.5 milestone, we should probably m

[2020-03-09 04:30] MrAlias commented on #377
I've got a rough draft to post as a PR for this (hopefully tomorrow after some cleanup), but it currently only supports the `Sum` and `MinMaxSumCount` aggregations. These are the default aggregation strategies for the simple selector, and compatible with the sketch and exact selectors as well. This seems like a decent start at least.

There is an issue with the transfer of data contained in `MinMa

[2020-03-09 05:51] nilebox commented on #460
@rghetia This issue should probably be migrated to https://github.com/GoogleCloudPlatform/opentelemetry-operations-go where the code lives now.

[2020-03-09 13:09] gianarb opened #533 "Attempt to use otel-collector"
Hello my application successfully writes traces in the stdout but I decided to try the recently merged PR #497 but I can't get it working:

[code]
I cloned the collector and I am using this configuration:

[code]
But I do not see any log in the collector, and nothing in jaeger. I don't know what to look at at this point

any pointer?

[2020-03-09 15:32] gianarb commented on #533
I was reading around and if I am well reading this PR

https://github.com/open-telemetry/opentelemetry-collector/issues/574#issue-571545163

The `opentelemetry` proto receiver does not exist yet. So I presume I have to change receiver and tracer to something that is not opentelemetry grpc but to jaeger

[2020-03-09 15:32] MrAlias commented on #460
Migrated to https://github.com/GoogleCloudPlatform/opentelemetry-operations-go/issues/7

[2020-03-09 15:32] #460 closed

[2020-03-09 15:44] gianarb commented on #533
Ok after a chat on Gitter I am right, at the moment there is not otel collector receiver for the grpc protocol, so at the moment it can not be used.

my plan for now is to switch to Jaeger tracer for the project I am working

[2020-03-09 17:27] MrAlias commented on #533
@gianarb okay to close this?

[2020-03-09 17:29] #533 closed

[2020-03-09 18:15] jmacd commented on #519
(Ugh. I thought we had decided to keep Sampler output in the propagated `tracestate`, not pollute the user's attributes.)

[2020-03-09 19:22] jmacd opened #534 "Consider binary search in Histogram aggregator"
See this comment: https://github.com/open-telemetry/opentelemetry-go/pull/438/files#r370398569

There is a question of whether we will support alternative kinds of bucket range schemes, such as linear and logarithmic, both of which have important special cases. In general, when the number of buckets exceeds a small threshold, it's better to use binary search when one of these alternates does not a

[2020-03-09 19:23] jmacd opened #535 "Use StateLocker in MinMaxSumCount"
#438 introduces a new `StateLocker` type.

The MinMaxSumCount aggregator should take advantage of it.

[2020-03-09 20:08] MrAlias opened #536 "Unify Configuration and Initialization"
Being consistent in how we configure and create things in the project means users can easily anticipate what they need to do. Currently this is not the case.

We should standardize on the approach outlined in [this comment](https://github.com/open-telemetry/opentelemetry-go/pull/497#discussion_r387242413):

[code]

[2020-03-09 23:24] Aneurysm9 commented on #519
None of the default Samplers add any attributes, so I think it would be user-defined Samplers doing any polluting and that's on the user at that point.

[2020-03-10 15:05] krnowak commented on #499
After having a look, I'm not sure how to solve it. `grpctrace` and `httptrace` (not the `clienttrace` part) are basically free functions `Inject` and `Extract`. So there is no receiver object that could hold configurable propagators. So I see three options:

1) Leave it mostly alone, document that those plugins are using global propagators. Troublesome if we want to use both plugins with in the pr

[2020-03-10 15:25] #519 closed

[2020-03-10 20:58] #424 closed

[2020-03-10 23:27] MrAlias commented on #377
Created https://github.com/open-telemetry/opentelemetry-proto/pull/122 to add a new data type that will support MinMaxSumCount transport.

[2020-03-11 02:43] paivagustavo commented on #463
Fixed by #537

[2020-03-11 02:43] #463 closed

[2020-03-11 03:31] paivagustavo commented on #499
I'm big +1 to creating a new http plugin similar to `ochttp`, with the current one we cannot assign the status of the request neither metrics. If needed I can work on it, this has been an issue for me for a while and I didn't have the time to look at it.

[2020-03-11 07:33] jmacd commented on #437
Note the new `StateLocker` type in #438 will help here. :tada:

[2020-03-11 07:53] jmacd opened #539 "Prepare to remove `LabelSet`"
There are three parts to this ticket to prepare the SDK for removing `LabelSet` from the API, as specified in https://github.com/open-telemetry/oteps/pull/90.

1. As mentioned [here](https://github.com/open-telemetry/opentelemetry-go/pull/523#discussion_r390606417), there is a TODO about replacing the `[]core.KeyValue` slice by a `Get(int) core.KeyValue` interface so that the array representation

[2020-03-11 17:41] krnowak commented on #477
This is done. The supplier interface is still in works on the specification side.

[2020-03-11 17:41] #477 closed

[2020-03-11 18:50] jmacd opened #540 "Remove metric kind-dependent options"
These Metric options were removed in the 0.3 specification:
- WithMonotonic
- WithAbsolute
- WithNonMonotonic
etc.

These should be removed, which will help us remove a few unsafe type conversions.

[2020-03-11 21:49] #109 closed

[2020-03-11 21:49] evantorrie opened #542 "Extend plugin/othttp handler to collect metrics as well as traces"
The `plugin/othttp` middleware currently extracts trace ids and context from an incoming HTTP request, creates a new Otel span and augments it with [attributes culled from the request and response](https://github.com/open-telemetry/opentelemetry-go/blob/master/plugin/othttp/handler.go#L31-L41 ).

Many systems, including the [Opencensus http plugin](https://github.com/census-instrumentation/opencen

[2020-03-11 23:07] jmacd opened #543 "Remove dogstatsd exporter"
This code should move to a contrib or vendor repository.

I had pursued the idea of putting together a specification for statsd + labels like dogstatsd, but I couldn't find much support for this idea. Dogstatsd, while it is widely used outside of Datadog, does not have a specification that we can use.

[2020-03-12 02:03] alexandre-normand commented on #487
I'm going to drop this [branch here](https://github.com/open-telemetry/opentelemetry-go/compare/master...alexandre-normand:add-partial-support-for-histograms-in-prometheus-exporter?expand=1) here in case that would be helpful to anyone who would be looking to work on this.

I stopped working on it when realizing that my use case would be better served by summaries rather than histograms. If anyone

[2020-03-12 03:21] #540 closed

[2020-03-12 08:45] wingyplus commented on #487
Sorry for didn't replied for a long time. I'll have time slot to looking into it in this weekend. :D

@alexandre-normand Thanks for your suggestion.

[2020-03-12 13:37] lizthegrey commented on #543
where does this put things like Telegraf that are officially maintained by InfluxDB but in reality are used by everyone?

[2020-03-12 15:18] jmacd commented on #543
My feeling is that statsd+labels is a very useful protocol and we should support it.

I've engaged in private conversations, trying to find anyone that will produce a viable statsd+labels protocol spec. Even "plain" statsd lacks a proper specification, and I would support a plain statsd exporter too, although I think it it less useful in practice--and it's wasteful to encode labels into the metric

[2020-03-12 16:52] #476 closed

[2020-03-12 17:18] rghetia commented on #453
@jmacd will find someone to take this. Might be done after the milestone.

[2020-03-12 17:21] #312 closed

[2020-03-12 22:43] #437 closed

[2020-03-12 22:43] #535 closed

[2020-03-13 18:21] MrAlias opened #549 "Batch Metrics Exported From the OTLP Exporter"
The OTLP Exporter needs to batch the `ResourceMetrics` it sends to from the collector.

This batching needs to be by Resource (#515) and by Labels (https://github.com/open-telemetry/opentelemetry-go/pull/544#discussion_r392043768).

Blocked by #515

[2020-03-13 18:42] #377 closed

[2020-03-13 19:17] #507 closed

[2020-03-13 20:06] rghetia commented on #515
@MrAlias do you have bandwidth to take this?

[2020-03-13 20:07] #516 closed

[2020-03-13 20:09] jmacd commented on #448
I think I would be OK with `trace.Context`.

[2020-03-13 20:34] MrAlias commented on #515
@rghetia: yeah, sounds good.

[2020-03-13 23:06] rghetia commented on #515
Thanks a lot.

[2020-03-14 01:26] MrAlias opened #553 "Support Resource in the Prometheus Exporter"
Resources were added to the default SDK in #552 . They need to be integrated in the export workflow of the Prometheus exporter.

[2020-03-14 01:27] MrAlias opened #554 "Support Resource in the STDOUT Exporter"
Resources were added to the default SDK in #552 . They need to be integrated in the export workflow of the stdout metric exporter.

[2020-03-14 01:29] MrAlias opened #555 "Support Resources in the dogstatsd Exporter"
Resources were added to the default SDK in #552 . They need to be integrated in the export workflow of the dogstatsd exporter.

Resolution of this issue is blocked by the decision in #543

[2020-03-14 01:30] MrAlias commented on #549
Blocked by #552

[2020-03-15 05:13] Aneurysm9 commented on #499
The `httptrace.ClientTrace` implementation is useful, though it could perhaps be moved to the contrib repo.  Otherwise +1.

The existing plugins are used in the examples, so rewriting the examples to use the `propagation` package directly would be in order.

[2020-03-16 13:47] krnowak commented on #499
It's useful, that's for sure, so it would stay. I mostly meant the `httptrace.go` part.

[2020-03-16 17:54] rghetia opened #559 "Add support for exemplars"
For histogram aggregation add support for collecting at least one SpanContext for each histogram bucket. This is essentially, [exemplars](https://github.com/open-telemetry/opentelemetry-proto/blob/e76584d22418e37ae9a1ee782ce56ae7e2651ccf/opentelemetry/proto/metrics/v1/metrics.proto#L269) in metrics proto. Although exemplars are not limited to SpanContext.

[2020-03-16 21:55] tigrannajaryan opened #561 "OTLP exporter does not comply with throttling and retrying specification"
OTLP requires clients to honor server-requested throttling and retry logic. See protocol specification:
 - Result code - https://github.com/open-telemetry/oteps/blob/master/text/0035-opentelemetry-protocol.md#result-code
- Throttling - https://github.com/open-telemetry/oteps/blob/master/text/0035-opentelemetry-protocol.md#throttling

We also have an ongoing PR that changes how exactly this informa

[2020-03-16 23:34] #496 closed

[2020-03-17 02:39] evantorrie opened #562 "OLTP exporter should check return value from checkpointSet ForEach()"
#557 changed the `CheckpointSet.ForEach()` interface to

   * return an error from `ForEach`
   * allow the function passed to `ForEach()` to also return an error

The OLTP `ForEach()` code should be modified to reflect this change in error reporting behavior.  Currently it ignores any error returned from `ForEach()` (it could for example, return `ctx.Err()` from the record function handler in ord

[2020-03-17 02:45] evantorrie opened #563 "Prometheus Collect() should check return value from CheckpointSet ForEach"
#557 changed the `CheckpointSet.ForEach()` interface to

   * return an error from `ForEach`
   * allow the function passed to `ForEach()` to also return an error

The Prometheus `Collect()` makes use of `CheckpointSet.ForEach()` to iterate over the records. This code should be modified to reflect the change in error reporting behavior. For example, `ErrNoData` values could be returned from each o

[2020-03-17 02:56] evantorrie commented on #346
A few things changed since the original report of this issue.

#557 addressed most of https://github.com/open-telemetry/opentelemetry-go/issues/346#issuecomment-558761379.  With the new `StateLocker` lock-free approach, the problem of inconsistent values in a a multi-valued lock-free aggregate (e.g. `MinMaxSumCount`) is no longer present.

In addition, `ErrNonMonotoneInput` fell into disuse in v0.

[2020-03-17 07:12] jmacd commented on #346
Done!!! Thank you.

[2020-03-17 07:12] #346 closed

[2020-03-17 07:38] jmacd opened #564 "Last-value-wins for Observer results"
The specification says that the last-value observed for a `LabelSet` wins.

I had tried to specify this here:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-metrics.md#time

I am trying to strengthen this statement here:
https://github.com/open-telemetry/oteps/pull/88/files#diff-1fcf43b7ca9433b41b2223a40826906dR57

There is a TODO here about it:
https:/

[2020-03-17 15:34] jmacd commented on #559
I have feelings. https://github.com/open-telemetry/opentelemetry-proto/issues/81

[2020-03-17 23:49] MrAlias opened #568 "Update W3C Correlation Context Header"
Based on [this](https://github.com/open-telemetry/opentelemetry-specification/pull/517), we need to ensure we to use the header name `otcorrelationcontext` instead of `Correlation-Context`.

[2020-03-18 21:41] tigrannajaryan commented on #561
https://github.com/open-telemetry/oteps/pull/65 is now merged.

[2020-03-19 16:33] MrAlias opened #570 "Remove `GetDescriptor` method from SDK"
[This method](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/sdk.go#L674) was added to accommodate local testing, but is an exported method accessible outside of the package. Returning access to the underlying descriptor, an object we hope to treat as immutable, is not something we want to do.

The internal testing (AFAIK the stress test is the only test that relies on t

[2020-03-19 17:45] Aneurysm9 commented on #536
There was discussion regarding whether `Option` should be a function or an interface.  I think there may be situations where an `Option` might require more than a bare function, so I would propose the following types:

[code]

Then simple options can be implemented in functions and wrapped with `OptionFunc`:

[code]

[2020-03-19 18:13] krnowak commented on #536
One place where bare functions weren't enough was in metrics options for instruments. We used to have three kinds of instruments (counters, gauges and measures). They had some common options (like `WithUnit` or `WithDescription`). They also had their own specific options (like measure had `WithAbsolute`). Some of them shared some option name (like gauge and counter had `WithMonotonic` option). Thi

[2020-03-19 18:27] rghetia opened #571 "coverage report is 0% if the test file is in a different package"
The test for api/trace/b3_propagator.go has the test file in api/trace/testtrace/b3_propagator_test.go
As a result the [coverage](https://1530-187086161-gh.circle-artifacts.com/0/opentelemetry-go-test-output/coverage.html#file25) is 0%.

[2020-03-19 19:25] evantorrie commented on #542
See some related discussion to this in https://github.com/open-telemetry/opentelemetry-specification/issues/381

[2020-03-20 15:31] MrAlias commented on #114
This no longer looks relevant. Feel free to reopen if that is incorrect.

[2020-03-20 15:31] #114 closed

[2020-03-20 15:58] #515 closed

[2020-03-20 17:07] #571 closed

[2020-03-20 22:27] bogdandrutu opened #577 "Consider TraceId/SpanId to implement Stringer interface?"
Currently we use `SpanIdString()` https://github.com/open-telemetry/opentelemetry-go/blob/master/api/core/span_context.go#L174, but if we rename that to just `String` fmt will print that nicer :)

[2020-03-21 00:19] #570 closed

[2020-03-21 05:22] #510 closed

[2020-03-22 21:45] evantorrie commented on #564
I've read the current spec on [aggregations](https://github.com/open-telemetry/opentelemetry-specification/blob/4ab7c2fb4964c14fe972b03b5bb6825573bafb24/specification/api-metrics.md#aggregations) and [OTEP 88](https://github.com/open-telemetry/oteps/pull/88/files#diff-1fcf43b7ca9433b41b2223a40826906dR53), and am still a little confused.

The current spec says the SDK default aggregator for Observe

[2020-03-23 10:53] krnowak opened #581 "Version string in `sdk/opentelemetry.go` needs update"
Looks like it's not covered by our release scripts.

[2020-03-23 16:18] krnowak opened #583 "Document how files are generated and maybe automate it"
We have some generated files in the repo. Some of them are generated during `make precommit` (like `api/core/numberkind_string.go` by the stringer utility). But some of them were generated just once and just lay there:

- example/grpc/api/hello-service.pb.go
  - documented in example/grpc/README.md, seems to work, but I had to build `protoc-gen-go` first myself.
- exporters/trace/jaeger/internal/g

[2020-03-23 16:22] krnowak opened #584 "Add a script that bumps the version deps in go.mod files"
Would be nice if we could automatically update the direct dependencies in all go.mod files. I imagine it as:

- `bump-deps.sh` to find all the direct deps in all go.mod files and bump them to the latest release
- `bump-deps.sh google.golang.org/grpc` to bump the grpc dependency in all go.mod files to its latest release
- `bump-deps.sh google.golang.org/grpc:v1.28` to bump the grpc dependency in al

[2020-03-23 19:59] rghetia opened #585 "Update otlp proto dependency to v0.3.0"
Update the proto dependency to [v0.3.0](https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.3.0)

[2020-03-23 20:52] rghetia opened #587 "Add Library Info to trace/metric provider"
- create default library info for trace/metric provider.
- include this in the resource
- update OTLP exporter to use the library info.

[2020-03-23 22:03] jmacd commented on #564
I mistakenly filed this issue without emphasizing that the current specification will be replaced with the much-more-specified (hopefully) behavior described in OTEP 88, [here](https://github.com/open-telemetry/oteps/pull/88/files?short_path=1fcf43b#diff-1fcf43b7ca9433b41b2223a40826906d), where we refer to a "Last value relationship" instead of a "Last value" aggregation by default. IOW I got ahea

[2020-03-23 22:10] jmacd commented on #564
@krnowak this is a discussion related to your remarks in https://github.com/open-telemetry/opentelemetry-go/pull/560

We should wait until OTEP 88 is merged into the specification before moving forward on this. There is a question of how to actually implement the behavior too. The easy solution involves a new map. I am guessing it will be less overhead to sort and de-duplicate, re-using a temporar

[2020-03-24 15:45] #585 closed

[2020-03-24 16:30] #539 closed

[2020-03-24 17:05] rghetia opened #589 "update release script to sign the tag"
also remove tag_latest_modules.sh

[2020-03-24 17:20] jmacd opened #590 "Remove LabelSet"
As discussed in https://github.com/open-telemetry/oteps/pull/90

[2020-03-24 17:43] #581 closed

[2020-03-24 17:54] #514 closed

[2020-03-24 18:01] #543 closed

[2020-03-24 18:01] #555 closed

[2020-03-25 16:04] #527 closed

[2020-03-26 17:14] rghetia commented on #577
Make sure that structure for print is inline with logging efforts.

[2020-03-26 17:18] MrAlias commented on #577
From our SIG meeting: the ask is to possibly add a separate method `String` instead of replacing this method. The point being that this method might produce the string in a protocol format.

Ideally the `String` method will conform to the function @rghetia describes.

[2020-03-26 17:19] rghetia commented on #542
It would be good to have standard metrics defined for http for plugins in the spec.

[2020-03-26 17:25] rghetia commented on #411
Closing this as it is not part of the specification.

[2020-03-26 17:25] #411 closed

[2020-03-26 17:26] rghetia commented on #401
please open a spec issue.

[2020-03-26 17:26] #401 closed

[2020-03-26 17:33] #261 closed

[2020-03-26 17:36] rghetia commented on #186
closing stale issues.

[2020-03-26 17:36] #186 closed

[2020-03-26 17:38] rghetia commented on #185
stale issue.

[2020-03-26 17:38] #185 closed

[2020-03-26 17:39] rghetia commented on #182
taken care of with resources. if anything missing open a new issue.

[2020-03-26 17:39] #182 closed

[2020-03-26 17:41] rghetia commented on #152
@Aneurysm9 to look at it.

[2020-03-26 17:43] rghetia commented on #128
Closing stale issue.

[2020-03-26 17:43] #128 closed

[2020-03-26 17:44] rghetia commented on #125
closing unless spec defines it.

[2020-03-26 17:44] #125 closed

[2020-03-26 17:44] rghetia commented on #111
closing this unless it is mandated by the specification.

[2020-03-26 17:44] #111 closed

[2020-03-26 17:48] kcq commented on #522
@jmacd are you suggesting to remove the Prometheus exporter functionality from the client library and rely on the collector to export to Prometheus?

[2020-03-26 17:49] rghetia commented on #110
stale issue.

[2020-03-26 17:49] #110 closed

[2020-03-26 17:50] rghetia commented on #83
stale issue.

[2020-03-26 17:50] #83 closed

[2020-03-26 17:51] rghetia commented on #75
@rghetia to check if this is needed.

[2020-03-27 04:12] jmacd opened #598 "Batch span processor "parallel span generation" test flake"
See
https://github.com/open-telemetry/opentelemetry-go/pull/595#issuecomment-604765828

It looks like the batch span processor is sending a batch larger than its maximum size,
[code]
so that for some timings the test will fail.

[2020-03-27 16:43] jmacd commented on #598
I will take this.

[2020-03-27 23:21] #598 closed

[2020-03-27 23:22] #590 closed

[2020-03-27 23:22] jmacd commented on #590
Resolved by #595

[2020-03-31 03:53] #589 closed

[2020-04-01 10:22] inigohu commented on #72
Any updates about otgrpc plugin?

[2020-04-01 13:48] seh opened #609 "Starting a new span from a context.Context is too laborious"
After using the _opentelemetry-go_ library for a few days, I find it to be tediously verbose compared to my touchstone: [Honeycomb's _beeline-go_ library](https://github.com/honeycombio/beeline-go). My focus is on the task I perform most frequently in my code: **starting a new span from a `context.Context`**.

In _opentelemetry-go_ today, the call sequence looks approximately like either
[code]
or

[2020-04-01 13:50] seh commented on #609
For those with access to the "Honeycomb Pollinators" Slack team, we discussed this topic over the last few days [in the "discuss-opentelemetry-beta" channel](https://honeycombpollinators.slack.com/archives/CNQ943Q75/p1585502985026000).

[2020-04-01 21:36] #487 closed

[2020-04-02 15:02] Oncilla commented on #577
@rghetia can you point me to what the logging efforts are?

[2020-04-02 16:53] rghetia commented on #609
The intention was to have tracer work like a logger in each component.

[code]

[2020-04-02 16:57] rghetia commented on #577
Log SIG recently started and is looking into supporting logs in OpenTelemetry. This [doc](https://docs.google.com/document/d/1cX5fWXyWqVVzYHSFUymYUfWxUK5hT97gc23w595LmdM/edit#heading=h.lro8kgalys10) has some relevant links.

[2020-04-02 19:08] seh commented on #609
Thank you for the suggestion, @rghetia, and for the follow-on discussion on today's SIG call. I'll try using this pattern and report back here shortly.

[2020-04-02 23:25] MrAlias commented on #549
Blocked by https://github.com/open-telemetry/opentelemetry-go/pull/613. That is needed to reliably associate a Resource telemetry even when it is not the same Go value.

[2020-04-02 23:51] #564 closed

[2020-04-03 10:35] glerchundi commented on #72
Why was this issue closed? I think the decision to go through interceptors is a implementation detail but the feature request to create an interceptor/plugin still applies, right?

[2020-04-03 17:00] rghetia commented on #72
reopening this as requested above.

[2020-04-04 13:27] reicheltp commented on #72
I am currently implementing those interceptors for our company. I'll send a PR as soon as they're ready.

[2020-04-04 19:15] marwan-at-work opened #616 "othttp: Allow dynamic span name based on URL Path or a functional option"
Hi there :wave:

I'm starting to replace OpenCensus Tracing with OpenTelemetry Tracing now that OT is in beta.

The first problem I'm running into is migrating [ochttp](https://pkg.go.dev/go.opencensus.io@v0.22.3/plugin/ochttp?tab=doc) into [othttp](https://pkg.go.dev/go.opentelemetry.io/otel/plugin/othttp?tab=doc)

One thing I found a bit difficult to replicate is that othttp.NewHandler takes an

[2020-04-04 19:32] marwan-at-work commented on #616
For reference, I have two branches ready for a PR for both options:

1. Option 1 PR https://github.com/marwan-at-work/opentelemetry-go/pull/new/616-1
2. Option 2 PR https://github.com/marwan-at-work/opentelemetry-go/pull/new/616-2

[2020-04-05 01:24] Aneurysm9 commented on #616
+1 for https://github.com/marwan-at-work/opentelemetry-go/pull/new/616-3

[2020-04-05 03:05] marwan-at-work commented on #616
Great, I opened a PR for it and I'm happy to adjust.

[2020-04-05 21:13] seh commented on #609
The pattern that @rghetia has been working well for me. Thank you for the advice.

For now, I don't see the `Tracer`'s name emitted in any span attributes. Is there any plan to do so?

[2020-04-06 14:10] vmihailenco opened #620 "Small inconsistencies in Resource API"
`resource.New` returns `*Resource` but `metric.WithResource` accepts `Resource` so it is not possible to do `metric.WithResource(resource.New(...))` which is strange. `Resource.Equal` also expects `Resource`. `trace.Config` has `Resource *resource.Resource`.

Also perhaps `trace.WithResourceAttributes` should be replaced with `trace.WithResource` to be consistent with `metric.WithResource`?

And f

[2020-04-06 15:37] #616 closed

[2020-04-07 16:22] #152 closed

[2020-04-07 17:58] #563 closed

[2020-04-08 16:57] hypnoglow opened #624 "[Jaeger exporter] BufferMaxCount inconsistency - is actually about bytes"
[BufferMaxCount](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/trace/jaeger/jaeger.go#L47) documentation says that it defines the total number of traces that can be buffered in memory, but it is assigned to [bundler.BufferedByteLimit](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/trace/jaeger/jaeger.go#L143) which is about a number of bytes:

[2020-04-08 17:20] evantorrie opened #625 "Reimplement MinMaxSumCount aggregator using mutex rather than lock-free atomic algorithm"
Per prototype #600, aggregators which update multiple values atomically (and in particular those which make use of CompareAndSet atomics) have better performance when implemented using a single mutex to protect updates across the multiple values, rather than trying to use the `stateLocker` implementation (ref #535 ).

To begin with, the `MinMaxSumCount` aggregator should be tackled first
We should

[2020-04-09 17:32] rghetia opened #628 "restore binary propagator"
Binary propagator was dropped in #467. It is required from compatibility with opencensus. [ocgrpc](https://github.com/census-instrumentation/opencensus-go/blob/46dfec7deb6e8c5d4a46f355c0da7c6d6dc59ba4/plugin/ocgrpc/trace_common.go#L42) use binary propagation.

[2020-04-09 17:34] MrAlias opened #629 "Add timestamp to collected metrics"
During each collection a controller needs to record the timestamp of the collection as a timestamp  for all measurements.

[From the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/bdf39cb935a6f48badc687daeb78a66dc352761f/specification/metrics/api.md#time):

[2020-04-09 17:39] MrAlias opened #630 "Add library version option"
Currently the metrics API supports definition of a [library name](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/metric/api.go#L48). A named meter provider should be configurable with a version option on the `Meter`s it creats.

[2020-04-10 23:48] jmacd opened #633 "Metric Observer API changes for batch reporting"
As discussed in the 4/9/2020 Metrics SIG meeting, I will prototype a OTel-Go solution for the problem described here: https://github.com/open-telemetry/opentelemetry-specification/issues/549

[2020-04-13 07:55] den3yx opened #636 "Any way to get ParentSpanID and Name from apitrace.Span or something alike?"
While I access **span** in client app codes, I'd like to get **ParentSpanID** and **Name** info, but only **SpanData** in `go.opentelemetry.io/otel/sdk/export/trace/trace.go` exposes those.

Can you please tell me how to get those info?

[code]

[2020-04-13 09:10] ohmytel commented on #636
@den3yx Hi, I got the same problem, you may check this commit from my fork: https://github.com/ohmytel/opentelemetry-go/commit/f32d59c56faca1c04419f906f1d4cdb92cf1d872

[2020-04-13 09:12] den3yx commented on #636
@ohmytel Okay, thanks! But I still want to know if there's any official support for this or any plans in the blue print?

[2020-04-13 09:58] Zwiefront opened #637 "Simple way to trace with HTTP client in Go"
To trace with http client in OpenCensus:

[code]

As per OpenTelemetry demo code in [the workshop materials](https://glitch.com/edit/#!/opentelemetry-instructor?path=src/main.go:1:0):

[code]

It's kinda complicated, and every request should be injected like this.

Can you please provide any compatible ways like the old `ochttp.Transport`?

[2020-04-14 21:16] jmacd opened #638 "Per-instrument metric resources: OK or non-standard?"
I was reflecting on how we handle Resources in the metrics pipelines and we haven't added support in the exporters yet. I noticed that we support resources on a per-instrument basis or fall-back to the SDK's resources. I wonder if this is "off spec"? I would note that Prometheus supports "constant labels" which is roughly the same, so maybe it's fine.

The question came about because I'm trying to

[2020-04-14 21:39] jmacd commented on #638
One of the glaring points is that the `api/metric` package is importing the `sdk/resource` package. The API shouldn't have this dependency, so either we move Resource into the API or remove per-instrument resources. I think the spec would say we shouldn't have resources in the API.

[2020-04-14 23:15] jmacd commented on #638
@bogdandrutu Please review.

[2020-04-15 02:18] shouri007 commented on #577
@MrAlias I'd like to take this up.

[2020-04-15 03:56] MrAlias commented on #577
All yours @shouri007 :smile:

[2020-04-15 19:04] #549 closed

[2020-04-17 02:02] shouri007 commented on #620
@MrAlias I'd like to take this up, if that's ok.

[2020-04-17 03:24] Aneurysm9 commented on #637
I've started work on an `http.Transport` implementation in the `othttp` package.  I hope to have a PR up with a first pass by next week.

[2020-04-17 03:39] Aneurysm9 commented on #636
@den3yx can you describe the use case?  With the exception of retrieving the `SpanContext` and determining if the span is recording the spec treats spans as write-only black boxes.  I think the assumption is that instrumentations would only modify spans that they had created and thus would have all span data available from other sources.

[2020-04-17 16:58] MrAlias commented on #620
@shouri007 : https://github.com/open-telemetry/opentelemetry-go/pull/640 addresses this issue (not sure @jmacd realized it). I'm not sure if you already started this work, but you'll probably want to coordinate with @jmacd .

[2020-04-17 17:08] moorara opened #643 "How to export metrics and traces to OpenTelemetry Agent or Collector?"
I can find examples of exporting metrics directory to Prometheus and traces directory to Jaeger. How can I export metrics and traces to an OpenTelemetry agent or a collector cluster and then export from collector to Prometheus and Jaeger?

[2020-04-17 20:50] MrAlias commented on #620
@shouri007 : looks like #640 was closed. This is all yours.

[2020-04-17 21:30] bogdandrutu commented on #638
Currently based on the specs there is one resource per SDK instance (metric provider), see here https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#resource-sdk.

[2020-04-18 06:09] shouri007 commented on #620
Alright, thanks! Will start working on it.

[2020-04-19 01:58] moorara opened #646 "How to set buckets for Prometheus exporter?"
When using the Prometheus exporter, what's the equivalent way of setting buckets?
Or maybe I should, how could we create a **histogram** metric for Prometheus?

[2020-04-19 03:47] shouri007 commented on #577
@MrAlias Can we close this issue as it's resolved now?

[2020-04-20 14:45] #577 closed

[2020-04-21 16:22] moorara opened #652 "Prometheus exporter is incomplete"
It seems the metric exporter for Prometheus is not yet complete. Specifically, I noticed the following features are missing:

   - [ ] Histogram metrics
   - [ ] Metric names are not namespace with the name passed to `Meter`
   - [ ] Labels are not reported

Is there any ongoing work to address these issues? If not, I can start working on them.

[2020-04-21 16:23] moorara commented on #646
Mentioned #652

[2020-04-21 16:23] #646 closed

[2020-04-22 20:34] seh opened #655 "api/trace: Neither B3.Extract nor TraceContext.Extract stack properly after other HTTPExtractors"
Used on its own, `api/trace.B3` works as an `api/propagation.HTTPExtractor` to consume HTTP headers. However, if nominated for use in a chain after another extractor such as `api/trace.TraceContext`, the `B3` extractor clobbers the context produced by the earlier extractor.

Consider the following configuration:
[code]
If we receive an HTTP request with [the W3C Trace Context "traceparent" header]

[2020-04-23 17:36] jmacd opened #657 "Complete removal of StateLocker"
There is a proof of concept here:
https://github.com/open-telemetry/opentelemetry-go/pull/600

This change should be applied to the MMSC and Histogram aggregators.

[2020-04-23 17:36] jmacd commented on #657
@paivagustavo FYI

[2020-04-23 17:43] jmacd commented on #638
This will happen after #640 is re-done following #651.

[2020-04-23 17:46] jmacd commented on #637
We agree this will be good to improve on.

[2020-04-23 20:07] #72 closed

[2020-04-24 16:39] jmacd opened #661 "Support resources in Prometheus exporter"
Resources have been introduced to the metrics export pipeline, but have not yet been added for the Prometheus exporter. Resources, I believe, will translate into "const labels" in Prometheus.

[2020-04-24 21:05] rghetia opened #663 "Release new version v0.4.3"
Stackdriver exporter would like to use sdk/resource api.

[2020-04-24 22:24] #663 closed

[2020-04-24 22:53] jmacd opened #665 "Golang Lint tool corrupts files in `--fix` mode on unused types"
Sample input:
[code]

Command used: `golangci-lint run --fix file.go`

Contents of file after running the above command:
[code]

[2020-04-27 12:54] krnowak commented on #665
Filed an issue to upstream (https://github.com/golangci/golangci-lint/issues/1048) and worked the bug around in #666.

[2020-04-27 18:16] ernado commented on #665
Please try golangci-lint [v1.25.1](https://github.com/golangci/golangci-lint/releases/tag/v1.25.1).
I've fixed invalid `--fix` suggestions from `unused` and added a warning.

[code]

[2020-04-27 18:28] #665 closed

[2020-04-27 18:37] #655 closed

[2020-04-27 18:51] jmacd commented on #633
This is now under review:
open-telemetry/opentelemetry-go#634

[2020-04-28 06:04] jmacd commented on #652
Hi @moorara,
Sorry about the confusion. To these three points:
(1) Histogram is used for `Measure` instruments by default. What version did you test with?
(2) OTel has decided that `Meter` names are not to be treated as namespaces, those names are meant to identify the instrumenting library. This allows us to swap libraries that report the same metric. See https://github.com/open-telemetry/opentel

[2020-04-28 06:04] #652 closed

[2020-04-28 06:05] jmacd commented on #620
I believe this was done in #651, which factored the metric label set code out and used it to implement resources. Sorry for the confusion.

[2020-04-28 06:05] #620 closed

[2020-04-28 06:06] jmacd commented on #638
The same has been done in the OTLP protocol.

[2020-04-28 06:06] #638 closed

[2020-04-28 06:07] jmacd commented on #554
Done.

[2020-04-28 06:07] #554 closed

[2020-04-28 06:07] jmacd commented on #661
This is a duplicate of #553.

[2020-04-28 06:07] #661 closed

[2020-04-28 06:11] vmihailenco commented on #620
Thanks!

[2020-04-28 17:17] tensorchen opened #673 "traceparentHeader should be "traceparent" not "Traceparent""
https://w3c.github.io/trace-context/#header-name

Header name: traceparent

In order to increase interoperability across multiple protocols and encourage successful integration, by default vendors SHOULD keep the header name lowercase. The header name is a single word without any delimiters, for example, a hyphen (-).

Vendors MUST expect the header name in any case (upper, lower, mixed), and SHOU

[2020-04-29 01:27] #625 closed

[2020-04-29 08:03] vmihailenco opened #676 "Replacing http.read_bytes with net.read_bytes"
Currently othttp plugin uses `http.read_bytes` to report number of read bytes. I want to add something similar to DB spans - `db.read_bytes`. Would it make sense to replace `http.read_bytes` & `db.read_bytes` with `net.read_bytes` and add it to semantic conventions? Using one name would allow back-ends to automatically provide some aggregations & charts.

[2020-04-29 14:16] lufia opened #677 "RecordBatch panics if creates measurement before InstallNewPipeline"
The code below will panic with `interface conversion: metric.SyncImpl is *internal.syncImpl, not *metric.syncInstrument`.

[code]

Should I keep to install the exporter before creating any instruments?

### environment

- Go: 1.14
- GOOS: darwin
- GOARCH: amd64
- otel: v0.4.3

[2020-04-29 16:21] krnowak commented on #665
@ernado : We now use 1.25.1 and it seems to work. Thanks!

[2020-04-29 19:54] MrAlias commented on #676
This issue is better suited for [the specification](https://github.com/open-telemetry/opentelemetry-specification) if it is about changing or settling on semantic conventions. If that is the case, @vmihailenco, can you close this issue and create one in that repo?

My two cents are that it is ideal to understand the scope the bytes are being read from and the more general term of `net` is less use

[2020-04-29 20:06] MrAlias commented on #677
Full output reproducing the above error with the same sample program:

[code]

[2020-04-29 20:17] #637 closed

[2020-04-29 23:13] #677 closed

[2020-04-30 02:19] tensorchen commented on #673
I'd like to take this up.

[2020-04-30 06:18] vmihailenco commented on #676
I understand that this eventually should be in the specification - just wanted to check if there is any interest.

[2020-04-30 06:18] #676 closed

[2020-04-30 15:05] stefanprisca opened #682 "Index out of bounds when using gRPC UnaryCallInterceptor"
I tried out the new gRPC UnaryClientInterceptor, and got this error when making a call from the client:

I believe that the issue is with the [regexp](https://github.com/open-telemetry/opentelemetry-go/blob/d7b3c3d7e7a7c56e9bfa6aa40d03d75e78e3dd3f/plugin/grpctrace/interceptor.go#L429) used to extract the service name from the full gRPC method name:
`^/\S*\.(\S*)/\S*$` which seems to look for a ful

[2020-04-30 15:57] jmacd commented on #673
Thanks!

[2020-04-30 15:57] #673 closed

[2020-04-30 16:11] MrAlias opened #684 "Add tests to the grpctrace package"
We'll need to be sure to add the tests to cover the failure case identified in #682

[2020-04-30 16:18] MrAlias opened #685 "Fix Flaky CircleCI Builds"
The Circle CI build system randomly fails to build packages. For example:

- https://circleci.com/gh/open-telemetry/opentelemetry-go/2145
- https://circleci.com/gh/open-telemetry/opentelemetry-go/2133
- https://circleci.com/gh/open-telemetry/opentelemetry-go/2130

The package that fails to build is not consistent, meaning it is not always the same package that fails. An example failure message:

[

[2020-04-30 16:46] Aneurysm9 opened #686 "B3 Propagator doesn't handle 64-bit TraceIDs"
The [B3 spec](https://github.com/openzipkin/b3-propagation#traceid-1) allows for both 64-bit and 128-bit `TraceID`s, but does not specify how to handle interop between systems that produce/expect different length IDs.

The [Otel-Go B3 propagator](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/trace/b3_propagator.go#L92) uses [`core.TraceIDFromHex()`](https://github.com/open-tel

[2020-04-30 16:47] jmacd commented on #686
@MikeGoldsmith @codeboten would you comment? I believe you've studied this.

[2020-04-30 16:47] lizthegrey commented on #686
Please escalate this to the Spec SIG, as we need to consistently handle this across all of OTel.

[2020-04-30 17:07] mujtaba-ahmed12 commented on #684
I am picking up this as first task.

[2020-04-30 17:31] stefanprisca commented on #682
I'm looking now at the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/rpc.md) and it says that

Is this some hard requirement? Because in this case there might be something wrong on my side (maybe when generating the grpc packages?)

[2020-04-30 18:02] MrAlias commented on #682
It looks like the spec is incorrect in that normative assertion. [The gRPC protocol](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#appendix-a---grpc-for-protobuf) does not define the service name in that fashion. It seems like an added restriction of the OpenTelemetry specification, and I don't think it is justified.

I'll open an Issue there.

[2020-04-30 18:43] evantorrie commented on #685
Looks like the Go linker is being randomly killed due to OOM. Since OOM killer is inherently a "random" selector, it would explain why this is flaky. Is it possible to upgrade to a bigger docker container to see if that does indeed "fix" the issue?

[2020-04-30 18:45] moorara opened #689 "Buckets should be defined at instrument level"
## Context

Currently, when using Prometheus exporter, _buckets_ are set when creating and initializing a Meter and we have to know ahead of time if we want buckets to use `Int64` boundaries or `Float64` boundaries.

## Problem

The boundaries we define is a function of the instrument we measure. Depending on **the type of instrument** and **what the instrument measures**, we need to define differ

[2020-04-30 18:47] moorara commented on #652
Hi @jmacd,

Thanks for explaining. I can confirm with the latest release of opentelemetry-go, these issues are addressed, however there's a bigger issue IMO. I opened the following issue for tracking it.
https://github.com/open-telemetry/opentelemetry-go/issues/689

[2020-04-30 19:46] MrAlias commented on #685
@lizthegrey would you know if upgrading our testing instance size is okay?  Seems like it is a simple addition of the [resource_class](https://circleci.com/docs/2.0/configuration-reference/#available-machine-images) property?

[2020-04-30 20:16] #685 closed

[2020-04-30 21:15] #657 closed

[2020-04-30 21:56] jmacd commented on #689
There are several questions and answers here.

----

OpenTelemetry Metrics is explicitly moving away from instruments named for the action they perform, and moving toward instruments named for how they are used. There is no `Histogram` instrument, which is part of the reason buckets can't be configured at the instrument level. In the forthcoming 0.4 metrics specification, there will be two instrum

[2020-05-01 01:27] Aneurysm9 commented on #686
I actually think that the spec provides enough to consistently handle the issue, so I'll not open an issue against the spec repo, but I will add it to the agenda for the next Spec SIG meeting so we can discuss.

I think that between [the trace API spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#spancontext) declaring that "[t]he OpenTeleme

[2020-05-01 04:40] SergeyKanzhelev commented on #686
Some relevant discussion: https://github.com/w3c/trace-context/issues/349 I agree, we need consistency on whether short Trace-ID should be accepted

[2020-05-01 13:34] htdvisser opened #691 "grpctrace addEventForMessageSent tries to type-assert nil to proto.Message"
The unary server interceptor for gRPC panics when I return an error from my handler:

[code]

My suggested fix is to add a "message" event for the status proto if `err != nil` instead of adding an event for `resp` (which is `nil`).

[code]

I can submit a pull request later.

@mujtaba-ahmed12 maybe good to add a test case for this too when you work on #684.

[2020-05-01 14:22] stefanprisca commented on #684
Added some tests for #682 in PR #683 . Maybe we can merge them together into these :)

[2020-05-02 14:56] tensorchen opened #693 "zipkin TestExporterSpans fail"
run `make precommit`

[code]

[2020-05-02 14:59] tensorchen commented on #693
In `startMockZipkinCollector` function, If I change `net.Listen("tcp", ":0")` to `net.Listen("tcp", "127.0.0.1:0")` or `net.Listen("tcp", "[::1]:0")`, it works normally.

[2020-05-02 17:24] Aneurysm9 commented on #693
I'm not able to reproduce on WSL Ubuntu 18.04 and the CircleCI tests have not reproduced this.  Can you provide any information about your configuration that might be different?  A `502` response indicates that something is intercepting the request, perhaps an anti-virus system with a "transparent" HTTP proxy?

[2020-05-02 18:14] Aneurysm9 commented on #624
I don't think this is incorrect.  The exporter is using the bundler package in perhaps a slightly unorthodox way, but it [documents this where the bundler is constructed](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/trace/jaeger/jaeger.go#L139-L144)

And when a [span is added to the bundle](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/trace/j

[2020-05-02 18:18] Aneurysm9 commented on #609
I'm not aware of any current plans, nor am I aware of any reason not to do so.  If you'd like to open a new issue with a proposal we can discuss at a future SIG meeting.

I'm going to close this issue as it appears to have been addressed.

[2020-05-02 18:18] #609 closed

[2020-05-04 19:38] romilpunetha opened #877 "Have a ForwardPropagator for istio"
When using Otel with istio, the following seems to break the traces:

A --> envoyA(sets headers) --> envoyB(checks and forwards headers) --> B -> Otel(updates spanId and parentSpanID) --> envoyB(checks and updates headers) --> envoyC(checks and forwards headers) -->C

When Otel performs substitution in headers, envoy does it too for all outgoing requests, and sets the parentSpanId to the spanId cr

[2020-05-04 19:58] kevinjqiu commented on #682
I'm hitting this issue as well.  Is there a workaround in the meantime?

[2020-05-05 15:07] tedsuo commented on #686
+1 for left padding with zeros

[2020-05-05 16:59] sudeep-ib commented on #72
The attached PR #621, addresses tracing but does not implement stats. Is there a roadmap to including the stats plugin in opentelemetry. Is there an Issue that tracks it, or we could re-open this one?
@rghetia @jmacd

[2020-05-05 17:06] rghetia commented on #72
@sudeep-ib please open a new issue for stats.

[2020-05-05 17:06] lizthegrey opened #699 "Documentation for api/metric still mentions WithKeys which no longer exists"
https://pkg.go.dev/go.opentelemetry.io/otel@v0.4.3/api/metric?tab=doc

[2020-05-05 17:52] tensorchen commented on #693
@Aneurysm9 Yes, there is an HTTP proxy in my environment. Every time before `make precommit`, I need `unset http_proxy`

[2020-05-05 18:06] lizthegrey commented on #699
Resolved by #672

[2020-05-05 18:06] #699 closed

[2020-05-05 18:20] #686 closed

[2020-05-05 20:50] #693 closed

[2020-05-07 02:21] #682 closed

[2020-05-07 13:39] tensorchen opened #703 "Move Number from core package into api/metric package"

[2020-05-07 13:41] tensorchen opened #704 "Move KeyValue from core package into key and rename key to kv"

[2020-05-07 14:52] #371 closed

[2020-05-07 15:07] MrAlias commented on #704
@tensorchen can you provide some context around what you are trying to achieve and what is motivating this?

[2020-05-07 15:09] MrAlias commented on #703
@tensorchen can you provide some context around what you are trying to achieve and what is motivating this?

[2020-05-07 16:10] tensorchen commented on #703
Consider splitting package `api/core` in more meaningful packages. Package names are very important to readability, and core isn't great.

Finally, the core package is expected to be eliminated. Part of the job is move Number from core package into api/metric package

This relates to #261

[2020-05-07 16:11] tensorchen commented on #704
Consider splitting package api/core in more meaningful packages. Package names are very important to readability, and core isn't great.

Finally, the core package is expected to be eliminated. Part of the job is move `KeyValue` from `core` package into `key` and rename key to `kv`

This relates to #261

[2020-05-08 12:36] stefanprisca commented on #643
I started working on a prototype for this, and will try to write some docs and a proper example for illustrating it. At the moment I'm a bit stuck because of the otel-collector issue [#815](https://github.com/open-telemetry/opentelemetry-collector/issues/815).

As a quick example for exporting traces to Jaeger, assuming you have the otel-collector and Jaeger running:
1) add the `otlp` receiver to

[2020-05-08 17:14] jmacd opened #707 "Change Register*Observer to New*Observer"
There is not a meaningful distinction between "New" and "Register" which are used for registering synchronous and asynchronous metric instruments. This issue proposes to replace "Register" with "New".

Since these methods both pass through the SDK, the SDK can keep a registry if it likes.

[2020-05-09 02:17] moorara opened #708 "How to model Prometheus Gauge in OpenTelemetry language?"
## Use-Case

I want to have an instrument similar to Prometheus Gauge metric to measure the number of in-flight request. Basically, on each request I need to increase and once the request is handled, decrease it. The aggregation is also should be _last value_ I believe.

Any suggestion how can I approach this use-case?

[2020-05-09 17:23] moorara commented on #708
I can see OpenTelemetry spec has define an `UpDownCounter` instrument, but I cannot figure out how to implement it using OpenTelemetry Go SDK.

[2020-05-11 16:25] jmacd commented on #708
The 0.4 specification has not been formally released yet, and the language SDKs are not caught up yet. #709 is the key next step toward adding the new instruments, after which I plan to add multi-observer support (see #634), followed by the new instruments.

[2020-05-11 16:39] #703 closed

[2020-05-11 21:32] MrAlias opened #714 "Unify Meter registry in registry package."
Currently the Meter keeps its own registry to track uniqueness. This functionality should be unified in the `registry` package.

_Originally posted by @MrAlias in https://github.com/open-telemetry/opentelemetry-go/pull/709/files_

[2020-05-11 21:33] lizthegrey opened #715 "0.5.0 release?"
we've gone 17 days without a release, we should probably push something out.

[2020-05-11 21:34] MrAlias opened #716 "Move all Meter methods to `sdk.go`"
Currently there are methods for the Meter declared in `sdkhelpers.go`. Move these to `sdk.go`.

_Originally posted by @MrAlias in https://github.com/open-telemetry/opentelemetry-go/pull/709_

[2020-05-11 21:35] jmacd commented on #714
IOW we should create a simple implementation of `metric.Provider` in the `api/metric/registry` package. It should contain a `map[string]MeterImpl` and a `sync.Mutex` and the code in `api/global/internal/meter.go` should use it.

[2020-05-11 21:49] jmacd commented on #716
Ohhh. I think you mean to move these into a new file in the same `api/metric` package? Sounds good.

[2020-05-11 21:49] jmacd commented on #716
Actually, if that's what you mean, I suggest `meter.go`

[2020-05-13 05:30] dackroyd commented on #275
Resolved by the linked PR?

[2020-05-13 05:39] dackroyd opened #718 "Support for array of span attributes"
Support for attribute arrays does not appear to be implemented (yet?), but is covered by the spec:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#set-attributes

I'd imagine the API for this looking something like the following for each primitive type:

[code]

[2020-05-13 07:50] #275 closed

[2020-05-13 09:23] stefanprisca commented on #718
Is this what you are looking for?
https://github.com/open-telemetry/opentelemetry-go/blob/88100f0fc752e57cc52e16ef2b4f3d520f0abc74/sdk/trace/provider.go#L200

[2020-05-13 10:57] dackroyd commented on #718
I don't believe so? `provider.WithResourceAttributes` (like `span.SetAttributes`) allows multiple _distinct_ key/values to be set, with values being overridden if there is a clash.

What I'm understanding for the 'array' support in the spec is that it should be possible for the values to accept primitive arrays for a **single** key, e.g:

[code]

https://github.com/open-telemetry/opentelemetry-spe

[2020-05-13 22:38] Aneurysm9 commented on #715
I think #720 should land before we ship 0.5.0 so that we've got the core package elimination complete.  @jmacd are there any metrics PRs that should really land before the next release is cut?

[2020-05-13 22:45] jmacd commented on #715
Since you ask, it would be nice to land #717 which has one approval already.

[2020-05-13 23:06] #704 closed

[2020-05-13 23:27] #633 closed

[2020-05-13 23:32] jmacd commented on #715
We are ready to make a release.

[2020-05-13 23:57] MrAlias commented on #715
We haven't hit all the milestone items set for v0.5.0 yet.

I'm going release v0.4.4 instead. Unless there are objections?

[2020-05-14 00:10] MrAlias commented on #715
To better mark the breaking changes, switching back to v0.5.0. I'll rename the milestone after the release.

[2020-05-14 01:05] MrAlias commented on #715
https://github.com/open-telemetry/opentelemetry-go/releases/tag/v0.5.0

[2020-05-14 01:05] #715 closed

[2020-05-14 17:30] MrAlias commented on #718
The ask from the SIG meeting today was to make this more universal:

- Allow `nil`, nulls.
- Allow all "primitive" types.
- Allow maps, slices, and maybe structs.

This might need to update the specification to be in compliance if the above are included.

[2020-05-14 17:36] jmacd commented on #636
The OTel spec does not permit this sort of access to properties of the Span. I can see how it is useful to know the parent span ID or the name of a span via the context, especially for debugging purposes. I would definitely be willing to copy such fields into the SpanContext and let them be accessed, however I think this requires a spec-level discussion.

[2020-05-14 17:37] jmacd commented on #630
The Tracing SDK is probably in the same situation--lacking a version option in the Provider interface.

[2020-05-14 17:44] jmacd commented on #587
See https://github.com/open-telemetry/opentelemetry-proto/pull/150

[2020-05-14 20:10] #716 closed

[2020-05-15 17:47] evantorrie opened #728 "example/http docker-compose example does not build according to instructions"
From a clean checkout

[code]

results in a failed build

[code]

Perhaps a better approach would be to use something like `GOOS=linux CGO_ENABLED=0 go build ..` to create the binaries in the development environment, and then copy them into the alpine container rather than trying to do the go build inside the alpine image (where tools such as git don't exist, and the version of go is usually an ol

[2020-05-15 17:54] MrAlias opened #729 "Update Instruments to v0.4.0 Specification"
[The v0.4.0 Metric API](https://github.com/open-telemetry/opentelemetry-specification/blob/v0.4.0/specification/metrics/api.md) defines the following metric instruments need to be implemented:

| Name | Synchronous | Additive | Monotonic |
| ---- | ----------- | -------- | --------- |
| Counter           | Yes | Yes | Yes |
| UpDownCounter     | Yes | Yes | No  |
| ValueRecorder     | Yes | No  |

[2020-05-15 18:19] #568 closed

[2020-05-15 18:35] #277 closed

[2020-05-15 21:38] Aneurysm9 commented on #728
`FROM golang:alpine` should refer to the [latest Alpine Go image](https://hub.docker.com/_/golang), 1.14.3 at this time.  You may have an old image cached.  I know with `docker build` you can add the `--pull` option to tell it to pull images even if they exist in cache.  I'm not as familiar with Docker Compose to know where the analogous option would go.

[2020-05-15 22:23] MrAlias opened #730 "Semantic Conventions"
Currently we suport the v0.3.0 specification definition of resource semantic conventions, the v0.4.0 resource and trace (none for metric yet) need to be supported.

Ideally this would include moving the standard attribute names into the `api` package.

[2020-05-15 23:09] MrAlias commented on #584
I think [the `pre_release.sh` script](https://github.com/open-telemetry/opentelemetry-go/blob/c85f46389fc89e0c92a4b1a1e0174045ce955ddb/pre_release.sh) accomplishes this. Albeit with a different call pattern, but I think it's good enough to close this.

[2020-05-15 23:09] #584 closed

[2020-05-15 23:33] #684 closed

[2020-05-15 23:46] #730 closed

[2020-05-16 01:57] evantorrie commented on #728
Ah! Right you are.
The [docker mutable tag problem](https://medium.com/@tariq.m.islam/container-deployments-a-lesson-in-deterministic-ops-a4a467b14a03) strikes again.

I did find a version tagged with the go-version, i.e. golang:1.14-alpine.  So let me try using that in a PR just to make this more reliable.

[2020-05-16 04:53] #728 closed

[2020-05-16 22:33] youngbupark opened #735 "Prometheus example is panic (exporting histogram panic)"
## SDK version

 \>= 0.5.0

No issue with 0.4.3.

## Repro step

1. Run prometheus example - https://github.com/open-telemetry/opentelemetry-go/blob/master/example/prometheus/main.go

2. Browse localhost:2222 to see the metrics after 1 minute

## Expected Result

It should show the list of metrics on the browser without any panic.

## Actual Result

[code]

This panic caused because buckets.Counts

[2020-05-18 07:05] surajkjai commented on #735
I modified the last sleep statement for a 5 second sleep to avoid the reported crash. A curl of the endpoint localhost:2222 does not produce any output.

~/opentelemetry-go/example/prometheus$ curl -vvv localhost:2222/
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to localhost (127.0.0.1) port 2222 (#0)

< HTTP/1.1 200 OK
< Content-Type: text/plain; version=0.0.4; charset=utf-8
< Date: Mon

[2020-05-18 08:54] jmacd commented on #735
I was able to reproduce this, though. See #736.

[2020-05-18 16:44] #735 closed

[2020-05-18 17:49] #714 closed

[2020-05-18 20:13] MrAlias opened #741 "Batch Span Processor unit test failure"
From [the `current-go` build](https://circleci.com/gh/open-telemetry/opentelemetry-go/2513?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link):

[code]

Looks related to these change: https://github.com/open-telemetry/opentelemetry-go/pull/719

[2020-05-18 20:33] MrAlias commented on #741
Also affecting the prior-go build: https://circleci.com/gh/open-telemetry/opentelemetry-go/2517?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-checks-link

[2020-05-19 01:54] #691 closed

[2020-05-19 02:22] vvydier commented on #643
does this issue need any additional help? I would like to work on this as a first issue

[2020-05-19 05:35] stefanprisca commented on #643
I don't think think there is much left to do. There is already a PR (#711) with the demo application.

[2020-05-19 06:34] apmer opened #744 "how to transfer the application name?"
how to transfer the 'ServiceName'  with opentelemetry-go's exporters (otlp)?
Like this
[code]
Thanks !~

[2020-05-19 07:41] congim commented on #744
set service.name with Resource. Attributes,
key is conventions.AttributeServiceName(AttributeServiceName    = "service.name")
[code]

[2020-05-19 17:01] jmacd commented on #741
The unittest for the batch span processor has been disabled, since it has been difficult to decide on what level of synchronization is important solely for the purpose of testing this code. To restore this test, it should be weakened to match the existing guarantees.

[2020-05-19 20:43] MrAlias commented on #562
Fixed in https://github.com/open-telemetry/opentelemetry-go/pull/626

[2020-05-19 20:43] #562 closed

[2020-05-19 20:45] realdave opened #748 "Panic in gRPC StreamClientInterceptor"
Calling [`StreamClientInterceptor.CloseSend`](https://github.com/open-telemetry/opentelemetry-go/blob/c5f2252c4861ddcbc1bc56d4c53ce4c5e40e2d24/plugin/grpctrace/interceptor.go#L186) after the stream is finished results in a `send on closed channel` panic. I'm not certain if there is a legitimate reason for CloseSend to be called on the stream more than once, but believe the interceptor should avoid

[2020-05-19 23:40] MrAlias commented on #748
Avoiding panics sounds like a good idea :+1:.

I think the strategy you outlined sounds reasonable with the current design. I look forward to you PR :smile:.

[2020-05-20 00:20] jmacd opened #749 "Asynchronous instrument callbacks should check for validity"
Asynchronous instruments are meant to be used only from the callback they are associated with. The SDK should check this behavior, but currently it will accept instruments from other SDKs of the same type.

[2020-05-20 05:19] apmer commented on #744
ok. thanks

[2020-05-20 05:19] #744 closed

[2020-05-20 16:26] #643 closed

[2020-05-20 17:19] #729 closed

[2020-05-20 19:01] jmacd opened #753 "Replace sdktrace.WithResourceAttributes(...kv.KeyValue) with WithResource(*resource.Resource)"
There is an inconsistency between the tracing and metric SDK with regards to setting resources. It should be easier to share the same resource between both, so I think we should pass the resource object not a list of attributes.

[2020-05-20 21:04] MrAlias commented on #561
Going to setup a ServiceConfig for the trace and metric services with a retry policy something like this:

[code]

From reading [the docs](https://github.com/grpc/proposal/blob/master/A6-client-retries.md) it sounds like this will achieve both exponential backoff and support pushback (called throttling in the OTEP).

[2020-05-20 21:19] #753 closed

[2020-05-21 15:53] #748 closed

[2020-05-21 18:15] jmacd opened #759 "Use []float64 boundaries for all histograms"
The existing API suggests that you must pass Int64 []metric.Number to aggregate integer histograms, but the code is no so clear on that fact. This reduces confusion and possibly improves correctness (it looks like some of the tests pass by accident).

[2020-05-21 18:54] #534 closed

[2020-05-21 18:54] #759 closed

[2020-05-21 18:59] #553 closed

[2020-05-21 22:42] #707 closed

[2020-05-22 14:02] tigrannajaryan commented on #561
I think this will not result in exponential backoff. I believe it needs to be higher than 1.0 for exponential. I think we need something like 2.0 here.

This is the maximum interval between retries, right? This looks too low to me. Perhaps go a bit higher to avoid overloading already strained recipients. (e.g. in the scenario when thousands of senders send to a single Collector).

[2020-05-22 21:31] jackskj opened #763 "Add option to put proto payloads in span for certain methods."
Suggestions:
- Dump the entire proto message in the spawn (not just size).

- Trace fields with a particular option set to true. Example:
[code]

[2020-05-22 21:45] jackskj opened #764 "plugin/grpcmetrics: grcp interceptor for monitoring client/server"
Simplify grpc server/client stats collection through monitoring middleware.
Suggested metrics:
- received and sent messages for unary and/or streaming services
- response latency

[2020-05-23 01:27] morlay opened #765 "Use lowercase B3 header names and correct single header name"
for now trace.B3SingleHeader is a const value `X-B3`

but for some system, it need to be `b3` which following `https://github.com/openzipkin/b3-propagation`

![image](https://user-images.githubusercontent.com/1667873/82718767-1f954780-9cd7-11ea-8685-b0fc6abcdff6.png)
https://istio.io/faq/distributed-tracing/

[2020-05-26 17:46] jmacd commented on #391
Update: https://github.com/lightstep/tracecontext.go is being made private, the same code is available https://github.com/iredelmeier/tracecontext.go

[2020-05-26 17:55] MrAlias commented on #561
Agreed, these were more placeholders.

I was able to setup some test framework to try this out, but discovered that you can only enable retries by setting the `GRPC_GO_RETRY=on` environment variable at runtime. Not a big deal when actually running the exporter, but it makes this un-testable without updating the Makefile to include this var. Still thinking about this.

As for the config. I'm planni

[2020-05-26 20:17] jmacd opened #767 "Standard resource values needed"
There was a TODO in the -contrib repository about adding the Go version as a label on the runtime metrics. This seems like a label that should be applied on the resource.

For this ticket: identify resources that should be considered standard and provide helpers in the `/sdk/resource` package to build the standard resource values.

[2020-05-26 22:04] tigrannajaryan commented on #561
Ahh, pity. I am guessing most people won't benefit from this since they won't be bothered to find and enable this setting. Perhaps worth doing regardless.

Alternatively, borrow the implementation from the Collector: https://github.com/open-telemetry/opentelemetry-collector/blob/87af38a2467650e2e96b0f393fb69b974d467d62/exporter/otlpexporter/exporter.go#L87

The schedule looks good to me except the

[2020-05-26 22:33] jmacd opened #768 "Add BatchObserver.Start() method"
There is a potential race condition between an observe callback being called and new instruments being registered to it. One solution is to use a lock between the callback and the code that registers instruments, but that leaves a lot to the user.

Another option would be to return BatchObservers in an un-started state. Instruments can be added before calling Start() but not after. This will make

[2020-05-26 22:35] jmacd commented on #768
This is an example of the lock technique: https://github.com/open-telemetry/opentelemetry-go-contrib/pull/44/commits/448936c885b93f5cac4af548628ca015378532b4

[2020-05-28 17:12] MrAlias commented on #174
Possibly worth looking into adding a `global` error handler (to be useful prior to sdk registration).

[2020-05-28 17:55] MrAlias opened #771 "Add CHANGELOG.md"
The project needs a way communicate changes, especially any breaking ones, included in a release. The release process should be updated to include updating a CHANGELOG.md and including human readable changes there (https://keepachangelog.com/en/1.0.0/).

[2020-05-28 17:57] MrAlias opened #772 "Update contrib repo needs to be included in a release"
When a new release is made here it needs to be propagated to the relevant https://github.com/open-telemetry/opentelemetry-go-contrib repository. Guidelines for this need to be added to the RELEASING.md.

Relates to https://github.com/open-telemetry/opentelemetry-go-contrib/issues/45

[2020-05-28 18:44] dukeng opened #773 "Go should automatically detect GKE resource labels and send them to Stackdriver"
OpenTelemetry should detect GKE openCensus resources and send those resources to Stackdriver as span attributes.

Similarly, there has been a [mapping in OC](https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/master/RESOURCE.md#k8s_container) for this feature.

Related issue:
https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/issues/261

[2020-05-28 19:38] MrAlias commented on #773
OpenTelemetry provides a vendor agnostic approach in the core libraries it offeres. This seems like an issue better suited for [the Google Stackdriver exporter](https://github.com/GoogleCloudPlatform/opentelemetry-operations-go).

[2020-05-28 19:38] #773 closed

[2020-05-29 12:35] tensorchen opened #776 "using api/standard keys instead of custom keys"
For Example:

[code]

change into

[code]

[2020-05-30 19:07] toumorokoshi opened #780 "align opentelemetry instrumentation naming with specification"
Hi!

I recently worked with opentelemetry-specification to align on a standardized naming for instrumentations across languages. Here's the final result:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#instrumentation-libraries

And the PR where it was discussed:

open-telemetry/opentelemetry-specification#539

I think if go followed the specifi

[2020-05-30 21:53] #780 closed

[2020-06-01 13:51] dukeng opened #783 "Auto detection of GKE resource"
OpenTelemetry should detect GKE openCensus resources and send them to the desired collector/exporter.

OC has a [resource mapping](https://github.com/census-ecosystem/opencensus-go-exporter-stackdriver/blob/master/RESOURCE.md#k8s_container). We should consider the same feature for OT.

[2020-06-01 16:26] MrAlias commented on #776
I'm guessing there is more to clean up in addition to #782. @tensorchen do you have a concept of other things needed here, or is this ready to close?

[2020-06-01 18:59] #499 closed

[2020-06-01 19:28] mujtaba-ahmed12 commented on #718
@MrAlias I would like to work on this issue.

[2020-06-01 21:31] mujtaba-ahmed12 commented on #718
@MrAlias I am thinking of two ways of doing this.
1. Create generic method for array and check if its homogeneous array as done here in .NET implementation https://github.com/open-telemetry/opentelemetry-dotnet/pull/500/files#diff-61ad2bb28c6f75dcacf313e09a9b6488R840 and determine type at runtime.

[code]

2. Create separate method for each type.

[2020-06-02 01:22] james-bebbington opened #785 "Auto detect resource info"
**Background:**
Resource information can currently be added to tracer / meter providers or added in an exporter. It would be useful to have the option to automatically detect resource information from the host (e.g. from an environment variable or from aws, gcp, etc metadata) and use this rather than manually configuring resource information.

**Proposal:**
Implement a simple ResourceDetector inte

[2020-06-02 01:24] james-bebbington commented on #785
Note I am actually currently more interested in implementing this for the Collector, but expect that it would make more sense for this to live in the SDK so that custom detector code can be shared.

See similar issue in Collector repo: https://github.com/open-telemetry/opentelemetry-collector/issues/871
And related draft PR for discussion: https://github.com/open-telemetry/opentelemetry-collector/

[2020-06-02 01:51] nilebox commented on #785
Note that If we decide to implement this feature in the Go SDK, it should be consistently ported to other languages as well.

It would probably also make sense to document this as a language agnostic requirement in the spec then.

[2020-06-02 06:11] james-bebbington commented on #785
Yes good point. If we go with this proposal, then [this doc](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md) should presumably be updated. In hindsight, maybe I should have created this issue in the specs repo first?

[2020-06-02 12:28] iamgoangle opened #786 "Avoiding Memory Leak From Unclosed Response’s Body"
I'm using Zipkin for the exporter. I'm a bit curios about https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/trace/zipkin/zipkin.go#L109-L114

there is no `defer resp.Body.Close()` to avoid memory leak or consume the high resources in a server.

I'm quite not sure that this is a bug or not. Would you please help me to verify this?

[2020-06-02 15:34] MrAlias commented on #718
@mujtaba-ahmed12:

I think you could try to leverage the Go type system a bit more which already guarantees slice/array homogeneity. I haven't worked through the full example, but I imagine something like this would suffice:

[code]

I would probably support multi-level slices/arrays here because the spec is a bit vague about this (primitive type is not well defined (is it language specific?)) and

[2020-06-02 15:39] Aneurysm9 commented on #786
I'm not sure whether it's a memory leak or just a resource leak preventing connections in a pool from being reused, but it should definitely be read to `EOF` and closed.

[2020-06-02 15:41] jmacd opened #787 "Remove `trace.WithRecord()` trace start option"
The spec:
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#isrecording

Some history:
https://github.com/open-telemetry/opentelemetry-go/pull/223
#188
https://github.com/open-telemetry/opentelemetry-go/issues/192

The task is to implement `Span.IsRecording() bool` which returns true if the span is not a no-op.

[2020-06-02 15:45] tensorchen commented on #776
@MrAlias I have grep all the codes. Some case has not been processed.

1. sdk/trace/span.go
[code]

2. instrumentation/othttp/common.go
[code]

But these are not standardized in spec, and there is nothing to do at this stage.
I think it can be closed. If spec is updated, I will propose a new issue for follow-up.

[2020-06-02 15:58] MrAlias commented on #776
@tensorchen sounds good. Thanks for digging into this :smile: .

[2020-06-02 15:58] #776 closed

[2020-06-02 16:01] #786 closed

[2020-06-02 17:39] MrAlias opened #789 "Switch to gRPC retry middleware for retries in OTLP exporter"
Instead of using the gRPC service config, evaluate using the gRPC ecosystem middleware: https://github.com/grpc-ecosystem/go-grpc-middleware/tree/master/retry

_Originally posted by @nilebox in https://github.com/open-telemetry/opentelemetry-go/pull/777_

[2020-06-02 17:45] #561 closed

[2020-06-02 20:44] #174 closed

[2020-06-02 20:54] MrAlias commented on #767
Likely duplicated by https://github.com/open-telemetry/opentelemetry-go/issues/785

[2020-06-02 23:14] Aneurysm9 opened #792 "Jaeger exporter should honor environment variables"
The Jaeger exporter should utilize the [standard environment variables](https://github.com/jaegertracing/jaeger-client-go#environment-variables) used by other Jaeger clients to the extent that they make sense.  At a minimum that is probably the following:

* JAEGER_ENDPOINT
* JAEGER_USER
* JAEGER_PASSWORD
* JAEGER_TAGS
* JAEGER_DISABLED

[2020-06-03 00:29] nilebox opened #793 "Consider generating Go types for OTLP in this repo"
This will allow us to delete Go code from the `opentelemetry-proto` and make that repo cleaner in general.

See https://github.com/open-telemetry/opentelemetry-proto/issues/79#issuecomment-637881895 and the rest of the thread there.

[2020-06-04 00:57] jrcamp commented on #785
@james-bebbington I've commented on https://github.com/open-telemetry/oteps/pull/111, I assume we should focus our discussions there since there's multiple PR's and issues involved?

[2020-06-04 01:05] james-bebbington commented on #785
Yes sorry I meant to comment here earlier. I moved this to an OTEP so feel free to close this issue in the meantime.

[2020-06-04 06:47] HiveTraum opened #794 "CPU drain when using WithBatcher option"
highest CPU metric when deployed app with WithBatcher
![image](https://user-images.githubusercontent.com/10072401/83724051-13a37100-a659-11ea-90bb-e6b4fd1242b9.png)

Flame graph from pprof
![image](https://user-images.githubusercontent.com/10072401/83724275-6ed56380-a659-11ea-820c-ef53ccb731b2.png)

[2020-06-04 07:02] XSAM commented on #792
@Aneurysm9 I'd like to take this up.

[2020-06-04 15:19] MrAlias opened #795 "Merge the otel-collector and OTLP example"
The OTLP example includes examples of exporting metrics and the otel-collector example includes a full setup pipeline. They both exemplify how to export with the OTLP and could be merged into a unified example.

_Originally posted by @wtong98 in https://github.com/open-telemetry/opentelemetry-go/pull/790#issuecomment-638477641_

[2020-06-05 11:05] #794 closed

[2020-06-06 07:52] jan25 opened #797 "Merge http example README"
There are couple of http example README which can be merged:
1. https://github.com/jan25/opentelemetry-go/tree/master/example#example - Looks outdated, probably can be dropped as it talks about setting up GOPATH
2. https://github.com/jan25/opentelemetry-go/tree/master/example/http#http-client-server-example - This needs additional run instructions on how to run outside without docker-compose

[2020-06-08 18:39] evantorrie commented on #787
@jmacd Can you clarify this a little? I thought #188 did change/add the `IsRecording() bool` function to the Span interface and all implementations.

[2020-06-08 20:09] jmacd commented on #787
I realize that `IsRecording()` is implemented. I thought it had been removed.

[2020-06-08 20:10] jmacd commented on #787
Ah, the spec does not support a `WithRecord()` function that we currently have. It's the sampler's responsibility for deciding if a span records.

[2020-06-08 23:07] jmacd opened #800 "Inconsistency between trace and metric exporter helpers"
The metric exporters include functions named: "NewRawExporter" (except prometheus, since it doesn't implement the Exporter interface), "NewExportPipeline", and "InstallNewPipeline".

The Jaeger exporter has "NewRawExporter" and "NewExportPipeline" but not "InstallNewPipeline", instead it uses a boolean `RegisterGlobal` to indicate whether the pipeline should be installed as the global.

The Zipkin

[2020-06-08 23:40] jmacd opened #801 "Registry and factories for Exporters and Aggregators"
Any efforts to build a configurable SDK for tracing or metrics will have to directly link all their dependencies. This will create large binaries that include lots of unused code. For example, a configurable metric SDK might be able to apply the DDSketch algorithm, but it will be undesirable to include that code if it is not used.

We will need a way to locate exporters (Tracing and Metrics) and a

[2020-06-10 05:11] evantorrie commented on #772
Also see https://github.com/open-telemetry/opentelemetry-go-contrib/pull/52 and https://github.com/open-telemetry/opentelemetry-go-contrib/pull/60

[2020-06-11 16:46] wtong98 commented on #795
Sorry about the delay! I can go ahead and start putting this together

[2020-06-12 16:11] #630 closed

[2020-06-15 00:40] jon-whit opened #813 "Examples with Jaeger as the Exporter"
Are there any good examples of using the Jaeger exporter? It looks like the Jaeger exporter doesn't implement the `trace.SpanBatcher` interface's `ExportSpans` method. The Jaeger exporter only implements the `ExportSpan` method.

If not, does anyone have a good workaround in the meantime? I'm trying to write a blog post that demonstrates how to use OpenTelemetry in Go.

[2020-06-15 16:36] MrAlias commented on #813
The example code for Jaeger is located here: https://github.com/open-telemetry/opentelemetry-go/tree/master/example/jaeger

Your observation about the lack of implementation of the `SpanBatcher` is correct. I'm not sure if there is a way to optimize the batching with Jaeger more than doing [something similar to what was done with the OTLP](https://github.com/open-telemetry/opentelemetry-go/blob/ma

[2020-06-15 17:40] evantorrie commented on #789
The grpc-middleware retry interceptor does not provide the backoff function any information about the kind of error which the request received. According to the OTLP spec, the collector will send back throttling information in the grpc Status encapsulated in the error.

Not having this available to the backoff function would mean an inability to strictly comply with the OTLP spec.

However, I see

[2020-06-15 19:12] jon-whit commented on #813
@MrAlias awesome! Thanks for the reference.

[2020-06-15 19:12] #813 closed

[2020-06-18 20:00] jmacd commented on #708
I believe this will be resolved: https://github.com/open-telemetry/opentelemetry-go/issues/708

[2020-06-18 22:37] MrAlias opened #842 "Rename structs"
- `Integrator` -> `Processor` (related to https://github.com/open-telemetry/opentelemetry-specification/issues/659).
- `SynchronizedCopy` -> `SynchronizedMove` (a reset happens after the checkpoint is returned).
- `AggregationSelector` -> `AggregatorSelector`

[2020-06-18 22:39] jmacd commented on #842
"Simple" integrator -> "Basic" integrator too.

[2020-06-18 23:40] MrAlias commented on #708
@jmacd did you mean https://github.com/open-telemetry/oteps/pull/118?

[2020-06-19 16:20] moorara commented on #708
I was able to use the new `UpDownCounter` in `0.6.0` release and implement a gauge, so I close this.

[2020-06-19 16:20] #708 closed

[2020-06-20 08:33] AndrewGrachov commented on #542
Hi, we are adapting the opentelemetry now(our stack is both Golang and Nodejs),
so would like to contribute and take this

[2020-06-22 07:46] gunsluo opened #845 "use otlp push metric message to collector, message is that grpc: error unmarshalling request: proto: wrong wireType = 2 for field Temporality"
Additional context

The reason for the problem is that the client and server use different pb.go generation files.

grpc server of the collector(v0.4.0) use this file https://github.com/open-telemetry/opentelemetry-collector/blob/v0.4.0/internal/data/opentelemetry-proto-gen/collector/metrics/v1/metrics_service.pb.go

grpc client() use the file https://github.com/open-telemetry/opentelemetry-proto/

[2020-06-22 17:55] lizthegrey opened #846 "use github actions to auto-update dependabot branches"
we have (for good reason) "must be in sync with base" to merge, but this results in manual work when trying to merge dependabot updates.

[2020-06-22 21:24] evantorrie opened #849 "Consider upgrading github.com/golang/protobuf to google.golang.org/protobuf"
`github.com/golang/protobuf` which is used in most of the exporters has been superseded by `github.com/golang/protobuf`. However, there are some breaking API changes - which require us to go through and see what needs to be changed in our code to move to the new API.

[2020-06-22 21:32] evantorrie commented on #846
As I understand it, dependabot will try to rebase its own PRs so long as commits from "others" have not been made to the PR.

The mod-tidier github workflow is currently configured to run only when a PR branch is labelled with "dependencies".  My understanding (yet to be thoroughly vetted) is that

1.  dependabot creates the PR and then labels it with "dependencies".
2. The mod-tidier github workf

[2020-06-22 21:59] lizthegrey commented on #846
The problem is even if there isn't a conflict, it's necessary to merge. Dependabot knows how to rebase on conflict, but not if there are no conflicts.

[2020-06-22 22:58] MrAlias opened #851 "Remove Uint64NumberKind"
Based on [this correct observation](https://github.com/open-telemetry/opentelemetry-go/pull/840/files#diff-591199ebb7da6d31c749af6e0c126092R36), we should remove the `Uint64NumberKind`. Keeping the API precise and relevant is an important thing to achieve. Ideally this is prior to the GA release.

[2020-06-23 01:09] nilebox opened #852 "Upgrade OTLP exporter to opentelemetry-proto matching the opentelemetry-collector v0.4.0 release"
There were breaking changes in the OTLP protocol, making Go SDK incompatible with Collector v0.4.0.

This will fix the issue #845

Note that we should ideally wait for fix https://github.com/open-telemetry/opentelemetry-proto/issues/161 to update to the released version (though the commit hash is already known, so we can start with that).

[2020-06-23 12:21] stefanprisca commented on #768
I was looking a bit into this, and maybe I'm misunderstanding the issue, but there seems to be already an [Accumulator.asyncLock](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/sdk.go#L51) in place preventing this:

- [Accumulator.NewAsyncInstrument](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/sdk.go#L340) blocks the `asyncLock` while regist

[2020-06-23 12:47] tensorchen opened #860 "Support export telemetry through OTLP/HTTP protocol"
See https://github.com/open-telemetry/oteps/blob/master/text/0099-otlp-http.md.

In some special environments, we can only use the http protocol. For example, the external network connects to the internal network.

That would be great if this feature is supported.

[2020-06-23 18:20] MrAlias opened #862 "Investigate Refactor of simple Integrator Process function"
TODO: as seen in lengthy comments below, both the `current` and `delta` fields have multiple uses depending on the specific configuration of instrument, exporter, and accumulator.  It is possible to simplify this situation by declaring explicit fields that are not used with a dual purpose.  Improve this situation?

1. "delta" is used to combine deltas from multiple accumulators, and it is also use

[2020-06-23 19:00] #842 closed

[2020-06-23 23:28] #851 closed

[2020-06-24 00:32] nilebox commented on #860
Implementation on the collector side for reference: https://github.com/open-telemetry/opentelemetry-collector/pull/1021

[2020-06-24 02:22] tensorchen commented on #860
May I work on this?

[2020-06-24 15:23] MrAlias opened #869 "Add array support to OTLP exported attributes"
There are also now array and key-value map types in OTLP: https://github.com/open-telemetry/opentelemetry-proto/blob/e43e1abc40428a6ee98e3bfd79bec1dfa2ed18cd/opentelemetry/proto/common/v1/common.proto#L35-L36

_Originally posted by @nilebox in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0NDM4ODYyNDEx/pull_requests/unread_timeline_

[2020-06-24 21:02] #845 closed

[2020-06-24 21:02] #852 closed

[2020-06-24 21:06] jmacd commented on #768
The race I am concerned about will happen if the batch observer callback is invoked between calls to NewAsyncInstrument. If the callback executes before all the instruments are created, some of them will be nil. It's a good thing that lock is there, but there could still be a race between reading the value in the observer callback and writing the value returned by the constructor, since the lock h

[2020-06-24 22:58] #718 closed

[2020-06-25 05:08] jmacd opened #872 "Improve metric test helpers for instrumentation"
There is a test helper in `internal/metric` used by a few of the tests in this repository. They're not great tests from a readability standpoint, but this is the only facility provided to test instrumentation with a mock Meter.

There is a better test helper used internally in a number of tests, `sdk/metric/processor/test.Output`, which makes for reasonably concise and readable tests. Something si

[2020-06-25 12:48] stefanprisca commented on #768
I see the issue now. There is a [test](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/correct_test.go#L538) for uninitialized instruments  already.

In my opinion, there should be a `BatchObserver.Start` method to be explicit about its behavior. Otherwise it can be a bit confusing and lead to unexpected use-cases. And I would go a bit further to say that the whole proces

[2020-06-26 01:32] gunsluo opened #874 "OTLP of the latest version don't send trace message to opentelemetry-collector v0.4.0"
Describe the bug
I use the following example to send trace messages to opentelemetry collector server.(https://github.com/open-telemetry/opentelemetry-go/tree/master/example/otel-collector)

Steps to reproduce
https://github.com/open-telemetry/opentelemetry-go/tree/master/example/otel-collector

Follow the above document to configure and run the program.

What did you expect to see?

What did you

[2020-06-26 12:25] zeyadkhaled opened #875 "OTLP exporter not exporting ValueRecorder & ValueObserver to Prometheus backend"
**Describe the bug**
I am using an OTLP exporter and metrics pusher with otel-collector with a Prometheus exporter and Logging exporter.
In the Logging exporter, all collected metrics are showing but in Prometheus backend, only ValueCounter instrument values are showing.

I am using the latest otel-collector-contrib image and running it alongside a demo service, some DBs, latest Prometheus image u

[2020-06-26 15:39] #771 closed

[2020-06-26 15:57] bogdandrutu commented on #877
I think Istio is in GO so moved there, if that is not the case please let me know.

[2020-06-26 15:58] andrewhsu commented on #877
From our triage session today, this issue seems like it would be more suitable for opentelemetry golang sig which is why it was moved.

[2020-06-26 19:19] #542 closed

[2020-06-29 14:28] AndrewGrachov commented on #872
Will take it

[2020-06-29 15:43] jmacd commented on #875
I believe this is a known issue addressed by https://github.com/open-telemetry/oteps/pull/118. The ValueRecorder and ValueObserver events are becoming Summary values in Prometheus, and we will change this default behavior to Gauge. Can you look for a `_sum` metric w/ the same name prefix?

[2020-06-29 16:27] AndrewGrachov commented on #872
Found quite nice test implemetations here, so it could be just moving things around and small  tests refactor.

https://github.com/open-telemetry/opentelemetry-go/blob/master/api/global/internal/meter_test.go#L116

What you would say @jmacd @Aneurysm9 ?

[2020-06-29 17:24] MrAlias commented on #877
[The default tracer](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/global/internal/trace.go#L117-L133) is a [No-Op tracer](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/trace/noop_trace.go), it should implement the behavior you are describing.

@romil-punetha are you registering a non-No-Op tracer in your code? Do you have a link to the service code you ar

[2020-06-29 22:16] Aneurysm9 commented on #877
I'm not sure that I understand the request here.  [`Propagators`](https://pkg.go.dev/go.opentelemetry.io/otel@v0.7.0/api/propagation?tab=doc) provide a mechanism for extracting trace context data from, and injecting it into, metadata carriers such as HTTP headers.  Those need to be used by an integration with a transport mechanism, such as those provided by the [othttp package](https://pkg.go.dev/

[2020-06-29 22:25] Brandon-Kimberly opened #880 "Proposal: Use GitHub Actions for CI/CD"
This issue is in reference to [issue 398](https://github.com/open-telemetry/community/issues/398) posted on the community repository. In this issue, we are proposing that all OpenTelemetry repositories *consider* using GitHub Actions as their CI provider in order to maintain consistency across the various language repositories.

The overall proposal was discussed in the OpenTelemetry maintainers S

[2020-06-30 10:48] zeyadkhaled commented on #875
I just updated to the newest version of OTEL v0.7.0. Now in the logging exporter the captured metrics are shown correctly:
[code]

However, still in prometheus I only get to see the counter instruments output:

[code]

[2020-06-30 10:52] zeyadkhaled commented on #875
Also 2 issues appeared after updating to 0.7.0

- Suddenly the service that initialized the exporters starts outputting:
[code]

- I think this is related with the first issue. For counter values, only the latest value is captured in Prometheus and the old ones are erased. What I mean is for the same instrument `versionsvc_api_hit_count`  I only ever get the value 1.

[2020-06-30 15:12] jmacd commented on #875
I will investigate. Thank you for reporting this!

[2020-06-30 15:52] jmacd commented on #875
Can you double-check that you're running the 0.7 release? I ask because the `push.Stateful()` method has disappeared in 0.7. I suspect the "exporter disconnected" bit is related to the breaking OTLP change that hit us in this release cycle.

[code]

[2020-06-30 15:59] MrAlias commented on #587
Resolved by #802 #805 #811

[2020-06-30 15:59] #587 closed

[2020-06-30 17:59] MrAlias commented on #765
[From the B3 specification](https://github.com/openzipkin/b3-propagation#multiple-headers):

We should use the lowercase form of the headers to ensure compatibility. Similar to[ what the zipkin library does](https://github.com/openzipkin/zipkin-go/blob/master/propagation/b3/shared.go#L36-L44).

We might want to look into just using that library to support the B3 spec.

[2020-06-30 18:12] MrAlias commented on #877
Might be a duplicate of #765

[2020-06-30 18:14] MrAlias commented on #765
Also, we definitely need to fix the single header name (`X-B3` -> `b3`).

[2020-06-30 18:18] zeyadkhaled commented on #875
I can confirm that as of my previous comment about the `exporter disconnected` I am using 0.7 release and I did need to remove push.WithStateful() while writing the previous comment.

[2020-06-30 20:51] evantorrie commented on #877
The Istio control plane is written in Go, but the data plane including Envoy is in C++.

This is not the first time I've heard an ask like this regarding Istio.

I believe the "distributed tracing via the Service Mesh" is often one of the selling points of Istio, i.e. just auto-inject this Envoy sidecar proxy into every k8s pod, and it will handle distributed tracing for you. What sometimes isn't

[2020-06-30 21:22] Aneurysm9 commented on #877
I question whether providing a "passthrough headers" mechanism for Istio is something this project should concern itself with.  I believe that the effort required to configure any passthrough mechanism would be equivalent to the minimal effort required to actively participate in the trace.  The user would need to configure a propagator to be invoked on every incoming request or use an integration

[2020-06-30 22:15] jmacd commented on #875
Would you state the OTel-Collector version that you tested with, just to help isolate this?

[2020-07-01 00:43] evantorrie commented on #877
Yes, that's fair enough. It does seem like maintenance effort for something that most devs would end up just switching eventually to the span creation + trace exporter approach.  It may seem more daunting due to the still nascent documentation, so perhaps a blog post on OpenTelemetry in Istio would help explain that the increased amount of effort to get full internal span generation is minimal com

[2020-07-01 01:21] #765 closed

[2020-07-01 06:31] zeyadkhaled commented on #875
I tested this using `otel/opentelemetry-collector:latest` which happens to be `v0.4.0`

[2020-07-01 18:42] jmacd commented on #875
@zeyadkhaled I tried to reproduce your example, and got stuck at the `gomigrate` step. Where does this tool come from?

[2020-07-01 20:14] zeyadkhaled commented on #875
You can find it in this readme
https://github.com/zeyadkhaled/openversion/blob/master/internal/sqlfiles/README.md

gomigrate was just an alias I created I think it goes under the name migrate

On Wed, 1 Jul 2020 at 9:42 PM Joshua MacDonald <notifications@github.com>
wrote:

[2020-07-01 23:03] jmacd commented on #875
Thanks. I un-stuck myself on that point, and now managed to get everything running, but _no_ metrics are arriving and I'm trying to diagnose the problem. (This is a good exercise for me, so I'll just keep at it.)

[2020-07-02 07:08] nilebox commented on #874
@gunsluo Note that OpenTelemetry Collector has just released `v0.5.0`, which includes breaking changes after updating to OTLP v0.4.0 - Go SDK has already been updated to it: https://github.com/open-telemetry/opentelemetry-go/blob/f1e3536baf79c9bd53f7f676c3bb3a9e4adf0bae/exporters/otlp/go.mod#L10

So latest releases of Go SDK and Collector should have OTLP compatibility again.

[2020-07-02 07:56] firefixmaarten opened #886 "Issues using metrics + OTEL collector + prometheus exporter"
using:
the go.opentelemetry.io/otel 0.7.0 package
the otel collector 0.5.0 as receiver:
[code]
[code]
Seems to result in sending only the changed metrics in last interval. If is set it to sleep 0 seconds between them (send all at once), it seems to push the correct accumulated values and both metrics (with different labelsets):
[code]
It seems to only show the latest send metric in the prometheus

[2020-07-02 08:28] zeyadkhaled commented on #875
I don't know if I should open a new issue for this or not. But I updated to the latest 0.5.0 version of collector and 0.7.0 of otel, and now in addition to the problem `"Recorder and Observer values are missing"` now the counter metrics are being overwritten with every new incoming value.

I created a branch for this issue to be able to reproduce it:

https://github.com/zeyadkhaled/openversion/tre

[2020-07-02 10:26] raphaelzoellner opened #887 "Prometheus Exporter Example"
### Description (What happened)
While running the metrics example for the prometheus exporter from [here](https://github.com/open-telemetry/opentelemetry-go/tree/master/example/prometheus), I noticed the following:

After all meter.Records in `main.go` have happened (~10s)
Calling the metrics endpoint `http://localhost:2222/metrics` yields the following expected prometheus metrics:
[code]

After s

[2020-07-02 15:41] joivo commented on #93
Is that still active?

[2020-07-02 15:46] jmacd commented on #875
I don't think we need a new issue. There are now several well-known release coordination problems between the collector's OTLP protocol and the various language SDKs. I will work toward fixing this in the latest configuration, and thanks for the branch.

[2020-07-02 16:03] jmacd commented on #875
One thing I'm aware of, in this code, is the call to `simple.NewWithExactDistribution()` has to be replaced `simple.NewWithInexpensiveDistribution()` for the OTLP metric exporter. The OTLP exporter supports only Sum and MinMaxSumCount aggregation in the current release.

I apologize, but the OTLP protocol is really unstable and one of the issues is that we haven't sorted out how to represent raw d

[2020-07-02 17:34] jmacd commented on #886
I believe this is a duplicate of #875

[2020-07-02 17:36] jmacd commented on #887
This is not expected behavior. I will take this.

[2020-07-02 19:10] jmacd commented on #875
I stumbled over a few more issues while debugging this, and I now think that the only necessary change in the client side is to switch to `simple.NewWithInexpensiveDistribution`. This encodes a `SummaryDataPoint` in OTLP which I see printed in the logging exporter on the collector side. (Related improvements: see https://github.com/open-telemetry/oteps/pull/117 and https://github.com/open-telemetr

[2020-07-02 19:17] jmacd commented on #875
I've reported an issue in the collector to hopefully reduce the number of people who stumble into this, while we fix it.

https://github.com/open-telemetry/opentelemetry-collector/issues/1255

[2020-07-02 20:03] jmacd commented on #887
(I was able to reproduce this.)

[2020-07-02 20:10] zeyadkhaled commented on #875
If you find an issue that might be a good first issue, I would more than love to help and contribute.

[2020-07-02 20:10] firefixmaarten commented on #886
It seems indeed the same sort of issues, will follow up on those issues, thanks for the pointers

[2020-07-02 20:11] MrAlias opened #888 "Add semantic convention for `faas.coldstart` to the `api/standard` package"
| Attribute name | Notes and examples                                           | Required? |
| :------------- | :----------------------------------------------------------- | --------- |
| `faas.coldstart` | A boolean indicating that the serverless function is executed for the first time (aka cold start). | No |

Related to https://github.com/open-telemetry/opentelemetry-specification/pull/650

[2020-07-02 20:18] MrAlias opened #889 "Add semantic convention for `container.id` to `api/standard` package"
| Attribute name | Notes and examples                                           | Required? |
| :------------- | :----------------------------------------------------------- | --------- |
| `container.id` | Container id. Usually a UUID, as for example used to identify Docker containers. The UUID might be abbreviated. | `a3bf90e006b2` |

Related to https://github.com/open-telemetry/opentelemetry-sp

[2020-07-02 20:22] MrAlias opened #890 "Add semantic conventions for http content size to the `api/standard` package"
| Attribute name | Notes and examples                                           | Required? |
| :------------- | :----------------------------------------------------------- | --------- |
| `http.request_content_length` | The size of the request payload body in bytes. This is the number of bytes transferred excluding headers and is often, but not always, present as the [Content-Length][] header. F

[2020-07-02 20:26] MrAlias opened #891 "Add semantic conventions for process resource to `api/standard` package"
| Attribute  | Description  | Example  | Required |
|---|---|---|--|
| process.pid | Process identifier (PID). | `1234` | Yes |
| process.executable.name | The name of the process executable. On Unix based systems, can be set to the `Name` in `proc/[pid]/status`. On Windows, can be set to the base name of `GetProcessImageFileNameW`. | `otelcol` | See below |
| process.executable.path | The full pa

[2020-07-02 20:31] MrAlias opened #892 "Add `peer.service` semantic convention to `api/standard` package"
|  Attribute name |                                 Notes and examples                                |
| :-------------- | :-------------------------------------------------------------------------------- |
| `peer.service`  | The [`service.name`](../../resource/semantic_conventions/README.md#service) of the remote service. SHOULD be equal to the actual `service.name` resource attribute of the re

[2020-07-02 20:34] MrAlias opened #893 "Extend semantic conventions for RPC in `api/standard` package"
| Attribute name |                          Notes and examples                            | Required? |
| -------------- | ---------------------------------------------------------------------- | --------- |
| `rpc.system`   | A string identifying the remoting system, e.g., `"grpc"`, `"java_rmi"` or `"wcf"`.       | Yes |
| `rpc.service`  | The full name of the service being called, including its

[2020-07-02 20:35] MrAlias opened #894 "Revise and extend semantic conventions for databases in `api/standard` package"
Implement the changes in https://github.com/open-telemetry/opentelemetry-specification/pull/575

[2020-07-02 21:04] MrAlias commented on #793
Notes from last week's SIG meeting:

Current thinking is to build a generation pipeline to take the proto code and check the generated output into a sub-(go-)module.

[2020-07-02 21:05] MrAlias commented on #795
closed by #841

[2020-07-02 21:05] #795 closed

[2020-07-02 21:15] MrAlias commented on #886
Closing to unify on #875. Please reopen if this is determined to not be a duplicate.

[2020-07-02 21:15] #886 closed

[2020-07-02 21:17] MrAlias commented on #874
@gunsluo I'm going to close based on what @nilebox pointed out. If you upgrade and still have issues, please reopen.

[2020-07-02 21:17] #874 closed

[2020-07-02 21:27] MrAlias commented on #501
https://github.com/open-telemetry/opentelemetry-specification/pull/671 merged with the added clarification:

This clarifies `1` directly.

As for `2`, it seems implied that extracting both, though not optimal, is what the specification assumes to be done.

[2020-07-02 22:54] MrAlias commented on #93
It is still a goal across OpenTelemetry to provide backwards compatible support with OpenCensus. Though, this is not prioritized work here currently.

[2020-07-03 06:16] tensorchen opened #895 "OTLP: trace event time conversion from internal to otlp error"
current

[code]

should

[code]

[2020-07-03 07:13] zeyadkhaled commented on #875
I tried to upgrade the OTEL version on the master of my repo, `which uses for the Metrics pipeline a Prometheus receiver and Prometheus exporter and in the code uses a Prom Exporter and the OTLP exporter is just used for traces`, and realized after sending a request the counter of `api.hit` for example starts from `"0" not from 1` and starts doubling every 5 seconds almost and it infinitely keeps

[2020-07-03 16:14] jmacd commented on #875
@zeyadkhaled Yes, you've discovered a duplicate of https://github.com/open-telemetry/opentelemetry-go/issues/887. I am investigating this.

[2020-07-03 17:08] jmacd commented on #887
I've identified the problem and have a solution, but in testing this fix I discovered another problem with Prometheus export semantics.  The current `sdk/metric/processor/basic` code addresses the need to maintain cumulative sums from delta metric inputs, and this issue was caused by updates being applied that were stale as a result of no events happening.

The immediate fix for this issue address

[2020-07-03 21:31] Aneurysm9 commented on #501
It seems that the [correlation context propagator](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/correlation/correlation_context_propagator.go#L68) may be the only implementation that needs to change.  Both the [B3](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/trace/b3_propagator.go#L87-L89) and [W3C](https://github.com/open-telemetry/opentelemetry-go/blo

[2020-07-04 14:23] vmihailenco opened #897 "Invalid HTTP status code 0"
http.Handler that does not explicitly sets HTTP status code gets following attributes:

[code]

At least the status message looks wrong because Go uses  `200 OK` status code when status code is not explicitly set. So the status code is known and is valid.

[2020-07-04 15:07] Aneurysm9 commented on #897
Can you provide a minimal repro?  I've tried to reproduce with the `othttp.Handler` and have been unable.  Its [`responseWriterWrapper`](https://github.com/open-telemetry/opentelemetry-go/blob/master/instrumentation/othttp/wrap.go#L94) ensures that the status is set.

I think that [the helper](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/standard/http.go#L267) in `api/standar

[2020-07-05 16:32] #895 closed

[2020-07-05 20:15] matej-g commented on #893
I took the liberty of opening a PR for this - https://github.com/open-telemetry/opentelemetry-go/pull/900 - hopefully that's OK

[2020-07-06 06:36] vmihailenco commented on #897
https://gist.github.com/vmihailenco/1028b37642cd04ed0222cfe8a3125dbf prints

[code]

It just records the status code. I don't see how it does anything beyond that.

[2020-07-06 06:43] vmihailenco opened #902 "Ability to Flush / Shutdown span batcher on app exit"
Is there any way to Shutdown the SpanBatchProcessor on app exit to ensure that queued spans are properly sent?

[2020-07-06 11:52] vmihailenco opened #906 "httptrace instrumentation: http.headers span is never ended"
https://github.com/open-telemetry/opentelemetry-go/blob/master/instrumentation/httptrace/clienttrace.go has `start("http.headers")` but not a single `end("http.headers")`.

[2020-07-06 15:33] jmacd commented on #862
Note also this related comment:
[code]

[2020-07-06 15:36] #892 closed

[2020-07-06 16:05] Aneurysm9 commented on #897
The `responseWriterWrapper` will ensure that the status code is `http.StatusOK` if `Write()` is called before `WriteHeader()`, in conformance with the [`http.ResponseWriter`](https://golang.org/pkg/net/http/#ResponseWriter) interface.  Your repro does neither.  In that case the `rww.statusCode` value remains at its zero value since nothing has updated it.

Is there a valid use for an `http.Handler

[2020-07-06 16:55] jmacd opened #907 "Fix api/global test flake"
--- FAIL: TestHandlerTestSuite (0.03s)
    --- FAIL: TestHandlerTestSuite/TestNoDropsOnDelegate (0.02s)
        handler_test.go:129:
            	Error Trace:	handler_test.go:129
            	Error:      	Received unexpected error:
            	            	no errors sent in 10ms
            	Test:       	TestHandlerTestSuite/TestNoDropsOnDelegate
            	Messages:   	switched to new Handler

[2020-07-06 17:55] lizthegrey commented on #880
I'm not sure the stated concern is true: when I fork the repo and then open a PR (e.g. a draft PR) against otel-go, it builds as expected.

[2020-07-06 20:10] gam-phon opened #910 "UnmarshalJSON for SpanContext"
What do you think of providing UnmarshalJSON to ID and SpanID, in api/trace/span_context.go

[code]

If you are ok, I can do a pull request

[2020-07-06 22:07] sanjaygopinath89 opened #911 "OTEL exporter not working"
Hi Team,

I and trying to implement a sample OTEL exporter to send traces to collector , then from there to Jaeger.

I following the example given in https://github.com/open-telemetry/opentelemetry-go/tree/master/example/otel-collector.

Steps followed
1. Downloaded  the repo git@github.com:open-telemetry/opentelemetry-go.git
2. In  https://github.com/open-telemetry/opentelemetry-go/blob/master/ex

[2020-07-07 00:23] nilebox commented on #911
@sanjaygopinath89 this might be a duplicate of #874 - which releases of Go SDK and Collector are you using?

[2020-07-07 00:32] nilebox commented on #902
@vmihailenco As a workaround, you may call `UnregisterSpanProcessor` on the app exit which does call `Shutdown`, see https://github.com/open-telemetry/opentelemetry-go/blob/a98bb979df54b9045ff51f3e2aa5da8e733a38ff/sdk/trace/provider.go#L148

But it would be more idiomatic to pass a `context.Context` parameter in the provider constructor to let it gracefully shut down itself: https://github.com/ope

[2020-07-07 05:42] vmihailenco commented on #897
No calls to WriteHeader means `WriteHeader(200)`. What is wrong with that?

[2020-07-07 07:14] gunsluo commented on #911
Hi, @sanjaygopinath89
The example uses the configuration of version `0.3.0` collector.

I use the following package and working fine.
[code]

0.5.0 collector's config
[code]

[2020-07-07 07:31] gunsluo opened #914 "[Metric] use Float64Counter to get wrong metric data"
**Describe the bug**
use Float64Counter to get the wrong metric data.

the code
[code]

the counter metric's value should not be reduced.

![image](https://user-images.githubusercontent.com/9067076/86736023-c9514d80-c065-11ea-963b-4e80950f0e53.png)

**What did you expect to see?**
the value of the counter keeps increasing by time.

**What version did you use?**
Version:
collector 0.5.0
otel: 0.7.0

[2020-07-07 07:47] gunsluo commented on #914
Hi, @nilebox

I found that SDK reset the value of the counter when record's updateCount is not collectedCount,   there is no any modification of collectedCount in code.   so the value of the counter is reset.

https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/sdk.go#L376

https://github.com/open-telemetry/opentelemetry-go/blob/27e892aad23241c19a55155fedcc980bc9db551e/sdk/me

[2020-07-07 14:56] danielbang907 commented on #880
I'd be willing to work on this! Could I please be assigned? Thanks!

[2020-07-07 15:14] Aneurysm9 commented on #911
@gunsluo is correct.  The OTLP protocol definition had a BC breaking change that was incorporated in v0.7.0 of the SDK and v0.5.0 of the collector.  I've created #915 to update the example to use the correct version of the collector.

[2020-07-07 15:17] Aneurysm9 commented on #914
@jmacd is this related to #887/#903?

[2020-07-07 16:00] #897 closed

[2020-07-07 16:05] #888 closed

[2020-07-07 16:05] #889 closed

[2020-07-07 16:22] #894 closed

[2020-07-07 16:47] MrAlias opened #916 "Leading slash on gRPC spans"
It looks like we use [the `FullMethod`](https://godoc.org/google.golang.org/grpc#UnaryServerInfo) name [when setting the name](https://github.com/open-telemetry/opentelemetry-go/blob/master/instrumentation/grpctrace/interceptor.go#L318). This is introducing the leading slash. This is different than other language (Java IIRC does not have this).

1. Verify the difference.
2. Determine if there is a

[2020-07-07 17:08] #906 closed

[2020-07-07 17:15] MrAlias commented on #907
I think we may need to bump our CI instance size again. I've noticed that error when I run tests locally limiting to a single core.

Also, I've seen [this](https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-go/2705/workflows/c013cb58-9305-444b-9045-ea88cee9c504/jobs/3646/steps) failure under those conditions as well:

[code]

[2020-07-07 17:20] MrAlias commented on #907
also, [this](https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-go/2705/workflows/357d0044-1d80-4920-a16a-118b668204fc/jobs/3648/steps)

[code]

[2020-07-07 17:22] MrAlias commented on #907
Oof, also, [this](https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-go/2705/workflows/b7fd3897-968a-47b3-a21c-5095afad853f/jobs/3650/steps)

[code]

[2020-07-07 17:26] #911 closed

[2020-07-07 17:27] MrAlias commented on #911
@gunsluo please reopen if the merged PR doesn't fix things for you.

[2020-07-07 18:15] MrAlias commented on #916
Looks like the leading slash is indeed not to spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/rpc.md#span-name

We'll need to correct this.

[2020-07-07 19:52] #887 closed

[2020-07-07 20:14] sanjaygopinath89 commented on #911
@nilebox @gunsluo I updated my collector version to 0.5.0 and changed the collector package version also to 0.5.0, and it started working .

Thanks for your response

[2020-07-07 23:44] MrAlias commented on #910
Seems reasonable to me given our existing Marshal methods.

[2020-07-07 23:50] MrAlias commented on #880
@danielbang907 let's make sure @lizthegrey is on board before you start work so nothing is thrown away. Also, it sounds like (after I read the description again) @Brandon-Kimberly and @alolita were looking to work on this. Do you have an affiliation with them?

@lizthegrey: are you opposed to this or just pointing things out?

We discussed this at last week's SIG meeting and there was ambivalence

[2020-07-08 00:57] MrAlias commented on #501
No, this should be all.

Did you want to take this issue @Aneurysm9?

[2020-07-08 03:52] Aneurysm9 commented on #907
Would this issue be fixed more durably by using GitHub Actions, as proposed in #880?

[2020-07-08 05:40] jmacd commented on #914
I am a bit confused. From the report, it looks more like version 0.6 is still being used. The 0.7 release added metrics processor logic to sum the individual counts, and the problems in #887 and #903 would have produced different odd behavior. Is there any chance this is a 0.6 otel library with a 0.4 collector? Otherwise, it's an unusual report and I would like to continue investigating.

[2020-07-08 06:18] jmacd commented on #914
This is a case of https://github.com/open-telemetry/opentelemetry-collector/issues/1255. The OTLP to Prometheus functionality is broken in the 0.4 collector release: we will disable the OTLP receiver in the 0.5 release and get this fixed in 0.6 I hope.

[2020-07-08 06:41] vmihailenco commented on #897
In my universe it always sends 200 OK.

[2020-07-08 15:12] lizthegrey commented on #880
I feel ambivalent, given that the Collector has a strong reason to stay on CircleCI, I think we should stay as well.

[2020-07-08 15:26] #893 closed

[2020-07-08 17:39] #890 closed

[2020-07-08 18:51] MrAlias commented on #880
@Aneurysm9 pointed out that this might alleviate resource starvation issues that we are seeing on CircleCI. @Brandon-Kimberly do you know what resource quantities are available with GitHub actions?

[2020-07-09 08:59] gam-phon commented on #910
@MrAlias I have created the pull request.
Please let me know if there are changes or comments on the pull request.

[2020-07-09 10:34] otherview opened #928 "Regenerate Jaeger Thrift - Version Conflict"
Hi guys !

I've had some issues using the `opentelemetry-go`.

When it pulls the dependencies, eventually it pulls https://github.com/apache/thrift which on this [commit](https://github.com/apache/thrift/commit/352a50eb36b851bfb3f69469db580e6edfd6250f)  changed the interfaces.

So this conflicts:

[code]

It works when I use https://github.com/apache/thrift/tree/thrift-0.9.0 but no version above i

[2020-07-09 17:29] MrAlias commented on #928
What command did you use to get the code? It looks like this is trying to vendor things instead of using Go modules. The project should correctly have things versioned with Go modules.

[2020-07-09 17:58] otherview commented on #928
That most definitely can be the issue. Unfortunately one of the codebases is still using govendor 😬

Happy to close this out if it's working when using go modules.

[2020-07-09 18:49] MrAlias commented on #928
Our CI should catch any failures if it is not working with go modules, so should be good to go there.

To support older vendor systems there is always [`go mod vendor`](https://golang.org/ref/mod#tmp_32).

[2020-07-09 18:53] otherview commented on #928
Closing this one, thanks @MrAlias

[2020-07-09 18:53] #928 closed

[2020-07-09 19:02] #501 closed

[2020-07-09 20:09] MrAlias commented on #880
At this point I'm interested to see if there is a behavior difference in resource starvation with GitHub actions.

@danielbang907 (cc @alolita): looking forward to your PR. (Sorry about the confusing comment I left above, on second read the affiliation was quite clear).

[2020-07-09 20:11] MrAlias commented on #880
@danielbang907 on the implementation, can we leave the CircleCI stuff as is for now so we can evaluate side-by-side for a bit?

[2020-07-09 20:12] #916 closed

[2020-07-09 22:02] #891 closed

[2020-07-10 16:41] lizthegrey opened #932 "automated advisory on CHANGELOG.md requirement"
We should use GitHub Actions to put up a yellow warning if there's no CHANGELOG.md associated with a PR

[2020-07-10 16:43] lizthegrey commented on #932
alternatively, https://github.com/marketplace/actions/generate-changelog might allow generating the changelog automatically

[2020-07-10 17:48] Aneurysm9 commented on #932
Definitely in favor of using Actions to flag a warning if there is no changelog entry.  Not sure about attempting to automate it.  The changelog on this project reads more like product release notes than a list of PR titles, which I appreciate and don't believe would be achieved through automation.

[2020-07-10 18:14] davidwitten opened #933 "OTLP Exporter only sets min and max for Summary Data Point"
### Is your feature request related to a problem? Please describe.

https://github.com/open-telemetry/opentelemetry-go/blob/aff7a80d5a463bea1d1d310e4e1e119703f80dd0/exporters/otlp/internal/transform/metric.go#L327-L347

I noticed that Summary Data Points are only created from MinMaxSumCountAggregators, where there are only two percentiles set: 0% as the minimum, and 100% as the maximum. This seems

[2020-07-10 18:54] MrAlias commented on #933
This use of the `SummaryDataPoint` is a work around to the fact that there is no first class support of the MinMaxSumCount aggregation in the OTLP. Something that is in progress to change (https://github.com/open-telemetry/opentelemetry-proto/pull/162), and the new transport fields will be used for this data once a solution is released.

There is no plan currently. Precomputed percentiles have a l

[2020-07-11 12:54] gam-phon commented on #910
I am new to tracing.
I want to propagator trace from service A to service B through a message broker. I was doing marshal in service A for SpanContext then unmarshal in service B to get the SpanContext. After reading the specification, I understand that in http request I should use w3c Trace Context Propagator and the Correlation Context. It serializes SpanContext in special format,`api/trace/trac

[2020-07-14 18:37] lizthegrey commented on #849
notably, grpc will always depend upon github.com/golang/protobuf and won't be migrating to google.golang.org/protobuf any time soon, is my understanding.

[2020-07-14 19:29] MrAlias commented on #910
@gam-phon I'm not sure I follow your question.

The W3C trace-context is a standard that specifies a serialized format to propagate  trace-context across service boundaries using (currently only) HTTP. The existing implementation in this repo conforms to the W3C trace-context specification and does so to ensure the compatibility that the specification is intended to offer. This means allowing othe

[2020-07-14 19:51] connorlindsey opened #937 "Add Shutdown Method to Exporter Interface and Existing Exporters"
The [Span Exporter Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#span-exporter) specifies that the Span Exporter must have an Export and Shutdown method.

Currently, there is no Exporter interface for Trace Exporters. Because there’s no interface, the existing Trace Exporters (Jaeger, Zipkin, Stdout) do not implement the Shutdow

[2020-07-14 19:52] lizthegrey commented on #937
@austinlparker @paulosman @MikeGoldsmith for awareness that we may need to change the Honeycomb & Lightstep exporters too.

[2020-07-14 22:49] gam-phon commented on #910
@MrAlias I did not mean to create a custom propagator that is not following W3C, What I meant is to use W3C trace-context format in marshal and  unmarshal.

W3C trace-context serialize to
[code]
In marshal and  unmarshal functions for SpanContext why we do not use same serialization format as W3C instead of
[code]

I know that W3C trace-context is specific for HTTP now. But now it is only supports

[2020-07-15 04:07] matej-g commented on #800
I'd like to start working on this one

[2020-07-15 18:10] kyleconroy opened #940 "Large number of dependencies when instrumenting a library"
First off, thanks for all the hard work on OpenTelemetry.

I recently ran into [an issue](https://github.com/go-redis/redis/issues/1409) with the go-redis package. Adding it to a new project pulled in a large set of dependencies, including `google.golang.org/grpc` and `cloud.google.com/go`. It turns out this is because the go-redis package imports `go.opentelemetry.io/otel`. This situation is addr

[2020-07-15 20:05] MrAlias commented on #940
This seems like a reasonable ask to me. I'm going to add it to the SIG agenda to talk about tomorrow. I'll update with details of the discussion.

[2020-07-16 17:08] #793 closed

[2020-07-16 17:30] MrAlias commented on #910
If you are (de)serializing a trace ID, span ID, or trace flags in to/out of a `struct` you would want them to work depending on how you define the `struct`. If you abstract these values into a unified trace-context no matter what the user defined it would not be expected behaviour not very useful.

So if my struct is:

[code]
when I unmarshal into that structure I would expect each of those fields

[2020-07-16 20:39] gam-phon commented on #910
@MrAlias Yes I agree with you it will confuse others since it is not the expected behaviour. #391 is exactly what I am looking for.

[Trace Context: binary protocol](https://w3c.github.io/trace-context-binary/) is great. Maybe this package [lightstep/tracecontext.go](https://github.com/lightstep/tracecontext.go), or others, then can support the binary and the text format as well.

[2020-07-16 20:53] MrAlias commented on #937
I'm working on changes that use the following interface rework:

[code]

I went with a returned `error` from `Export` instead of a dedicated type as the specification alludes to (though has no normative statements requiring) because it serves the same purpose (`nil` is success, and not `nil` is an error).

I also included a context to `Shutdown` to handle timeout and cancelation so the SDK is not

[2020-07-16 21:57] jmacd commented on #933
I think we should support configurable percentiles for OTLP summary data points. The array, sketch, and histogram aggregators can all produce these percentiles, but I don't think these should be included by default (i.e., MMSC is working).

(Now we need a configurable SDK...)

[2020-07-16 21:59] jmacd commented on #914
Closing this as it's covered in collector issue 1255.

[2020-07-16 21:59] #914 closed

[2020-07-16 21:59] jmacd commented on #937
Is this a duplicate of #902?

[2020-07-16 22:00] jmacd commented on #875
This should be fixed in the 0.8 release.

[2020-07-16 22:00] jmacd commented on #875
However note that the OTLP receiver is still not working in this case (https://github.com/open-telemetry/opentelemetry-collector/issues/1255).

[2020-07-16 22:00] #875 closed

[2020-07-16 23:33] MrAlias commented on #937
I think #902 is related to the `SpanBatchProcessor` where this is related to the span exporter interface.

[2020-07-17 18:18] lizthegrey opened #947 "kv.Infer() naively converts to String rather than using json Marshaler"
when a struct is passed that holds `json:` tagged elements, the elements are verbatim printed as `0 0 0` instead of being encoded to nested json values.

[2020-07-17 20:10] #947 closed

[2020-07-18 17:37] kyleconroy commented on #940
Thanks! Let me know what I can do to help. Happy to write up a larger explanation of my issue.

[2020-07-20 13:30] lizthegrey opened #949 "`kv.Array()` does not make copy of slice"
We currently don't freeze the array that we're passed.

This has the potential to result in the naive/least verbose instrumentation doing the wrong thing, if the array that's passed in is mutated after the `kv` is sent to `SetAttributes`. This has the potential both to write incorrect data to the span, as well as to introduce a read/write slice concurrent access thread unsafety issue.

[2020-07-21 15:34] MrAlias opened #954 "Add Histogram Support to STDOUT Exporter"
The aggregation should be output with the bucket/count pairs being displayed to the user.

[2020-07-21 15:35] MrAlias opened #955 "Unify metric and trace the STDOUT exporters"
Similar to the OTLP exporter, we should unify the STDOUT exporters that exist in the trace and metric directories.

[2020-07-21 22:49] mujtaba-ahmed12 commented on #955
@MrAlias I would like to take this issue.

[2020-07-22 01:34] MrAlias commented on #955
@mujtaba-ahmed12 I have put together #956 to resolve this already. Sorry if that caused wasted effort.

[2020-07-22 18:57] #800 closed

[2020-07-22 19:34] #955 closed

[2020-07-22 21:14] mujtaba-ahmed12 commented on #954
@MrAlias I would like to take this issue.

[2020-07-23 16:16] jmacd commented on #954
This could use the format embraced by Prometheus for the boundaries as "le" labels.

The upper boundary at 1 is encoded as a label "le=1" in this scheme.

[2020-07-23 16:57] MrAlias commented on #954
Given our existing JSON structure here I had originally though something like:

[code]

But, I wonder if we couldn't also have a form of the exporter export prometheus metrics. They are text based and well known.

Maybe add as option like `PrettyPrint`?

[2020-07-23 19:47] MrAlias commented on #940
Looking into this the status code for the Span in the trace API uses `google.golang.org/grpc/codes` bringing the import into the API. We need to look at alternatives to avoid this.

[2020-07-24 15:57] MrAlias opened #964 "Move OpenTelemetry API to top level go.opentelemetry.io/otel package"
In a recent review of the project, one of the things identified that we can do to ease discoverability instrumentation structures and ease adoption of the project for new users is to move relevant instrumentation structures and interfaces in the top level package.

This means taking tracing and metric APIs and moving them to the `go.opentelemetry.io/otel` package. Namely:

- `go.opentelemetry.io/o

[2020-07-24 15:58] lizthegrey commented on #964
May relate to #940 to separate API package from SDK packages to minimize dependency set for using OTel API only.

[2020-07-24 15:58] MrAlias commented on #964
Investigation of how we want to position the `global` package will have to be included in this work.

[2020-07-24 16:07] MrAlias opened #965 "Rename test packages"
Testing package names are not consistent:

- [x] `sdk/metric/processor/test`
- [x] `sdk/metric/aggregator/test`
- [x] `sdk/metric/controller/test`
- [x] `exporters/metric/test`
- [ ] `internal/testing`
- [x] `api/testharness`
- [x] `api/trace/testtrace`

Unify these package names to follow the standard library naming convention of `{package name}test`. E.g.

- `io/iotest`
- `http/httptest`

So the

[2020-07-24 16:07] MrAlias commented on #965
The `exporters/metric/test` package is handled here: https://github.com/open-telemetry/opentelemetry-go/pull/962

[2020-07-24 16:14] MrAlias opened #966 "Unify Callback Function Naming"
[From recent feedback](https://docs.google.com/document/d/1WQ9_KQTAu2cfkh4A0OZFB9DfEtZkBa-1x10JuQJK5mM/edit):

[2020-07-24 16:21] MrAlias opened #967 "Flatten the kv package"
The `go.opentelemetry.io/otel/api/kv/value` doesn't seem to server any purpose being a separate package from `go.opentelemetry.io/otel/api/kv`. It should be flattened into a single package.

[2020-07-24 17:53] MrAlias opened #969 "Rename kv.Infer to kv.Any"
[From recent feedback](https://docs.google.com/document/d/1WQ9_KQTAu2cfkh4A0OZFB9DfEtZkBa-1x10JuQJK5mM/edit):

This seems reasonable and in line with common Go naming.

[2020-07-24 19:25] #967 closed

[2020-07-25 17:13] MrAlias commented on #785
Closed by #939

[2020-07-26 16:37] #785 closed

[2020-07-27 15:37] MrAlias opened #973 "Replace google.golang.org/grpc/codes based Span Status in API"
The [SpanStatus](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/trace/api.go#L139) needs to be updated to an OpenTelemetry implementation of a status code.

Having the API depend on `google.golang.org/grpc` is undesirerable as it brings in largendendency requirements for any system wanting to use the OpenTelemetry API to instrument their code. This is contrary to the [project g

[2020-07-27 15:44] MrAlias opened #974 "Merge HTTP instrumentation"
The existing `othttp` and `httptrace` instrumentation need to be merged into a generalized instrumentation package to work with the standard library's `net/http` package.

- [ ] supports propagation of context.
- [ ] includes an `http.Handler` wrapper that will create spans and metric events for received requests.
   - https://github.com/open-telemetry/opentelemetry-specification/pull/739
- [ ] we

[2020-07-27 15:46] MrAlias opened #975 "Migrate runtime instrumentation from the contrib repo"
[The runtime instrumentation package](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/v0.9.0/instrumentation/runtime), given it instruments the standard library, should live here in the `go.opentelemetry.io/otel` package.

[2020-07-27 15:47] MrAlias commented on #975
This should include a review of the quality of that instrumentation and evaluation of if it needs modification to conform to project guidelines.

[2020-07-27 15:54] MrAlias opened #976 "Update gRPC instrumentation"
The [gRPC instrumentation](https://github.com/open-telemetry/opentelemetry-go/tree/v0.9.0/instrumentation/grpctrace) ...

- [ ] should include metric instruments to capture metric events.
   - prior art: https://godoc.org/go.opencensus.io/plugin/ocgrpc#pkg-variables
   - should act as a prototype for OpenTelemetry.
- [ ] rename to not include `trace` in name. Likely want to follow [the naming stan

[2020-07-27 16:29] #969 closed

[2020-07-27 16:51] MrAlias commented on #789
Good point. Closing.

[2020-07-27 16:51] #789 closed

[2020-07-27 23:48] MrAlias commented on #976
Relates to #940 (breaking into own package).

[2020-07-27 23:48] MrAlias commented on #974
Relates to #940 (breaking into own module).

[2020-07-28 08:36] stefanprisca commented on #869
I would like to work on this.
@MrAlias has it been decided to export the map structure as well as array values? It seems to have been an open discussion: https://github.com/open-telemetry/opentelemetry-go/pull/866#discussion_r444977290

[2020-07-28 15:20] MrAlias commented on #869
@stefanprisca the array values definitely need to be incorporated. The map type is not a supported part of the specification and I think there is consensus there to not add it (at least currently) so this could be changed to just include the array kv type.

[2020-07-28 16:24] eundoosong commented on #965
Hello, I'd love to take this as first contribution.
Can I modify all? It looks there are many places to be modified.

[2020-07-28 17:27] MrAlias commented on #965
@eundoosong yeah, you'll need to update all the test packages to complete this issue. How you want to structure that in PRs and commits is up to you. Just ask that it is presented for review in a somewhat clear and digestable form.

Also, you'll want to wait on https://github.com/open-telemetry/opentelemetry-go/pull/977 to land as it cleans up some of the use of the `sdk/metric/processor/test`.

[2020-07-28 17:28] MrAlias commented on #965
@eundoosong it might also be a good approach to look into what needs to be done with `internal/testing` and post here if you have any questions prior to making the change.

[2020-07-28 17:45] MrAlias commented on #974
It seems to follow that this should be moved to the contrib repository. We have opensource libraries as well as stdlib library instrumentation support there. It seems like a good idea to consolidate everything into a single location.

[2020-07-28 17:46] MrAlias commented on #975
Unify on having all instrumentation in the contrib repo. At least for now.

[2020-07-28 17:46] #975 closed

[2020-07-28 17:58] eundoosong commented on #965
@MrAlias
Thanks,
I'll group testing package changes into each PR so that the review can be in digestable form.
For `internal/testing`, I'll look into while I'm working on the other.

[2020-07-28 21:46] Aneurysm9 commented on #974
I've created https://github.com/open-telemetry/opentelemetry-go-contrib/issues/158 to relocate this instrumentation.  The naming convention in contrib would lead me to think that the `net/http` and `net/httptrace` instrumentations should remain separate.  Thoughts?

[2020-07-28 21:57] MrAlias commented on #974
The [`httptrace` package](https://golang.org/pkg/net/http/httptrace/) in stdlib is a subpackage to `net/http`. Should we follow that structure as well? Not sure if there are implementation specific details that would prevent that structure, but it seems like it would be a decent approach to follow.

[2020-07-29 18:53] MrAlias opened #988 "Unify API Span Start/End Options"
From [recent feedback](https://docs.google.com/document/d/1WQ9_KQTAu2cfkh4A0OZFB9DfEtZkBa-1x10JuQJK5mM/edit):

Additionally I have received requests to allow things like the span kind be set when the span is ended. It seems like unifying these into a single option passed to the `Start` and `End` functions for `Spans` would indeed clean up the API and hand the control of configuration to the user (

[2020-07-30 11:50] stefanprisca opened #991 "otel-collector example uses old 'jaeger_grpc' exporter name"
The otel collector jaeger grpc exporter has been renamed from "jaeger_grpc" to "jaeger" (see [760](https://github.com/open-telemetry/opentelemetry-collector/issues/760)). However the otel exporter example still uses the old name, and fails for version 0.5.0 of the collector.

[2020-07-30 15:47] stefanprisca commented on #991
The fix for this is simple, but I ended up getting a grpc error when connecting to the collector. I would like to look more into it, and see what the problems are.

[2020-07-30 15:52] MrAlias commented on #991
@stefanprisca lmk if this shouldn't be assigned to you.

[2020-07-30 17:06] wtong98 opened #998 "Push controller allowed to start multiple times"
The Push controller is structured such that `Start()` may be called multiple times (see [here](https://github.com/open-telemetry/opentelemetry-go/blob/fd61d2edece005195116e6b9218801a460a3868d/sdk/metric/controller/push/push.go#L95)), each launching a goroutine that initiates its own collection.

The behavior seems to be somewhat expected, as there exists a wait group to block while multiple collec

[2020-07-30 18:23] jmacd commented on #998
It looks like the push controller's Start() method will only start one goroutine, and the test is just checking that it doesn't crash, for example, and that Stop() still works if you happen to start more than once.

It's this code:
[code]

Perhaps we could just add a comment saying that multiple starts are ignored?

[2020-07-30 19:02] wtong98 commented on #998
My apologies, overlooked the if condition!

Would the wait group still be needed, if only one goroutine is allowed to run at a time?

[2020-07-30 19:53] ercl opened #1000 "Usage of Viper dependency in Exporters"
I am working on the [Go SDK Cortex exporter](https://github.com/open-telemetry/opentelemetry-go-contrib/issues/119) and am considering using [Viper](https://github.com/spf13/viper) as a dependency to read a YAML file and create a Config struct. However, Viper has a large footprint size-wise as it includes many features that the exporter will not use such as reading from remote config systems and l

[2020-07-30 21:23] bogdandrutu commented on #1000
I would suggest every exporter that is not standard to be it's own module (has it's own go.mod), so using a dependency like this will not cause troubles for others.

[2020-07-31 16:48] MrAlias opened #1007 "All the bridge packages should be their own Go modules"
Currently this only includes `bridge/opentracing`.

[2020-07-31 16:56] bogdandrutu opened #1008 "import "go.opentelemetry.io/otel/api/standard""
"standard" is a poor name for this package. using this in code makes people thing of a generic "standard" not "otel" semantic conventions.

[2020-07-31 16:58] MrAlias commented on #1008
I was thinking of `semconv` instead. Thoughts?

[2020-07-31 17:14] MrAlias opened #1009 "RFC to rename global package"
[From recent feedback](https://docs.google.com/document/d/1WQ9_KQTAu2cfkh4A0OZFB9DfEtZkBa-1x10JuQJK5mM/edit) and from existing understanding, it is recognized that `global` is not an ideal package name.

Consider giving them more unique names to improve developer productivity. Users shouldn’t stress about importing the name package by constantly checking the import paths or shouldn’t have to renam

[2020-07-31 17:15] MrAlias opened #1010 "RFC to rename kv pacakge"
[From recent feedback](https://docs.google.com/document/d/1WQ9_KQTAu2cfkh4A0OZFB9DfEtZkBa-1x10JuQJK5mM/edit) and from existing understanding, it is recognized that `kv` is not an ideal package name.

Consider giving them more unique names to improve developer productivity. Users shouldn’t stress about importing the name package by constantly checking the import paths or shouldn’t have to rename im

[2020-07-31 17:28] MrAlias opened #1011 "Refactor api/oterror"
[Based on recent feedback](https://docs.google.com/document/d/1WQ9_KQTAu2cfkh4A0OZFB9DfEtZkBa-1x10JuQJK5mM/edit):

This package can likely just be dissolved. The `Handler` interface can be moved to the `global` package and the only error (`oterror.ErrSDKReturnedNilImpl`) can be moved to the `go.opentelemetry.io/otel` top-level package.

[2020-07-31 18:27] MrAlias opened #1012 "Move the B3 propagator out of the API"
Related to https://github.com/open-telemetry/opentelemetry-specification/pull/735 and [recent feedback](https://docs.google.com/document/d/1WQ9_KQTAu2cfkh4A0OZFB9DfEtZkBa-1x10JuQJK5mM/edit):

Possible destinations:

1. A new `go.opentelemetry.io/otel/propagators` package that is dedicated to opensource trace context standards.
   * This will keep dependencies on the B3 propagator to a single repos

[2020-07-31 18:38] MrAlias opened #1013 "Remove `WithSpan`"
The `WithSpan` method of the Tracer interface is a thin wrapper around the `Start` method in the default SDK, and expected to be the same for all SDK implementations. Additionally the function signature has been questioned if the closure will indeed serve users. Instead of trying to make a catch all, we'll remove the method and allow users to implement this in the way that best suits their purpose

[2020-07-31 18:40] bogdandrutu opened #1014 "Too many "trace" packages"
[code]

It is very hard to work with all of these. Would suggest maybe use different names, maybe consider:
`sdktrace` for "go.opentelemetry.io/otel/sdk/sdktrace"
`exptrace` for "go.opentelemetry.io/otel/sdk/export/exptrace"

[2020-07-31 18:43] bogdandrutu opened #1015 "Do not use "ot" to abbreviate "opentelemetry""
Here is an example `api/oterror`. Based on the specs https://github.com/open-telemetry/opentelemetry-specification/blob/c33919ea1265081967287a3c3160ba823797bbce/README.md#acronym you should use "otelerror".

[2020-07-31 18:44] bogdandrutu commented on #1015
I know it is related to https://github.com/open-telemetry/opentelemetry-go/issues/1011 but this is generic and should check all packages like that.

[2020-07-31 18:57] MrAlias commented on #1013
I'm also considering if this method should just be dropped from the `Tracer` interface.

[2020-07-31 18:59] MrAlias commented on #1015
`oterror` is the only one, it is part of the motivation for #1011 . Closing because this is effectively a duplicate.

[2020-07-31 19:09] bogdandrutu commented on #1015
Please double check, here is another one:
https://github.com/open-telemetry/opentelemetry-go/tree/master/instrumentation/othttp

[2020-07-31 19:11] MrAlias commented on #1015
Understood. That is accounted for: https://github.com/open-telemetry/opentelemetry-go/issues/974

[2020-07-31 19:11] #1015 closed

[2020-07-31 19:16] MrAlias commented on #1000
From SIG meeting:

One thing to also make clear, the PR for this exporter should be to the https://github.com/open-telemetry/opentelemetry-go-contrib.

Please reopen of there are remaining issues.

[2020-07-31 19:16] #1000 closed

[2020-07-31 19:34] MrAlias commented on #937
The `Exporter` method `Export` will clash with the similar metric `Exporter`. Will need to scope the method by telemetry type.

[2020-07-31 21:53] bogdandrutu opened #1017 "Implement `grpc.StatsHandler` for grpc instrumentation"
See OpenCensus https://godoc.org/go.opencensus.io/plugin/ocgrpc

Much easier to use and implement, now:
[code]
After:
[code]

[2020-07-31 21:54] bogdandrutu opened #1018 "Add support for `grpc-trace-bin` propagator"
See https://github.com/census-instrumentation/opencensus-specs/blob/master/encodings/BinaryEncoding.md

[2020-07-31 21:58] bogdandrutu opened #1019 "Change instrumentations to accept `trace.Provider` instead of `trace.Tracer`"
See https://github.com/open-telemetry/opentelemetry-go/blob/master/instrumentation/grpctrace/interceptor.go#L66

Usually the name/version of the `trace.Tracer` is something that the instrumentation library should control, but we should allow configuring the `trace.Provider`.

[2020-07-31 23:56] Aneurysm9 commented on #1012
I'd second option (2).

[2020-08-01 00:44] tmc commented on #910
What's holding this up?

[2020-08-02 02:00] jmacd opened #1020 "Move api/label package to ../internal"
The api/label package is not a public API and it belongs in ../internal--except that it is likely to be used in the opentelemetry-collector repository and we may wish to move it to some kind of common package that is not internal.

I would propose we move this to a package directory named "common" at the root of the repository. This would help declutter the `/api` package. Even if all contents of

[2020-08-03 20:51] derekperkins opened #1022 "grpc/http: support custom KeyValues when reporting metrics"
We've been running OpenCensus for ~2 years and are excited to move to OpenTelemetry. The standard API has served us well, but our biggest issue with some of the wrapper packages like ocgrpc and ochttp are that they don't support custom KeyValues (TagKeys) when recording metrics. I can register my own views that include them, but because of the way that they wrap my server, I'm not passing a contex

[2020-08-03 22:31] sabiurr opened #1025 "Deserialize to ResourceMetrics struct"
Hi, I have a client that will send ResourceMetrics serialized from java and I want to be able to deserialize from golang. However, it seems this struct is internal.

https://github.com/open-telemetry/opentelemetry-go/blob/master/internal/opentelemetry-proto-gen/metrics/v1/metrics.pb.go#L185

How can I get construct/deserialize this struct?

[2020-08-04 04:50] dackroyd commented on #1017
The stats handler approach also allows cases to be captured that the interceptors do not, like a failure to decode the message. We ran into that case with OpenTracing using interceptors where a mismatching proto definition was used between the client and server. There was no indication in metrics, traces or logs that a request had even reached the server, making the issue more difficult to diagnos

[2020-08-04 14:51] #1008 closed

[2020-08-04 14:55] MrAlias commented on #1025
I don't know of any part of this code base that receives that proto. It is only used to send to the collector. In what way are you using this code?

[2020-08-04 15:39] sabiurr commented on #1025
We have a client that is using the opentelemetry java SDK and sending us payload of ResourceMetrics object. I want to be able to deserialize from golang listener side using the opentelemetry ResourceMetrics struct

[2020-08-04 15:53] MrAlias commented on #1025
Hmm, I think I see. The proto project made the decision to decentralize the compilation of the proto in [this issue](https://github.com/open-telemetry/opentelemetry-proto/issues/79). To accommodate this decision this project generated Go code locally, but made the conscious decision to not expose this. The reasons for this included the goal of not polluting the package with the unrelated proto cod

[2020-08-04 16:00] MrAlias commented on #1022
Thanks for opening the issue. We're excited to include improvements as we try to make OpenTelemetry awesome for users. Can you provide a simplified code example that would describe what you are looking for? I'm not 100% sure I follow the ask here.

[2020-08-04 16:19] sabiurr commented on #1025
I see. Just to confirm, if we want to deserialize this, we should generate the golang structs from proto files within our project?

[2020-08-04 16:59] MrAlias commented on #1025
Correct.

Otherwise, you'll need to work with the https://github.com/open-telemetry/opentelemetry-proto to have them do so in a centralized location.

[2020-08-04 17:01] MrAlias commented on #1025
@sabiurr I'm going to close this as it seems to be resolved. Let me know if that is an error.

[2020-08-04 17:01] #1025 closed

[2020-08-04 19:28] MrAlias commented on #1020
+1 for moving to `internal` if this should not be exposed.

Do we have an understanding how the collector will use this? Last I heard there was an aversion to depending on this repo. Has that changed?

I'm in favor of moving out of the `api` package, but I feel we should avoid a `common` package. The name `common` is overly generic and a catchall. I think moving this to the `internal` package for

[2020-08-04 21:29] derekperkins commented on #1022
Essentially I want to be able to provide per request labels. I'll use OpenCensus code snippets since that's what I have, but it should provide enough info. I could add any tags to the context and they would then be available to any views that were measured with that context.

	tagMutators := []tag.Mutator{
		tag.Insert(nstats.KeyCountry, kw.Location.Country.Code()),
		tag.Insert(nstats.KeyDevice,

[2020-08-05 02:22] XSAM opened #1033 "Move mock span or trace out of internal package"
`MockSpan` and `MockTracer` are on the internal package that cannot be used by other repo.

It's not convenient for those third-party repos to add the unit test. Also, [go-contrib](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/v0.10.0/internal/trace) have the same package named `internal/trace` and the functionality of the code is almost the same.

Therefore, maybe we should move

[2020-08-05 09:26] stefanprisca commented on #869
Can this issue be closed?

[2020-08-05 09:26] stefanprisca commented on #991
Can this issue be closed?

[2020-08-05 09:36] stefanprisca opened #1035 "Integration tests for OTel Collector Attributes"
Existing integration tests for the OTel Collector ([otel_integration_test](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/otlp/otlp_integration_test.go)) only cover integer attributes.
Maybe it would be interesting to create more use-cases for the attributes by testing the other types (string, bool, array, etc) as well.

The issue was brought up during PR https://github.c

[2020-08-05 14:36] #991 closed

[2020-08-05 14:38] Aneurysm9 commented on #869
Yup.  You can mark a PR to automatically close an issue by using the magic words "Fixes #<issue number>" in the PR description.

[2020-08-05 14:38] #869 closed

[2020-08-05 15:31] matej-g opened #1036 "Jaeger exporter incorrectly exports `instrumentation.version`"
There appears to be a bug in the Jaeger exporter, in:

https://github.com/open-telemetry/opentelemetry-go/blob/ae278e91861d6d81a9abfd8a850187674aff895e/exporters/trace/jaeger/jaeger.go#L232-L237

the `instrumentation.version` is incorrectly set to instrumentation library name instead of library version.

[2020-08-05 16:01] #772 closed

[2020-08-05 17:31] #1011 closed

[2020-08-05 17:37] MrAlias commented on #1022
@derekperkins thanks for the context, this seems like a reasonable ask. I'm interested to hear what @Aneurysm9 would propose as a solution for this. He is currently rewriting and migrating this instrumentation to the contrib repo (https://github.com/open-telemetry/opentelemetry-go-contrib/pull/190) and will have the most up to date understanding of the problem space I feel.

[2020-08-05 19:31] MrAlias commented on #1033
This is likely a duplicate of https://github.com/open-telemetry/opentelemetry-go/issues/872

[2020-08-05 19:33] MrAlias commented on #872
@AndrewGrachov are you still working on this?

[2020-08-05 20:09] MrAlias commented on #965
@eundoosong are you still able to work on the reset of the renamings?

[2020-08-05 22:42] #1036 closed

[2020-08-06 03:25] MrAlias commented on #974
closing in favor of https://github.com/open-telemetry/opentelemetry-go-contrib/issues/158

[2020-08-06 03:25] #974 closed

[2020-08-06 03:32] MrAlias commented on #764
Duplicated by https://github.com/open-telemetry/opentelemetry-go-contrib/issues/194

Going to track this work with that.

[2020-08-06 03:32] #764 closed

[2020-08-06 04:57] eundoosong commented on #965
Sorry, I have been busy for another task at work.
Yes, I have a plan to work on the rest till this week.  :)

[2020-08-06 07:04] jmacd commented on #998
I believe the wait group ensures that `run()` exits before `tick()` is called one last time. (Noyr the body of `run` is not protected by a lock.)

[2020-08-06 07:08] jmacd commented on #1013
I support removing `WithSpan`. Anything it does we should be able to accomplish by a `defer span.End()`. The sort of thing you can't do unless you have a `WithSpan`-like function is automatically call the `pprof.Do()`, but users can do that on their own.

[2020-08-06 09:29] AndrewGrachov commented on #872
Got stuck.

Really dont see a good way to implement it via sdk/test.Output - its heavily dependent on counter names, e.g. using suffixes to do aggregation checks, which irrelevant when testing instrumentation

So I guess we could just expose test helpers from mock meter, which do assertion, and re-use them.

Will send a PR today/tomorrow, for that I have clear view

[2020-08-06 09:58] XSAM opened #1039 "Use `WithBatcher` while adding a exporter to a provider in examples"
Some examples use `SpanSyncer` to export spans. But `SpanSyncer` is called synchronously, and users may just copy and paste to their projects, which will add latencies to the thread of users, say, a couple of milliseconds maybe.

So, maybe we should use `WithBatcher` instead of `WithSyncer` to add exporter to a provider in examples.

[2020-08-06 14:59] #1007 closed

[2020-08-06 15:09] AndrewGrachov commented on #872
left a concept here

https://github.com/open-telemetry/opentelemetry-go/pull/1040/files

[2020-08-06 17:18] seh commented on #1013
For those of you who belong to the "Honeycomb Pollinators" Slack team, I've brought this up several times before ([here](https://honeycombpollinators.slack.com/archives/CNQ943Q75/p1575470662044200?thread_ts=1575470486.044100&cid=CNQ943Q75) and [here](https://honeycombpollinators.slack.com/archives/CNQ943Q75/p1585500124020900?thread_ts=1575470486.044100&cid=CNQ943Q75)). I too am mystified by the `W

[2020-08-06 17:18] jmacd commented on #1033
This looks like not quite a duplicate, since it's about tracing and #872 is about metrics.

[2020-08-06 17:21] jmacd commented on #1018
I wonder if someone on the gRPC team would be willing to contribute this support? @mtwo

[2020-08-06 17:24] jmacd commented on #1014
We discussed this in the SIG, and think that probably users should rename these imports as needed. Only SDK maintainers and exporter maintainers will have this trouble.  Also note, e.g., in the metrics code we remap go.opentelemetry.io/otel/sdk/export/metric as

[code]

[2020-08-06 17:29] jmacd commented on #1013
There is good support for removing `WithSpan`.

[2020-08-06 17:29] jmacd commented on #1013
We could introduce a helper, for example.

[2020-08-06 17:31] jmacd commented on #1013
Perhaps we should specify that `span.End()` should call `recover()` and automatically record an error.

[2020-08-06 17:42] Aneurysm9 commented on #1009
I think `global` is a fine package name and I have yet to experience any conflicts with other packages.

[2020-08-06 17:43] Aneurysm9 commented on #1010
I can't really think of any better package names that don't suffer from the same potential issues.

[2020-08-06 17:52] Aneurysm9 commented on #1012
I'm slightly confused by the update to the spec from https://github.com/open-telemetry/opentelemetry-specification/pull/735 that says:

My confusion comes from the fact that I don't see where the "officially supported protocols" are defined.  The closest I can find is (also added in that PR):

Does the fact that B3 is not listed in the "MAY include" statement mean that the API MAY NOT include it?

[2020-08-06 19:12] MrAlias commented on #1013
That seems timely as it seems to be something the spec is looking to add: https://github.com/open-telemetry/opentelemetry-specification/pull/761/files#diff-05dabeeb80a46b2c02de5a02b8151b2cR18

[2020-08-07 16:16] #1039 closed

[2020-08-07 20:05] MrAlias opened #1045 "Move generated OTLP to OTLP exporter"
The generated protobuf currently lives in the top level `otel` internal package. This mean that the API will always depend on 	`github.com/golang/protobuf` and `google.golang.org/grpc`. These are large dependencies that we are trying to remove to achieve our goal of having the API be a lightweight dependency for instrumentors (#940).

The only current use of this code is in the OTLP exporter. They

[2020-08-07 20:15] MrAlias commented on #1045
From what I can tell, this might be the last issue that needs to be resolved (after https://github.com/open-telemetry/opentelemetry-go/issues/973) before #940 can be resolved.

[2020-08-08 19:10] #1013 closed

[2020-08-10 16:17] #973 closed

[2020-08-11 02:55] #1045 closed

[2020-08-11 09:01] maxisme opened #1051 "Tracing http requests"
I have written the middleware:
[code]

Which will create a child span called something like `GET /path` depending on the request. I then want to be able to create a child of this span within a handler so I have done this:
[code]

I am wondering if this is the correct way to do this as it seems a little bit overkill injecting and then extracting. I feel like there is perhaps a better way to do this

[2020-08-11 13:57] Aneurysm9 commented on #1051
Hi!  First, I would suggest looking within the [contrib repo](https://github.com/open-telemetry/opentelemetry-go-contrib) for an instrumentation for your HTTP router of choice.  It looks like you might be using Gorilla Mux, for which we have [an existing instrumentation](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/instrumentation/github.com/gorilla/mux) that can be added

[2020-08-11 17:18] MrAlias opened #1052 "Merge the `kv` and `labels` packages"
The `kv` package contains definitions for keys, values, and their combined key-values with some functionality around their creation and transformations. The `label` package contains interaction and set functionality around the `kv` package. Merging these packages into a unified `label` package would organize related code into a single import and remove the inherent coupling between the packages.

[2020-08-11 17:25] #862 closed

[2020-08-11 20:02] MrAlias commented on #940
We've gone from 14 direct (external) dependencies:

https://github.com/open-telemetry/opentelemetry-go/blob/aff7a80d5a463bea1d1d310e4e1e119703f80dd0/go.mod#L5-L20

To 2:

https://github.com/open-telemetry/opentelemetry-go/blob/b7df5543e398789ae2f9ae75c0868a92a55d7fe0/go.mod#L5-L8

With these last two being testing dependencies. I feel like we could in the future build out the testing to only rely

[2020-08-11 20:02] #940 closed

[2020-08-11 20:05] MrAlias commented on #940
Still need to do a release to get these savings published.

[2020-08-11 20:15] kyleconroy commented on #940
@MrAlias Wow! This is fantastic.

It took me about 10 minutes to open up the issue, but it obviously took far more work for the team to fix it. Thank you (and everyone else) for closing this out. I agree that testify and go-cmp are fine.

Thanks again!

[2020-08-11 20:17] Oliveirakun opened #1053 "Add option to set environment for tracer"
The sdktracer example doesn't show an option to set the environment (production, staging, test, etc.). I have an otlp-collector configured to send data to elastic apm, and didn't find a way to set environment, I've tried using Kv pairs in resource but it didn't work.
Seems like it doesn't work, and if it works an example or documentation would be nice to avoid this problem to happen for other user

[2020-08-11 20:49] jmacd opened #1054 "Prototype metric Views functionality: Export labels configuration"
The current Metric SDK supports code-level configuration of export strategy and aggregator selection, but there is no way to configure which labels are used for export. This issue covers several PRs to build this functionality.

Already merged in this effort: #1024, #1047.

[2020-08-11 20:57] MrAlias commented on #1053
Can you include what you have tried? Setting an attribute in a `Resource` should be propagated to the collector.

[2020-08-11 22:45] Oliveirakun commented on #1053
I've tried all these values, but no one worked:
[code]
Only the service name is displayed correclty in APM dashboard

[2020-08-11 23:22] MrAlias commented on #1053
There have been other issues with translations in the collector in the past and I wonder if that is the issue here. Can you verify that the Resource attributes do or do not show up if you use another collector exporter like the logging exporter?

Looking at that exporter it seems like it should correctly handle Resource attributes:

https://github.com/open-telemetry/opentelemetry-collector/blob/e6

[2020-08-13 18:56] bogdandrutu commented on #1014
That is not true, I have this problem in my main file because I need to configure SDK/API and exporter.

[2020-08-13 18:57] bogdandrutu commented on #1014
Also in tests because I need to use the test exporter

[2020-08-13 20:12] jmacd opened #1056 "Metrics Processor and Checkpointer APIs are confusingly named"
See this comment thread: https://github.com/open-telemetry/opentelemetry-go/pull/1055#discussion_r470215544

One way to resolve this is to remove the name "Checkpointer". We can rename the current Processor to "AccumulatorProcessor" (which is just one method) and rename the current Checkpointer to "Processor" (which is 4 methods).

This should be addressed after #1055 merges.

[2020-08-13 22:16] jmacd commented on #1009
I was refactoring some code and noticed that we've moved ErrorHandler to the root of the repository. In the sense that a "root" is global, it might make sense to put everything from the global package into the root of the repository. Then we'd read `otel.SetMeterProvider()` which sounds good, as opposed to `global.SetMeterProvider()`.

[2020-08-13 22:47] #1054 closed

[2020-08-13 22:52] MrAlias commented on #1009
I like this approach. :+1:

[2020-08-13 22:52] MrAlias commented on #1010
Decision from the SIG meeting today was to got with #1052

[2020-08-13 22:52] #1010 closed

[2020-08-13 22:57] MrAlias commented on #1012
I share this confusion :disappointed:

Agreed.

I'm not sure. It seems to me that was written in a Java paradigm and I'm not exactly sure how to translate that as you seem to be as well.

I think the approach we decided on in the SIG meeting:

Will conform to the spec based on our similar understanding and allow extension in the future.

[2020-08-14 18:24] evantorrie commented on #877
With no response from original poster, I suggest we close this issue as Won't Do.

[2020-08-15 02:33] dengliming commented on #966
@MrAlias Hello, I'd love to take this as first contribution for this repo. I suggest rename `*Callback` with `*Handler`. WDYT?

[2020-08-15 02:46] MrAlias commented on #966
Thanks for the help. I'll assign this issue to you.

I'd prefer to go with `*Func` instead of `*Handler`. This based on the fact that we have an [`ErrorHandler`](https://github.com/open-telemetry/opentelemetry-go/blob/45b6a22cbba2fb3015c50ad095ff61f51b81aece/error_handler.go#L17-L22) that is an interface not fitting the callback-like function form. Using a `*Func` suffix would already have some im

[2020-08-15 23:52] evantorrie commented on #1012
In the Java codebase, the [source code](https://github.com/open-telemetry/opentelemetry-java/blob/96e8523544f04c305da5382854eee06218599075/extensions/trace_propagators/src/main/java/io/opentelemetry/extensions/trace/propagation/B3Propagator.java) is in the main `opentelemetry-java` repo, but yes, it is in a different module artifact called `io.opentelemetry.extension.trace.propagation`.

I think h

[2020-08-17 15:31] MikeGoldsmith commented on #937
@MrAlias has there been any further work on introducing a `TraceExporter` interface? Is this something you plan finishing or would you like some help?

[2020-08-17 15:38] MrAlias commented on #937
@MikeGoldsmith I'm still working on this. Each attempt has exposed other work that needed to be refactored first. With our big move in reduction to API dependencies this looks unblocked as is something I'm planning to get out this week. I'll be sure to update here with status when it changes.

[2020-08-17 15:42] MikeGoldsmith commented on #937
Great, thanks for the update. I look forward to seeing your work 👍

[2020-08-17 21:34] willie opened #1065 "readme for example refers to nonexistent paths"
In [the readme](https://github.com/open-telemetry/opentelemetry-go/blob/master/example/README.md), it suggests running an example HTTP client/server at this path: `$GOPATH/src/go.opentelemetry.io/otel/example/http/`

There is no such path in the project.

[2020-08-18 02:59] #1065 closed

[2020-08-18 03:25] #1052 closed

[2020-08-18 12:51] seh commented on #1052
One thing that confuses me—perhaps due to ignorance of the OpenTelemetry specification—is that we now have the word "label" applied to "attributes". Is the label what was previously called the attribute key, or the label a key together with a value? If it's the former, are "key" and "label" synonyms? If it's the latter, are "attribute" and "label" synonyms?

[2020-08-18 12:52] seh commented on #1010
This is probably a better place to ask this question: https://github.com/open-telemetry/opentelemetry-go/issues/1052#issuecomment-675459150.

[2020-08-18 13:40] connorlindsey opened #1068 "Standardize logging practices within the SDK and plugins"
I'm working on a Cortex Exporter and noticed that there isn't much consistency as to what logging package is used across the various components (instrumentation plugins, exporters, etc.). As mentioned by @MrAlias on Gitter, this should probably be configurable by the end user. The standard `log` package would probably be a smart default, but I'd like to start a discussion on what the default packa

[2020-08-18 15:03] MrAlias commented on #1052
It's the latter (a label is a key-value pair), "attribute" and "label" are synonymous. [Attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/common/common.md#attributes) are used in the tracing specification (though have recently been moved to a "common" part of the specification) and [labels](https://github.com/open-telemetry/opentelemetry-specificat

[2020-08-18 15:48] seh commented on #1052
Thank you for the clarification. Are you aware of any motion (even rejected) to unify those terms? I recognize that would yield yet more churn in the code. The current state comes after several big moves, but it's still muddled.

[2020-08-18 16:09] MrAlias opened #1069 "Unify Attributes and Labels"
Currently `Attribute`s in the tracing portion of this code is synonymous with `label.KeyValue`. This duplicate naming (attribute and label) will lead to confusion for new (and likely existing) users. This duplication comes from the specification itself unfortunately. [Attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/common/common.md#attributes) ar

[2020-08-18 16:10] MrAlias commented on #1052
There was an old conversation in the specification SIG around this issue that was left with the different names being left as is (IIRC this was because no resolution could be reached and it was the default).

However, in this repository I've wondered if we can do better. I have a lot of thoughts on possible approaches, but I think they are better suited for a new issue: https://github.com/open-tel

[2020-08-18 16:29] seh commented on #1069
Since we are not afraid of renaming packages and moving types, have we considered a package name like "attr"?

[2020-08-18 16:54] Aneurysm9 commented on #1068
A pattern I've had success with in the past is to define a simple interface and provide accessors that fallback to the stdlib `log` package if no implementation is provided.

[code]

I'd really like to be able to attach labels/fields to a log entry, but I'm not sure there's any consistent interface that could be expected to be common between `log`, `logrus`, `zap`, and any other likely candidate f

[2020-08-19 09:20] codeanyway11 commented on #849
Hi, you guys are right. We can't exactly get rid of `github.com/golang/protobuf` since `grpc` is using it, but should we still go ahead and make changes in the exporters? I am planning to work on this issue :smile:

[2020-08-19 10:01] ilyakaznacheev opened #1070 "Release plan"
Hello, where I can find a release plan for Go lib with feature list and dates?

Sorry for the dumb question, but I just can't find it anywhere.

[2020-08-19 14:45] lizthegrey commented on #849
That's correct, we can choose to make those changes in exporters.

[2020-08-19 18:12] MrAlias commented on #1070
This is something the community as a whole is outlining: https://github.com/open-telemetry/opentelemetry-specification/pull/828

We'll be sure to include our version when it is a bit more established what those features are.

[2020-08-20 16:14] MrAlias commented on #1053
@Oliveirakun I'm going to close this as it doesn't seem to be an issue with this repo (I'm not able to reproduce those labels not showing up when set on a resource).

If you're still having this issue and think it's related to this project and you re-open this with some steps to reproduce the issue?

[2020-08-20 16:14] #1053 closed

[2020-08-20 16:14] MrAlias commented on #1056
@jmacd is this "needed for GA"?

[2020-08-20 16:16] MrAlias commented on #1035
resolved in #1062

[2020-08-20 16:16] #1035 closed

[2020-08-20 16:19] MrAlias commented on #1020
Do you still think parts of the `label` package should be moved to an internal package? I'm in favor of not exporting by default if we think things will clutter the API. That said, I wonder if things like `LabelSet` and `Iter` are needed for anyone wanting to test with the project.

[2020-08-20 16:21] MrAlias commented on #966
resolved in #1061

[2020-08-20 16:21] #966 closed

[2020-08-20 16:33] MrAlias commented on #964
Related issues:

* https://github.com/open-telemetry/opentelemetry-go/issues/1012
* https://github.com/open-telemetry/opentelemetry-go/issues/1052
* https://github.com/open-telemetry/opentelemetry-go/issues/1009

[2020-08-20 16:43] MrAlias commented on #1069
My hope was to unify on the term `label` as it is a complete word and shorter than `attribute`.

It is important that this work does not impact the compatibility of the project. That means that the Spant field will likely need to remain being named `Attributes`. This might also apply to the Resource, but since it is only used in the internal SDK, that might not be as strong a requirement.

[2020-08-20 16:46] MrAlias commented on #849
Yes, removing it from our use will help us be ready when upstream is able to make the switch as well. :+1:

[2020-08-20 16:52] jmacd commented on #1020
I think it's a generally useful class to expose for testing, possibly also for use in exporters.

[2020-08-20 16:52] jmacd commented on #1056
No. I would say this can be easily resolved by renaming things, shouldn't affect GA.

[2020-08-20 19:05] snehilchopra opened #1072 "Adding ForceFlush() to Batch Span Processor"
The [official OT specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#forceflush), mandate the requirement of a `ForceFlush` method in the Batch Processor Interface.

However, per my conversation with @rghetia, it seems that at the time the Batch Span Processor for Golang was implemented, the `ForceFlush` method was not included in the specs.

[2020-08-20 19:57] tigrannajaryan opened #1073 "Populate implementation/spec compliance matrix"
In order to have a better understanding of where we stand in terms of implementing OpenTelemetry specification in various language SDKs we would like to have a compliance matrix that shows which features are implemented in which languages.

This will show how much work is remaining and tell us far away are we from being ready for GA.

The matrix is located here: https://github.com/open-telemetry/o

[2020-08-21 07:12] j2gg0s opened #1074 "About RateLimitSampler and GuaranteedThroughputProbabilisticSampler"
Do we have any plan to add RateLimitSampler and GuaranteedThroughputProbabilisticSampler

Like in jaeger:
https://github.com/jaegertracing/jaeger-client-go/blob/master/sampler.go#L189
https://github.com/jaegertracing/jaeger-client-go/blob/master/sampler.go#L249

[2020-08-21 08:14] wonko opened #1075 "Version handling of gRPC / protobuf libs"
Hi,

when using the opentelemetry-go package to instrument and export data from our projects, we bumped into the dependencies this project has on the grpc and protobuf modules (https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/otlp/go.mod#L12 & L19). These are at different versions we require, and break compatibility. This is problematic, as with every release of the otel ex

[2020-08-21 15:26] codeboten opened #1076 "SDK should populate telemetry.sdk.* resource attributes"
As per the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/semantic_conventions/README.md#telemetry-sdk), the SDK must set the `opentelemetry.sdk.name` to `opentelemetry`. It would be nice if the other `telemetry.sdk.*` values were also set.

[2020-08-21 18:34] MrAlias opened #1077 "Remove the orphaned `RegisterSpanProcessor` and `UnregisterSpanProcessor`"
Guessing these are holdovers from an approach prior to the `TracerProvider` design. They are not used:

[code]

and should be removed.

https://github.com/open-telemetry/opentelemetry-go/blob/0ba595bddbfbffbc6ebd7928392337a00565877a/sdk/trace/span_processor.go#L41-L81

[2020-08-23 03:34] thequailman opened #1080 "Stability Roadmap?"
Hello, I am considering using this library but looking at the current master docs vs the latest release (0.10.0), there seems to be a lot of changes pending--labels for instance seems new and the examples are quite different.  What does the roadmap towards 1.0 look like for this library?  When will the API stabilize?

[2020-08-24 16:23] MrAlias opened #1082 "Rename HTTPText to TextMap Propagator"
Implement this change: https://github.com/open-telemetry/opentelemetry-specification/pull/793

[2020-08-24 16:24] MrAlias opened #1083 "Rename ProbabilitySampler to TraceIdRatioBasedSampler"
Implement this change: https://github.com/open-telemetry/opentelemetry-specification/pull/611

[2020-08-24 16:26] MrAlias opened #1084 "Rename ParentOrElse to ParentBased and generalize to support all cases"
Implement these changes: https://github.com/open-telemetry/opentelemetry-specification/pull/610

[2020-08-24 16:27] MrAlias opened #1085 "Update OTLP exporter configuration to conform to the specification"
The following configuration options and the interpreted environment variables need to be implemented to support [the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md#configuration-options)

| Configuration Option | Description                                                  | Default           | Env variable

[2020-08-24 16:28] MrAlias opened #1086 "Add translation of InstrumentationLibraryInfo to Jaeger"
Implement these change: https://github.com/open-telemetry/opentelemetry-specification/pull/801

[2020-08-24 16:28] MrAlias opened #1087 "Add translation of InstrumentationLibraryInfo to Zipkin"
Implement these changes: https://github.com/open-telemetry/opentelemetry-specification/pull/800

[2020-08-24 19:49] MrAlias opened #1088 "Release v0.11.0"
To help keep the cadence of the project up and give developers to start implementing changes that have been made on master we should perform a release.

[2020-08-24 20:08] MrAlias commented on #767
Closing based on the detectors that were added in the linked issue.

[2020-08-24 20:08] #767 closed

[2020-08-24 20:11] MrAlias commented on #1018
possible duplicate of #628

[2020-08-24 20:14] MrAlias commented on #1018
Closing in favor of #628

[2020-08-24 20:14] #1018 closed

[2020-08-24 20:20] MrAlias commented on #300
This looks to be a stale issue. Please reopen in something remains to be addressed.

[2020-08-24 20:20] #300 closed

[2020-08-24 20:23] MrAlias commented on #391
This should probably act as a superset of #75

[2020-08-24 20:24] MrAlias commented on #75
Closing in favor of #391

[2020-08-24 20:24] #75 closed

[2020-08-24 20:26] MrAlias commented on #391
At this point, I propose to resolve this issue by consolidating a complete and documented W3C propagation library here in this repo that this project can use. The package should be kept internal and if there is demand we can then move it to an external repo or expose it here.

[2020-08-24 20:28] MrAlias commented on #964
This should resolve #448

[2020-08-24 20:31] MrAlias commented on #797
This looks stale. Please reopen if things remain to be addressed.

[2020-08-24 20:31] #797 closed

[2020-08-24 20:35] MrAlias commented on #1072
Duplicate of https://github.com/open-telemetry/opentelemetry-go/issues/902. Going to track here.

[2020-08-24 20:35] MrAlias commented on #902
Work to directly add this functionality is being tracked in https://github.com/open-telemetry/opentelemetry-go/issues/1072

Going to close in favor of that issue.

[2020-08-24 20:36] #902 closed

[2020-08-24 20:37] MrAlias commented on #1072
This needs to also include adding a `Shutdown` Method to the span processors.

[2020-08-24 21:53] #1077 closed

[2020-08-24 22:47] SergeyKanzhelev commented on #391
I doubt we will have any engineering force behind the W3C to support it.

[2020-08-24 23:00] Aneurysm9 commented on #1080
There is indeed a great deal in flux right now.  We have just completed a restructuring of the Go modules in this repository to minimize the footprint of including the API in an instrumented library and the [OTel Spec](https://github.com/open-telemetry/opentelemetry-specification) itself is undergoing rapid change as we try to nail down any final BC-breaking changes for the upcoming trace specific

[2020-08-25 15:27] pci opened #1090 "Suggested helper function `trace.Start(ctx context.Context, name string, opts ...StartOption) (context.Context, Span)`"
### Suggestion:

The suggestion is to add a helper function `trace.Start` to `api/trace` to aid the happy path of creating a child span within a function. The function would look something like:
[code]

### Reasoning:

In converting some go apps that use opencensus to opentelemetry, one thing that I've found to be a sticking point in the transition is the happy path where a function takes a contex

[2020-08-25 17:13] #1088 closed

[2020-08-25 18:51] moorara opened #1091 "How to properly do context propagation (http & grpc)?"
With `http` and `grpc` examples removed (and related instrumentation packages) in `v0.11.0`, I see three options for injecting and extracting correlation contexts:

  - `api/trace`: using `Inject` and `Extract` methods available on `B3` (which `B3Encoding` should be used?)
  - `api/correlation`: using `Inject` and `Extract` methods available on `CorrelationContext`
  - `api/propagation`: using `In

[2020-08-25 20:24] MrAlias commented on #1091
The examples and instrumentation has been moved BTW:

* https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/instrumentation/net/http
* https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/instrumentation/net/http/example
* https://github.com/open-telemetry/opentelemetry-go-contrib/tree/master/instrumentation/net/http/httptrace
* https://github.com/open-telemetr

[2020-08-25 20:24] #1091 closed

[2020-08-25 23:33] MrAlias commented on #1009
Looking at this migration our global getter functions (i.e. `MeterProvider`, `TracerProvider`, and `ErrorHandler`) will all clash with their types. Looking at rename options for the getters:

1. `Get*`
2. `Default*`, also switch setter to `SetDefault*`
3. `Global*`, also switch setter to `SetGlobal*`

Leaning towards (1)

[2020-08-26 02:04] TommyCpp opened #1092 "B3 Propagators should set sample bit when debug flag is set"
As suggested in b3 propagation spec

Currently, when debug flag is set, the span context's traceflags will be set to `FlagsDebug`. [One example](https://github.com/open-telemetry/opentelemetry-go/blob/1f2eba2cdb0fb7e92ce199c6c06167d4080a55ff/api/trace/b3_propagator_test.go#L215) can be found in tests. Also when trace flag is set to `FlagsDebug` only, the `SpanContext.IsSampled` method will return

[2020-08-26 16:48] MrAlias opened #1101 "Rename global TraceProvider to TracerProvider"
This naming was in error it should be [`TracerProvider`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#tracerprovider).

https://github.com/open-telemetry/opentelemetry-go/blob/1f2eba2cdb0fb7e92ce199c6c06167d4080a55ff/api/global/trace.go#L30-L39

[2020-08-26 16:56] MrAlias commented on #1101
This also needs to include `SetTraceProvider` -> `SetTracerProvider` in the same global package.

[2020-08-26 19:23] MrAlias opened #1103 "Update trace API Span AddEvent methods"
The existing trace API Span has the following methods to add attributes:

https://github.com/open-telemetry/opentelemetry-go/blob/737d81208b31988d177365871a19258b57c4896b/api/trace/api.go#L105-L109

This is to implement [the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#add-events):

* Both of these methods take a context.Contex

[2020-08-26 19:29] MrAlias opened #1104 "Investigate a RecordException like method for an API Span"
[The specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#record-exception) has added a `RecordException` method to the API Span. This is to record things like a Go panic as a Span event.

We currently only have a `RecordError` method on the Span. This method is not something specified in the specification and doesn't seem suited to re

[2020-08-27 18:18] MrAlias opened #1107 "Remove API Span SetAttribute method"
https://github.com/open-telemetry/opentelemetry-go/blob/3b3c263d9a222e307f9fd27274c413d82b8b37a6/api/trace/api.go#L136-L137

This method is redundant and likely a hold over from before the `label.Value` could be inferred from an `interface{}`. This redundancy will only serve to confuse users over which method should be used. Removing will clean up the API and should be done before it reaches GA.

[2020-08-27 19:14] #1080 closed

[2020-08-27 19:22] MrAlias commented on #1080
I've added a section to the main README that links to our new [project boards](https://github.com/open-telemetry/opentelemetry-go/projects) and [milestones](https://github.com/open-telemetry/opentelemetry-go/milestones). Hopefully this helps make this journey to stability a bit more visible.

[2020-08-27 19:40] thequailman commented on #1080
@MrAlias thank you that helps out a lot!

[2020-08-27 22:42] Aneurysm9 commented on #1104
I think we might want to add an option to `RecordError` to trigger recording of a stack trace, perhaps adding a `RecordException` convenience wrapper that automatically adds that option to a `RecordError` invocation.

As for panic recovery, I think the existing `RecordError` or proposed `RecordException` would be good candidates for users who are trapping their own panics.  The [`span.End()`](http

[2020-08-28 17:42] MrAlias commented on #1103
From the SIG meeting yesterday it sounded like this was received as a positive change and an improvement to the API.

[2020-08-29 14:28] stanleynguyen commented on #1107
Hey @MrAlias can I take this one?

[2020-08-31 16:46] Aneurysm9 opened #1112 "Rename CorrelationContext to Baggage"
See https://github.com/open-telemetry/opentelemetry-specification/pull/857.

The [`api/correlation`](https://github.com/open-telemetry/opentelemetry-go/tree/master/api/correlation) package should probably be renamed.  The [`CorrelationContext`](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/correlation/correlation_context_propagator.go#L33) propagator definitely needs to be ren

[2020-08-31 17:02] #1101 closed

[2020-08-31 23:57] evantorrie opened #1113 "Add `Skip Changelog` label to dependabot-sourced package upgrade PRs"
This will allow the Changelog check #1067 to avoid tripping on Dependabot automatically created PRs.

A possible solution may be to use this action [actions-ecosystem/action-add-labels@v1](https://github.com/actions-ecosystem/action-add-labels) as the last step of the [dependabot-tidier workflow](https://github.com/open-telemetry/opentelemetry-go/blob/master/.github/workflows/dependabot.yml).

[2020-09-01 04:09] dackroyd opened #1114 "Env var resource errors when env var is not set"
If `OTEL_RESOURCE_ATTRIBUTES` has not been set,`resource.FromEnv`'s `Detect` function (used by `resource.Detect`) will generate an `ErrMissingResource` error, causing detection to fail. The failure in that detection isn't entirely clear _which_ resource detection failed, with the aggregate error reporting:

[code]

The specification doesn't make the expected behaviour when the env var isn't popula

[2020-09-01 15:16] #1033 closed

[2020-09-01 17:30] #1074 closed

[2020-09-01 18:00] MrAlias commented on #1092
Given the debug bit implies the accept sample decision there is not an explicit need to set the sampled flag directly, but it does seem correct to evaluate this flag when reporting if the span is sampled.

I had originally made the change to `IsSampled` that you referenced from that commit, but ended up reverting based on the change to existing behavior. I wanted to limit the changes included in t

[2020-09-02 00:18] TommyCpp commented on #1092
I think W3C TraceContext format only have sampled for now so `TraceContext` should be good. `CorrelationContext` doesn't seems to have anything to do with sample decision. So we could probably make the change

[2020-09-02 13:01] #1073 closed

[2020-09-02 15:12] nicks opened #1117 "Meter#Register hangs indefinitely if meter not started"
Given this code:

[code]

the meter.Register call hangs forever waiting on the go channel. I didn't find anything in the documentation that suggested I needed to call Start() before doing any Register calls

[2020-09-02 18:35] MrAlias commented on #1117
I'm not sure I follow your code example. Is this for OpenTelemetry?

Can you expand to the example to be a minimal and runnable example of the error?  Also, and links to the function/methods you are calling would be helpful.

[2020-09-02 18:38] nicks commented on #1117
dammit, I'm a dope! I meant to file this under opencensus, and somehow clicked on one of their links to opentelemetry. My apologies!

[2020-09-02 18:38] #1117 closed

[2020-09-02 19:27] MrAlias commented on #1020
I think #1060 addressed the underlying concern here of reorganizing this package. Going to close. Please reopen if there is still work to do.

[2020-09-02 19:27] #1020 closed

[2020-09-03 14:22] #1086 closed

[2020-09-03 14:28] #1083 closed

[2020-09-03 14:34] #988 closed

[2020-09-03 17:35] MrAlias opened #1120 "Update CONTRIBUTING.md"
Currently the [How to get PRs Merged](https://github.com/open-telemetry/opentelemetry-go/blob/master/CONTRIBUTING.md#how-to-get-prs-merged) section has two issues that need to be addressed.

1. The requirement that "It has received two approvals from Collaborators/Maintainers (at different companies)" has historically not been the case. When a PR contains small non-controversial (based on past dis

[2020-09-03 17:44] MrAlias opened #1121 "Update OTLP exporter to send different signals to different endpoints"
The OTLP exporter specification [states](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/exporter.md#configuration-options) the exporter needs to be able to send different signals (traces and metric events) to different endpoints. The current exporter design only supports sending to a single endpoint for both signals.

[2020-09-03 17:51] MrAlias opened #1122 "Add HTTP protocol support to OTLP"
Currently the OTLP exporter only export using the [grpc protocol](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md#otlpgrpc). Both the [HTTP protocols](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/protocol/otlp.md#otlphttp) required by the specification, http/json and http/protobuf, need to be suppor

[2020-09-03 17:51] MrAlias commented on #1085
This is blocked by #1121 and #1122

[2020-09-03 17:53] MrAlias opened #1123 "Upgrade OTLP to v0.5.0"
The OTLP exporter in this repository is still at version v0.3.0 of the OTLP and needs to be upgraded to the latest version (currently [v0.5.0](https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v0.5.0)).  This will require:

1. [x] LastValue aggregation is required: being added in #1165.
2. [x] Histogram aggregation is required: no open PR

Histogram aggregation is required as an a

[2020-09-03 23:41] dackroyd commented on #1114
Found in the spec: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#detecting-resource-information-from-the-environment

[2020-09-07 14:24] veera83372 commented on #1092
can i pick this one?

[2020-09-07 18:14] rakyll opened #1126 "Consider moving tools into internal?"
This package seems to be used for CI/CD purposes, it can live under internal given it's not user-facing.

[2020-09-07 18:20] rakyll opened #1127 "Is codes package a part of the API?"
The codes package is living outside of API at the moment but it's a direct dependency to the trace API package. Is there a plan to move codes under api or its current location is intended?

[2020-09-07 18:23] rakyll opened #1128 "Move b3 under propagation/b3?"
Currently, the B3 propagation implementation is in the trace API. Would it better to move it under propagation/b3 as an implementation of the propagation interfaces? Not many users unless required will depend on B3 and it confuses uses as it's the default propagation format.

[2020-09-07 18:24] matej-g commented on #1084
Anyone working on this? I'd like to take it.

[2020-09-07 19:22] rakyll opened #1129 "Find a way to avoid both having tracetest.MockSpan and tracetest.Span"
It seems like tracetest.Span is a way to test spans whereas Mock* types are utilized for providing mocks for the tracer. Wouldn't it be possible to avoid having both types even though it requires user to create spans via the MockTracer?

Currently, it confuses users that they are two span types. It is also confusing that only one of them is named as a mock which makes the user wonder if the Span i