[2022-09-27 14:38] MrAlias commented on #3236
Why does something like the [go.opentelemetry.io/otel/semconv/v1.12.0](https://pkg.go.dev/go.opentelemetry.io/otel@v1.10.0/semconv/v1.12.0) package not solve your problem?

[2022-09-27 16:08] #3234 closed

[2022-09-27 16:12] MrAlias commented on #3112
Indeed :+1:

[2022-09-27 16:12] #3112 closed

[2022-09-27 16:15] MrAlias commented on #689
This was indeed a bug https://github.com/open-telemetry/opentelemetry-go/issues/3183

It should be resolved in v0.32.1

[2022-09-27 16:16] MrAlias commented on #689
This is also a bug. You can track its resolution in https://github.com/open-telemetry/opentelemetry-go/issues/3224

[2022-09-27 16:17] MrAlias commented on #689
Closed by #3177

[2022-09-27 16:17] #689 closed

[2022-09-27 19:59] MrAlias commented on #3224
Verified the changes proposed in #3237 resolve this issue based on the provided example.

[2022-09-28 19:52] MrAlias commented on #3229
I have validated that #3238 resolves this issue based on the example example provided.

[2022-09-28 20:04] MrAlias opened #3240 "Compatible aggregators should not error instrument creation"
The [OTel spec](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.13.0/specification/metrics/sdk.md#view) says:

If a view translates an instrument into the exact same as another instrument the same aggregators from the already registered instrument should be updated and pulled from.

Currently, we do not check compatibility:

https://github.com/open-telemetry/opentelemetry-go/

[2022-09-28 20:24] MrAlias opened #3241 "Align view configuration with specification"
Currently, [the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.13.0/specification/metrics/sdk.md#view) defines view configuration to be associated with a `MeterProvider`:

Furthermore, it implies this registration is a one-to-one mapping between views and `MeterProvider`:

[Our current implementation registers views in conjunction with a `Reader`](https://pkg.

[2022-09-28 20:25] MrAlias commented on #3241
The current proposal in https://github.com/open-telemetry/opentelemetry-go/issues/3210 is to move the view registration into the `Reader` directly. If the resolution to this issue to modify the specification, that modification should take that approach into consideration.

[2022-09-29 06:56] scarshad commented on #3088
Sorry for the delay, somehow I missed it.
Can you please explain this `or within that external service`
We have a collector service up and running and no pod restart, everything seems fine but the we are receiving this error very frequently.

[2022-09-29 07:26] dmathieu commented on #3088
That external service is your collector. The error indicates your collector didn't respond in time, so the request was cancelled.

[2022-09-29 12:23] scarshad commented on #3088
So, as far now. We are seeing this error in a few services which have the sudden spikes. So this error from a service which have the RPS increases from 1k to more than 40K.
So, our collector pods are not able to handle this scenario. For now I am increasing the batch size for their service and observing.

[2022-09-29 14:19] MadVikingGod commented on #3241
This was decided to take this form for two reasons:

1.  This allows for independent views per reader.  They can be reused, because they don't have state, but if I need to rename something when exporting to prometheus but not to otlp that is possible in this configuration.
2. We don't control the constructor for ALL `Readers`, just `ManualReader`, `PeriodicReader`, and now `Prometheus`.  We can't

[2022-09-29 15:33] mehdihadeli opened #3242 "Getting parent span attributes from a span"
Hi,
How can I get parent span attributes or whole parent span from a span?

[2022-09-29 15:36] dmathieu commented on #3242
That is not possible.
Parent spans don't necessarily come from the same service.
And even with only local spans, storing every trace tree would have a major performance impact on the SDK.

[2022-09-29 15:38] dmathieu commented on #3242
If your intent is to retrieve the main span from your service (for example, the HTTP span), one solution would be to have a middleware running first, which adds that span into your context.
You can then retrieve that specific span as needed.

[2022-09-29 16:12] jmacd commented on #3027
Duplicate of #3170.

[2022-09-29 16:12] #3027 closed

[2022-09-29 16:30] mehdihadeli commented on #3242
@dmathieu Thanks for your response,
My use case is passing a message `correclationId` subsequently to next spans in the local service spans. And I want to have this `correlationId` in the all spans.
How can I retrieve specific span data?

[2022-09-29 16:31] dmathieu commented on #3242
Use baggage? https://opentelemetry.io/docs/concepts/signals/baggage/
https://pkg.go.dev/go.opentelemetry.io/otel/baggage

[2022-09-29 16:37] mehdihadeli commented on #3242
@dmathieu Yes, I think this works for passing my ID subsequently.
But one question, Is it possible to retrieve specific span from the context, for example with span ID or something else?

[2022-09-29 16:39] dmathieu commented on #3242
You can store spans within the context as [values](https://pkg.go.dev/context#WithValue). This is how the SDK allows storing and retrieving the current span.
See https://github.com/open-telemetry/opentelemetry-go/blob/main/trace/context.go#L25

However, you have to pass the full span into the context. You can't find a span by ID.

[2022-09-29 16:42] mehdihadeli commented on #3242
Yes, so I just have access to the last stored span in the context, correct? And previous spans in the context will override

[2022-09-29 16:43] dmathieu commented on #3242
You can store any other span in another value that you own.

[2022-09-29 16:46] dmathieu commented on #3242
Something like:

[code]

Then, in a middleware that runs first, you change the request's context to be one which holds your main span.
And whenever you need to retrieve that main span, you can use `telemetry.MainSpanFromContext`.

[2022-09-29 16:51] mehdihadeli commented on #3242
Thanks for your guide.

[2022-09-29 16:51] #3242 closed

[2022-09-29 17:09] jmacd commented on #3108
@fatsheep9146 yes, please!

[2022-09-29 20:42] dashpole opened #3244 "Decision: Should we recommend allowing users to set Readers directly?"
Pull exporters (like Prometheus) are expected to use a manual reader under the hood.  Users may also want to set the Aggregation of metrics on the reader.  In that case, we have two options ([discussion](https://github.com/open-telemetry/opentelemetry-go/pull/3239#discussion_r983785119).  @MadVikingGod and I discussed this offline, and decided to open an issue to discuss further):

1. WithReader o

[2022-09-29 21:35] MrAlias opened #3245 "Unify metric SDK caching"
Currently, the only place caching is used is the `meterRegistry`.

There are currently two reported bugs (#3229 and #3240) that would be resolved by adding caching to instrument aggregation determination. If done correctly the same request for compatible instruments would return the same `Aggregator` instance and conflicting, but resolvable, instruments would also get the same instance.

Finally,

[2022-09-30 10:40] mehdihadeli opened #3246 "Add multiple exporter in the config"
Hi,
Is it possible adding multiple exporter like Jaeger and zipkin together in the config?

[2022-09-30 11:19] dmathieu commented on #3246
Sure. When you use WithSyncer/WithBatcher/WithSpanProcessor on TracerProvider initialization, the created SpanProcessor is appended to an array.
So you just have to use `WithX` multiple times.

See https://github.com/open-telemetry/opentelemetry-go/blob/13ddf7d31e389c891689eca29428bcc72ef98572/sdk/trace/provider.go#L294-L310

Example:

[code]

[2022-09-30 11:41] mehdihadeli commented on #3246
@dmathieu Thanks

[2022-09-30 11:41] #3246 closed

[2022-09-30 21:18] MrAlias commented on #3229
Sorry for the chatter and false starts, but I have validated that #3251 resolves this issue based on the example example provided.

[2022-10-02 19:25] mehdihadeli opened #3254 "Unhandled 4XX errors in SpanStatusFromHTTPStatusCodeAndSpanKind"
Hi,
In the [SpanStatusFromHTTPStatusCodeAndSpanKind](https://github.com/open-telemetry/opentelemetry-go/blob/05c5509915fc2eca73d5c134d215274d47e157c5/semconv/internal/http.go#L307) method 4XX errors, doesn't set trace status to `Errors`!
I saw in your code you skipped this range of errors, I think it should set trace status to `ERROR` instead of `UNSET`

[2022-10-04 09:07] github-actions[bot] opened #3257 "Link Checker Report"
## Summary

| Status        | Count |
|---------------|-------|
| 🔍 Total      | 213   |
| ✅ Successful | 201   |
| ⏳ Timeouts   | 0     |
| 🔀 Redirected | 0     |
| 👻 Excluded   | 7     |
| ❓ Unknown    | 0     |
| 🚫 Errors     | 5     |

## Errors per input
### Errors in CHANGELOG.md
* [https://github.com/open-telemetry/opentelemetry-go/releases/tag/v0.11.0](https://github.com/open-telemetry/ope

[2022-10-04 09:45] dmathieu commented on #3257
Rerun of the test got all links working properly: https://github.com/open-telemetry/opentelemetry-go/actions/runs/3180832373/jobs/5185356833

[2022-10-04 09:45] #3257 closed

[2022-10-04 15:13] codeboten opened #3258 "OTLP exporters should emit standard user agent string"
As per the following change in the specification (1.14 releasing Oct 4):

See https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md#user-agent

[2022-10-04 15:40] dashpole commented on #3244
cc @jmacd @MrAlias
This is related to the spec sig discussion on readers vs exporters.  These are the challenges/questions I'm having with go's current implementation.

As an exporter, I want:

* To be able to set defaults for reader options, especially temporality.
* To be able to validate user-provided reader options, especially temporality, but also interval/timeout (Google has limits on valid

[2022-10-04 22:41] #3217 closed

[2022-10-06 02:25] Aneurysm9 commented on #3063
That comment is valid from the perspective of the consumers of the interface (or, at least, those that live in this repository).  i.e., the batch span processor will not make concurrent invocations of its associated exporter.  If there are other components that may invoke that method then the exporter will need to ensure that it is safe to call that method concurrently.

[2022-10-06 22:45] tim-mwangi opened #3264 "BatchSpanProcessor silently drops spans when the queue is full but does not warn about it in the logs"
### Problem Statement

The BatchSpanProcessor - https://github.com/open-telemetry/opentelemetry-go/blob/main/sdk/trace/batch_span_processor.go -has a `MaxQueueSize` defaulted to 2048 and when this is full, it silently drops the spans sent to it - https://github.com/open-telemetry/opentelemetry-go/blob/697d245b9ccf375c1d49e7492d36bceae80acfe4/sdk/trace/batch_span_processor.go#L416. However, it does

[2022-10-07 03:34] eggyhead commented on #1347
:wave: looking through the linked code and wanting to understand the intention of this change since all the examples are slightly different. @MrAlias could you possibly summarize the behavior of these methods for `oltp`?

[2022-10-07 04:40] #3224 closed

[2022-10-07 12:57] fabianaferreira commented on #3264
Hello! I'd like to work on that, if possible. It would be my first contribution to the project!

From my understanding, it would be enough to use warning logs when processing the queue. Does it make sense? Thanks!

[2022-10-07 16:42] MadVikingGod commented on #2966
This will have a number of subtasks:

- [ ] Support expo in metricdata package
- [ ] Support ExpoHisto in exporters
- [ ] Create an ExpoHisto internal.Aggregation

[2022-10-07 16:50] MadVikingGod commented on #3030
Related to https://github.com/open-telemetry/opentelemetry-go/issues/3006

[2022-10-07 17:00] tim-mwangi commented on #3264
Hi @fabianaferreira , yes. So at line https://github.com/open-telemetry/opentelemetry-go/blob/697d245b9ccf375c1d49e7492d36bceae80acfe4/sdk/trace/batch_span_processor.go#L268 split up the logging such that we still debug log the length of the batch queue and if `bsp.dropped > 0` we warn log it.

[2022-10-07 17:45] Aneurysm9 commented on #3264
I'm not sure that logging at the warn level on every dropped span is appropriate.  This is a situation that is likely to occur under load and adding a substantial amount of logging may exacerbate that load.  The number of dropped spans is expected to be able to be reported as a metric.  While we can't utilize the metric API in trace components at this time, that should be the way forward here IMO.

[2022-10-07 18:10] ryanericson commented on #3264
@Aneurysm9 That logging is not going to log at every single dropped span. It's at the time of export so we're looking at every batch, in case you really mean log message occuring for every single dropped span.

This is also not different than what we do at https://github.com/open-telemetry/opentelemetry-go/blob/31661dd6bed7ca1b87954d980bd0f6adc6a5d4c2/exporters/otlp/internal/retry/retry.go#L107
In

[2022-10-07 19:23] Aneurysm9 commented on #3264
The OTLP exporter is not logging there, it just returns an error.

[2022-10-07 20:55] ryanericson commented on #3264
Right, but in the end that error goes to `otel.Handle` which by default logs to stderr.
https://github.com/open-telemetry/opentelemetry-go/blob/1f5b159161e0ff54df4677284fa7d6718dc9186d/sdk/trace/batch_span_processor.go#L298

[2022-10-10 14:18] srabraham opened #3266 "Why so many go.mod files (Go modules) in this repo?"
Hi there,
I see that this repo has a lot of Go modules (31, by current count). What's the reasoning behind this? Many of those modules make extensive reference to other Go modules in the repo, using dependency replacement (e.g. `replace go.opentelemetry.io/otel/metric => ../../../../metric`).

I think I'd understand if there were multiple fairly separate code packages in the repo, but many/most of

[2022-10-11 19:41] #3229 closed

[2022-10-11 19:41] #3240 closed

[2022-10-11 19:53] MrAlias opened #3269 "Release Metric v0.32.2 Checklist"
- [x] Complete [Milestone](https://github.com/open-telemetry/opentelemetry-go/milestone/30)
- [x] Update contrib codebase to support changes about to be released (use a git sha version)
- [x] [Pre-release](https://github.com/open-telemetry/opentelemetry-go/blob/main/RELEASING.md#pre-release)
- [x] [Tag](https://github.com/open-telemetry/opentelemetry-go/blob/main/RELEASING.md#tag)
- [x] [Release](

[2022-10-11 22:19] jsign opened #3271 "Default resource not included in v0.32.0 compared to v0.31.0"
### Description

Between versions v0.31.0 and v0.32.0, the attributes from the default resource changed their behavior.

### Environment

- OS: Linux
- Architecture: amd64
- Go Version: 1.10
- opentelemetry-go version:v0.31.0 -> v0.32.0

### Steps To Reproduce

- `git checkout metric/v0.31.0`
- `cd example/prometheus && go run main.go`
- See the output of `loalhost:2222/metrics`

Do the same with

[2022-10-11 22:28] MrAlias commented on #3271
The old way of adding those labels to every metric was indeed a bug. It is specifically called out as something that MUST NOT be done [in the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/data-model.md#resource-attributes-1):

It seems like a good addition to add a `target_info` metric to expose the resource information in the expor

[2022-10-11 22:47] MrAlias commented on #3269
https://github.com/open-telemetry/opentelemetry.io/pull/1854

[2022-10-11 22:53] #3269 closed

[2022-10-12 10:08] dmathieu commented on #3258
Fixed in #3261.

[2022-10-12 10:08] #3258 closed

[2022-10-12 10:14] dmathieu commented on #3254
This is actually the expected behavior, as described by the specification:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/http.md#status

This is because if your application returns a 4xx within a server span kind, it's expected that the status is set when the error is returned by the application itself.
Basically, when you set the

[2022-10-12 10:14] #3254 closed

[2022-10-12 15:45] #1347 closed

[2022-10-12 15:49] MrAlias commented on #3241
This sounds good :+1:, we just need to ensure the specification is updated to reflect this intention before we can release a stable package.

[2022-10-12 15:53] MrAlias commented on #2938
Closing as the original author has resolved their issue.

[2022-10-12 15:53] #2938 closed

[2022-10-12 16:36] alanwest opened #3272 "I don't know how to Go 😢"
`go build`ing the following gives

#### go.mod
[code]

#### main.go
[code]

[2022-10-12 16:37] MrAlias opened #3273 "Add Instrumentation Scope and Version as info metric and label in Prometheus exporter"
Based on https://github.com/open-telemetry/opentelemetry-specification/pull/2703

[2022-10-12 16:49] MrAlias commented on #3272
:facepalm:

Portions of https://github.com/open-telemetry/opentelemetry-go/pull/3261 were not released but the portions that were depend on those unreleased (internal) packages.

I think we need a v1.11.0 and v0.32.3 release to fix this mistake. (cc @Aneurysm9 @MadVikingGod)

[2022-10-12 16:52] Aneurysm9 commented on #3272
we should probably also retract `v0.32.2` then.

[2022-10-12 16:52] MadVikingGod commented on #3272
Oy.  That's our bad.

I think that makes sense, it should probably include a retraction of v0.32.2 also.

[2022-10-12 16:53] MrAlias opened #3274 "Release v1.11.0/v0.32.3 Checklist"
A complete release is needed to address https://github.com/open-telemetry/opentelemetry-go/issues/3272

- [x] [Pre-release](https://github.com/open-telemetry/opentelemetry-go/blob/main/RELEASING.md#pre-release)
- [x] [Tag](https://github.com/open-telemetry/opentelemetry-go/blob/main/RELEASING.md#tag)
- [x] [Release](https://github.com/open-telemetry/opentelemetry-go/blob/main/RELEASING.md#release)

[2022-10-12 17:06] MrAlias commented on #3274
https://github.com/open-telemetry/opentelemetry-go/pull/3275

[2022-10-12 17:19] #3272 closed

[2022-10-12 17:44] MrAlias commented on #3274
https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2859

[2022-10-12 18:00] MrAlias commented on #3088
Did this resolve your issue @scarshad? Can this issue be closed?

[2022-10-12 18:13] #3274 closed

[2022-10-12 18:15] MrAlias opened #3276 "Generate the v1.14 version of the semconv package"
The v1.14 version of the specification has been released. A new v1.14 version of semconv needs to be generated for this.

Blocked by https://github.com/open-telemetry/opentelemetry-go/issues/3191 which is working to add new HTTP semantic convention functionality due to upstream breaking changes.

[2022-10-12 19:27] MrAlias commented on #954
Resolved by https://github.com/open-telemetry/opentelemetry-go/pull/3175

[2022-10-12 19:27] #954 closed

[2022-10-12 19:30] MrAlias commented on #1280
Stale, closing. There is an example of how to manage histograms added in https://github.com/open-telemetry/opentelemetry-go/pull/3177 FWIW

[2022-10-12 19:30] #1280 closed

[2022-10-12 19:31] MrAlias commented on #1387
Stale, closing.

[2022-10-12 19:31] #1387 closed

[2022-10-12 19:32] MrAlias commented on #1404
Can this be closed in favor of recommending https://pkg.go.dev/go.opentelemetry.io/contrib/propagators/autoprop @dashpole ?

[2022-10-12 19:33] MrAlias commented on #1538
Stale, closing. It should be possible to run both exporter/reader with the new SDK. Please reopen if determined to not be the case.

[2022-10-12 19:33] #1538 closed

[2022-10-12 19:37] dashpole commented on #1404
yes, definitely.

[2022-10-12 19:37] #1404 closed

[2022-10-12 19:41] MrAlias commented on #2045
This looks to have been resolved in https://github.com/open-telemetry/opentelemetry-collector/issues/3535.

[2022-10-12 19:41] #2045 closed

[2022-10-12 19:41] katiehockman opened #3277 "trace: changing interfaces will break backwards compability"
The documentation for several of the interfaces have an addendum stating:

This is not a backwards compatible change to make per the language requirements, and any new methods added to an interface would be a breaking change for anyone who is implementing it. See the "Working With Interfaces" section of https://go.dev/blog/module-compatibility for more details about why this is a breaking change a

[2022-10-12 19:42] MrAlias commented on #2079
Similar to #2045, this looks resolved by https://github.com/open-telemetry/opentelemetry-collector/issues/3535

[2022-10-12 19:42] #2079 closed

[2022-10-12 19:45] MrAlias commented on #2219
Closing, stale. This should be resolved by the new SDK. Please reopen if it is not.

[2022-10-12 19:45] #2219 closed

[2022-10-12 19:49] MrAlias commented on #2868
Closing, stale. This should be resolved by the new SDK merged in https://github.com/open-telemetry/opentelemetry-go/pull/3175

[2022-10-12 19:49] #2868 closed

[2022-10-12 19:53] MrAlias commented on #3277
This is a know difference between [this projects versioning and stability policy](https://github.com/open-telemetry/opentelemetry-go/blob/main/VERSIONING.md#policy) and the Go language. It is something inherited from the OpenTelemetry project itself. It is not something we can change.

[2022-10-12 20:03] katiehockman commented on #3277
Thanks for the quick response!

Doesn't this go against the [API stability for the Open Telemetry project](https://opentelemetry.io/docs/reference/specification/versioning-and-stability/#extending-existing-api-calls)? Namely:

Go wouldn't allow these kinds of changes in a backwards-compatible manner, so I thought it would go against the project's policy.

I'm raising this because I'm concerned as

[2022-10-12 20:45] MrAlias commented on #3277
Indeed. That is a valid concern to have and we recommend if you plan to go this route you are fully aware of this possible breaking behavior when you upgrade your implementations.

[2022-10-12 21:25] MrAlias commented on #3005
Closing, stale.

[2022-10-12 21:25] #3005 closed

[2022-10-13 01:39] scarshad commented on #3088
Yes, it's resolved. We are good to close it.
PS: This issue is not that much related to the client, yes the custom batching helps us but the problem is due to the sudden traffic on the service.

Thanks to @dmathieu for the help.

[2022-10-13 01:39] #3088 closed

[2022-10-13 08:34] vmihailenco opened #3278 "AsyncCounter and AsyncUpDownCounter expected callback value changed in v0.32.0"
Before 0.32, the value in a callback function was expected to be an absolute value, but since 0.32 it must be a delta or metrics are incorrect:

[code]

Is that intentional? It is not documented anywhere and not mentioned in the changelog. Also, [runtimemetrics](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/instrumentation/runtime/v0.36.3/instrumentation/runtime/runtime.go#L148-L

[2022-10-13 13:59] katiehockman commented on #3277
Could you please link to where this is documented? I was looking at the [API spec](https://opentelemetry.io/docs/reference/specification/versioning-and-stability/#extending-existing-api-calls) for the project and didn't see this requirement, but I might be looking in the wrong place. I was also looking at [this issue](https://github.com/open-telemetry/opentelemetry-go/issues/1714), but I couldn't

[2022-10-13 14:34] #3108 closed

[2022-10-13 15:01] jmacd commented on #3277
[I support @katiehockman's interpretation that](https://github.com/open-telemetry/opentelemetry-go/issues/3277#issuecomment-1276673807)

is meant to prevent extending APIs in languages where there would be a breaking change. AFAIK all the changes in the trace spec since it was declared stable have gone through this sort of review by each SIG -- and those changes have been SHOULD requirements to al

[2022-10-13 18:05] katiehockman commented on #3277
To be clear, this library wouldn't necessarily be required to opt out. They could just bump the major version when the change is made, which would still allow for backwards compatibility. But yes in the worst case they could just opt out of certain features if they don't feel they can bump the major version.

[2022-10-13 18:16] jmacd commented on #3277
@katiehockman Correct--I should have said something like "allowed to choose not to implement an optional feature as opposed to a breaking change or a major version number change".

[2022-10-13 23:17] albertlockett opened #3281 "Prometheus exporter does not cumulatively sum histogram buckets"
### Description

Using the otel-go sdk to collect metrics with prometheus exporter does report the values in the bucket as a cumulative sum of the value for this bucket and the buckets of lower values.

If I do this:
[code]

I get an output like this:
[code]

### Environment

- OS: osx
- Architecture: intel
- Go Version: 1.19
- opentelemetry-go version:

### Steps To Reproduce

here's a project th

[2022-10-13 23:23] albertlockett commented on #3281
https://github.com/open-telemetry/opentelemetry-go/pull/3282

[2022-10-13 23:31] dangermike commented on #3281
I have seen the same behavior, including with the provided example code from [/example/prometheus/main.go](https://github.com/open-telemetry/opentelemetry-go/blob/84e28fd3bdb10b11a15be895f2eda56f2c341384/example/prometheus/main.go).

Thanks, @albertlockett!

[2022-10-14 02:24] fatsheep9146 commented on #3271
@MrAlias Could I take this issue?

[2022-10-14 08:35] aep opened #3283 "End() with panic should SetStatus(Error)"
span.End() does recover

https://github.com/open-telemetry/opentelemetry-go/blob/84e28fd3bdb10b11a15be895f2eda56f2c341384/sdk/trace/span.go#L381

and it does set an exception event, but it doesn't set the span status to error.

this seems, wrong?

[2022-10-14 09:31] NewReStarter commented on #3283
It seems to be the expected behavior. check below api specification
* [End](https://opentelemetry.io/docs/reference/specification/trace/api/#end)
* [Semantic Conventions for Exceptions](https://opentelemetry.io/docs/reference/specification/trace/semantic_conventions/exceptions/)
[code]
`exception` should be `panic` in your case.

`span.End()` should only

You may consider set it explicitly with `s

[2022-10-14 09:40] aep commented on #3283
confusingly the golang package doesn't behave that way tho.
it _does_ catch the exception internally in End

[2022-10-14 09:57] dmathieu commented on #3283
It catches it, but also rethrows it: https://github.com/open-telemetry/opentelemetry-go/blob/84e28fd3bdb10b11a15be895f2eda56f2c341384/sdk/trace/span.go#L383

[2022-10-14 10:13] aep commented on #3283
right. according to the spec you quoted, this must be done by the user (before span.end)
so i opened a PR in otelchi to do that.

not entirely sure if the behaviour in otel-go is ok, because in this case it did lead exactly to the situation where the library user (otelchi) was assuming otel-go handles the panic correctly.

[2022-10-14 10:26] krupyansky opened #3284 "Histogram sum is not correct"
### Description

On localhost:8889/metrics I get the data:

# HELP enp_offering_eoffr_http_client_total_duration

# TYPE enp_offering_eoffr_http_client_total_duration histogram

enp_offering_eoffr_http_client_total_duration_bucket{http_flavor="HTTP/1.1",http_method="POST",http_status_code="200",instance="23d4c8be87b8",job="enp-offering",to_service="catalog",le="0"} 0

enp_offering_eoffr_http_clien

[2022-10-14 13:33] NewReStarter commented on #3283
other language sdk(c++/python) also behave this way, so I guess it's expected behavior.

[2022-10-14 14:00] aep commented on #3283
allright, thank you.
closing this because it needs to be solved in otelchi

[2022-10-14 14:00] #3283 closed

[2022-10-14 14:07] fatsheep9146 commented on #3271
@Aneurysm9
I have talked with @paivagustavo in slack and found that he has already completed the coding of this pr, since this is duplicate of #3166.
Could you assign this work to @paivagustavo?

[2022-10-14 14:09] fatsheep9146 commented on #3273
@MrAlias @Aneurysm9  Could I take this issue?

[2022-10-14 14:13] #3281 closed

[2022-10-14 14:22] #3200 closed

[2022-10-14 14:22] #3172 closed

[2022-10-14 16:46] MrAlias commented on #2808
We have a replacement bridge.

[2022-10-14 16:46] #2808 closed

[2022-10-14 16:54] MrAlias commented on #3085
Closing as https://github.com/open-telemetry/opentelemetry-go/pull/3233 looks to have resolved this. The `Reader` implementation no longer needs to be comparable. Please reopen if this was an error.

[2022-10-14 17:31] MrAlias commented on #3163
Blocked by adding exemplars to the SDK in #559

[2022-10-14 17:53] MrAlias commented on #3085
https://github.com/open-telemetry/opentelemetry-go/blob/b6a22abab751307b4851b3cc51728fa557f907bb/sdk/metric/config.go#L29

[2022-10-14 17:58] MrAlias commented on #3085
https://github.com/open-telemetry/opentelemetry-go/blob/b6a22abab751307b4851b3cc51728fa557f907bb/sdk/metric/pipeline.go#L404

[2022-10-14 18:08] mterwill opened #3287 "Zipkin exporter and collector do not agree on wire representation of status codes"
### Description
The Zipkin exporter and collector do not agree on wire representation of status codes. Please let me know if this issue should be filed in open-telemetry/opentelemetry-collector-contrib instead.

The Zipkin exporter serializes status codes as `Unset`, `Error`, and `Ok`:

https://github.com/open-telemetry/opentelemetry-go/blob/5568a3072367bb8ac4d2d9e759e7deb5a975b9f5/exporters/zipki

[2022-10-14 18:18] dashpole commented on #2171
I believe this is addressed with the current (new) version of the prometheus exporter.  See https://github.com/open-telemetry/opentelemetry-go/pull/3239#issuecomment-1271730211.

Basically, we register with the DefaultRegisterer by default, and allow users to override this with the WithRegisterer option.

[2022-10-14 18:21] dashpole opened #3288 "Prometheus exporter metric names should include unit suffixes."
Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#metric-metadata-1

The things we need to do are:

* Map OTel units to "base" units. Base units include seconds, bytes, joules, grams, meters, ratios, volts, amperes, and celsius.
* Add the unit as a suffix to the metric name.

[2022-10-14 19:24] #2171 closed

[2022-10-14 19:29] prodion23 commented on #3264
I attempted this as @tim-mwangi / @ryanericson suggested, a little unsure about what log level we should use since `.Warn` just seems to overlap with error in this case & modifying info logging integer level could have wider implications?

https://github.com/open-telemetry/opentelemetry-go/pull/3289

[2022-10-14 20:24] MrAlias opened #3291 "Prometheus exporter reports reader not registered on startup"
### Description

Running the Prometheus exporter example results in the following error being logged:

[code]

### Environment

- Go Version: 1.19
- opentelemetry-go version: b6a22abab751307b4851b3cc51728fa557f907bb

### Steps To Reproduce

1. Checkout commit
2. `cd example/prometheus`
3. `go run .`
4. See error:

[code]

### Expected behavior

The line `2022/10/14 13:23:14 reader is not registere

[2022-10-14 20:26] MrAlias commented on #3291
My guess is this error is returned by the underlying `manualReader` when the `collector` is registered. Likely because `Describe` is being called then and the exporter has not been registered with any `MeterProvider`.

Maybe this registration needs to be delayed?

[2022-10-14 20:31] MrAlias commented on #3284
I am not able to reproduce this behavior with the following code. Please provide a **complete** example of your usage that can be run to reproduce the bug and the commit hash of the package you are running against.

`main.go`:

[code]

`go.mod`:

[code]

Project version: b6a22abab751307b4851b3cc51728fa557f907bb

Running the above:

[code]

and in another terminal:

[code]

[2022-10-14 20:39] MrAlias commented on #3287
[Based on the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/trace/sdk_exporters/zipkin.md#status) the status value should be the ...

It seems like we are not correctly setting it to an upper case value, but it also seems like the collector is incorrectly expecting it to be one of `STATUS_CODE_UNSET`, `STATUS_CODE_OK`, or `STATUS_CODE_ERROR

[2022-10-14 20:39] MrAlias commented on #3287
@mterwill can you open an issue with the collector as well to track this parsing error?

[2022-10-14 21:35] MrAlias commented on #3278
The new SDK follows the OpenTelemetry specification in defining the default temporality to be cumulative for all instrument kinds. Setting a `TemporalitySelector` using [`WithTemporalitySelector`](https://pkg.go.dev/go.opentelemetry.io/otel/sdk/metric#WithTemporalitySelector) that defines delta temporality for these instrument types should result in the exact value being reported.

I'm still looki

[2022-10-15 02:55] laxmikantbpandhare opened #3292 "go mod tidy failing with package not found errors"
### Description

I am facing import issues like below. Is there any workaround for this?

[code]

### Environment

- OS: [e.g. iOS]
- Architecture: [e.g. x86, i386]
- Go Version: [e.g. 1.19]
- opentelemetry-go version: [e.g. v0.23.0,]

### Steps To Reproduce

go mod tidy on the project

### Expected behavior

it will run successfully

[2022-10-15 03:29] laxmikantbpandhare commented on #3292
Imports that I have

[code]

[2022-10-15 05:52] vmihailenco commented on #3278
It is not about `TemporalitySelector` - both temporalities are broken if you report/observe absolute values. And both temporalities work if you report/observe delta values.

For example, the following app reports `3 6 9 12` etc

[code]

[2022-10-15 13:31] krupyansky commented on #3284
I make repo for bug:
https://github.com/krupyansky/otel-bug

1) make init
2) make curl-metrics
3) Go to browser and enter: localhost:8889/metrics
4) and you can see bug

![image](https://user-images.githubusercontent.com/72496274/195989085-472b3b4c-ff44-4b3f-b0f3-b72601f49131.png)

[2022-10-15 15:15] MrAlias commented on #3278
Setting the temporatlity selector like mentioned does indeed produce your requested behavior:

[code]

[code]

[code]

[2022-10-15 15:20] MrAlias commented on #3292
`go.opentelemetry.io/otel/sdk/export/metric` and `go.opentelemetry.io/otel/metric/registry` no longer exist. You will need to updated your code to not depend on them.

[2022-10-15 17:57] laxmikantbpandhare commented on #3292
@MrAlias ok! Any idea about other import

[code]

Is the above also got deprecated?

[2022-10-15 18:31] MrAlias commented on #3284
This looks specific to the otlpmetric exporters. The histogram sum is a pointer that is not recreated for every iteration of the export transform loop:

https://github.com/open-telemetry/opentelemetry-go/blob/9d7779a7d76bb97580e83307084df7304ef62bfe/exporters/otlp/otlpmetric/internal/transform/metricdata.go#L181

Therefore the last one iterated over is use for all.

[2022-10-16 06:50] vmihailenco commented on #3278
Well, if you mean that is how `metricdata.CumulativeTemporality` should behave, then yes. But you've selected `metricdata.DeltaTemporality` and it is not working correctly, because the counter is not changing at all. In other words, using `DeltaTemporality` does not help.

And it is not like I am requesting a new behavior. That is how it worked until v0.32.0.

[2022-10-16 07:56] krupyansky commented on #3284
Hello, @MrAlias!)

Can you tell me when the release of version 0.33.0 is planned?

Our team is looking forward to the release)

[2022-10-16 22:22] katiehockman commented on #3277
@MrAlias Do you feel that this issue could be re-opened, given the discussion currently being had, or is this a firm rule that this library has chosen to take? If it's something in the spec that's forcing this then I would like to file an issue against the spec to better support situations like this.
Thank you!

[2022-10-17 09:39] krupyansky commented on #3284
Hello, @MrAlias!)

Can you tell me when the release of version 0.33.0 is planned?

Our team is looking forward to the release)

[2022-10-17 13:45] MadVikingGod commented on #3291
After reading more details about the [prometheus collector interface](https://pkg.go.dev/github.com/prometheus/client_golang@v1.13.0/prometheus#hdr-Custom_Collectors_and_constant_Metrics) I think we should do nothing on Describe.  This is called when the collector is registered with prometheus, and is intended to produce the names of the metrics that we will send prometheus.  Because we won't know

[2022-10-17 14:45] pichlermarc opened #3343 "Support the OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE environment variable"
### Problem Statement

Environment variables like `OTEL_EXPORTER_OTLP_ENDPOINT` and `OTEL_EXPORTER_OTLP_HEADERS` are already supported. However, currently,  the temporality preference cannot be configured via environment variables.

### Proposed Solution

Support the `OTEL_EXPORTER_OTLP_METRICS_TEMPORALITY_PREFERENCE` environment variable, so that it can be configured in the same manner as the end

[2022-10-17 14:59] xcheng85 opened #3344 "Issues or mis-use of histogram metrics"
I created a custom histogram bucket:

ExplicitBucketHistogram{
			Boundaries: []float64{0.5, 1, 2.5, 5, 10, 20, 40, 60, 80, 120, 160, 240, 320, 480, 640},
		}),
and then I add a histogram metric data point: 200

I am expecting to see 5 buckets to have counter: 1 but only 2 buckets instead. Could you please help ?

unity_event_1_bucket{namespace="evd-cia3dviz",le="240"} 1
unity_event_1_bucket{names

[2022-10-17 15:16] MrAlias commented on #3284
@krupyansky you can track the release progress here: https://github.com/open-telemetry/opentelemetry-go/milestone/31

[2022-10-17 15:26] MrAlias commented on #3343
This project currently does not support that, nor are their plans to support it due to the inability to limit dependencies. It may be something the `autoexport` package could include (see https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2753), but that is a ways from doing so.

There is also talk that this functionality extends beyond the scope of the exporter as well: https://githu

[2022-10-17 15:28] #3344 closed

[2022-10-17 15:39] MrAlias commented on #3344
We don't currently have a date, but you can track its progress here: https://github.com/open-telemetry/opentelemetry-go/milestone/31

[2022-10-17 16:05] jmacd commented on #3278
In https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-counter-creation,

The v0.31 and prior SDK were correct. @MrAlias this has the appearance of a bug -- where the asynchronous form of aggregator should start from scratch (i.e., 0) on each collection round so that the cumulative output matches the instrumented value (if filtering, th

[2022-10-17 16:18] MrAlias commented on #3278
Thanks! This is the thing I was looking for.

If we wanted to make this clearer in the specification, I was initially looking for this in the [Asynchronous Counter operations section](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-counter-operations). Having this defined there would be helpful, but I don't think its critical.

[2022-10-17 16:36] bogdandrutu commented on #3199
The PR was closed based on wrong assumptions:
The benchmark to measure New is not the relevant part, calling funcs on View is the one that worries more if "performance" was seen as the major reason, though I believe is the correct way to not pollute the stack and every larger object to be heap allocated and avoid unnecessary copies of the struct.

[2022-10-17 18:10] frycm opened #3349 "Metrics SDK global labels"
### Problem Statement

It would be great to have API to configure "global" labels for the all metrics produced from the application. In previous versions it was possible by default resource but now there is no easy way ho to achieve it.
For custom metrics it could be implemented by per metric (but a not too easy way), for external metrics its impossible now.

### Proposed Solution

Extension of Vi

[2022-10-17 18:27] MrAlias commented on #3349
Metrics are still associated with a single resource:

https://github.com/open-telemetry/opentelemetry-go/blob/1cbd4c2b7726ded5e7a9a18997cb25977137a0b1/sdk/metric/metricdata/data.go#L28-L33

Is this not suffient?

Is this specifically talking about the prometheus exporter? I.e. this issue? https://github.com/open-telemetry/opentelemetry-go/issues/3166

[2022-10-17 18:37] frycm commented on #3349
Yes, it's mainly about Prometheus exporter. I will check API you mentioned.

[2022-10-17 20:34] MrAlias commented on #3349
Sounds good. I'm going to close this as it is a duplicate of https://github.com/open-telemetry/opentelemetry-go/issues/3166.

[2022-10-17 20:34] #3349 closed

[2022-10-18 00:27] dashpole opened #3353 "UpDown Counters should become prometheus gauges"
I noticed in our unit test that our "fun little gauge" is actually a counter: https://github.com/open-telemetry/opentelemetry-go/blob/main/exporters/prometheus/testdata/gauge.txt#L2

We should check if counters are monotonic are not, and create a gauge from them if they are.

[2022-10-18 15:55] dashpole opened #3359 "Prometheus counters should have a _total suffix appended."
Discovered in https://github.com/open-telemetry/opentelemetry-go/pull/3352#discussion_r998370889.

Spec: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md#sums-1

Our current [counter.txt testcase](https://github.com/open-telemetry/opentelemetry-go/blob/main/exporters/prometheus/testdata/counter.txt#L2) demonstrates that the _total suffix i

[2022-10-18 16:43] jwcesign opened #3361 "Does it support customer metrics exporter like `opencensus`?"
Just like what opencensus does:
[code]

[2022-10-18 17:40] MrAlias commented on #3361
Implementations of the [`metric.Exporter`](https://pkg.go.dev/go.opentelemetry.io/otel/sdk/metric#Exporter) can be used with a [periodic reader](https://pkg.go.dev/go.opentelemetry.io/otel/sdk/metric#NewPeriodicReader) as an exporter.

[2022-10-18 19:45] #2523 closed

[2022-10-18 19:45] #3144 closed

[2022-10-18 20:02] #3291 closed

[2022-10-18 21:07] #3196 closed

[2022-10-18 22:34] MrAlias commented on #3292
Sort of. That package structure changed prior to the stable v1 release.

[code]

That should resolve the dependency.

[2022-10-18 22:36] laxmikantbpandhare commented on #3292
Oh! got it. I am closing this issue as this has nothing to do with any bugs in the project. @MrAlias - thank you for helping out.

[2022-10-18 22:36] #3292 closed

[2022-10-18 23:24] MrAlias commented on #3194
@bogdandrutu can you link to the part of the specification that min/max cannot be present for cumulative temporality?

[2022-10-18 23:31] MrAlias commented on #3178
This looks to be resolved, on the latest commit at least (ad45631b53faa74191fcee37c8f010e520af67e1):

[code]

[2022-10-18 23:31] #3178 closed

[2022-10-19 08:20] kand617 opened #3364 "Prometheus Exporter: A working example"
### Problem Statement

I am trying to use otel API to add metrics and use prometheus as a exporter.
However I cant get a working example. promhttp does not appear to pick up new metrics from the metrics api.

Sample code

[code]

When making a curl request to `localhost:2223/metrics`. I expect to see metric stats related to `my_counter`. However its custom metrics are not there.

[2022-10-19 09:40] rytsh opened #3365 "View with rename function"
### Problem Statement

When creating a new view, I really like to add prefix string to all my instruments or regex to change it. I am thinking to add my service name as prefix.

Now I can just rename directly but if something like give a function to rename, I can write my new names based on instrument name.

This can also break the safety check of the rename but it would be good this kind of wildc

[2022-10-19 15:45] Aneurysm9 commented on #3365
Thank you for your interest and suggestion.  I believe that functionality like this would need to be vetted and defined in the OpenTelemetry specification before we could implement it here.

[2022-10-19 15:59] MrAlias commented on #3364
Can you please provide environment information to help track down this bug: https://github.com/open-telemetry/opentelemetry-go/issues/new?assignees=&labels=bug&template=bug_report.md&title=

[2022-10-19 16:03] MrAlias commented on #3364
I am not able to reproduce this bug.

`main.go`:

[code]

`go.mod`:

[code]

Running:

[code]

Querying

[code]

[2022-10-19 16:22] #3166 closed

[2022-10-19 16:22] #3271 closed

[2022-10-19 17:06] MrAlias commented on #3145
The upstream issue is closed and it doesn't look like there is a plan to add the attributes back as identifying. Given we have removed our implementation as well I'm going to close this issue as the release should not be blocked by this.

[2022-10-19 17:06] #3145 closed

[2022-10-19 17:41] MrAlias opened #3366 "Release v1.11.1/v0.33.0 Checklist"
- [x] Complete milestones
   - [x] https://github.com/open-telemetry/opentelemetry-go/milestone/31
   - [x] https://github.com/open-telemetry/opentelemetry-go/milestone/32
- [x] Update contrib codebase to support changes about to be released (use a git sha version)
- [x] [Pre-release](https://github.com/open-telemetry/opentelemetry-go/blob/main/RELEASING.md#pre-release): https://github.com/open-te

[2022-10-19 18:00] frycm commented on #3349
At the end I was able to solve it by:

    registry = prometheus.NewRegistry()
    registerer = prometheus.WrapRegistererWith(prometheus.Labels{"...": ...}, registry)
    registerer.Register(exporter.Collector)

[2022-10-19 18:02] MrAlias commented on #3366
https://github.com/open-telemetry/opentelemetry-go/pull/3367

[2022-10-19 18:23] #3359 closed

[2022-10-19 19:25] #3288 closed

[2022-10-19 19:55] MrAlias commented on #3241
It doesn't seem like https://github.com/open-telemetry/opentelemetry-specification/issues/2288 is going to be resolved any time soon.

I think we need to move this issue to `Todo` and work to refactor our implantation to conform with the specification so we do not block our v1 release.

[2022-10-19 21:01] paivagustavo opened #3368 "Add support for instrumentation scope attributes during meter/tracer/logger creation"
### Problem Statement

Currently, there is no way to define instrumentation scope attributes when creating a tracer/meter as specified in https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#get-a-meter

### Proposed Solution

Add back instrumentation scope attributes.

#### Prior Art

This was already implemented by https://github.com/open-telemetry

[2022-10-19 21:17] MrAlias commented on #3368
Similar to https://github.com/open-telemetry/opentelemetry-go/issues/3140, this cannot be added until we have a clear specification for how to export these values. Specifically how conflicts are resolved given these attributes are not identifying.

[2022-10-19 21:19] MrAlias commented on #3140
Closing in favor of tracking with #3368

[2022-10-19 21:19] #3140 closed

[2022-10-20 01:14] #3361 closed

[2022-10-20 04:24] kand617 commented on #3364
Interesting!

I cant run your sample due compilation error

![image](https://user-images.githubusercontent.com/5092518/196855792-e2021c51-35ab-40ca-a593-188b6f1bf649.png)

go.mod

[code]

[2022-10-20 15:11] MrAlias commented on #3364
Please give it a try with the latest release: https://github.com/open-telemetry/opentelemetry-go/releases/tag/v1.11.1

[2022-10-20 15:40] #3366 closed

[2022-10-20 17:23] MrAlias commented on #559
If we want to move this to post stable release. We would want to add a non-comparable field type to https://github.com/open-telemetry/opentelemetry-go/blob/587437ba5b784c4ca242a8374758d0ac37fa6bd8/sdk/metric/metricdata/data.go#L83 to ensure adding a field of exemplar slices here would not break backwards compatability.

[2022-10-20 20:21] MrAlias opened #3370 "Verify compliant metric API specification implementation: MeterProvider"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [x] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:22] MrAlias opened #3371 "Verify compliant metric API specification implementation: Meter"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [x] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:22] MadVikingGod opened #3372 "Reenable context-as-argument linter."
context-as-arrugment linter was disabled because it can't be used with viper v1.13.0.  This should track [golangci-lint](https://github.com/golangci/golangci-lint/issues/3280) and be reenabled when it is compatible.

[2022-10-20 20:23] MrAlias opened #3373 "Verify compliant metric API specification implementation: Instrument General Characteristics"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
   - [x] Also ensure the same for the top-level "Instrument" section: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/api.md#instrument
- [x] Ensure the [current metric API implementation] is compliant with these normativ

[2022-10-20 20:24] MrAlias opened #3374 "Verify compliant metric API specification implementation: Instrument Counter"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [ ] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:24] MrAlias opened #3375 "Verify compliant metric API specification implementation: Instrument Asynchronous Counter"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [x] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:25] MrAlias opened #3376 "Verify compliant metric API specification implementation: Instrument Histogram"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [ ] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:25] MrAlias opened #3377 "Verify compliant metric API specification implementation: Instrument Asynchronous Gauge"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [ ] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:26] MrAlias opened #3378 "Verify compliant metric API specification implementation: Instrument UpDownCounter"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [x] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:27] MrAlias opened #3379 "Verify compliant metric API specification implementation: Instrument Asynchronous UpDownCounter"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [ ] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:27] MrAlias opened #3380 "Verify compliant metric API specification implementation: Measurement"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [ ] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:28] MrAlias opened #3381 "Verify compliant metric API specification implementation: Compatibility"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [x] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:29] MrAlias opened #3382 "Verify compliant metric API specification implementation: Concurrency"
- [x] Identify all the normative requirements, recommendations, and options [the specification] defines as comments to this issue
- [x] Ensure the [current metric API implementation] is compliant with these normative requirements, recommendations, and options in those comments.

[the specification]: https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/metrics/ap

[2022-10-20 20:31] MrAlias opened #3383 "Have OTel TC review metric API and sign-off on stable release"
Blocked by:

- [x] #3370
- [x] #3371
- [x] #3373
- [x] #3374
- [x] #3375
- [x] #3376
- [x] #3377
- [x] #3378
- [x] #3379
- [x] #3380
- [x] #3381
- [x] #3382

Create an issue in the community repository to request a TC member review the metric API once internal review is done.

[2022-10-20 20:33] MrAlias opened #3384 "Document public interfaces with versioning policy"
Similar to https://github.com/open-telemetry/opentelemetry-go/pull/2012, add documentation to exported interfaces.

[2022-10-20 21:44] MrAlias commented on #559
Discussed in the SIG meeting today: this might better fit in the post-GA metric SDK project. It needs to be verified that this can be added in a backwards compatible manner. If so, work to add it should be postponed until the specification has stabilized this section.

[2022-10-20 21:45] MrAlias commented on #2966
Discussed in the SIG meeting today: this might better fit in the post-GA metric SDK project. It needs to be verified that this can be added in a backwards compatible manner. If so, work to add it should be postponed until the specification has stabilized this section.

[2022-10-20 21:45] MrAlias commented on #3163
Discussed in the SIG meeting today: this might better fit in the post-GA metric SDK project. It needs to be verified that this can be added in a backwards compatible manner. If so, work to add it should be postponed until the specification has stabilized this section.

[2022-10-20 22:11] MrAlias commented on #801
This looks like it will be resolved with https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2753

[2022-10-20 22:28] MrAlias commented on #1716
@skonto can this be closed?

The association of a resource to a `MeterProvider` is going to be a static one-to-one relationship based on the [OTel specification definition](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#meterprovider). If multiple resources are needed a dynamic way to change out `MeterProvider`s is likely something you will nee

[2022-10-20 22:32] MrAlias commented on #2310
Should be resolved by https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2753

[2022-10-20 22:37] #3003 closed

[2022-10-20 22:44] MrAlias commented on #2797
Our Zipkin exporter should be compliant with the [OpenTelemetry specification](https://github.com/open-telemetry/opentelemetry-specification/blob/v1.14.0/specification/trace/sdk_exporters/zipkin.md). Does Alibaba Cloud support this data-model?

[2022-10-20 22:45] MrAlias commented on #2894
@william-lbn can you confirm this is still an issue for you?

[2022-10-20 22:55] MrAlias commented on #3055
Thanks for proposing the suggestion @Wondertan! As mentioned above, this is considered out-of-scope for this project. I'm going to close this issue as it is not something we plan to include.

[2022-10-20 22:55] #3055 closed

[2022-10-20 23:02] MrAlias commented on #3063
It seems like that comment needs to rephrased to communicate to the user of the interface (not the implementer). E.g:

[2022-10-20 23:12] MrAlias commented on #3136
This should be resolved with the new metric SDK. Please reopen if you find otherwise.

[2022-10-21 16:37] ktong opened #3388 "IsMonotonic is inconsistent for opencensus bridge between go and java"
The opencensus shim in Java set IsMonotonic to true, https://github.com/open-telemetry/opentelemetry-java/blob/main/opencensus-shim/src/main/java/io/opentelemetry/opencensusshim/internal/metrics/MetricAdapter.java#L158

 But Opencensus bridge in Go set IsMonotonic to false
https://github.com/open-telemetry/opentelemetry-go/blob/ccbc38e66ede23ef04d86f690df5c7c525ecd4f5/bridge/opencensus/internal/oc

[2022-10-21 16:47] MadVikingGod commented on #559
Things to consider if this will be an API breaking change:

- How is the exemplars are configured. Option (where)
- How does this impact current data structures: eg. DataPoint above

Once metrics SDK is stable, how can this be used in a pre-release form?
- One option is to use an RC version.

[2022-10-21 17:29] MadVikingGod commented on #3201
This was moved to blocked because we don't have an apparent consensus.

There were concerns with marshaling NAN when it should be empty.  @MrAlias could you please explain what you think this failure mode is?

[2022-10-21 18:47] MrAlias commented on #3201
Treating `NaN` as undefined has two main issues:

1. The zero value of the field is not unset, it is going to be `0.0`. Things like `metricdata.HistogramDataPoint{}` will have the wrong value for `Min`/`Max`.
2. Non-standard use of a `float64` value means upstream/downstream development have an error possibility introduced. A bridge will need to know to set `NaN` if it doesn't use the field and do

[2022-10-21 18:48] MrAlias commented on #3201
I think this is the best option if we want to eliminate an allocation for these fields and still have zero values of the type be meaningful and accurate.

[2022-10-21 19:58] MrAlias opened #3390 "Use view AttributeFilter"
Currently the `view.View` type provides an `AttributeFilter` method and the related `WithFilterAttributes` option.

https://github.com/open-telemetry/opentelemetry-go/blob/ccbc38e66ede23ef04d86f690df5c7c525ecd4f5/sdk/metric/view/view.go#L90-L100

https://github.com/open-telemetry/opentelemetry-go/blob/ccbc38e66ede23ef04d86f690df5c7c525ecd4f5/sdk/metric/view/view.go#L196-L214

These are unused in t

[2022-10-24 13:12] vmihailenco commented on #3278
@MrAlias this issue was only fixed of cumulative temporality. Delta is still broken.

[code]

[2022-10-25 04:24] marwan-at-work opened #3393 "Make SpanContext and related types de-serializable"
### Description

The SpanContext and its sub types (TraceID, SpanID, etc) have MarshalJSON methods, but do not have UnmarshalJSON methods.

It makes for a broken experience because you can use the encoding/json library to marshal a type, but suddenly you cannot un-marshal back into the Go type anymore.

### Steps To Reproduce

1. Create a SpanContext or a TraceID
2. Use encoding/json to marshal it

[2022-10-25 12:17] krupyansky opened #3394 "Exporter version 0.32.0 and higher is not compatible with opentelemetry-collector-contrib"
### Description

The library [opentelemetry-collector-contrib](https://github.com/open-telemetry/opentelemetry-collector-contrib) along the path pkg/translator/prometheusremotewrite/metrics_to_prw.go has a method FromMetrics():

[code]
Due to the fact that an invalid metric comes to the opentelemetry-collector-contrib (in my case, SUM with len(DataPoints) == 0), I get error "invalid temporality an

[2022-10-25 13:55] Aneurysm9 commented on #3393
These types can be marshalled to JSON to support the STDOUT exporter for debugging purposes and are not intended to be used to round-trip data.  If you need to communicate a `SpanContext` to a remote process utilizing the OTel Go SDK (or any other OTel SDK, for that matter) then the Propagation API is the way to do so.

[2022-10-25 13:55] #3393 closed

[2022-10-25 15:14] bogdandrutu commented on #3199
@MrAlias why did you remove this from the milestone, it is still needed in my opinion...

[2022-10-25 15:20] bogdandrutu commented on #3194
Here is the text from the [data model](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/data-model.md)

[2022-10-25 15:25] bogdandrutu commented on #3194
@MrAlias found in the specs this as an option to the aggregation. The only difference is that it is a bit different as name `RecordMinMax` see https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/sdk.md#explicit-bucket-histogram-aggregation

[2022-10-25 16:36] MrAlias commented on #3199
We closed that milestone in favor of tracking beta with a project and releases with milestones. It's still on the list of things to do 🙂

[2022-10-25 17:23] jmacd commented on #3278
@vmihailenco This code snippet:

[code]

creates confusion with me because the implementation proposed for "stateless" in the Lightstep metrics SDK (and the otel specification) is that "stateless" means delta for synchronous instruments while it means cumulative for asynchronous instruments. Otherwise, using delta temporality for an asynchronous instrument requires state in the SDK. (Note: I perso

[2022-10-25 17:28] jmacd commented on #3379
See the discussion in https://github.com/open-telemetry/opentelemetry-go/issues/3278.

I'm concerned that the fix in https://github.com/open-telemetry/opentelemetry-go/pull/3350 will break when filters are applied. In the comment here (https://github.com/open-telemetry/opentelemetry-go/issues/3278#issuecomment-1281108795), there is a suggestion not to `set()` the aggregator to the last value, but

[2022-10-25 17:40] MrAlias commented on #3379
This issues is about the compliance of the metric API, `go.opentelemetry.io/ote/metric`. This comment seems to be about the compliance of the SDK. Is there more to it? Is this meant to say our API implementation needs to be addressed?

[2022-10-25 17:44] MrAlias commented on #3278
Your expectation does not match my understanding of the specification. Each cycle your callback is reporting `3`. If you expect to observe `3 0 0 0 0 0` you would need to observe `3` and then `0` repeatedly. That would comply with the quoted specification above:

[2022-10-25 17:44] jmacd commented on #3379
Sorry, I thought this was about end-to-end compliance testing. I'm not sure whether a new issue is needed for the comment in https://github.com/open-telemetry/opentelemetry-go/issues/3379#issuecomment-1290899787, seems to fall in with #3278.

[2022-10-25 17:50] jmacd commented on #3278
The word "absolute" is potentially misleading--it's been debated in the past and we left that word in place, but other words we considered are "current" and "cumulative" and "total". Another way to describe this is that the callback reports the value that a cumulative-temporality reader will see. For asynchronous counters, a delta temporality reader should see the difference between successive "ab

[2022-10-25 18:34] MadVikingGod commented on #3390
I don't think we can just remove this.  This is a feature described in the view specification.

When working on this I found that we have incorrect logic of the async sum aggregator.  The scenario I have is if you have an async counter and a filter you can have two Observers that should be summed.

eg:
[code]

I would expect this would return a sum of 30 on collect.

[2022-10-25 18:54] MrAlias commented on #3278
Ah, gotcha! I think I see now.

I had understood it as the user will tell you the temporality of the value that is provided. However, it is that the instrumentation will always record a cumulative value and if a user overrides the temporality to be delta the exported data needs to be converted delta.

I'll look into a PR to address this.

Also, I'm going to take another look at the other implement

[2022-10-25 19:34] MrAlias commented on #3278
@jmacd Is the is this also the way `Async*UpDownCounter`s are intended to behave?

[2022-10-25 19:58] MrAlias commented on #3390
Can you open an issue to track this bug?

[2022-10-25 21:36] jmacd commented on #3278
Yes, that's correct. @MrAlias I'd like your help pinpointing where the specification can improve--although now that we're on the topic, when faced with questions in this territory @reyang responded with [supplementary guidelines](https://opentelemetry.io/docs/reference/specification/metrics/supplementary-guidelines/). Here's a section on the asynchronous counter, delta temporality case: https://op

[2022-10-26 00:25] MrAlias commented on #3278
I think having normative statement defining the required behavior in the specification would be helpful.

For example, in the SDK definition of an asynchronous counter, having a section on the `Observe` functionality with something like:

In the top level definition it should also mention that the asynchronous counter types have restriction on the aggregations they support. Possiblly:

[2022-10-26 00:55] reyang commented on #3278
There is a note in https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#asynchronous-counter

"Note: Unlike [Counter.Add()](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/api.md#add) which takes the increment/delta value, the callback function reports the absolute value of the counter. To determine the r

[2022-10-26 06:31] vmihailenco commented on #3278
For Uptrace/ClickHouse I need delta temp whenever possible, but I guess I should just avoid using `stateless` name. Here is what we plan to [use](https://github.com/uptrace/uptrace-go/blob/master/uptrace/metrics.go#L65-L73):

[code]

In Python, they have `preferred_temporality=delta/cumulative` which I think does exactly that and I like the name/API. Perhaps Go could have the same?

[2022-10-26 15:19] MrAlias commented on #3278
I have verified #3398 to produce the expected output

[2022-10-26 19:45] MrAlias opened #3399 "Replace the view implementation in the metric SDK"
There are design and usability issues with the current view implementation. This issue introduces a proposal to replace the current view implementation with one that addresses these issues.

## Issues

### View package is used as a namespace for a sprawl of options

It seems the main motivation for the `view` package is to encapsulate the large number of configuration options that exist, and those

[2022-10-26 21:26] MrAlias commented on #3399
I could also see having the `NewView` function just be the `WithView`  `MeterProvider` option function once https://github.com/open-telemetry/opentelemetry-go/pull/3387 lands.

[2022-10-27 07:09] tonglil commented on #3364
I am facing the same issue, trying to dig into why. It seems like my modules are up-to-date, but also using go workspaces which has it's own issues.

The metrics are shown in the stdout exporter, but not in /metrics.

[2022-10-27 16:52] MrAlias commented on #3399
Thinking about this for a bit, it doesn't seem advantageous. If instead of `NewView` we included:

[code]

There would be two main issues:

1. User defined `View` functions would not be usable, there would be no option function to pass them to `NewMeterProvider`.
    - An additional option function could be added to accept the `View` type. However, this would have an equivalent API surface area wi

[2022-10-27 17:10] MrAlias commented on #3194
Gotcha. We chose a different name so the zero value of the field matches what the default of the specification defines to be the default behavior. That way when users use `ExplicitBucketHistogram{}` they get the default specified value.

[2022-10-27 17:11] MrAlias commented on #3194
From this it sounds like this isn't required to not be recorded, just that it is likely going to be less useful for cumulative data, right?

[2022-10-27 17:48] MrAlias commented on #3399
This would also resolve/supersede https://github.com/open-telemetry/opentelemetry-go/issues/3199

[2022-10-27 18:50] MrAlias commented on #3390
Given the mentioned bug, and https://github.com/open-telemetry/opentelemetry-go/pull/3396#discussion_r1007236678

We should probably look into how other SIGs are resolving this and if there is any specification on this behavior.

[2022-10-27 19:26] MrAlias commented on #3390
Specification issue related to behavior question: https://github.com/open-telemetry/opentelemetry-specification/issues/2905

[2022-10-27 21:29] #3388 closed

[2022-10-27 22:22] MrAlias commented on #3394
Can you clarify your "steps to reproduce" with code?

I'm very confused by this issue. Are you wondering why a counter that you created with this repository, https://github.com/open-telemetry/opentelemetry-go, doesn't export any data if you don't record any values?

[2022-10-27 23:57] lucasoares opened #3405 "Default labels on exported metrics for Prometheus"
Hello.

I was using metrics SDK version `0.30.0` and I'm now updating my code with the `0.33.0` to keep up with latest pre-GA version.

When I was using the version `0.30.0` all the exported metrics to (Prometheus Exporter) had my resource labels from the OTEL_RESOURCE_ATTRIBUTES and OTEL_SERVICE_NAME environment variables plus SDK versions.

After the update these labels are no longer returned an

[2022-10-28 02:17] lucasoares commented on #3405
There is any documentation available on how to do it? To make prometheus export to always set these metrics?

[2022-10-28 04:22] #3287 closed

[2022-10-28 16:36] MrAlias commented on #3031
This issues is referenced by https://github.com/open-telemetry/opentelemetry-go-contrib/issues/2755, https://github.com/open-telemetry/opentelemetry-go-contrib/issues/2757, https://github.com/open-telemetry/opentelemetry-go-contrib/issues/2759, and https://github.com/open-telemetry/opentelemetry-go-contrib/issues/2761 as adding integration testing utilities. It is not defined to accomplish this.

[2022-10-28 16:38] MrAlias commented on #3031
I wonder if this issue can't be moved to the post-GA project?

We can add an `sdk/metric/internal/metrictest` package post 1.0 that builds out the integration testing of the SDK. If another SDK requests access to that package we could then "stabilize" it by moving it to `sdk/metric/metrictest`.

The downside to delaying this is that it will likely never get done. Putting off adding tests for later

[2022-10-28 16:47] MrAlias opened #3407 "Create metric SDK testing utilities for instrumentation"
Similar to the [`go.opentelemetry.io/otel/sdk/trace/tracetest`](https://pkg.go.dev/go.opentelemetry.io/otel/sdk@v1.11.1/trace/tracetest) package, testing utilities need to be created for the metric SDK.

Blocks:

- https://github.com/open-telemetry/opentelemetry-go-contrib/issues/2755
- https://github.com/open-telemetry/opentelemetry-go-contrib/issues/2757
- https://github.com/open-telemetry/opent

[2022-10-28 17:11] MrAlias commented on #3407
This might be as simple as having instrumentation use a manual reader.

[2022-10-28 18:32] MrAlias commented on #3053
If an instrument that a callback registration is being performed for doesn't match a registered view it will still match the implied default view:

If no view matches we still need to call the callback from the instrument based on the implied default. The only time when it shouldn't be called would be if there is a view that matches and uses drop aggregation.

[2022-10-28 19:09] MrAlias commented on #3053
We already detect in the instrument creation if there are no aggregators that match with the instrument. If we update the async instruments to return a no-op instrument implementation we would be able to skip the registration.

[2022-10-28 21:22] MrAlias commented on #3031
Moving to the "Metric SDK (GA)" project. We should complete this prior to releasing a GA, but should also wait for the SDK to stabilize in the beta release so we don't churn updating the developed tests.

[2022-10-29 00:02] NickOttrando opened #3410 "Clearing the trace from a duplicated context"
Hi, I'm running a web application in gin and want to have one trace for the main request, and then separate traces for any goroutines that are ran.

Before running my goroutine I'm copying the main thread's ctx using Gin's [copy function](https://pkg.go.dev/github.com/gin-gonic/gin#Context.Copy), and then I try to get a span for the new context, but I believe it still has the same trace as the mai

[2022-10-29 17:43] MrAlias commented on #3410
The spans you printed are different, they have different span IDs. They belong to the same trace, is that the issue you are having? This is an intentional relationship of a tracing system. You can read more about this in the OTel docs: https://opentelemetry.io/docs/concepts/observability-primer/#distributed-traces

If you would like to define a new trace you will need to use a context that does no

[2022-10-29 20:31] NickOttrando commented on #3410
Hi there, yes I would basically like to clone the request context which already has a trace associated with it, but remove that trace so I can instantiate another one for the separate go-routine. Is there no way to do that?

[2022-10-30 13:15] krupyansky commented on #3394
https://github.com/krupyansky/otel-bug

1) make init
2) make curl-metrics
3) wait one-two minutes
4) make logs-otel
5) and you can see "Exporting failed. The error is not retryable. Dropping data.    {"kind": "exporter", "data_type": "metrics", "name": "prometheusremotewrite", "error": "Permanent error: Permanent error: Post \"victoriametrics:8428\": unsupported protocol scheme \"victoriametrics\"

[2022-10-30 14:51] MrAlias commented on #3394
It looks like you have an "unsupported protocol scheme" in your collector configuration. I would recommend correcting your configured endpoint.

[2022-10-30 15:16] krupyansky commented on #3394
Yes, thanks for the note @MrAlias

Made changes in https://github.com/krupyansky/otel-bug.

Steps:

1) make init
2) make curl-metrics
3) wait one-two minutes
4) make logs-otel
5) and you can see "Exporting failed. The error is not retryable. Dropping data.    {"kind": "exporter", "data_type": "metrics", "name": "prometheusremotewrite", "error": "Permanent error: invalid temporality and type combin

[2022-10-30 21:10] NickOttrando commented on #3410
Hi @maksim77, this does look like it will do exactly what I want. Will try it out and close the issue if it works, thanks!

[2022-10-30 22:33] #3410 closed

[2022-10-30 23:17] markhildreth-gravity opened #3432 "Extraneous Partial Success Error Message Exporting Traces to OTel Collector"
### Description

I have successfully set up to use the Go OpenTelemetry libraries to export trace spans to an OpenTelemetry Collector using OTLP over gRPC. However, even though all the spans are being exported to the collector correctly, I am getting error messages in the OpenTelemetry log in my Go application which look like the following:

[code]

This message repeats as more spans are sent. I b

[2022-10-31 08:41] dmathieu commented on #3432
I wonder if this isn't an issue in the collector rather than this library.
If the collector returns a partial success, we should expect at least one error. Otherwise, it should return a full success.

[2022-10-31 13:18] markhildreth-gravity commented on #3432
@dmathieu That may certainly be a possibility. Unfortunately I was not keen enough with wireshark to be able to see what the collector was actually returning to verify who was at fault.

[2022-10-31 14:55] #3241 closed

[2022-10-31 14:55] #3085 closed

[2022-10-31 14:55] #3210 closed

[2022-11-01 01:59] #3194 closed

[2022-11-01 04:05] bmon commented on #3407
Thank you very much for this link, I hadn't quite joined the dots here, the example test is really helpful!

[2022-11-01 05:14] fatsheep9146 commented on #3223
Can I take this issue? @MrAlias

[2022-11-01 18:55] joshcarp commented on #3031
Hello. I came across the `go.opentelemetry.io/otel/sdk/metric/metrictest@v0.31.0`  and I was wondering why it got removed because there doesn't seem to be any alternative and there seems to be [some repos already using it](https://github.com/search?l=Go&q=go.opentelemetry.io%2Fotel%2Fsdk%2Fmetric%2Fmetrictest&type=Code)

[2022-11-01 19:06] MrAlias commented on #3031
It was built against the v0.31.0 SDK which was replaced in v0.32.0. Use a manual reader and the `metricdatatest` package to test expected metric values: https://github.com/open-telemetry/opentelemetry-go/issues/3407

[2022-11-01 19:50] MrAlias commented on #3405
I don't know of any. Someone with more familiarity of Prometheus would need to speak to this.

[2022-11-01 22:53] MrAlias opened #3434 "An easier way to ignore fields is needed for the metricdatatest assert functions"
### Problem Statement

The `metricdatatest` assert functions are great! However, I'm always frustrated when using them and I need to ignore a field. For example, I have real latency measured in a histogram and I cannot deterministically defined the expected buckets, sum, min, or max.

Similarly, I may only care about a sum value, but don't know the attributes they will have because that is done th

[2022-11-01 22:58] MrAlias opened #3435 "An easier way to partial match metric attributes is needed for the metricdatatest assert functions"
### Problem Statement

I'm always frustrated when I need to assert an incomplete set of attributes exist for a metric using the metricdatatest assert functions.

For example, I know all of my sums should contain the `attribute.String("statement", "INSERT")` attribute, but they will also contain an attribute describing the host. The host changes every test, therefore, I only want to assert the attr

[2022-11-01 23:00] MrAlias commented on #3434
This came up with adding back integration testing to contrib packages:

- https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2962
- https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2959

[2022-11-01 23:27] MrAlias commented on #2946
Closing due to lack of response. Please reopen if this was in error and the suggestions did not lead to a resolution.

[2022-11-01 23:27] #2946 closed

[2022-11-01 23:51] MrAlias commented on #3394
If we returned `nil` here:

https://github.com/open-telemetry/opentelemetry-go/blob/49b62aef665325d78fe23c4ebe791eb0184a4a65/sdk/metric/internal/sum.go#L149

Instead of a value, then this:

https://github.com/open-telemetry/opentelemetry-go/blob/49b62aef665325d78fe23c4ebe791eb0184a4a65/sdk/metric/pipeline.go#L134-L135

Would drop the empty aggregation and the data would not be sent.

I think this

[2022-11-02 09:11] ianzhang1988 commented on #2306
Can someone elaborate how actually these OTEL_BSP_* work.

In my test, It show that at every `OTEL_BSP_EXPORT_TIMEOUT` sdk send `OTEL_BSP_MAX_EXPORT_BATCH_SIZE` spans. Then some spans got droped(I guess it used up OTEL_BSP_MAX_QUEUE_SIZE).

Is `OTEL_BSP_EXPORT_TIMEOUT` interval for sending spans?

[2022-11-02 14:50] #3273 closed

[2022-11-02 14:57] fatsheep9146 commented on #3161
as discussed in https://github.com/open-telemetry/opentelemetry-go/pull/3357#pullrequestreview-1154026833

this issue is also blocked by https://github.com/open-telemetry/opentelemetry-specification/pull/2890

[2022-11-02 15:54] paivagustavo opened #3437 "Add a `namespace` option to the Prometheus Exporter"
### Problem Statement

As an user of the Prometheus Exporter, I would like to be able to set a namespace `prefix` for my exported metrics.

### Proposed Solution

A new `prometheus.WithNamespace()` option that would add the given namespace to all metrics except meta metrics, i.e., `target_info` metrics shouldn't be prefixed since they have some special behavior.

#### Alternatives

One could use a

[2022-11-02 19:39] paivagustavo commented on #3437
btw, If there is no objection, I can work on adding it.

[2022-11-02 19:52] MrAlias commented on #3437
Is this something other OTel language implementations have?

[2022-11-02 19:52] MrAlias commented on #3437
This could also be resolved via view right?

[2022-11-02 20:05] paivagustavo commented on #3437
Didn't do a full search, but found that [otel python](https://github.com/open-telemetry/opentelemetry-python/blob/main/exporter/opentelemetry-exporter-prometheus/src/opentelemetry/exporter/prometheus/__init__.py#L116-L122) implements it.

If I could specify a view that matched multiple instruments, probably? Something like a regex matcher, that make the groups available during the stream creation.

[2022-11-02 20:29] MrAlias commented on #3437
[Hopefully we are headed there](https://github.com/open-telemetry/opentelemetry-go/issues/3399), but even then it looks like a common task others have solved at the exporter level.

I'm in favor of the option.

[2022-11-02 20:29] MrAlias commented on #3437
The full definition would be something like this, right?

[code]

[2022-11-02 20:48] MrAlias commented on #2306
@ianzhang1988 please take a look at the related batch span processor docs (https://pkg.go.dev/go.opentelemetry.io/otel/sdk/trace#BatchSpanProcessorOption) and the specification info on the environment variables (https://github.com/open-telemetry/opentelemetry-specification/blob/08a15efd4c43336ae31d14809aaa1acce07c9a0a/specification/sdk-environment-variables.md#batch-span-processor).

If these do n

[2022-11-03 15:01] MadVikingGod commented on #3399
You missed another error of the NewView, when you supply a wildcard and a rename.

Why define the view as a func and not an open interface?  A user can easily implement both, but if it's a func then there is never a chance for us to extend it via interface casts (see `WriterTo` and [its use in the std library](https://cs.opensource.google/go/go/+/refs/tags/go1.19.2:src/io/io.go;l=405-410))

Should

[2022-11-03 15:53] MrAlias commented on #3399
Not sure I follow the suggestion. Should we make a `Reader` a function? I don't think that is appropriate given the specification defines it as something that performs multiple functions.

[2022-11-03 16:03] #3432 closed

[2022-11-03 18:21] paivagustavo commented on #3435
This is probably about the default resources (sorry if it is not), would there be a way to create a mock for the default resources during tests, making them deterministic or at least using an empty resource for those cases?

I feel like having exact matches for tests is better and lead to less buggy code than checking for a subset of things.

[2022-11-03 18:32] MrAlias commented on #3435
It was for metric instruments: https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2962/files#diff-4952dc7ae3d29c757b4554040c9b95d338aeb80ce6f88691cf17f845280f78e6R378-R392

Though I do wonder if we should provide something that says "check for the default resource".

[2022-11-03 18:54] MrAlias commented on #3437
@dashpole mentioned in today's SIG meeting that it is going to be uncommon for users to want to prefix multiple instrumentation libraries with the same prefix.

[This](https://github.com/open-telemetry/opentelemetry-go/issues/3399) view refactor proposal may help to address this. If accepted a user could define a name replacement view based on the existing instrument name and if it matches a scope

[2022-11-03 18:56] MrAlias commented on #3161
@fatsheep9146 this issue should not be blocked. The referenced issue is merged in the specification and we should implement a solution that address it.

Let me know if you are still able to work on this.

[2022-11-03 19:01] MrAlias commented on #3399
@reyang @jmacd to your knowledge will it be non-compliant with the specification if we allow users to define their own view functions as described here?

They would still have the "guard-rails included" option of the `NewView` function to create views as prescribed by the specification, but was it the intention of the specification to restrict users further?

Based on the current view specificatio

[2022-11-03 20:20] MrAlias commented on #3437
We could also try to solve the scope->prefix issue with just an option for the exporter. E.g.

[code]

We will need to recreate match criteria for the scope matching here.

[2022-11-03 20:51] MadVikingGod opened #3439 "Align Async Counter behavior when used with filtered attributes."
### Problem Statement

If an attribute filter is used with an Async Counter the last value observed will be exported. This

[code]
Yields a Sum with a value of 5.

This has been discussed in the spec, and the expected output is a Sum with a value of 9.
https://github.com/open-telemetry/opentelemetry-specification/issues/2905

### Proposed Solution

Correct our instruments, filters, or aggregators

[2022-11-03 21:21] paivagustavo commented on #3437
I understand and agree that this it *not* the ideal for most of the cases and we wouldn't recommend users to do it. Although I do think this is fairly common for existing codes that uses OpenCensus and other instrumentation libraries. Which can make the transition to Otel painful.

I would still advocate for having a `WithNamespace` just as other prometheus libraries already exposes. And having th

[2022-11-03 22:13] MrAlias commented on #3437
I'm less excited to add this if we know it is not ideal. If there is a better solution I would be in favor of that instead of carrying forward non-ideal behavior from prior systems.

It seems to me that both alternative approaches outlined above could be used by OpenCensus users migrating to OTel, right?

[2022-11-03 22:24] paivagustavo commented on #3437
I guess if we could match all scopes with those views then yes. Since I don't think users would be migrating to Otel under a single scope.

[2022-11-03 22:41] fatsheep9146 commented on #3161
Yes, I am working on this. =D

[2022-11-03 22:55] wisdommatt commented on #3384
@MrAlias I would like to work on this

[2022-11-03 22:58] MrAlias commented on #3437
Seems like it would be up to us to define the match criteria. If you define the function to consider the `scope` parameters as a "match any field for zero-value fields" an empty `scope` would mean match all.

[2022-11-03 22:59] MrAlias commented on #3437
You could also look for a "wildcard" of say `Name: "*"` that would match all, but I think that might also give the impression all wildcards are supported. Probably not ideal.

[2022-11-04 18:12] reyang commented on #3399
If my understanding is correct, this is a general question "if a concrete implementation chooses to provide some extra thing that is not defined in the specification, is it considered to be spec-compliant or not?". @MrAlias is my understanding correct or you're looking for something else?

[2022-11-04 18:47] MrAlias commented on #3399
Yeah, I think that is a fair restatement. :+1:

[2022-11-04 19:21] reyang commented on #3399
This is an interesting topic, I don't think we've ever made it explicit.

Here is my personal thinking - the specification defines the minimum bar for an implementation to be considered compliant. Providing extra features that are not required by the specification should not be considered as violation, unless the specification explicitly prohibits that.

Having said that, an implementation should

[2022-11-04 19:56] MrAlias commented on #3399
Thanks for the guidance @reyang. Think this proposal is advantageous for the reasons you outlined. It provides `NewView` to ensure that users are able to paint in the lines of what OTel specifies, and since we expose the intermediary `View` they can still use primitives that suite their need.

Looking at other implementation, I think this proposal would bring us closer to what .NET actually does.

[2022-11-04 20:34] MrAlias commented on #3399
Ah, gotcha.

[2022-11-04 20:37] MrAlias commented on #3399
@reyang are these the public derfinitons?

https://github.com/open-telemetry/opentelemetry-dotnet/blob/6ff512cf6020432ec8f4cefbd107ea89428c77bc/src/OpenTelemetry/Metrics/Builder/MeterProviderBuilderExtensions.cs#L89-L151

Sorry, my .NET understanding is slim. :disappointed:

[2022-11-04 21:20] reyang commented on #3399
Yep, the methods are public and the class which contains these methods is also public.

[2022-11-04 21:21] reyang commented on #3399
This doc might be helpful: https://github.com/open-telemetry/opentelemetry-dotnet/tree/main/docs/metrics/customizing-the-sdk#view

[2022-11-04 23:25] wisdommatt commented on #3439
@MadVikingGod , @MrAlias I would like to work on this

[2022-11-04 23:44] MrAlias commented on #3439
@wisdommatt please outline the design approach you plan to take here. This is likely not going to be obvious to resolve and having consensus on the approach will likely help prevent wasting work.

[2022-11-04 23:47] wisdommatt commented on #3439
@MrAlias sure, will look at the otel spec issue https://github.com/open-telemetry/opentelemetry-specification/issues/2905, then share my feedback/design approach.

[2022-11-06 14:59] #3384 closed

[2022-11-07 11:20] ianzhang1988 commented on #2306
@MrAlias After some digging, I found that It's my server end (jaeger) do not send http 202, then block otel upload. Sorry for the false alarm.

[2022-11-08 20:33] MrAlias opened #3451 "Asynchronous Instrument API non-compliant with OTel Specification: creation does not accept callbacks"
### Description

The OpenTelemetry specification states:

Our current metric API does not accept "zero or more `callback` functions" for new async instruments.

[2022-11-08 20:36] MrAlias opened #3452 "Asynchronous Instrument API non-compliant with OTel Specification: callbacks cannot be unregistered"
The OpenTelemetry specification states:

Currently, we allow callbacks to be registered with the `Meter`. We do not support an "un-register" mechanism.

[2022-11-08 20:41] MrAlias opened #3453 "Asynchronous Instrument API does not follow OTel Specification recommendation on naming"
The [OpenTelemetry specification](https://github.com/open-telemetry/opentelemetry-specification/blob/791f463964c9a4d5a019408f9b669a30592c7c88/specification/metrics/api.md) recommends naming asynchronous instrument with certain names:

The opentelemetry-go project does not currently adhere to this naming strategy. I do not see a strong reason to not do so either.

[2022-11-08 20:53] MrAlias commented on #3373
https://github.com/open-telemetry/opentelemetry-go/issues/3452

[2022-11-08 20:54] MrAlias commented on #3373
https://github.com/open-telemetry/opentelemetry-go/issues/3451

[2022-11-08 20:54] MrAlias commented on #3375
https://github.com/open-telemetry/opentelemetry-go/issues/3453

[2022-11-08 20:54] MrAlias commented on #3377
https://github.com/open-telemetry/opentelemetry-go/issues/3453

[2022-11-08 20:54] MrAlias commented on #3379
https://github.com/open-telemetry/opentelemetry-go/issues/3453

[2022-11-08 21:34] MrAlias opened #3454 "There MUST NOT be any API for creating an instrument other than with a Meter"
Currently the OpenTelemetry specification states:

The opentelemetry-go project currently provides the [`asyncint64.InstrumentProvider`](https://pkg.go.dev/go.opentelemetry.io/otel/metric@v0.33.0/instrument/asyncint64#InstrumentProvider), [`asyncfloat64.InstrumentProvider`](https://pkg.go.dev/go.opentelemetry.io/otel/metric@v0.33.0/instrument/asyncfloat64#InstrumentProvider), [`syncint64.Instrumen

[2022-11-08 21:35] MrAlias commented on #3374
https://github.com/open-telemetry/opentelemetry-go/issues/3454

[2022-11-08 21:35] MrAlias commented on #3375
https://github.com/open-telemetry/opentelemetry-go/issues/3454

[2022-11-08 21:35] MrAlias commented on #3376
https://github.com/open-telemetry/opentelemetry-go/issues/3454

[2022-11-08 21:35] MrAlias commented on #3377
https://github.com/open-telemetry/opentelemetry-go/issues/3454

[2022-11-08 21:35] MrAlias commented on #3378
https://github.com/open-telemetry/opentelemetry-go/issues/3454

[2022-11-08 22:05] MrAlias commented on #3452
One proposal is to have the register call return the unregister mechanism:

[code]

[2022-11-08 22:06] MrAlias commented on #3451
This will break the symmetry with the sync instrument options, but it looks like the solution will be to add some `WithCallback` option for async instruments.

[2022-11-09 01:07] bogdandrutu commented on #3277
I would not call them "unstable" interfaces. The fact that golang has this limitation can be work around by implementations the same way we do between API and SDK. Mainly as a third party implementation you can release a version of the implementation for every API version and ask your users to consume your SDK and API with the same version as we do in this repo (this is what users MUST do for API/

[2022-11-09 01:09] bogdandrutu opened #3455 "Do NOT expose generated protos in metrics exporter"
See https://github.com/open-telemetry/opentelemetry-go/blob/main/exporters/otlp/otlpmetric/client.go and just remember your issue from 6 months (changes can happen in the generated code that are not backwards compatible from golang perspective).

[2022-11-09 15:44] #3162 closed

[2022-11-09 19:20] MrAlias commented on #3452
Same structure different naming:

[code]

This would however go against common Go naming practice of naming the interface after the one method it performs. However, it would allow for the interface to be extended in the future without then having a naming mismatch. Also the return type name would better match what it represents.

[2022-11-09 19:23] MrAlias commented on #3452
I think we can also update the function signature to better communicate one or more instruments need to be provided and at the same time reduce the boilerplate needed to pass arguments:

[code]

This was inspired from the Java implementation: https://javadoc.io/doc/io.opentelemetry/opentelemetry-api/latest/io/opentelemetry/api/metrics/Meter.html#batchCallback(java.lang.Runnable,io.opentelemetry.ap

[2022-11-10 18:07] MrAlias commented on #3452
This will not work well if you already have a slice of instrument. You cannot just use `...` after the slice to directly pass it.

[2022-11-10 18:48] MrAlias commented on #3455
Notes from SIG meeting today:

- We should pull the client and exporter interface from `otlpmetric` into an internal pacakge. The grpc and http pacakges both already provide `New(...) metric.Exporter, error` functions that only wrap the `otlpmetric` logic.
  - This would create an asymmetry with the trace exporters
    - This may be warranted if it fixes a design issue in the trace setup
    - Mov

[2022-11-10 21:37] jmacd commented on #3451
The way I read the specification, the current asynchronous API is compliant. You wrote "Our current metric API does not accept `zero or more callback functions" for new async instruments`

That is true, however, I had parsed the "or" in that statement as allowing instrument creation with ONLY zero callback functions, to allow the current form of `NewCallback()`. A `WithCallback()` API sounds nice

[2022-11-10 21:40] Aneurysm9 commented on #3451
That's how I read it as well, but I seemed to be alone and I could see the other interpretation (must accept list of callbacks, even if its length is zero) as valid as well.  v0v

[2022-11-10 21:40] jmacd commented on #3452
I remember discussing this once with @MadVikingGod -- one idea we discussed was to admit a second form of callback constructor, one that returns an unregistration handle of some kind, e.g., `NewUnregisterableCallback(func (context.Context)) (Unregister, error)`

[2022-11-10 21:55] MrAlias commented on #3451
I think it could be better specified if "or" is non-exclusive similar to the rest of the document, or it is meant to be exclusive. I believe the intent is the common non-exclusive use. Meaning a users should be allowed to pass callback but they can also choose to not pass callbacks if they want.

Given the purpose of the specification is to maintain compatibility across and all the other stable re

[2022-11-10 21:56] MrAlias commented on #3451
This is going to be important to address at this point in time as the symmetry breaking between sync and async instrument options is one we need to fix now or forever live with. If we went stable without adjusting this we would not be able to support a callback option or would have to ignore it for sync instrument creations.

[2022-11-10 22:26] jmacd commented on #3451
:grin: I think I wrote this sentence, and I wrote it after the current Go async instrument API was adopted thinking it would allow it to pass. To me, it's in the spirit of Go to reduce the number of optional ways of configuring something. I also see how `WithCallback()` makes life easier for developers with a small number of instruments, so I would not argue against it.

Considering this [alongsid

[2022-11-10 23:09] MrAlias commented on #3451
Agreed. It was pointed in the SIG meeting that the specification also says these should be "permanently registered" which motivated a consensus to agree with this there.

[2022-11-11 15:22] #3394 closed

[2022-11-14 13:21] FatemehRahmanzadeh opened #3467 "baggage member validation in ParseMember"
Hi, I have an issue with extracting baggage header recived from node js service to my golang service.
my header contains not allowed characters like (semicolon, white space,...) but I did percent-encode them before injecting to headers...
my question is: W3C rules are checking in opentelemetry baggage package against member value after urlunscape the value.
But I think it must only check the bagga

[2022-11-14 16:18] paivagustavo opened #3468 "Prometheus Exporter should have an option to export using OpenMetrics format"
### Problem Statement
Prometheus exporter only expose metrics using the Prometheus format, which is a subset of the OpenMetrics format. Ideally, we should be able to specify an option to export metrics using the OpenMetrics format.

Given that we don't expose an OpenMetrics format, we lose information about metric's units, which make some required processing of Prometheus metric to OTLP [as the sp

[2022-11-15 16:33] jmacd commented on #3455
IMO it makes sense to support a `NewExporter()` method which returns a public/exporter `Exporter` which uses the `metricdata` transfer objects that are under this repository's control. Then, remove the `Client` API which uses the generated protobuf objects. It's the `Client` that's the problem, not the `Exporter`.

[2022-11-15 16:55] jmacd commented on #3455
As a test case for this, note that the Lightstep metrics SDK has been using the OTel-Go SDK's exporter for a while. I admit this was convenient for me, and since the OTel-Proto API was using generated code from the current OTLP, I could use the OTel-Go SDK's Exporter to export exponential histogram data, even though the SDK didn't support expo-histos.

If the `Client` API were removed that speak p

[2022-11-16 06:15] PalanQu opened #3471 "Why the logs signal is frozen for this project?"
### Problem Statement

I think log is the one of important part in opentelemetry, why the deployment is halted? Any help can I do for this?

### Proposed Solution

#### Alternatives

#### Prior Art

### Additional Context

[2022-11-16 21:02] eddycharly commented on #3161
Where is `exporter.ServeHTTP` gone ?

How are we supposed to serve metrics to prometheus now ?
Am I missing something ?

[2022-11-17 02:15] fatsheep9146 commented on #3161
I think you can see this example as reference.
https://github.com/open-telemetry/opentelemetry-go/tree/main/example/prometheus

[2022-11-17 10:01] eddycharly commented on #3161
@fatsheep9146 thanks, I did the same as in https://github.com/open-telemetry/opentelemetry-go/tree/main/example/prometheus.

I now see crazy metrics like `kyverno_policy_changes_total_total_total_total_total_total_total_total_total_total`.
Any idea what's going on here ?

[2022-11-17 10:42] fatsheep9146 commented on #3161
Could you paste your code? @eddycharly

[2022-11-17 13:38] eddycharly commented on #3161
Basically the same as in the example, my metric is created like this:
[code]

[2022-11-17 13:40] eddycharly commented on #3161
The code initialising otel is here https://github.com/eddycharly/kyverno/blob/a8a496c8b231e1587797dc4af464ce747a524384/pkg/metrics/metrics.go#L169-L203

[2022-11-17 18:02] jmacd commented on #3399
We discussed this in the TC meeting yesterday and [wrote down these considerations](https://docs.google.com/document/d/1hOHPCu5TGenqTeWPB9qQB_qd33uITZBcvK1FnWxYJAw/edit#bookmark=id.t0llvkjcjheo).

In this case, my understanding of the group's position is that we should file an issue in the specification repository for other language groups to see before embarking on major extensions. This will hel

[2022-11-18 16:37] eddycharly opened #3473 "Can we automatically propagate span attributes to children ?"
I would like child spans to automatically inherit attributes from its parent, is this actually possible ?

It looks like span attributes cannot be read, would it make sense to create a `GetAttributes` method (I'm using golang) so that I can propagate the attributes manually ?

[2022-11-18 17:19] Aneurysm9 commented on #3473
There is no currently specified mechanism for achieving this.  It may be possible using the [`SpanProcessor`](https://pkg.go.dev/go.opentelemetry.io/otel/sdk@v1.11.1/trace#SpanProcessor) interface to build something that might do this, but I'm not aware of any such implementation.

The `Span` API is intentionally write-only, so adding a method to get attributes from a span is not in the cards:

\-

[2022-11-18 21:58] eddycharly commented on #3473
Thanks !
Closing, I will look at `SpanProcessor`.

[2022-11-18 21:58] #3473 closed

[2022-11-19 00:43] reyang commented on #3399
Based on the TC discussion, I've created this PR https://github.com/open-telemetry/opentelemetry-specification/pull/2968.

[2022-11-19 07:23] snailzed opened #3474 "zipkin exporter support custom http request headers"
### Problem Statement

file: go.opentelemetry.io/otel/exporters/zipkin/zipkin.go
method:  func (e *Exporter) ExportSpans(ctx context.Context, spans []sdktrace.ReadOnlySpan) error

Hope to support custom http request headers before sending spans to zipkin server.  If your service can only rely on http request host to implement request forwarding...

### Proposed Solution

support custom http reques

[2022-11-19 09:27] dmathieu commented on #3474
I would call the method `WithHeaders`, as we do with [the otlp exporter](https://github.com/open-telemetry/opentelemetry-go/blob/main/exporters/otlp/otlptrace/otlptracegrpc/options.go#L108) but outside of that, it seems like a good idea.

[2022-11-19 11:01] eddycharly opened #3475 "Can we have spans that reference each other ?"
Span links seem to be only available at span creation time, I wonder if it's possible to have spans that link with each other.

It would be useful for navigating through related traces, right now I can not navigate from a parent span to its children, only from children to the parents.

[2022-11-19 13:32] snailzed commented on #3474
haha, thank you for your quick reply.  Yeah, `WithHeaders` is better . And [the jaeger exporter](https://github.com/open-telemetry/opentelemetry-go/blob/main/exporters/jaeger/uploader.go#L184) could may also make same change to support custom http request headers. Hope these functions can be implemented soon. Thanks again.

[2022-11-19 19:23] Aneurysm9 commented on #3475
This is a question that should be directed at the [specification](https://github.com/open-telemetry/opentelemetry-specification) as it would need to change before we could do anything here.

[2022-11-21 04:58] fatsheep9146 commented on #3161
First of all, the best practice to create a counter which is monotonically is not include the "_total_ " suffix when you call `Counter`. The suffix will be supplied automatically by sdk itself.

So I suggest you change your code into
[code]

[2022-11-21 16:05] #3399 closed

[2022-11-21 19:45] jmacd commented on #3455
Note that there is no current API to obtain a `Client`. The `Exporter` object keeps its `Client` private and the `New()` function in each of the sub-packages returns the `Exporter`.

So, I would say this issue is already solved for metrics. It remains to be seen whether there will be a breaking API change for the trace SDK, one where `Client` becomes internal and the `NewClient() Client` function

[2022-11-21 21:50] MadVikingGod opened #3488 "Incorrect attribute Value casts panic."
### Description

If you cast an attribute Value to the incorrect type via the AsType() functions they will panic.  This is different from v1.10.0 in which they will just return incorrect data.

### Environment

- OS: linx
- Architecture: x86-64
- Go Version: 1.19.3
- opentelemetry-go version: v1.11.1

### Steps To Reproduce

1. Include the test from this [gist](https://gist.github.com/MadVikingGod

[2022-11-21 23:09] eddycharly commented on #3161
@fatsheep9146 the suggested changes didn't fix the issue, I still observe metrics like this:
[code]

[2022-11-22 05:10] Narenderbhcu opened #3490 "Remote Sampling is not working as expected"
### Description

We have configured our trace generator using GO SDK remote sampling configuration similar to way mentioned in https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/samplers/jaegerremote.

jaegerRemoteSampler := jaegerremote.New(
"your-service-name",
jaegerremote.WithSamplingServerURL("http://{sampling_service_host_name}:5778"),
jaegerremote.WithSamplingRefreshInterv

[2022-11-22 15:39] eddycharly commented on #3161
@fatsheep9146 it looks like it's fixed on `main` but not yet in `v1.11.1`

[2022-11-22 15:44] eddycharly commented on #3161
Offending code https://github.com/open-telemetry/opentelemetry-go/blob/2fe8861a24e20088c065b116089862caf9e3cd8b/exporters/prometheus/exporter.go#L207-L210

[2022-11-22 15:52] fatsheep9146 commented on #3161
@eddycharly
Yes, I think this bug maybe fixed by #3369

[2022-11-22 15:53] eddycharly commented on #3161
Any idea when the next release containing the fix might come out ?

[2022-11-22 15:57] fatsheep9146 commented on #3161
I think the milestone is tracked here. https://github.com/open-telemetry/opentelemetry-go/milestone/34

@eddycharly

[2022-11-22 15:57] eddycharly commented on #3161
Thank you so much 🙏

[2022-11-22 22:53] MrAlias commented on #3191
Looking at the refactor necessary for the net and http functions, it smells like these functions should be removed from the semconv version packages.

They could be refactor and put into a separate dedicated package (i.e. `go.opentelemetry.io/otel/semconv/httpconv`). That way the semconv package could be updated and the dependency in the `httpconv` package separately updated.

Alternately, given t

[2022-11-23 00:01] #3455 closed

[2022-11-23 00:20] MrAlias commented on #3191
The downside to this approach is that if there is again breaking changes to how semantic conventions need to be applied it could not be refactored without deprecations.

[2022-11-23 00:30] MrAlias commented on #3191
A quick search across all of GitHub show these functions are used in more than just the `net/http` instrumentation. Wherever they land they need to remain publically accessible.

[2022-11-25 23:27] #3488 closed

[2022-11-28 10:42] nileshborse92 commented on #3053
How can we call callback method for observable counter?
count is not updating even if we use counter.callback() then console log also not printing.
Could you pls suggest your ideas here?
Thanks

[2022-11-28 14:34] ai-zelenin opened #3493 "UpDownCounter is not a gauge"
meter.AsyncFloat64().Counter acts like gauge so async approach i cant use(do not have counter)
meter.SyncFloat64() do not have gauge so i can not use sync approach

in this examaple
https://github.com/open-telemetry/opentelemetry-go/blob/d7b31155b5cc03cdadb39e894f11f9b4f2616fed/example/prometheus/main.go#L61
meter.SyncFloat64().UpDownCounter called gauge but
meter.SyncFloat64().UpDownCounter acts

[2022-11-28 18:33] austince opened #3494 "Support `WithAttributes` for default MeterProvider"
### Problem Statement

For adding a static set of attributes to spans, the SpanConfig offers a nice way (along with the `WithAttributes` option builder) to accomplish this.

https://github.com/open-telemetry/opentelemetry-go/blob/7aba25d651015fb89064991cc3982dfacfda8179/trace/config.go#L218-L229

There doesn't seem to be compatible functionality for the Metrics API. The motivation is the same as f

[2022-11-28 19:26] Aneurysm9 commented on #3494
This functionality would need to be defined in the [OpenTelemetry Specification](https://github.com/open-telemetry/opentelemetry-specification) before we could begin any implementation here.

[2022-11-28 20:16] #3494 closed

[2022-11-28 20:30] Aneurysm9 commented on #3494
Instrumentation scope attributes _may_ be the thing you're looking for, but there are still unresolved questions in the spec SIG regarding whether they are identifying for instruments produced by a meter bearing them or not.

[2022-11-28 20:31] austince commented on #3494
Hmm, alright. I've seen those comments elsewhere. Thanks for the pointers, I'll keep up with those discussions 👍🏼

[2022-11-29 12:54] poorpy opened #3496 "Broken imports in go.opentelemetry.io/otel/exporters/otlp/otlpgrpc dependency"
### Description

While trying to download `otlpgrpc` go get bails out with an error. I tried both `v0.20.0` and `v0.19.0`.

### Environment

- OS: Arch Linux
- Architecture: x86_64
- Go Version: go1.19
- opentelemetry-go version: v1.11.1

### Steps To Reproduce

1. cd into existing go project
2. Run `go clean -modcache`
3. Run `go get go.opentelemetry.io/otel/exporters/otlp/otlpgrpc`
4. See error

[2022-11-29 13:02] dmathieu commented on #3496
The otlpgrpc package is very old, and has been removed pre v1.x, in favor of [https://github.com/open-telemetry/opentelemetry-go/tree/main/exporters/otlp/otlptrace/otlptracehttp](otlptracehttp). You should be using this package with the stable version.

[2022-11-29 14:38] aniaan opened #3497 "Exporter: `WithLogger` uses the `github.com/go-logr/logr` interface to replace the standard library logger"
### Problem Statement

Currently `otel api` and `sdk` use globalLogger to print logs. globalLogger uses the `github.com/go-logr/logr` library, which provides the interface, and the specific log implementation can be determined by the user, which is designed to be flexible.
https://github.com/open-telemetry/opentelemetry-go/blob/aa868d506b7e4de2f534f47b168b27b7f8824351/internal/global/internal_logg

[2022-11-29 15:52] MrAlias commented on #3497
The `go.opentelemetry.io/otel/exporters/zipkin` package is released as stable. That function signature cannot be changed in a backwards compatible way to the proposal.

[2022-11-29 15:53] MadVikingGod commented on #3497
I would be open to this addition.  We can't remove or change the current WithLogger, but we can add another option and use logr under the hood.

My only real concern is compatibility between logr and the proposed structured logging.

[2022-11-29 16:46] MrAlias commented on #3467
You need to pass valid baggage members according to the W3C specification to `Baggage` because these are the members that will be transferred between services. The API is intentional.

Do you have an example of code that demonstrates the thing you are trying to achieve? Is there something you are not able to do with the current API?

[2022-11-30 10:23] XSAM opened #3501 "Detect container id on cgroup v2"
### Problem Statement

The old container id detector currently works on cgroup v1, not cgroup v2. #2418

### Proposed Solution

Use the way that [How to get docker container ID from within the container with cgroup v2](https://stackoverflow.com/questions/68816329/how-to-get-docker-container-id-from-within-the-container-with-cgroup-v2) mentioned to detect container id on cgroup v2 environment.

###

[2022-11-30 10:50] poorpy commented on #3496
@dmathieu thanks :D

[2022-11-30 10:50] #3496 closed

[2022-11-30 22:41] ldemailly opened #3503 "otelhttptrace generates disjoint traces (4 traces instead of 1, only 1 with more than 1 span) - for a single request"
### Description

otelhttptrace generates disjoint traces (4 traces instead of 1, only 1 with more than 1 span) - for a single request

you would expect if you set up otelhttptrace.NewClientTrace for an http Request and "do" it to get a single trace with 6 spans instead you get 4 disconnected traces

<img width="751" alt="Screen Shot 2022-11-30 at 2 35 02 PM" src="https://user-images.githubusercont