[2019-05-22 15:24] cstockton opened #2 "How to become a reviewer / get involved?"
I've read the documentation at https://github.com/open-telemetry/community/blob/master/community-membership.md - I do not see the path to becoming a reviewer- only how to become an approver (by being a reviewer for at least 3 months) or how the current owners were selected. I would like to be involved in the initial design and implementation of this project in whatever ways I can, how do I do that

[2019-05-22 15:28] bogdandrutu commented on #2
We will publish soon a meeting that you should join, then start reviewing/write PRs. After you prove that you know enough about the project and people will propose you as approver you can become approver. Just to review or write PRs you don't need any status

[2019-05-22 15:31] cstockton commented on #2
Okay thanks a lot- where will the announcement for the meeting be published so I can keep an eye out?

[2019-05-22 16:10] SergeyKanzhelev commented on #2
Here: https://github.com/open-telemetry/community#golang-sdk

[2019-05-22 16:10] SergeyKanzhelev commented on #2
Closing for now.

[2019-05-22 16:10] #2 closed

[2019-05-24 15:52] tigrannajaryan opened #3 "Introduce stretchr/testify test helper library"
http://github.com/stretchr/testify is a nice library for Go code that helps write cleaner tests. It will be great to introduce this to our codebase.

[2019-06-04 23:55] jmacd opened #4 "Starting points for Go SDK"
I've been following the developing specification and work on the Java SDK. I felt that there were several considerations that applied uniquely in Go, particularly because of its builtin `context.Context`, that deserved prototyping. I've just posted a new repository containing this prototype:

https://github.com/lightstep/opentelemetry-golang-prototype

This is not a complete implementation of the

[2019-06-11 22:30] tedsuo opened #5 "API: Tracer"
Reference:
- [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md#tracer)(Still WIP)
- [OpenCensus Tracer API](https://github.com/census-instrumentation/opencensus-go/tree/master/trace)
- [OpenTracing Tracer API](https://github.com/opentracing/opentracing-go/blob/master/tracer.go)

[2019-06-11 22:31] tedsuo opened #6 "API: Span"

[2019-06-11 22:31] tedsuo opened #7 "API: In-process context propagation"

[2019-06-11 22:31] tedsuo opened #8 "API: Inject/Extract"

[2019-06-11 22:34] jmacd commented on #7
See this related draft:
https://github.com/open-telemetry/opentelemetry-specification/pull/75/files

[2019-06-11 22:39] jmacd commented on #8
Related: https://github.com/opentracing/opentracing-go/issues/127

[2019-06-11 22:41] jmacd commented on #8
And https://opentracing.io/docs/overview/inject-extract/

[2019-06-12 06:23] rghetia commented on #6
span spec is at https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md#span

Ref java implmentation :  https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tracing-api.md#span

Opencensus [span](https://github.com/census-instrumentation/opencensus-go/blob/f6172e422374225c6748bd2a9c872e88c2eb43d4/trace/trace.go#L36)

[2019-06-18 22:14] rghetia opened #14 "Repo and Directory structure"
How should the repo/directory should be?
1. Single Repo
    Directory for each module.

2. Separate repo for API, SDK., etc

[2019-06-18 22:26] rghetia opened #15 "Add makefile to do gofmt, golint, and go vet."

[2019-06-18 22:26] rghetia opened #16 "Add circle-ci build"

[2019-06-18 22:40] freeformz commented on #16
I don't want to be contrarian, but how about CircleCI?

https://twitter.com/carmatrocity/status/1098575963032408065

[2019-06-18 23:56] freeformz commented on #14
You can have multiple modules in the same repo, but it takes careful consideration: https://github.com/golang/go/wiki/Modules#faqs--multi-module-repositories.

To date I don't understand what is meant by "API" and "SDK", but I feel like those should maybe be in the same place. If they *are* in the same place, what would be outside?

[2019-06-19 00:03] freeformz commented on #7
Why should it not be through context.Context (or an OpenCensus specific implementation of that interface)?

[2019-06-19 00:06] freeformz commented on #3
FWIW: I'm -1 on `testify`, but I won't be grumbly about it if other's feel differently.

My personal testing preferences are: if's, [cmp.Diff](https://github.com/google/go-cmp), and local helpers for anything more complex. Additionally I've seen testify stuff hide errors in the past.

[2019-06-19 00:09] #15 closed

[2019-06-19 00:49] tigrannajaryan commented on #3
@freeformz can you expand on what situations you saw testify hide errors? I have been using it in opencensus-service and it is already in the codebase that we brought in. My experience with testify was positive so far and cutting the boilerplate of `if cmp { log something }` has been very useful in tests.

[2019-06-19 00:51] tigrannajaryan commented on #14
@freeformz this should help https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/library-guidelines.md

[2019-06-19 01:02] tigrannajaryan commented on #14
My understanding is that having separate modules for API and SDK is desirable in the situation when the SDK has a lot more dependencies than the API and you do not want all those dependencies to pollute the end-user application if they only import the API.

Question: how much of a problem is this? Isn't Go compiler smart enough not to link with any of the dependencies referenced in go.mod of the m

[2019-06-19 02:01] freeformz commented on #14
@tigrannajaryan Thanks for that link, yes that helps, although the motivations for the separation of API and SDK are still a little too abstract for my liking.

For instance I can (and have) write a package (or set of packages) that provides an API for users AND for others to provide protocol independent functionality for the purposes of enriching the standard data and exporting it to services.

W

[2019-06-19 02:14] tigrannajaryan commented on #14
For me the primary motivation is ability to use libraries instrumented with OpenTelemetry without enabling telemetry delivery (or as a third-party library author not being required to maintain instrumented and non-instrumented versions of my lib). That's pretty specific in my opinion. Other reasons are listed in the linked doc, and probably different people have different opinions about what is th

[2019-06-19 15:52] jmacd commented on #7
It will use context.Context, and I don't think there's any reason to use a OTel-specific implementation of the interface. The prototype uses context.Context extensively, but there may still be things T.B.D. about how tags interoperate with instrumentation. This issue was a placeholder, I don't think anyone's against context.Context.

[2019-06-19 17:11] rghetia commented on #14
The problem (if there is one) is specific to Go. In Java, you can build many packages from same repo and you could potentially depend on different version for different package. For example, you could have dependency on
- api-0.1.0.jar
- sdk-0.1.9.jar

OR one could have dependency only on api but not sdk
- api-0.1.0.jar
- private-sdk-0.1.2.jar (custom sdk or third party sdk).

In Go, would that be

[2019-06-19 17:25] freeformz commented on #3
@tigrannajaryan All of the instances I can think of have been in private repos, but I *have* seen `assert.Equal()` hide errors. Those were essentially tracked down to assert's use of `interface{}`
(PS: cmp.Diff suffers from this same issue, but so far I haven't been surprised by it).

FWIW: I find the ....

[code]

AND

[code]
boilerplate much more consumable than `assert.Equal()` and friends. For

[2019-06-19 18:13] freeformz commented on #14
@tigrannajaryan A library needs to declare it's dependencies and let it's users determine how to configure them. So if I write a library that is instrumented with OpenTelemetry I need to expose a way for the user of the library to attach an exporter, sampler, etc. I'm asking other questions in the specification gitter, because the wording in the spec (the doc you linked) seems kind of nuts to me.

[2019-06-19 18:39] rghetia commented on #14
For some reason, I missed that. Thanks for the link. It is clear.  We can start with 'a' and change it to 'b' if necessary.

[2019-06-21 22:58] pjanotti commented on #16
OC Go repos have been using Travis but that's just a legacy/convenience that can get us up and running fast. It should be easy enough to migrate if we have a compelling reason to do so.

[2019-06-23 15:07] cstockton commented on #3
I am very much against using large frameworks for writing unit tests. Unit tests are not just for testing results, they also lock in your public API. Using a large unit tests abstraction that accepts interfaces everywhere means that type changes are possible without breaking unit tests.

If I can get an example of any test case that we feel a large testing framework is needed, I can provide potent

[2019-06-23 17:31] cstockton opened #19 "Issues with current design"
First will there be an official process to make appeals against the projects design decisions? I am worried that collectively open-telemetry is implementing the former projects designs under what I believe to be a false premise it can "always change things later". I feel such changes will be impossible once the library is in wide spread use.

I have a number of concerns with the actual implementat

[2019-06-24 06:09] jmacd opened #20 "Separate API from SDK in Go repo"
The current prototype that was merged into this repository was unfinished work, in part because it was created while the OpenTelemetry specification was not finished.

The prototype included several concepts at the API level that were dedicated to streaming events to an asynchronous or out-of-process observer as part of the PoC. These types, in particular "ScopeID" are not needed for an in-process

[2019-06-24 06:18] jmacd commented on #19
@cstockton I don't know if this helps your concern, but the prototype code that we merged in Go was very incomplete, and I've filed issue 20 about separating the API from the SDK properly, which is a requirement from OpenTracing. I am working on this separation.

In the terminology that's developing, an "exporter" is different than a "plugin". I think I agree with your reasoning. We can have an SD

[2019-06-24 15:29] jmacd commented on #20
To fill in a bit more detail, the entire `api/scope` package will disappear into the streaming implementation, along with the `core.ScopeID` type. It's not clear to me yet what memory allocations will be added as a result of removing this type, I think some code will be needed to sort this out.

[2019-06-24 17:23] tigrannajaryan commented on #19
@cstockton I am not an OpenTelemetry Admin or a member of TSC, the following is just my personal opinion.

My understanding is that the primary current goal for OpenTelemetry is merging of OpenCensus and OpenTracing in backwards compatible manner. The motivation is to have a clear support and migration path for existing users of OpenCensus and OpenTracing. This is already a pretty difficult goal,

[2019-06-24 18:45] iredelmeier commented on #19
@cstockton: without getting too the in weeds here - although I will add that I agree with many of your points! - any chance you'd mind filing an RFC (or two!) [here](https://github.com/iredelmeier/rfcs)?

[2019-06-24 20:21] cstockton commented on #19
This is where my fundamental disagreement is. Merging OpenTracing and OpenCensus is going to cause massive churn for the ecosystem already- more so on the OpenTracing end as it seems that project is essentially being deleted in favor of the OpenCensus design. I can not find any benefits to go through these efforts with plans to "change everything to v2 later" - we are forcing churn in 2 communitie

[2019-06-24 23:36] bhs commented on #19
@cstockton thank you for raising this.

This issue/thread seems almost by-definition unresolvable given the number of meaty potential tangents above and the constraints of GitHub issues as a medium (maybe I'm arguing for the "threading" of an RFC PR as @iredelmeier has been advocating for). As such, I apologize in advance for only addressing a few of the points above... for the many aspects I'm no

[2019-06-25 19:37] freeformz opened #23 "Why so many interfaces?"
My expectation when I started looking at the code base was that I would find mostly concrete implementations of the basic data types (Traces, Spans, SpanContexts, Logs, Measurements, Metrics, etc) with interfaces for vendors to hook into for enriching that data and exporting it either in batch or streaming forms.

Looking through the code base I'm sort of astonished by the number of interfaces tha

[2019-06-25 20:29] abraithwaite commented on #23
Not that I have a horse in this race, but this made me hate working with the opentracing library.  I would probably suggest against using opentelemetry in my company if it goes the same way.

[2019-06-25 22:27] iredelmeier commented on #23
I agree, at least for most of the mentioned types.

My understanding is that the initial motivation is primarily historical, and that the current code is very much intended as a prototype.

I'm happy to delve into this some more and/or be assigned, albeit I don't know how much capacity I'll have to investigate this week.

[2019-06-25 22:32] bogdandrutu commented on #23
cc @yurishkuro @tedsuo I think the requirement to have an api package that allows to re-implement the majority of the classes came from OpenTracing. There are a lot of benefits to have this: vendors can re-implement the whole API if the SDK does not satisfy their requirements, but all the instrumented code stays the same. Also OpenTelemetry can decide to completely change the implementation of the

[2019-06-25 22:35] iredelmeier commented on #23
I believe this is also tied in some ways to #20. The API and SDK do not inherently need the same types, e.g., the API can provide structs and the SDK can accept interfaces.

[2019-06-26 00:12] freeformz commented on #23
When I read @bogdandrutu's and @iredelmeier's comments they don't seem to align.

According to https://github.com/open-telemetry/opentelemetry-specification/blob/be15b9ceff11bea36dd9d50dc95e37eb998b6adc/specification/library-guidelines.md#language-library-generic-design:

* API is what I would use in my code or library that I'm writing and provide a "minimal implementation"
* SDK is "plugged" into

[2019-06-26 00:14] freeformz commented on #23
PS: I can stop "complaining" (what I feel like I'm doing) about this for a bit and wait until work on #20 starts in the hopes that will clarify my confusion.

[2019-06-26 00:45] iredelmeier opened #24 "Non-GitHub import path?"
Especially given that the GitHub org name [may change](https://github.com/open-telemetry/community/issues/136), we should consider using an import path that isn't github.com/open-telemetry/opentelemetry-go.

Thoughts on, e.g., setting something up on opentelemetry.io or even opentelemetry.dev (which I think CNCF owns)?

[2019-06-26 00:51] bogdandrutu commented on #24
Both are owned. @rghetia can you please setup the vanity URL as we did https://github.com/census-ecosystem/opencensus-go-vanityurls.

I would suggest to go with io for the moment to be consistent with Java and the official domain. CNCF people are also admins for the io domain.

[2019-06-26 00:53] rghetia commented on #24
sure.

[2019-06-26 01:13] tigrannajaryan commented on #23
When you have concrete types in the API you either have to use mostly the same types in the implementation or you have to perform data translation for API calls. The former places more restrictions on the implementation the later is a performance penalty.

I also am not a big fan of interface proliferation however if we want to have concrete types in the API it means we need to put much more effor

[2019-06-26 01:46] tigrannajaryan commented on #23
@freeformz given the requirements that OpenTelemetry has how would you approach this? I'd be interested to discuss alternates.

[2019-06-26 02:01] iredelmeier commented on #23
Agreed on all these fronts!

I have a hypothesis that there's still some work to be done around the API<->SDK boundary in order to solve this. I think that this is why my and @bogdandrutu's points aren't aligned: his is (with good reason!) based on the current state of things, i.e., the spec, whereas mine was based on some handwavey future vision.

@freeformz I don't see your point (or @abraithwai

[2019-06-26 02:05] abraithwaite commented on #23
What about a hooks interface?  Could be an optional component of a bigger framework which allows that level of instrumentation.

[2019-06-26 03:37] jmacd commented on #23
OpenTracing had these "basictracer" packages which were not fully developed, but were approximately like the SDKs we're building for OpenTelemetry. They provide a simple way to support the complete API while only having to implement a narrow interface. In OpenTracing/basictracer this was called "SpanRecorder".

The default v1 SDK for OpenTelemetry is similar to that basictracer concept, where the

[2019-06-27 22:25] jmacd commented on #20
@iredelmeier

[2019-06-27 22:58] freeformz commented on #23
@iredelmeier Yes. Hit me up on Email/Gopher slack/Twitter DM.

[2019-06-27 23:49] bogdandrutu commented on #23
Relevant to this discussion https://github.com/open-telemetry/opentelemetry-specification/issues/165

[2019-06-28 03:54] thinkerou commented on #16
maybe we should add ci first, and add some unit test case step by step.

[2019-07-01 16:51] jmacd commented on #20
The `Scope` stuff isn't separated yet.

[2019-07-01 21:54] iredelmeier commented on #23
I've started spiking on an architecture prototype [here](https://github.com/iredelmeier/opentelemetry-playground), which is intended to address both the interface issue and some other questions.

[`StartSpan`](https://godoc.org/github.com/iredelmeier/opentelemetry-playground/trace#StartSpan), [`FinishSpan`](https://godoc.org/github.com/iredelmeier/opentelemetry-playground/trace#FinishSpan), and [`

[2019-07-02 03:13] axw commented on #23
We (Elastic APM) have a couple of things we'd like to be able to do that would be made ~impossible with concrete span types and functions:

 1. For each span, record the "local root span ID" (we call it a transaction ID). I believe Zipkin would also like to use this. This either needs to be recorded in the TraceContext, or otherwise we need control over the Span implementation. see this [OpenCensu

[2019-07-02 04:01] tedsuo commented on #19
@cstockton on vacation currently, sorry for the rambling reply. To address your core concerns:

* The APIs are separated from SDKs, just like in OpenTracing. I really hope that is clear. I'm concerned that it isn't.
* There is a "default" SDK, based on the OpenCensus model, which is available for to get people started. OpenTracing lacked a default, and this was a big issue for new users. But the S

[2019-07-02 05:56] cstockton commented on #19
@tedsuo Thanks a lot for this response, most of your points deserve taking some time to digest and think about. One thing that is unclear to me is the API/SDK separation, perhaps this is a terminology thing and I've failed to convey one of my biggest concerns or I'm failing to understand your roadmap. I have two choices in the current design:

1) Import a vendors binary blob into my code as a plug

[2019-07-02 22:45] iredelmeier opened #43 "Add Godoc link to README"

[2019-07-02 23:21] #16 closed

[2019-07-02 23:22] #43 closed

[2019-07-03 18:33] freeformz opened #47 "Circle CI Restoring/Saving cache doesn't seem to be working."
If it was I would expect that most, if not all of those packages, wouldn't be fetched.

![Screen Shot 2019-07-03 at 11 32 09 AM](https://user-images.githubusercontent.com/103/60616405-3f9dde80-9d86-11e9-8c42-0f54ccb1c947.png)

[2019-07-09 22:55] thinkerou opened #49 "opentelemetry-go need to use uniform package layout?"
here: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/package-layout.md

[2019-07-09 23:55] freeformz commented on #49
FWIW: That layout is very un-go like.

[2019-07-10 16:24] #4 closed

[2019-07-10 23:37] rghetia opened #50 "Add documentation for APIs"
Documentation is missing/insufficient in many apis. This issue is opened to add the documentation.

- [ ] core
- [ ] event
- [ ] key
- [ ] metric
- [ ] registry
- [ ] tag
- [ ] trace

Contributors : For each package open an issue and assign yourself before you work on it.

[2019-07-10 23:39] rghetia opened #51 "Add Unit Test to APIs"
This issue is opened to add unit-test to following packages..

- [ ] core
- [ ] event
- [ ] key
- [ ] metric
- [ ] registry
- [ ] tag
- [ ] trace

Contributors : For each package open an issue and assign yourself before you work on it.

[2019-07-11 19:55] jmacd opened #52 "Loading the Go SDK"
As discussed briefly in the 7/9/2019 OpenTelemetry specification SIG meeting, the current specification does not say exactly how to initialize the SDK, particularly, the standard "global" tracer, meter, and recorder interfaces.  It's not clear whether this requires a note in the cross-language specification, but I think we can state requirements for Go here. This is a proposal we might want to ado

[2019-07-11 20:00] bogdandrutu commented on #52
Offering a setter may not be feasible in regard to the static initialization order. In other words once I got an instance of the Tracer probably is good to guarantee that the get will always return the same instance.

[2019-07-11 20:06] tigrannajaryan commented on #52
@jmacd

Do I understand it correct that this proposal is the following: as an end user I enable telemetry sending by importing a package and don't need to make an explicit "enable telemetry" call.

Is "zero-touch" a valid requirement for manually instrumented code? Doesn't the end user have to at least configure destinations to export the data to? Or we assume that there is a default listener some

[2019-07-11 20:18] tigrannajaryan commented on #52
@jmacd I may be missing something, so perhaps you can expand a bit on what problem auto-loading solves. It seem to me that "add an import line to auto-load" vs "add a one-line call to load" are similar amount of effort for the end-user with the later being more explicit (would be my preference), but I may be wrong.

[2019-07-11 20:25] jmacd commented on #52
@bogdandrutu This is a tricky question -- I like the _idea_ that once a tracer is set it will not be set again, but I can't see how to avoid it always.  Suppose in my example that the OPENTELEMETRY_LIB environment is not set, meaning the auto-load would not install a Tracer. Some code would then, I suppose, retrieve a NoopTracer. At some point later, the application (either via dependency or expli

[2019-07-11 21:52] tigrannajaryan commented on #52
@jmacd my understanding is that `global.Tracer()` is in API package and can be called by any bit of code, including a third-part library instrumented with OpenTelemetry. `global.Tracer()` should return minimal Tracer if the app chooses to NOT use the SDK. This mean the decision to load or not load the SDK cannot happen merely as a side-effect of `global.Tracer()` call, that decision has to be done

[2019-07-12 00:21] jmacd commented on #52
To review, I see three ways to trigger loading the SDK:

1. The explicit dependency
[code]

2. The explicit initializer

[code]

3. The automatic load I've described:
[code]

I believe that with case (1) and (2), it's impossible to prevent multiple SDKs from being registered, possibly overwriting each other. It's also impossible to prevent code which does not explicitly depend on / initialize an S

[2019-07-12 01:28] tigrannajaryan commented on #52
@jmacd thanks for listing the cases, this is helpful for discussion.

if I am not wrong Go guarantees that each package is initialized once only (even if imported from multiple places). So for case(1) if the SDK is registered in init() func of `sdk.go` (or whatever file is named) it will be registered only once.

True. With this approach I do not see a way to guarantee that SDK is initialized befo

[2019-07-12 04:04] jmacd commented on #52
I was thinking of a scenario where two independent libraries tried to import _different_ SDKs, then one would be registered first, followed by a second registration.

[2019-07-12 17:45] freeformz commented on #52
I don't want to continue to be the sour person here, but these are all considered anti-patterns in Go. Global state is terrible. Libraries instrumented with open telemetry should provide a function that allows users of that library to inject the tracer, etc. I am literally running out the door right now so I can't comment any further, but I'm happy to discuss or comment more later.

[2019-07-12 21:41] cstockton commented on #23
@iredelmeier I wanted to just take a moment to say that I believe https://godoc.org/github.com/iredelmeier/opentelemetry-playground/trace#Span - is a fundamental design flaw that is repeated across every SDK / library of the project. Spans should not exist as a user facing concept at all in the SDK, but if they did the finish times have _got_ to go. So many quirks / bugs make instrumenting code mo

[2019-07-12 22:51] yurishkuro commented on #23
@cstockton I don't think anyone is denying the value of vendor-neutral data format, but it's not the goal of the OpenTelemetry project (but _is a goal_ of W3C Distributed Tracing working group). We need to think about the audience. If I am an application developer and I want to capture trace events from my code, a formal definition of an exportable data format does me little good - I am not going

[2019-07-13 15:25] cstockton commented on #23
@yurishkuro I more or less agree with your stated user needs, what I don't see is any logical connection with the current implementation and user needs. You're the first person to make this statement as everyone else has openly stated backwards compatibility and software-reuse trumps ideal design. I also don't actually see any supporting argument for your first statement, you stated a detailed use

[2019-07-13 17:40] yurishkuro commented on #23
I largely agree with "everyone else" on that. Both OT and OC have large user bases, and the single most important goal is to converge two projects into one, not to redesign completely to an ideal state (which could take multiple years). Yes, once released things are slow to change, but to me the question is whether the API fundamentally provides the wrong abstractions that do not allow innovation

[2019-07-13 21:27] cstockton commented on #23
Replying to your first two comments will just be a regurgitation of positions I've already stated. I'll focus on what appears to be common ground we have found:

First nothing here is philosophical, I've outlined the issues with requiring Spans to be fully constructed before shipping them in multiple places https://github.com/open-telemetry/opentelemetry-specification/issues/20#issuecomment-494962

[2019-07-14 00:23] yurishkuro opened #53 "Remove Span.ModifyAttributes()"
Supporting this kind of method _requires_  holding onto the span in memory and prevents streaming implementation. There is no  such method in the Java API.

[2019-07-14 00:51] yurishkuro commented on #23
@cstockton I disagree with your main statement that there is a _requirement_ somewhere implied by the API that span needs to be kept in memory and no telemetry can leave the app until the span is finished. A Span is supposed to be write-only interface, and the API does not prevent the implementation from shipping the data as soon as individual write methods are called on the span. Most of your arg

[2019-07-14 15:57] cstockton commented on #23
@yurishkuro I guess we can agree to disagree, I just don't know how else to explain this. Perhaps it's because I've implemented distributed tracing as an event system before there was any standardization efforts years ago where everything was just a stream of small events with different identifiers: log lines, spans starts / end and so on that I see how the current system was influenced. If I had

[2019-07-15 17:31] #20 closed

[2019-07-15 19:28] jmacd commented on #53
I created the prototype using OpenCensus for inspiration, so that's where this came from, and the initial prototype in this repository was a streaming implementation. These `Modify` operations are definitely compatible with a streaming model.

The reader of the stream is responsible for reconstructing Span attributes at each point in the stream. Modify operations are simply applied by the reader t

[2019-07-15 19:54] jmacd commented on #52
I don't take your remarks as "sour"! In making this proposal I've tried to satisfy what I think are requirements, and I think we're disagreeing about what the requirements should be.

I think your position, "_Libraries instrumented with open telemetry should provide a function that allows users of that library to inject the tracer, etc._", is incompatible with "zero touch instrumentation", which h

[2019-07-15 19:56] yurishkuro commented on #53
@jmacd what is the use case for deleting /  unsetting an attribute?  Such functionality did not exist in OpenTracing, and nobody asked for it, iirc.

[2019-07-15 20:18] jmacd commented on #53
The `tag.Map` code is shared by context tags, which do support deleting entries. Exposing the mutators via `ModifyAttribute` was speculative.

I feel that OpenTracing didn't specify this well enough. I imagine we could find uses of `Set("error", false)` following `Set("error", true)`, made with the intention of unsetting an error attribute. For string-valued attributes, I wouldn't be surprised to

[2019-07-15 21:49] #24 closed

[2019-07-16 00:18] jmacd commented on #23
@cstockton I agree with you on the goals you set above, but there seems to be some misinterpretation happening. My original prototype for this repository was a streaming SDK, there has never been any accumulation of state inside a Span object in that implementation, and the APIs we have today are compatible with those goals. Given that I think we agree, and the current API meets our stated goals,

[2019-07-16 03:36] cstockton commented on #23
@jmacd I explained in detail why I don't feel the API meets _my_ goals but have came to accept that it does meet the goals of the OpenTelemetry project.

As for pull req #55 I think the work done in *span is great overall, it removes a lot of bloat. However I think it actually works against my underlying concerns over the double finish, which is that an observation could panic because the scope is

[2019-07-16 05:25] jmacd commented on #23
@cstockton The implementation you're looking at has "experimental" in the name because it's not meant for use. It establishes that the API does not restrict us from having a streaming implementation, that is all.

In a production-ready streaming exporter, everything behind the `observer.Observer` interface would be replaced by a small library (*) to encode events and write them to the wire, which

[2019-07-16 16:00] cstockton commented on #23
@jmacd I understand it's experimental, but looking at the code was necessary to understand your pull request.

The streaming reader defines [Event](https://github.com/open-telemetry/opentelemetry-go/blob/master/experimental/streaming/exporter/reader/reader.go#L37) which contains references to [tag.Map](https://github.com/open-telemetry/opentelemetry-go/blob/master/api/tag/api.go#L60) which accepts

[2019-07-16 18:16] jmacd opened #57 "Lazy vs non-Lazy Event APIs"
The API currently has two forms of event API, one supporting non-lazy usage (`Event`) and one supporting lazy usage (`AddEvent`). On the one hand, there is a desire to support lazy events. On the other hand, there is a desire not to force allocation of an object for all events.

This may rise to a specification level issue. We have open discussions around SpanData and Sampling and Laziness in gene

[2019-07-16 18:59] jmacd commented on #23
@cstockton Thanks for sharing this example API. That's really helpful. @iredelmeier <- Note.

I think we're pretty well aligned on the ideal of a streaming SDK implementation. It's a good direction, but requires a lot more support than it has to let it interfere with current proposals and timeline. That is why I encourage everyone to focus on API-level concerns and the specification, not the curre

[2019-07-16 19:03] bogdandrutu commented on #57
Lazy events at the end is not necessarily good. For example you force everyone to make these data available in the function that calls end. Also some implementation may want to allow access in real time to these process (what OpenCensus calls zpages active spans).

Another usecase is that you the user to also record a timestamp for these events because they don't happen at the end of the Span.

[2019-07-16 19:04] bogdandrutu commented on #57
My 2 cents here is to eliminate the Event interface and use a concrete type + formatter to avoid allocation when possible and keep that API

[2019-07-16 20:32] jmacd commented on #57
In the OpenTelemetry `FinishOptions`, each log record has an independent timestamp.

I also support the idea that Event (or AddEvent) should use a concrete type + formatter, it's exactly what I mean when I say "lazy value". Sounds like this will be easy to resolve.

[2019-07-16 21:13] cstockton commented on #23
@jmacd Glad to help, I also think we are on the same page now in a general sense. It makes me happy to know you have similar underlying design principles, I think with your understanding of these efforts at large you were a lucky contact point for me to run into. I look forward to watching the progress and will be happy to participate in any future discussions or reviews.

For the point I made abo

[2019-07-16 22:12] rghetia commented on #3
There is consensus to use simple framework provided by Go itself.

[2019-07-16 22:12] #3 closed

[2019-07-16 22:13] #5 closed

[2019-07-16 22:13] jmacd commented on #5
We've reached the initial milestone, will open new issues for future related API concerns.

[2019-07-16 22:15] #6 closed

[2019-07-16 22:15] jmacd commented on #6
We've reached the initial milestone, will open new issues for future related API concerns.

[2019-07-16 22:17] #7 closed

[2019-07-16 22:17] jmacd commented on #7
We've reached the initial milestone, will open new issues for future related API concerns.

[2019-07-16 22:20] rghetia commented on #8
Waiting for clarity in specs.
AI[@rghetia ]:  add a link to spec repo.

[2019-07-16 22:22] rghetia commented on #14
current directory structure seems good.

[2019-07-16 22:22] #14 closed

[2019-07-16 22:23] rghetia commented on #49
current package structure looks good for Go.

[2019-07-16 22:23] #49 closed

[2019-07-16 22:24] rghetia commented on #23
@freeformz do you think we can close this?

[2019-07-16 22:25] jmacd commented on #19
I think we can close this based on the discussion here, since these two issues appear to be very similar:
https://github.com/open-telemetry/opentelemetry-go/issues/23#issuecomment-511989757

[2019-07-16 22:25] #19 closed

[2019-07-17 19:49] jmacd opened #59 "Eliminate tag.Map API"
The Map API is unsafe, as explained by @cstockton in https://github.com/open-telemetry/opentelemetry-go/issues/23#issuecomment-511879124

Make it a concrete type.

[2019-07-19 02:37] djosephsen opened #62 "Unit tests for API: Core"
per #51 , adding this issue and assigning to me along with a PR with some coverage (#61)

[2019-07-19 02:38] djosephsen commented on #62
I can't assign this to me, one of y'all will have to do it 😊

[2019-07-23 05:31] jmacd commented on #52
I can see that the use of plugins makes this proposal difficult to accept, but I think we'd have just the same problems without plugins.

If we allow the SDK to auto-initialize, and allow the application to re-initialize inside their main() function, what happens when the user never initializes the SDK? If we've installed a temporary SDK that buffers events "until the SDK is loaded", we'll have to

[2019-07-23 05:36] jmacd commented on #52
@tigrannajaryan I responded to some of the concerns you expressed in the PR here. I'm afraid the proposal I'm left with is too complicated, and that's without trying to figure out how to initialize global resources, which I've also been thinking about.

[2019-07-23 14:00] tigrannajaryan commented on #52
@jmacd I agree, it looks too complex. I don't have a better proposal though (sorry).

[2019-07-23 15:20] jmacd commented on #52
Considering the thread above, I'm leaning away from auto-installing any SDKs. I think we should require the user to call an `Init()` method from `main()` or somewhere in the framework, if there's a framework in use.

This follows a similar suggestion for Ruby, https://github.com/open-telemetry/opentelemetry-ruby/issues/19, where @mwear writes:

I think probably the same can be said in Go, and will

[2019-07-30 00:15] freeformz commented on #52
@jmacd AFAICT "zero touch instrumentation" is related to compiled code that I don't control though. So, afaict they are orthogonal concerns. I'm talking about code myself or engineering teams I work with will be compiling from scratch.

I think the library we're writing should be available for use by someone implementing "zero touch instrumentation" of Go applications (i.e. they should be able to

[2019-07-30 15:36] yurishkuro commented on #52
@jmacd

How does that help with unit  tests? If I am writing instrumentation for some framework, I need to test it, and for that I need to be able to give it different types of telemetry implementations than the prod library. I nearly had a revolt in one group at Uber because of global tracer in OpenTracing for Java.

[2019-07-31 04:50] jmacd commented on #52
@yurishkuro I would suggest that unit tests should not use the global SDK. If pushed, I'd propose a test-specific SDK that supports dynamically resetting the global instance, since the semantics of swapping SDKs isn't a problem in testing environments.

Further, the proposal I just filed (RFC 0010 linked above) specifies that Java should do the Java thing and use the Service Provider Interface.

[2019-07-31 21:46] rghetia opened #66 "API: Add Sampler Interface"
[Sampler spec
](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-sampling.md)

[2019-07-31 21:55] rghetia opened #67 "API: Add Link interface for Span"
[Add Link spec
](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-links)

[2019-07-31 21:57] rghetia opened #68 "API: Add Tracestate in SpanContext"
[SpanContext spec
](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#spancontext)

[2019-08-02 16:31] rghetia opened #71 "SDK: Add http plugin"
Create http plugin for opentelemetry, similar to [ochttp](https://github.com/census-instrumentation/opencensus-go/tree/master/plugin/ochttp) plugin for opencensus

[2019-08-02 16:32] rghetia opened #72 "SDK: Add grpc plugin"
Create grpc plugin for opentelemetry, similar to [ocgrpc](https://github.com/census-instrumentation/opencensus-go/tree/master/plugin/ocgrpc) for opencensus

[2019-08-02 16:42] rghetia commented on #8
spec for propagation
- [GetBinaryFormat](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#getbinaryformat)
- [GetHttpTextFormat](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#gethttptextformat)

[2019-08-02 16:44] rghetia opened #73 "SDK: Trace context propagation"
Add implementation for both
- [GetBinaryFormat](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#getbinaryformat)
- [GetHttpTextFormat](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#gethttptextformat)

blocked on #8

[2019-08-02 16:46] rghetia opened #74 "API: Add Tracestate to SpanContext"
As per the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#spancontext) add tracestate to SpanContext.

[2019-08-02 16:48] rghetia opened #75 "SDK: Tracestate propagation"
Implement tracestate propagation.

blocked on #74

[2019-08-02 17:19] rghetia commented on #75
In Java there is a [default implementation of Tracestate](https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/trace/Tracestate.java) as a part of the api.
If same approach is taken here then #75 can be rolled into #74.

[2019-08-02 20:47] rghetia opened #76 "API: Convert Event interface to concrete type"
see this [comment](https://github.com/open-telemetry/opentelemetry-go/pull/65/files#r310237999)

Event is currently an interface. It is desirable that this be converted to a concrete Event type with support for lazy loading.

[2019-08-02 20:50] rghetia opened #77 "SDK: Create separate package for exporter interface."
as per this [comment](https://github.com/open-telemetry/opentelemetry-go/pull/65/files#r310241721).

Exporter interface is currently part of SDK. Ideally it would be nice to have a separate interface that can be reused by other SDKS.

## Requirement
- Define Export Data Types and corresponding exporter interface. E.g
[code]
- Define Export Interface for each Data Types. E.g
[code]
- Registry for E

[2019-08-03 01:26] freeformz commented on #23
@rghetia Yes.

But before I do, I want to state that I generally agree with @cstockton on multiple points.

[2019-08-03 01:26] #23 closed

[2019-08-03 16:18] yurishkuro commented on #52
@jmacd I don't see how any global instance can work in unit tests, whether it's resettable or not. Unit tests can run in parallel, global kills that possibility. What's worse, when global is a part of the public API, someone writing instrumentation for some framework X would think this is how they are supposed to access the tracer (why bother implementing proper dependency injection wiring when yo

[2019-08-05 16:40] djosephsen opened #79 "add unit tests to tracer api"
per issue #51, creating an issue for tracer and considering it assigned to me

[2019-08-07 03:02] cep21 opened #83 "Clarify how AWS CloudWatch integrates with opentelemetry-go"
Hi,

I tried writing a cloudwatch exporter for open census and the API there is not rich enough to do CloudWatch metrics well.  I document some of the reasons on the README.md at https://github.com/cep21/cwopencensusexporter

I see open telemetry is based upon open census.  Will it have the same problems, or will it work well with CloudWatch?

I've looked over a few metrics APIs and it seems like

[2019-08-08 13:17] krnowak commented on #68
This seems to be a duplicate of #74.

[2019-08-08 16:24] rghetia commented on #68
duplicate.

[2019-08-08 16:24] #68 closed

[2019-08-08 17:17] rghetia commented on #83
@cep21 thanks for opening this issue. There are two distinct requirements here.

1. Fixed (but configurable) Reporting Interval.
2. Report min/max over Reporting Interval instead of life of the metric. This is dependent on the first requirement.

First requirement is strictly how SDK implements it. While the second would require changes to [metrics proto](https://github.com/open-telemetry/opentele

[2019-08-08 17:23] cep21 commented on #83
It's a bit more complicated than that.  A fixed reporting interval is something that will kind of work but not strictly work. To strictly support CloudWatch with as much accuracy as possible, I would need to ensure a datapoint received at 59.999 goes to window 0 and a datapoint received at 60.0001 goes to window 1.  This is possible with APIs similar to segment's, but use of open telemetry would s

[2019-08-08 17:24] rghetia commented on #74
closing it. tracestate is no longer required in SpanContext. See [PR](https://github.com/open-telemetry/opentelemetry-specification/pull/198)

[2019-08-08 17:24] #74 closed

[2019-08-08 17:44] rghetia commented on #83
Thanks for clarifying. It is 'Fixed Aggregation Interval' rather than 'Fixed Reporting Interval'.

Regarding Summary - can you clarify what do you mean by 'ignore metricdata.Summary by aggregating on ingestion.' ?

[2019-08-08 17:47] cep21 commented on #83
`metricdata.Summary` is a lossy aggregation for CloudWatch.  A CloudWatch user would never want to aggregate like that.  They would prefer aggregating into a distribution so real percentiles can be calculated on the fly.  One way to do this is to simply not allow data to ever get into a `metricdata.Summary` type and to aggregate it on ingestion into a distribution.

[2019-08-09 09:09] krnowak commented on #59
I'd like to pick up that task.

The question I have is what was the reason for having `tag.Map` as an interface? Was it to make it possible to have a different implementation of the interface from a different vendor of OT SDK?

From what I have understood from the comment is that the current implementation of the map is not thread-safe and it is not feasible to require thread-safety from the vendo

[2019-08-12 22:57] jmacd commented on #59
I'm not sure there was any reason to have a tag.Map interface in the first place. As I think we've discovered in https://github.com/open-telemetry/opentelemetry-go/issues/52 (see also https://github.com/open-telemetry/rfcs/pull/11), there will be uses of the tag.Map interface that are expected _before_ the SDK loads. So, I think we should eliminate the interface and use a concrete type. Then, havi

[2019-08-13 17:00] lizthegrey opened #90 "`go get -u` depending upon otel-go fails"
[code]

is this a breaking change that I missed at some point, or is it a more structural problem?

[2019-08-13 17:06] bogdandrutu commented on #90
Try `go get -u go.opentelemetry.io`

[2019-08-13 17:13] lizthegrey commented on #90
[code]

[2019-08-13 18:24] bogdandrutu commented on #90
Fixed. The domain was moved to be owned by cncf and the DNS rules were removed somehow. Retry the command (you may need to clear your dns entries).

[2019-08-13 18:26] lizthegrey commented on #90
bingo. Thank you! Glad it wasn't just a phantom after all.

[2019-08-13 18:42] lizthegrey commented on #90
Confirmed that I'm back compiling, thanks!

[2019-08-13 18:42] #90 closed

[2019-08-13 22:37] jmacd commented on #77
Suggestion: Implement just the SyncExporter and a single Register for now?

[2019-08-13 22:38] jmacd commented on #75
We will postpone this until the OpenTelemetry specification addresses how to handle the W3C tracestate.

[2019-08-13 22:53] rghetia opened #93 "Shim: OpenCensus Shim"
Create an OpenCensus shim that bridges opencensus to opentelemetry.

[2019-08-13 22:54] jmacd opened #94 "OpenTracing shim needed"
We need a shim to translate OpenTracing API calls into OpenTelemetry API calls.
Concretely, this is an OpenTracing implementation based on the OTel SDK.
This will require more issues to be filed as this task is broken down.

[2019-08-13 22:58] jmacd opened #95 "SpanData exporter implementation: Jaeger"
The task is to create a SpanData exporter for exporting Jaeger. We think that OpenTelemetry's trace data format will not mature fast enough for users to begin testing the OTel APIs. Therefore, this task is to create a Jaeger span data exporter.

[2019-08-16 01:23] jmacd commented on #57
Today's API reads:

[code]

I believe we should eliminate one of these. The specification says the method should be named "AddEvent", but we have agreed above in this issue not to use an interface.

Therefore, we should consolidate into one method

[code]

and remove the `Event` interface.

[2019-08-16 19:18] #52 closed

[2019-08-22 16:57] #66 closed

[2019-08-23 03:37] agneum commented on #76
Hi! Is this issue actual? Can I take it to fix?

[2019-08-23 05:25] rghetia commented on #76
yes and yes. Thanks for helping out.

[2019-08-23 08:28] krnowak opened #105 "Access to key value pair in tag.Map needs to be thread-safe"
When calling `Foreach()` on the `tag.Map`, we gain access to every key and value in the map. We can also use `Value()` to get access to a value for a specific key. The keys and values returned should essentially be copies of whatever is contained in the map, and usually they are. There are some troublesome members though. Some of them have the pointer-like semantics, so it is possible to mutate th

[2019-08-23 16:01] #59 closed

[2019-08-26 20:06] rghetia opened #109 "SpanData exporter implementation: Zipkin"
The task is to create a SpanData exporter for exporting Zipkin

[2019-08-26 20:09] cep21 opened #110 "Reconsider use of singletons"
Hi,

Many people in the Go community disagree with singletons: i.e. Package global state.  A few people have spoken about them in the past, including [this post](https://dave.cheney.net/2017/06/11/go-without-package-scoped-variables) by Dave Cheney and [this post](https://peter.bourgon.org/blog/2017/06/09/theory-of-modern-go.html) by Peter Bourgon, [this talk](https://go-talks.appspot.com/github.c

[2019-08-29 16:37] cep21 opened #111 "Consider separating out git repository for tracing from metrics"
Hi,

Tracing, logging, and metrics all help observability, but they are very different things.  Companies that do one, may not do another.  Systems that solve one well look very different from systems that solve another well.  There is no clear reason to have them all in one repository, but very compelling reasons to separate them.

# API differences

The API differences between metrics are tracin

[2019-09-03 20:53] lizthegrey opened #114 "[experimental] observer pattern should not panic when Finish() called multiple times"
while it's undesirable to call `Finish()` more than once, we should probably be more informative than panicking when it happens...

https://gist.github.com/lizthegrey/30ca5c7def588a1bfd3c33041db67d27

[2019-09-03 20:56] lizthegrey commented on #114
Also: with high concurrency it's possible to race and wind up with the parent span already being Finish()ed before the child span is created, causing the observer pattern to fail inside the start span observer.event creation

[2019-09-05 17:52] #76 closed

[2019-09-05 17:53] #57 closed

[2019-09-05 17:54] jmacd commented on #105
Oops. This is about allowing mutable value data into the SDK.

[2019-09-05 17:55] jmacd commented on #105
I'd prefer to remove BYTES than to force a copy.

[2019-09-05 17:57] jmacd opened #115 "Prometheus metrics exporter"
We'll port the OpenCensus metricsdata exporter code into this repository.

[2019-09-05 18:00] jmacd opened #116 "SpanProcessor API for building export pipelines"
See the specification: https://github.com/open-telemetry/opentelemetry-specification/pull/205

This can be refactored out of the existing code in the `sdk/trace` directory.

[2019-09-05 21:27] jmacd commented on #114
Note: the experimental/streaming/sdk is meant to be experimental at this time. There is a TODO about not allowing out-of-order events which might help the second problem. The first problem should just be checked. However, the long term plan here would be to encode these events to some other destination, that will use far-more-real code to handle them.

[2019-09-05 22:01] jmacd commented on #111
I believe when we reach a point of maturity, it will be feasible to make this separation. Currently, it's the context propagation stuff that binds metrics and tracing. There are a bunch of issues asking for this to be separated from OTel proper (e.g., https://github.com/open-telemetry/opentelemetry-specification/issues/70).  When this is done, we can split the core library into three repos (contex

[2019-09-06 05:43] tedsuo commented on #111
Hi @cep21. There is definitely the issue of clean API design. However, as @jmacd mentioned, the observability APIs do end up sharing certain concepts, which we are in the process of separating more decisively. One example include correlations, where independent observations - including those made across  different observability APIs - can be indexed and associated with each other. Another example

[2019-09-06 23:40] jmacd commented on #111
I will propose we set a date sometime after our Alpha release and sometime before our Beta releases begin, to split the repository into packages along the lines that you suggest. We need to flush our more on context propagation, which binds these two together.

[2019-09-09 21:59] #95 closed

[2019-09-11 23:35] rghetia opened #119 "Batched Span Processor"
Add Batched Span Processor that collects all the spans and asynchronously process them.
Allow batch size and batch delay configuration.

[2019-09-12 02:13] congim opened #120 "http plug-in problem"
I tried to run the http instance code，and use wireshark to capture network messages,why didn't i find traceID spanID in the http message?

[2019-09-12 02:19] congim commented on #120
network msg:
[code]

[2019-09-12 02:46] congim commented on #120
I traced the code and found a NoopTracer～ ~

[2019-09-12 02:49] congim commented on #120
Do I need to implement tracer myself if I want to use this sdk?

[2019-09-12 05:41] rghetia opened #121 "Metrics Processor"
Similar to Span Processor, add metric processor interface for processing metrics.
Provide two metric processor
1. Simple Processor
2. Batched Processor

[2019-09-12 05:48] congim commented on #120
Do I need to implement this tracer myself?

[2019-09-12 05:54] rghetia opened #122 "API: rename tag to correlation context"
Rename tags to correlation contextas per the [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-distributedcontext.md).

[2019-09-12 05:55] rghetia opened #123 "SDK: Correlation Context"
SDK for Correlation Context API see #122 .

[2019-09-12 05:58] rghetia opened #124 "W3C Correlation Context Propagator"
Propagate Correlation Context using W3C correlation context format.
Propagator should follow API defined in #85

[2019-09-12 06:00] rghetia opened #125 "Binary Correlation Context Propagation"
Binary encoding of correlation context.
TBD: put a link to encoding format.

[2019-09-12 06:05] rghetia opened #126 "Metrics Recorder/handler"
Metrics Recorder/handler is SDK that records the measure and stores it in memory (aggregated). The metrics are then processed by metric processors.

For certain metrics like Gauge it provides Metric handler to do atomic operation such as set.

[2019-09-12 06:18] rghetia opened #127 "Named Tracer"
Add support for named tracer.

[code]

[2019-09-18 11:33] jpkrohling opened #128 "Export to Jaeger using gRPC"
The current preferred way to send data to Jaeger's collector is via gRPC. The current Jaeger exporter is however using Thrift. While Thrift might still be needed for legacy environments, there should be a gRPC option for the Jaeger exporter, potentially being the default option.

[2019-09-19 17:24] jmacd commented on #127
Discussion: propose to remove `WithResources`, `WithComponent`, and `WithService` for the time being, while "Named Tracer" questions are resolved.

[2019-09-19 17:32] jmacd opened #132 "Binary trace context propagator"
To support transport of trace context across gRPC we'll need to finish the binary propagator API.

[2019-09-19 17:37] jmacd opened #133 "Separate examples by experimental/streaming vs. standard SDK"

[2019-09-19 17:37] jmacd opened #134 "Stdout exporter for builtin trace SDK"
This could be factored from the stdout exporter in `experimental/streaming/exporter`.

Update the examples to use stdout exporter (vs Jaeger).

[2019-09-21 07:26] #67 closed

[2019-09-22 10:05] stgrzeszczak opened #136 "module verification fails (go 1.13 compilation problem)"
I'm using Go 1.13:
`$ go version
go version go1.13 linux/amd64`

I checked out the `opentelemetry-go` code and tried building. This failed:
`$ go build ./...
go: github.com/golangci/golangci-lint@v1.17.1 requires
        github.com/go-critic/go-critic@v0.0.0-20181204210945-1df300866540: invalid pseudo-version: does not match version-control timestamp (2019-05-26T07:48:19Z)`

[2019-09-23 18:51] #8 closed

[2019-09-24 09:47] lizthegrey opened #140 "trace.ChildOf(spanCtx) in examples hallucinates a parentId on root spans"
rather than ParentID being left unset on the root span of the trace, a random value for ParentID is being manufactured when the following code is run inside a vanilla HTTP handler ripped from the example code:

[code]

[2019-09-24 15:18] jmacd commented on #133
Closed via PR #135

[2019-09-24 15:18] #133 closed

[2019-09-24 15:20] jmacd opened #141 "Update README and examples w/ instructions for default SDK"
Take https://github.com/open-telemetry/opentelemetry-python/blob/master/README.md for example.

[2019-09-24 17:04] iredelmeier commented on #128
Unable to add myself as an assignee but I'm picking this up

[2019-09-24 18:42] lizthegrey commented on #140
Pebkac. Turns out Glitch really was adding those trace context headers!

[2019-09-24 18:42] #140 closed

[2019-09-24 18:51] akvanhar commented on #140
I investigated this further and it turns out that Glitch is inserting a W3C header, which we're pulling out by accident here, but it wasn't sent, so it's showing up as an empty parent span.
We have some hardening to do on our side of things.

[2019-09-24 21:10] iredelmeier commented on #128
@jpkrohling from my understanding, only the collector supports gRPC, and the agent is still Thrift-only. Is this correct? If so, is the idea here that the exporter should skip the agent and connect directly to the collector?

CC @rghetia since I believe you were also interested in getting Jaeger + gRPC in.

[2019-09-24 21:48] rghetia commented on #128
Thanks for picking it up. I have assigned it to you.

[2019-09-24 22:02] iredelmeier commented on #120
@congim rather than implementing the tracer yourself, you can use the SDK via [`Register`](https://godoc.org/go.opentelemetry.io/sdk/trace#Register with an exporter registered via [`RegisterExporter`](https://godoc.org/go.opentelemetry.io/sdk/trace#RegisterExporter). Currently, the only out-of-the-box exporter is the Jaeger exporter.

Here's a [complete example](https://github.com/open-telemetry/o

[2019-09-24 23:14] iredelmeier commented on #128
Thanks @rghetia!

Did you have more context on the use case? It's currently unclear to me whether we want the exporter to ever communicate directly with the collector instead of the agent.

[2019-09-24 23:32] rghetia commented on #128
My understanding is same as yours which is client libraries export spans to Agent and Agent sends it to Collector. Agent only supports HTTP endpoints.
Lets' wait for a response from @jpkrohling .

[2019-09-25 07:50] jpkrohling commented on #128
By default, Jaeger client libraries send spans via UDP in Thrift format to agents. However, most client libraries can be configured to talk to a remote collector via HTTP. Right now, I think we have no clients able to send data via gRPC, but the Jaeger Agent sends data to the Collector via gRPC by default since a couple of releases.

To clarify my original message: this issue here is only about th

[2019-09-25 07:56] stgrzeszczak commented on #136
fixed with #137

[2019-09-25 07:56] #136 closed

[2019-09-25 21:23] jmacd commented on #141
I'd like to keep this open as we need to update top-level README with contents similar to the Python example above.

[2019-09-25 23:49] rghetia opened #145 "Add more test cases to Jaeger Exporter"
see this [comment](https://github.com/open-telemetry/opentelemetry-go/pull/143#discussion_r328368123)

Also fix this [comment](https://github.com/open-telemetry/opentelemetry-go/pull/143#discussion_r328367696)

[2019-09-26 00:22] iredelmeier commented on #72
There are (at least) three routes we can go with this:

1. Use [`stats.Handler`](https://godoc.org/google.golang.org/grpc/stats#Handler). This is what [ocgrpc](https://github.com/census-instrumentation/opencensus-go/tree/master/plugin/ocgrpc) does.
1. Use interceptors ([`UnaryClientInterceptor`](https://godoc.org/google.golang.org/grpc#UnaryClientInterceptor), [`StreamClientInterceptor`](https://g

[2019-09-26 04:06] rghetia commented on #72
Is it possible to associate different traces for each payload in case of stream interceptors? Otherwise long lived stream could end up having one parent creating 100s or 1000s of child span.

Can we support both with an option flag?

[2019-09-26 17:13] iredelmeier commented on #128
@jpkrohling thanks for the clarification!

What are your thoughts on getting this change accomplished upstream in [jaeger-client-go](https://github.com/jaegertracing/jaeger-client-go) first, and then using the client in the exporter? It feels a bit funky to not be consuming it here.

[2019-09-26 17:17] iredelmeier opened #146 "Jaeger exporter should use functional options"
Functional options would be more consistent with the rest of the code base.

Additionally, it would let us make certain configuration more clear, e.g., enabling a single `endpoint` option that would let you use _either_ a collector endpoint _or_ an agent endpoint.

[2019-09-26 17:37] iredelmeier opened #147 "Rename `Span#Finish` -> `Span#End`"
Per https://github.com/open-telemetry/opentelemetry-specification/blob/498d87dd05d964c703601244f3e8ac0802b26aaf/specification/api-tracing.md#end

[2019-09-26 17:39] iredelmeier opened #148 "Add HTTP handler"
The HTTP plugin should provider a [`Handler`](https://golang.org/pkg/net/http/#Handler) that provides middleware-like behaviour that wraps the original handler in a span. The span should have appropriate defaults but be customizable.

[2019-09-26 18:19] iredelmeier opened #149 "Should `Tracer#WithSpan` take options?"

[2019-09-26 21:22] iredelmeier commented on #72
Decision on the above, based on today's SIG, is to with **interceptors** at least for now. Longer term, we may do a combination of both.

[2019-09-27 06:26] jpkrohling commented on #128
From what I remember, we haven't implemented it in the official libraries yet because we are waiting to see if the OpenTelemetry clients will replace them in the future. I personally prefer to collaborate on the same set of client libraries.

We had a similar discussion as part of open-telemetry/opentelemetry-java#469 and decided to not depend on the Jaeger Java Client there. If the maintainers of

[2019-09-27 20:16] iredelmeier commented on #128
Interesting, thanks for that context @jpkrohling!

Speaking strictly on behalf of myself, I agree that it makes more sense for the OpenTelemetry exporters to consume the official clients, preferably with some sort of wrapper on top - something approximately like:

[code]

[code]

[2019-09-27 21:50] iredelmeier opened #152 "HTTP client plugin's spans should reflect behavioural structure"
Currently, all of the `http.<x>` spans created by the [`clientTracer`](https://github.com/open-telemetry/opentelemetry-go/blob/0eb73325ce9e9855c21e783fb8236223edeedbef/plugin/httptrace/clienttrace.go) are created as siblings (see trace screenshot below). This is misleading based on the actual behaviour, e.g., the `http.dns` operation should actually be a child of the `http.getconn` span.

![Screen

[2019-09-28 14:04] krnowak commented on #147
#150 is merged, so this can be closed.

[2019-09-28 14:40] #147 closed

[2019-09-28 14:40] bogdandrutu commented on #147
@krnowak done

[2019-09-29 02:42] congim commented on #120
@iredelmeier nice, thank you!

[2019-09-29 02:42] #120 closed

[2019-10-01 10:48] jpkrohling commented on #128
I think it would be good then to have a single strategy for all clients: it will certainly be confusing to developers if the Go client is configured in a way that is different from the Java client.

[2019-10-01 17:31] #134 closed

[2019-10-01 20:50] #119 closed

[2019-10-02 05:43] #141 closed

[2019-10-02 20:54] #132 closed

[2019-10-03 04:19] #127 closed

[2019-10-03 04:53] rghetia opened #159 "Metrics SDK: Exporter interface"
Interface for exporting Metrics.
Detail Description: TBD.

[2019-10-03 05:35] sayboras commented on #146
I can start working on this :)

[2019-10-03 07:28] paivagustavo commented on #146
Hey @sayboras, I was already working on this but didn't mention before. Please, forgive me :(

[2019-10-03 08:34] sayboras commented on #146
no worry, I find sometime else to work on

[2019-10-03 17:17] akvanhar commented on #122
I can pick this up.

[2019-10-03 17:17] rghetia commented on #94
Mostly done. Few issues left.

[2019-10-03 17:24] rghetia commented on #73
This is done.

[2019-10-03 17:24] #73 closed

[2019-10-03 19:19] rMichaelPeter commented on #159
Hello

[2019-10-03 20:35] rghetia commented on #122
Earlier this morning I asked @sayboras to pick this up.

[2019-10-03 21:42] sayboras commented on #122
I am working on this

[2019-10-03 22:24] rghetia opened #163 "SDK: Add Unit-Test for Probability Sampler"
There is a [TODO](https://github.com/open-telemetry/opentelemetry-go/blob/cd5ee69468071f1c136731a29c71a943cf14ffb8/sdk/trace/trace_test.go#L133) for adding test for Probability Sampler.

[2019-10-03 22:33] rghetia opened #164 "SDK: Add Shutdown test for Span Processor"
There is a [TODO](https://github.com/open-telemetry/opentelemetry-go/blob/cd5ee69468071f1c136731a29c71a943cf14ffb8/sdk/trace/span_processor_test.go#L112) to add test for Shutdown hook.

[2019-10-03 22:38] rghetia opened #165 "Exporter: export Link from SpanData in Jaeger exporter"
Jaeger Exporter was added prior to Link support. Hence, Link is not exported via Jaeger exporter. See [TODO](https://github.com/open-telemetry/opentelemetry-go/blob/cd5ee69468071f1c136731a29c71a943cf14ffb8/exporter/trace/jaeger/jaeger.go#L197)

[2019-10-03 22:44] rghetia opened #166 "SDK: Add benchmark test for W3C TraceContext Inject/Extract"
Add benchmark test for W3C TraceContext Inject/Extract.
Reference benchmark test for [StartSpan](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/benchmark_test.go)

[2019-10-04 04:17] rMichaelPeter commented on #123
Hello Michael ?Zacher here

[2019-10-04 06:58] paivagustavo commented on #165
Hi @rghetia!

I was playing with this issue but looks like the `apitrace.Link` structure does not have a "type of link" (seems like Jaeger accepts "child of" and "follows from") to map to Jaeger's `SpanRefType`.

So links are not getting exported even after uncomment the mentioned code. Hardcoding `child_of` works.

Should this be added to the api? Should we assume every link is a `child_of` relat

[2019-10-04 10:08] z1c0 opened #168 "Implement "Named Tracers and Meters""
The "Named Tracers and Meters" RFC (https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md) has been approved and was added to the specification (open-telemetry/opentelemetry-specification#264).

Please make sure to also update the documentation if necessary (tracer, meter creation).

OpenTelemetry language repositories now need to implement this mechanisms.

[2019-10-04 10:09] z1c0 commented on #168
There is a similarly named issue already https://github.com/open-telemetry/opentelemetry-go/issues/127, but since it was created way before the spec changes were accepted, this is probably something different.

[2019-10-04 16:19] rghetia commented on #165
@paivagustavo for now hardcode child_of and add a TODO pending resolution of the issue https://github.com/open-telemetry/opentelemetry-specification/issues/65.

[2019-10-04 19:07] #146 closed

[2019-10-04 19:36] jmacd opened #171 "Prefer fewer globals in trace SDK initialization"
Here's a typical setup for a Jaeger exporter:

[code]

It feels like too many global variables are in use. We've gone to a lot of trouble to support multiple SDKs in the process, but are all SDKs expected to use the statically registered span processors? That's not what I'd expect. I'd prefer is we used only the necessary globals. In this case, we'd address the matter by constructing the exporters

[2019-10-07 16:40] #165 closed

[2019-10-07 17:25] #148 closed

[2019-10-08 07:11] dmathieu opened #174 "SDK should support an error callback"
As mentioned in https://github.com/open-telemetry/opentelemetry-go/pull/162#discussion_r332183065

[2019-10-08 17:07] jmacd commented on #174
The SDK itself also should support an `OnError()` callback so that it can issue errors to a handler configured by the application `main()` function. Probably every component (SDK, processor, exporter) should support this in a uniform way.

[2019-10-08 17:11] jmacd commented on #149
I support the idea in principle, but it feels like it clutters the API too, because you'll have to write a `[]pkg.Option{}` boilerplate to use this. I'd probably rather see calls like

[code]

[2019-10-08 20:09] rghetia commented on #164
fixed by #169

[2019-10-08 20:09] #164 closed

[2019-10-08 20:12] rghetia commented on #122
@sayboras, any updates on this?

[2019-10-08 20:13] rghetia commented on #77
fixed by #162

[2019-10-08 20:13] #77 closed

[2019-10-08 22:06] akvanhar commented on #174
If this is something we expect exporters to handle in a uniform way, does it make sense to have it implemented here instead? A default `OnError()` call back could do `log.Printf("Error when uploading spans to Exporter: %v", err)`. Even better if we know the name of the exporter in question.

[2019-10-09 01:17] freeformz commented on #149
@jmacd You don't have to create a slice to pass var args. WithSpan could be:

[code]

[2019-10-09 01:17] freeformz commented on #149
This would also make it symmetric to [NewHandler](https://godoc.org/go.opentelemetry.io/plugin/othttp#NewHandler) and the like.

[2019-10-09 04:31] agneum opened #175 "SDK: Multiple Unregister should not trigger multiple shutdown call"
Multiple Unregister should not trigger multiple shutdown call
See more details: https://github.com/open-telemetry/opentelemetry-go/pull/169#discussion_r331597665
In addition, it is necessary to fix this test: TestMultipleUnregisterSpanProcessorCalls at sdk/trace/span_processor_test.go

[2019-10-09 06:31] #175 closed

[2019-10-09 11:04] sayboras commented on #122
@rghetia this seems complicated than I thought, maybe because I didn't understand the spec well. I am a little confused about terminologies. Some of them are quite different with opentracing that I used to work on (open tracing + datadog).

Feel free to assign this issue to someone else. I will find other item to start with.

[2019-10-09 16:16] rghetia commented on #122
@akvanhar would you like to take this?

[2019-10-09 21:48] akvanhar commented on #122
PR for this here: https://github.com/open-telemetry/opentelemetry-go/pull/178

[2019-10-10 01:41] jmacd commented on #149
I think placing the variable length args after the function destroys
readability.

On Tue, Oct 8, 2019 at 6:18 PM Edward Muller <notifications@github.com>
wrote:

[2019-10-10 02:51] freeformz commented on #149
@jmacd On that we disagree. I find it more readable and not that different really, than your example above:

[code]

[2019-10-10 02:59] freeformz commented on #149
It's not *great*, but IMO, it is better than the odd chaining thing.

[code]

Additionally, adding the variable options at the end is compatible with the existing signature.

[2019-10-10 03:12] jmacd commented on #149
It's not bad, I agree. I support this.

It's a bit of a "buried lede", where potentially most important information is a distance away from the start of the statement. I'd accompany this with a recommendation to avoid lengthy in-line `func` definitions when options are present.

[2019-10-10 03:13] paivagustavo commented on #149
Just throwing another idea, what if we change this a little bit and do something like:
[code]

[2019-10-10 03:55] freeformz commented on #149
I like that.

[2019-10-10 04:00] freeformz commented on #128
@jpkrohling Will it? As a Go developer I find the opentelemetry-go client to not be particularly idiomatic and Go developer friendly. I'd rather a client that idiomatic over a client that works like the Java client.

PS: I'm not trying to be negative here. I *do* appreciate all the work everyone has done. But I also want a to be able to use and support a nice API that is a joy to use. Hence why I

[2019-10-10 17:37] jmacd commented on #174
Discussed in the weekly SIG meeting. We support the idea of an interface with an `OnError` method that is passed to the constructors of each SDK, processor, exporter, and plugin that might need to report errors.

[2019-10-10 17:39] jmacd commented on #168
@rghetia is working on this.

[2019-10-10 17:40] jmacd commented on #159
@jmacd will update PR #172 and ping this issue for review of the export processor API it contains.

[2019-10-10 17:47] jmacd commented on #149
What happens if `.Do(...)` is left off, what type is returned by `WithSpan`?

[2019-10-10 17:48] jmacd opened #181 "End options needed to set explicit stop timestamp"
This is for symmetric with Start options and the explicit start timestamp.

[2019-10-10 17:55] jmacd opened #182 "API should export standards-conventional attribute names"
The strings documented in our standards conventions should be available as exported variables from a standard package in the API.

[2019-10-10 20:13] iredelmeier opened #183 "Consider using a byte array for `TraceID` (and possibly `SpanID`)"
A 16-byte byte array feels like it would be more intuitive for holding `TraceID`s.

In particular, it would make formatting and conversions (particularly to/from hex) easier, as well as make it easier to use a standard generator such as [UUIDs](https://github.com/gofrs/uuid).

[2019-10-10 20:22] iredelmeier opened #184 "Import path should be nested under `go.opentelemetry.io`"
While most of the code is nested somewhere under the root, we currently have [a module](https://github.com/open-telemetry/opentelemetry-go/blob/f863bfbd865b0a00f5b4cc51461465553b351f99/go.mod) directly at the root.

The lack of nesting (e.g., `go.opentelemetry.io/opentelemetry` instead of `go.opentelemetry.io` directly) feels unusual and, more significantly, likely to mess with various go tools, e

[2019-10-10 21:06] iredelmeier opened #185 "Suggestion: rename `CurrentSpan`/`SetCurrentSpan`"
Thoughts on renaming these to `SpanFromContext` and `ContextWithSpan` to be more idiomatic?

[2019-10-10 22:49] iredelmeier opened #186 "Clarify and rename `IsRecordingEvents` and `WithRecordEvents`"
The emphasis on "events" in `IsRecordingEvents` and `WithRecordEvents` suggests that the methods pertain specifically to events in the sense of logs/what gets added with [these methods](https://github.com/open-telemetry/opentelemetry-go/blob/384b4bb86af69eed21dc9e29579894576be9ce50/api/trace/api.go#L61-L65), when these are really more about whether the span will get exported.

The [`WithRecordEven

[2019-10-10 22:57] iredelmeier opened #187 "Should `WithRecord` override the span context's sampled flag?"
Currently in the SDK, a span must be both "sampled" - i.e., it's span context's sampled flag must be true - and "recorded" - e.g., through `WithRecord` or the sampling decision - in order to actually be exported.

Should `WithRecord` be sufficient to guarantee that the span will be exported?

This could be useful in cases where, e.g., an upstream service is sampling too aggressively.

[2019-10-10 23:49] iredelmeier opened #189 "SDK ignores "FollowsFrom" relationships"
[Currently](https://github.com/open-telemetry/opentelemetry-go/blob/384b4bb86af69eed21dc9e29579894576be9ce50/sdk/trace/tracer.go#L50), the SDK only propagates the parent through the context or if the provided reference is explicitly set to `ChildOfRelationshipType`. `FollowsFromRelationshipType` parents thus get ignored, which seems unexpected.

[2019-10-10 23:49] iredelmeier commented on #189
CC @rghetia since you left what looks like a [relevant TODO](https://github.com/open-telemetry/opentelemetry-go/blob/384b4bb86af69eed21dc9e29579894576be9ce50/sdk/trace/tracer.go#L42-L48).

[2019-10-11 00:12] paivagustavo commented on #149
Having a hard time thinking of a good naming for the intermediate type returned by`WithSpan`.

I have been thinking about the experience of using the API, would be possible to change add a `.Do(...)` method to the `Span` type? With this possible could drop `WithSpan` altogether (specs doesn't actually forces us to have it, or did I missed it?).

`trace.StartSpan(ctx, "name", ...).Do(...)` seems a

[2019-10-11 00:27] iredelmeier opened #192 "Remove `WithRecording` option from trace API"
This option needs to be removed before the GA release. The specification decision on how to resolve this issue has been postponed until after GA. To reduce the maintenance burden of this code after GA and to ensure we can support the future resolution of this issue at the specification level we need to remove this option.

Work needs to be done to explore how this option can be removed and still c

[2019-10-11 00:44] iredelmeier opened #193 "Remove "FollowsFrom" relationships"
Reference is not defined in the specs. What does a follow from mean?

_Originally posted by @bogdandrutu in https://github.com/open-telemetry/opentelemetry-go/pull/190_

Note that this would affect FollowsFrom-based relationships in the OpenTracing bridge.

[2019-10-11 00:45] iredelmeier commented on #189
This becomes unnecessary if we instead go with #193.

[2019-10-11 02:37] paivagustavo commented on #149
I think that maybe `SpanScope` maybe a good start name if are going to keep this structure.

We could create the span when the `Do` method is called, so if one does not call `Do`, nothing happens.

[2019-10-11 17:00] freeformz commented on #149
That is one problem with chaining in that way. As for a type name: `SpanDoer` (an interface), `SpanFuture`, `SpanScope`, etc.

Given that `.Do` may require another type I'd prefer the inline func, with trailing ...opts.

[2019-10-11 17:16] jmacd commented on #193
"Reference" may be a misleading term. I thought we called these relationships.

I think it will be a set-back if we remove FollowsFrom.

[2019-10-11 17:26] jmacd commented on #186
To me, the most salient piece of information here is "Is this a Real span" vs "Is this a no-op span". I don't like the use of "Recording" to convey this information.

[2019-10-11 17:26] jmacd commented on #184
LGTM

[2019-10-11 17:40] iredelmeier commented on #193
@jmacd that's my understanding too re: "relationships" instead of "references". The first line is a quote since I created this issue from a discussion in #190.

[2019-10-11 17:42] iredelmeier opened #195 "Replace references to "reference" with "relation""
I thought we were using the word "Relation", not "Reference", but that's not something for this PR. I see that StartSpanOptions has a Reference, but I think it would be clearer if we used Relation or Relationship.

_Originally posted by @jmacd in https://github.com/open-telemetry/opentelemetry-go/pull/190_

(no comment on "references to 'reference'"...)

[2019-10-11 18:44] lizthegrey commented on #114
@jmacd any progress towards just getting the observer pattern into the regular rather than streaming SDK?

[2019-10-11 18:58] jmacd opened #196 "metric.MeasurementValue needs a ValueKind tag OR metric.Measurement cannot export fields"
Presently, the Measurement struct allows the user to supply batch measurements directly:
[code]

This allows a float measurement value to enter an integer metric instrument. We should either provide constructors for `Measurement` or include the information in MeasurementValue.

The OpenCensus library did the former, more-or-less. You could imagine a method on the instruments to construct measureme

[2019-10-11 18:59] freeformz commented on #114
FWIW: I feel that an observer pattern can support both streaming and non streaming exporters and should be the *only* internal implementation. With that said, I also haven't spent much time with the implementation in OT-Go yet.

[2019-10-11 18:59] jmacd commented on #196
I'll add that I prefer the use of constructors for Measurement, but I do not have a good method name in mind.

[2019-10-11 19:33] jmacd commented on #114
@lizthegrey @freeformz I am not actively pursuing this idea. While I support it 100%, it stands in the way of the OpenTelemetry timeline because it's not an API change. It's not a requirement, simply stated.

[2019-10-11 19:40] lizthegrey commented on #114
Aha, https://github.com/open-telemetry/opentelemetry-go/blob/master/exporter/trace/stdout/stdout.go exists, and is sufficient to unblock me and I no longer need to see the observer pattern merged into the main SDK.

[2019-10-11 19:53] freeformz commented on #114
@jmacd totally get that.

[2019-10-11 19:58] lizthegrey commented on #114
WTB access to tag issues so we can tag this low priority then. For now, tagging it in the title with `[experimental]`

[2019-10-11 20:03] freeformz commented on #186
Heh. Up until now I was under the impression presented by @iredelmeier (although had nagging suspicions I was wrong, but haven't had a chance to dig in).

If these are really meant to indicate if these spans will get exported or not and that is determined by the spans being "real" vs. "no-op", then Go already has a means of doing this via the type system (possibly via a helper function).

If that'

[2019-10-11 22:06] iredelmeier commented on #186
My understanding is that the initial goal of `IsRecordingEvents`/`IsRecording` [from OpenCensus](https://github.com/census-instrumentation/opencensus-go/blob/59d1ce35d30f3c25ba762169da2a37eab6ffa041/trace/trace.go#L66-L68) was to avoid running anything expensive for spans that were unnecessary because **either** (a) they weren't sampled or (b) z-pages aren't been enabled. There's no way of opting

[2019-10-11 22:45] iredelmeier opened #197 "Suggestion re: span start/end option naming"
Thoughts on renaming:

`SpanOption` -> `StartSpanOption` to disambiguate from `EndOption`
`SpanOptions` -> `SpanConfig` (or `StartSpanConfig` depending on the above) and `EndOptions` -> `EndConfig` to make them more greppable, expand the number of nouns we can use (e.g., so that `opts`/`options` could be used for a slice of `Option`s and `c`/`cfg`/`config` for the config version)

[2019-10-11 23:00] jmacd commented on #186
I think this deserves a spec issue. I still believe "IsNoopSpan()" tells us exactly what we need--the intention is to have a way of eliding expensive computation intended for diagnostics that are going nowhere.

[2019-10-11 23:06] bogdandrutu commented on #186
@jmacd `IsRecording()` is exactly `!IsNoopSpan()`. Usually you want to have positive methods/functions.

[2019-10-11 23:23] jmacd commented on #186
Thanks for clarifying.  So, it means what I thought it meant.

[2019-10-11 23:36] freeformz commented on #186
@jmacd Does that mean a change to the name then or something else?

[2019-10-11 23:40] freeformz commented on #197
is there a reason documented for these `Option` structs? I'm not a fan, but maybe there is a reason for it?

[2019-10-11 23:41] jmacd commented on #186
I don't know. I agree with @bogdandrutu that we want a positive method, not a negative, and in code we're likely to see

[code]

I might suggest "IsReal()". I don't feel strongly here.

[2019-10-11 23:42] jmacd commented on #186
And if the example is like the one above, I'd prefer to have lazy value support.
E.g.,
[code]

[2019-10-11 23:53] freeformz commented on #186
+1. Lazy evaluation via a function seems like a much better way to deal with the problem of real/noop spans than littering code with `if span.IsRecording() { ... }`. I'd prefer (at least w/o thinking too much about it) the function return a `core.Value` instead of an `interface{}`, like so:

[code]

I also feel that returning an error, as a way to ignore the core.Value, is appropriate.

[2019-10-12 00:11] jmacd commented on #186
Related PR w/ proof-of-concept for lazy and structured values:
https://github.com/jmacd/opentelemetry-go/pull/3
This PR is dead, but I intend to resurrect parts of it one day.

[2019-10-12 00:30] bogdandrutu commented on #186
I don't know how it is in Go but in some languages the code above will generate an unnecessary extra allocation. Or if users are concerned about holding too much memory they also may prefer the `isRecording`.

Also to clarify a bit `IsReal` sounds to me that you are associated this with having an implementation available for the API. A valid implementation of the API that is based on Dapper paper

[2019-10-12 00:30] iredelmeier commented on #197
@freeformz do you mean the `SpanOptions` and `EndOptions` structs? If so, [here](https://github.com/open-telemetry/opentelemetry-specification/blob/f86b6179e469df76c8f5aef56d5feb11694e8553/specification/api-tracing.md#span-creation) is the relevant part of the spec.

One frequent-ish example comes up with start and end timestamp configuration, which can be quite useful for things like interop with

[2019-10-12 02:11] iredelmeier opened #198 "Can't re-call `SetGlobalTracer` with two different types of tracer"
This seems to be due to the usage of `atomic.Value`, which [expects to be used with a "consistently typed value"](https://godoc.org/sync/atomic#Value).

Running this code:

[code]

triggers a panic from `sync/atomic`.

[2019-10-12 03:05] jmacd commented on #186
I'm not very concerned about this, but if there's a user who is very concerned about memory allocation, I still wouldn't use the "is recording" test. I'd use something like the `key.Encode(valueEncoder)` method seen in https://github.com/jmacd/opentelemetry-go/pull/3:

[code]

where value implements

[code]
or similar. Then there's no allocation and lazy evaluation.

[2019-10-12 03:06] jmacd commented on #198
OTEP 0005 says you can only initialize the global once. If you're testing, please avoid the global instance.

[2019-10-12 19:47] iredelmeier commented on #198
Hmm... Avoiding the global instance completely in testing feels unsustainable. Some examples:

* Testing that plugins use the global if one is not explicitly provided
* Application tests that use a mix of test and real (e.g., SDK) tracers depending on what level they're testing

[2019-10-14 05:53] VineethReddy02 commented on #185
Hey, @iredelmeier I would like to work on this. Could you help me what are exact changes required?
Could you please point me some good first issues in getting started to contribute to open-telemetry.

[2019-10-14 06:24] VineethReddy02 commented on #53
Hey @jmacd I would like to work on this, I am new to tracing and would like to contribute to
open-telemetry,
So I notice
 In span package and
[code]
In trace package
[code]
but I don't see any method definition in trace package it's an empty function. I see this in multiple places.

![Screenshot from 2019-10-14 11-49-12](https://user-images.githubusercontent.com/25104868/66732290-ef501580-ee78-11e

[2019-10-14 15:43] cirocosta opened #202 "Can't set Jaeger's process Tag fields - `key` and `value` are not exported"
Hi!

First of all, thanks for all of your hard work!

I noticed that when https://github.com/open-telemetry/opentelemetry-go/pull/112 was submitted, during the review pass, `Tag` constructors were dropped, but it seems like no other public way for constructing `jaeger.Tag` was left.

https://github.com/open-telemetry/opentelemetry-go/blob/3516ebc456c7ce437d6c12071e44d90b029fc2aa/exporter/trace/jae

[2019-10-14 15:53] jmacd commented on #53
Yes. In the prototype, this pattern of supporting Mutators was carried over from the OpenCensus code base. We'll remove it, which means any Mutator should disappear.  All `ModifyAttributes` disappear, only `SetAttribute` functionality remains in this respect. The `MapUpdate` type should have only two fields, supporting an update for multiple Set operations or a single Set operation.

[2019-10-14 15:55] jmacd commented on #198
I do not believe plugins should use the global tracer.
In fact I think any code that is tested should not use the global tracer.
But if you still believe that tests should be able to replace the tracer instance, my best recommendation is to create a new kind of Tracer instance that can be installed once, that lets you swap in new exporters dynamically, or something like that.  I can't imagine a te

[2019-10-14 15:56] jmacd commented on #197
Do you dislike the options being a struct as opposed to some other style?

[2019-10-14 15:56] jmacd commented on #196
@krnowak This would make it safe to always assume the value passed to a metric handler matches its descriptor. Otherwise we still need coercion, and the MeasurementValue will need to know its own type.

[2019-10-14 19:17] iredelmeier commented on #198
@jmacd what do you mean that plugins should not use the global tracer? If anything, I've received pushback against the idea that plugins should permit users to _not_ use global tracers!

We also already use the global tracer in tests, both explicitly (e.g., [here](https://github.com/open-telemetry/opentelemetry-go/blob/3516ebc456c7ce437d6c12071e44d90b029fc2aa/propagation/http_trace_context_propaga

[2019-10-14 19:27] iredelmeier commented on #185
@VineethReddy02 the change for this should basically be a find-and-replace for the function provided in [current.go](https://github.com/open-telemetry/opentelemetry-go/blob/3516ebc456c7ce437d6c12071e44d90b029fc2aa/api/trace/current.go) (which should probably also be renamed!) and their usages.

With the caveat that a PR implementing this suggestion may get rejected on the basis of the suggestion i

[2019-10-14 20:20] #189 closed

[2019-10-14 20:30] rghetia opened #203 "move mockMeter to test-support package"
Based on this [comment](https://github.com/open-telemetry/opentelemetry-go/pull/177#discussion_r333219642), mockMeter is useful for testing not just api but sdk, plugin, etc. Opening this issue to move mockMeter to a support package, maybe test/metrics.

[2019-10-14 21:45] iredelmeier opened #205 "Jaeger exporter should be its own go module"
Among other things, this would decouple the core code from all the Jaeger dependencies, such as Thrift.

[2019-10-14 21:48] iredelmeier opened #206 "Stackdriver exporter should be its own go module"
Similar to #205

[2019-10-14 21:52] jmacd commented on #198
I updated https://github.com/open-telemetry/oteps/pull/45

I expect that plugins would be configured explicitly and installed in the process somehow, and that the application main() function would be the responsible party.  I see plugins as different from third-party libraries, which are the intended beneficiaries of the global SDK. I suppose there will be configuration-free plugins that we want t

[2019-10-14 21:56] jmacd commented on #198
(Even for configuration-free libraries, I would prefer to see the main() function both import the module and call some kind of Init() method on the plugin, passing in the Tracer and/or Meter.

[2019-10-14 22:13] iredelmeier opened #207 "SDK should be usable without globals"
i.e., it should be feasible to use the SDK's tracer via something like `trace.NewTracer(opts...)` (where `trace` is `sdk/trace`), and the equivalent for metrics once metrics are far enough along.

[2019-10-14 22:15] iredelmeier commented on #198
I think the (or at least my!) usage of "plugin" might be part of the confusion here 😅

To clarify, I'm referring to both first- and third-party code.

[2019-10-14 22:17] jmacd commented on #207
This may be a duplicate, maybe not.

https://github.com/open-telemetry/opentelemetry-go/issues/171

[2019-10-14 22:21] iredelmeier commented on #207
Two sides of a similar coin, I think? Unclear whether they're duplicates per se.

[2019-10-14 22:41] iredelmeier opened #208 "HTTP propagator names should use "HTTP" instead of "Http""
Renaming these would make them consistent with [Go's recommended naming](https://github.com/golang/go/wiki/CodeReviewComments#initialisms).

[2019-10-14 23:22] iredelmeier opened #209 "Suggestion: core.Key should be a type alias instead of struct"
Making [`core.Key`](https://github.com/open-telemetry/opentelemetry-go/blob/e0eccc9a57e0cae76c1c5b0dde747bb79a8f1300/api/core/key.go#L8-L10) a type alias for `string` instead of a whole struct would (arguably!) make it easier to use, while still allowing us to add methods on `Key`.

[2019-10-14 23:40] jmacd commented on #209
Sounds good. I see no objections. The original type was a struct and had some of the fields it could theoretically share w/ a metric, like having a description or units. That was removed and there's no reason to leave a struct behind.

[2019-10-14 23:45] iredelmeier opened #210 "CI lint should be stricter"
At the very least, we should be running with `gofmt` and `goimports`, and probably also `golint`.

(These are all available through golangci-lint but are [disabled by default](https://github.com/golangci/golangci-lint/tree/f2c566b7e29ca789df6bfc90762d140c832983e2#disabled-by-default-linters--e--enable).)

[2019-10-15 06:11] freeformz commented on #71
The othttp plugin now exists, so I think this can be closed.

[2019-10-15 06:28] freeformz commented on #197
Go has a means of passing arguments. If a value is required, then declare it on the constructor. For everything optional there are few ways to handle them, but I prefer the functional option pattern.

That method leaves us with a single type with one or more constructors and likely a few functions.

The patterns I've seen here leaves us with at least 3 types, in addition to one or more constructor

[2019-10-15 08:18] krnowak commented on #196
The assumption was that the ValueKind was stored in the descriptor and the measurement value should be accompanied with a descriptor which certainly is true for the `Measurement` struct. I need to reread the metrics specs as I am maybe missing some context now.

[2019-10-15 16:30] rghetia commented on #71
fixed by #156

[2019-10-15 16:30] #71 closed

[2019-10-15 16:42] jmacd commented on #197
Thank you @freeformz. I like the functional options pattern, but I wouldn't say I always prefer it. There's a point about the appearance of at least one additional memory allocation when passing a variable-length argument list (maybe? maybe not? can the Go compiler can optimize the pattern?). I'm am willing to follow your guidance -- this appears to be a style-vs-performance question.

[2019-10-15 16:46] freeformz opened #211 "Better documentation for othttp"
I was reading my own docs today and they're sorely lacking. They leave out a lot of details about how, why and when to use different parts of othttp.

[2019-10-15 16:46] freeformz commented on #211
Please assign to me.

[2019-10-15 16:46] jmacd commented on #196
The case I am concerned about would be a integer instrument for which a floating-point measurement is passed using `RecordBatch`.  If the user can construct `Measurement{}` values directly, the could pass a floating-point `MeasurementValue` and it would convert to the `uint64(math.Float64bits())` representation, I think.

[2019-10-15 16:49] freeformz commented on #210
goimports is enabled: https://github.com/open-telemetry/opentelemetry-go/blob/388d3248feac6cf3d8b500bca38102124ad9ff27/.golangci.yml#L9

+1 on `gofmt` & `golint`. I think I meant to enable them, but forgot too.

You can assign this to me if you want.

[2019-10-15 16:50] krnowak commented on #196
Normally I would expect the user to do something like:

[code]

Maybe `Measurement` should only be created by instruments?

[2019-10-15 16:51] freeformz commented on #208
if no one else is interested, feel free to assign this to me.

[2019-10-15 16:51] jmacd commented on #202
I suspect this was unintentional. Let's restore the `Tag` constructor.  Perhaps we should move `jaeger_test.go` into a separate package to be sure it can't use unexported fields.

[2019-10-15 16:53] freeformz commented on #203
I suggest a deep test/helpers package. That would make exported bits it that package 'helpers.Thing' and reduce naming clashes with `metrics`, `traces`, etc (which we already have a *ton* of.

[2019-10-15 17:06] freeformz commented on #197
I don't have number and I'm not sure it's easy to get them, but my *feeling* is that *having* to declare a struct of options, even for those that don't need to be set, likely allocates more in the common case (the common case being where there are no or few additional "options"). With that said some (or all of those allocation are likely on the stack).

FWIW: If we care *that* much about counting

[2019-10-15 17:06] jmacd commented on #196
Yes, that will do it.

[2019-10-15 17:07] freeformz commented on #197
"not sure it's easy to get them" == We would have to write a portion of OT-GO *both* ways and run the same benchmarks against each implementation.

[2019-10-15 17:22] freeformz commented on #182
Why not in the `api` package ?

[2019-10-15 17:24] freeformz commented on #174
@jmacd Do you mean an optional interface, such that the sdk checks to see if an exporter or the like is also an `OnErrorer` or the like and if so then uses this? Or something else?

[2019-10-15 17:44] jmacd commented on #197
Passing a struct definitely happens on the stack, which is effectively zero cost, whereas unless the Go compiler is able to (I'm not sure it is), the functional option pattern requires one allocation for the slice of options and one allocation for each functional closure.

For example: https://gist.github.com/jmacd/5b9b64711030c1cb88a7521df840f240

There are two options being passed, so we're comp

[2019-10-15 17:48] jmacd commented on #182
I agree, this doesn't require a new package.

[2019-10-15 18:02] jmacd commented on #174
To me there are two questions here.
Should each connected group of SDK/processor/exporter/plugin share a single `OnError` handler? (If yes, how is this organized?)
Should there be a global `OnError` handler? (If no, will there be conditions where there's not a well defined `OnError` handler?)
One approach would be to have the SDK implement an `OnError` handler, and let the pre-initialization globa

[2019-10-15 18:02] jmacd commented on #208
@matej-g please go ahead. (@freeformz I've assigned a couple of others to you already today.) :)

[2019-10-16 03:36] paivagustavo commented on #202
I would like to help on this one @jmacd, is it okay?

I saw that there is a to do in the `attributeToTag` method pointing to the fact that we're using `interface{}`.  I think that this could be fixed together.

I see two options to this problem:

1.  We could use the value OpenTelemetry core.KeyValue instead of defining another struct that has the same objective and convert it to the jaeger tag.

[2019-10-16 03:42] paivagustavo commented on #209
Could we take this issue and improve the creation of a KeyValue as well?

Currently, to create a KeyValue we need to do: `key.New("k1").String("v1")`. I would like to propose us to change to `key.String("k1","v1")`,  `key.Int64("k2", 123)`, `key.Bool("k3", true)` and etc.

If we are going to drop the struct, why do we need the `key` type alias at all? Couldn't we just simplify the `KeyValue` struc

[2019-10-16 17:24] #210 closed

[2019-10-16 17:48] jmacd commented on #209
We would like people to be able to statically declare typed keys. As in

[code]

In a large code base, this is important to ensure that keys are not misspelled in various parts of the code.  I do not oppose the idea of offering helpers to construct keys using bare strings, but I think bare-string keys are not a scalable practice in software.

[2019-10-16 17:52] jmacd commented on #202
I prefer the first option. :)

[2019-10-16 18:18] paivagustavo commented on #209
I get the use case now of the type alias now.

I agree that most of the cases the usage `keyName.Type(value)` is the best, since the key between multiples executions is going to be the same. But when creating a KeyValue that is going to be used a single time, e.g. constructor of exporter like jaeger (#202), `key.Type(Name, Value)` seems better.

In the end, I'll change the struct to a type alias a

[2019-10-16 18:25] matej-g commented on #208
So it seems it has just been done by https://github.com/open-telemetry/opentelemetry-go/pull/214 , apart from couple of test function names (still could do that if this issue is still valid). I also noticed there are some other initialisms in parts of the codebase not adhering to the styling guide (mostly "Url"), not sure whether fixing those could be also of interest?

[2019-10-16 19:28] matej-g commented on #181
Is still open / unassigned? I'd be happy to have a look too

[2019-10-16 20:03] jmacd opened #216 "Move global Meter and Tracer getter/setters into dedicated globals package"
The proposal is that we move all globals out of the main `trace` and `metrics` package.  The global tracer and meter objects will be registered in another package, `opentelemtry`, along with the `Init()` method discussed in OTEP 0005.

Eliminating globals from the main packages allows globals package to auto-initialize by loading a plugin, for example; if we separate globals from these packages no

[2019-10-16 20:08] jmacd commented on #216
More concretely, I propose the top-level `opentracing` package contain something like these three methods:

`Init(TracerFactory, MeterFactory)` initializes opentracing global factories
`GlobalTracer(name string) Tracer` gets a named tracer from the global tracer factory
`GlobalMeter(name string) Tracer` gets a named meter from the global meter factory

[2019-10-16 21:11] lizthegrey commented on #216
I 1000% endorse this.

[2019-10-16 21:59] iredelmeier commented on #208
@matej-g fixing `Url` and other initialisms would indeed be of interest!

[2019-10-16 23:13] freeformz commented on #208
@matej-g Sorry. I forgot that you were interested in this. I only did the HTTP ones because the linter was complaining and I needed to fix them to get things to pass.

[2019-10-17 04:28] hodgesds commented on #198
This makes the SDK [`Tracer`](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/trace/tracer.go#L24) practically useless for extending, because the only way to get an instance of it is through the [`Register`](https://godoc.org/go.opentelemetry.io/sdk/trace#Register) function which sets the global.

[2019-10-17 05:49] #209 closed

[2019-10-17 16:59] #202 closed

[2019-10-17 17:11] rghetia commented on #216
@rghetia to post the PR with named tracer.

[2019-10-17 17:12] rghetia commented on #208
@rghetia  to check if this should be closed.

[2019-10-17 17:24] rghetia commented on #193
Use attribute "span.relation" = "childOf" or "followsFrom" in Link.

[2019-10-17 17:27] rghetia commented on #187
Both sampled and record flags are required.

[2019-10-17 17:27] #187 closed

[2019-10-17 17:30] rghetia commented on #184
use go.opentelemetry.io/otel

[2019-10-17 18:18] #211 closed

[2019-10-17 20:07] matej-g commented on #208
Thanks for the encouragement, I opened https://github.com/open-telemetry/opentelemetry-go/pull/220 with some minor fixes.

I've seen there has been a lot of `good first issue` labels added, I would be happy to contribute more. Without getting too much off-topic, any suggestion on which issue(s) I could tackle next?

[2019-10-17 20:24] rghetia commented on #166
fixed by #194

[2019-10-17 20:24] #166 closed

[2019-10-18 20:51] paivagustavo opened #224 "`UpdateName` doesn't trigger sampling decision if the span is not sampled when created."
Currently, when create a `Span` we run the `makeSamplingDecision`. If the span is `sampled`, we create `export.SpanData`, `attributes`, `events` and `links` base from the SpanOptions. If it was not sampled we just ignored this all.

As per specs, `UpdateName` should re-trigger the `makeSamplingDecision`.  Because of the current implementation, if a `Span` has not been sampled from the first time i

[2019-10-18 21:15] jmacd commented on #224
This suggests that the sampling APIs for up-front sampling and tail-sampling ought to be different.

[2019-10-18 22:42] Sikkj commented on #203
![20191018214433](https://user-images.githubusercontent.com/33941545/67132475-418e8f00-f209-11e9-8604-827a81a4e6be.png)

[2019-10-18 22:42] Sikkj commented on #203
Gccccvc

[2019-10-18 22:43] Sikkj commented on #203
Cvvf gfhhg57 la vida

[2019-10-18 22:43] Sikkj commented on #203
![IMG-20191018-WA0001](https://user-images.githubusercontent.com/33941545/67132514-6aaf1f80-f209-11e9-84b4-7d1f8a8a6e0d.jpg)

[2019-10-18 22:43] Sikkj commented on #203
Silvia y a mi me

[2019-10-20 05:09] eran-levy commented on #205
@rghetia @iredelmeier will be happy to contribute the new module, can I just reference the new module repo here?

[2019-10-21 05:16] paivagustavo commented on #183
I'm working on this. I think we could takeSpa nID on another PR since it's getting big already.

[2019-10-21 17:15] #195 closed

[2019-10-21 17:22] jmacd commented on #224
As posted in gitter,

[2019-10-21 17:51] jmacd commented on #183
Yes, your TraceID change is great and I agree that SpanID should be done in a separate PR.

[2019-10-21 19:31] lizthegrey commented on #193
I'm confused though, doesn't `Link` lack the `relation` or `RelationshipType` field?

Is

[code]

being replaced with:

[code]
which lacks the `RelationshipType` field?

[2019-10-21 19:34] lizthegrey commented on #193
and how does this relate to https://github.com/open-telemetry/opentelemetry-go/pull/225

[2019-10-21 20:21] eran-levy commented on #205
@rghetia ok will ref soon, wanted to make sure I document the way to generate the thrift clients that we have under internal/gen-go/jaeger - which jaeger version are we compatible with? when I generated using the Makefile that available at: https://github.com/jaegertracing/jaeger/tree/v1.14.0 I didnt see the same files that we have under our internal/gen-go/jaeger folder, how did you generate them

[2019-10-21 22:08] rghetia commented on #205
@eran-levy I did not generate those files. I had simply ported jaeger exporter from opencensus jaeger exporter [v0.1.0](https://github.com/census-ecosystem/opencensus-go-exporter-jaeger/tree/v0.1.0).
If jaeger client library is used then gen-go files are not required. See [PR#7](https://github.com/census-ecosystem/opencensus-go-exporter-jaeger/pull/7). Using jaeger client library was discussed in

[2019-10-21 22:42] akvanhar commented on #206
PR for this here: https://github.com/open-telemetry/opentelemetry-go/pull/229

[2019-10-22 01:00] iredelmeier opened #230 "SDK's Span#SetName is not thread-safe"

[2019-10-22 02:50] paivagustavo commented on #224
I agree with you @jmacd, I think this should be covered with the https://github.com/open-telemetry/opentelemetry-specification/issues/307? Do you think that raising these questions there is sufficient for this issue being resolved?

[2019-10-22 03:08] jmacd commented on #224
Thanks @paivagustavo. I see we both just updated the spec issue 307. 😄

[2019-10-22 03:39] paivagustavo opened #233 "Add SpanKind option to Span Creation"
https://github.com/open-telemetry/opentelemetry-specification/pull/226 added SpanKind as an option on the Span Creation.

[2019-10-22 11:46] eran-levy commented on #205
@rghetia ok np, so here is the repo: https://github.com/eran-levy/opentelemtry-go-exporter-jaeger
let me know after you fork this repo into https://github.com/open-telemetry and then I will commit the changes to: https://github.com/open-telemetry/opentelemetry-go

[2019-10-22 17:59] jmacd opened #235 "Move the OpenTracing bridge out of `experimental`"
I don't believe it's really experimental.

[2019-10-22 18:15] rghetia commented on #205
@eran-levy there may be some confusion here. While we have not decided where the exporter would reside, but we want the exporters to be its own module. Similar to examples (example/http, example/basic). Later when we have a place (another repo or different directory within the same repo) we will have another PR to do the change.

[2019-10-22 18:20] akvanhar commented on #206
PR here: https://github.com/open-telemetry/opentelemetry-go/pull/236

[2019-10-22 22:25] #230 closed

[2019-10-23 06:01] #183 closed

[2019-10-23 06:29] eran-levy commented on #205
@rghetia ok, tnx, see PR #237

[2019-10-23 16:48] #206 closed

[2019-10-23 23:25] #233 closed

[2019-10-24 12:46] krnowak commented on #196
Can this be closed? It was fixed in #228.

[2019-10-24 13:37] paivagustavo opened #239 "Change SpanID to a byte array"
This is a follow up from #183.

We changed the `TraceID` to a byte array because it is more intuitive and easier to use. We should do it to `SpanID` as well.

[2019-10-24 16:13] #205 closed

[2019-10-24 16:32] #208 closed

[2019-10-24 16:41] rghetia commented on #124
fixed by #179

[2019-10-24 16:41] #124 closed

[2019-10-24 16:44] #196 closed

[2019-10-24 16:58] rghetia commented on #198
Global tracer registry is replaced with global trace provider. This was done in #227. This issue was fixed for provider registry.

[2019-10-24 16:58] #198 closed

[2019-10-24 17:30] iredelmeier commented on #163
@freeformz, it sounds like you want to work on this?

[2019-10-24 17:44] #94 closed

[2019-10-24 17:45] rghetia commented on #122
fixed by #178

[2019-10-24 17:45] #122 closed

[2019-10-26 21:32] eran-levy commented on #145
@rghetia its still work in progress, Im trying to think what will be a good way to test the exporter, will be happy if you can take a look and share your thoughts or maybe ref me to something similar to look at - will it be enough to create span and validate the spancontext?

[2019-10-26 22:16] paivagustavo commented on #116
What are we missing here? Looks like #117 and #154 addressed both SpanProcessors on the specs.

[2019-10-28 17:05] #239 closed

[2019-10-28 20:47] freeformzSFDC commented on #163
What should this test, or tests, cover?

[2019-10-28 22:13] rghetia commented on #163
with AlwaysSample all spans are sampled,
with NeverSample zero spans are sampled,
with probability approximate number of spans are sampled.
Something similar to what is done in [OC](https://github.com/census-instrumentation/opencensus-go/blob/bf352733d4dffdd0e650c71cabc694aca654be9a/trace/trace_test.go#L90-L192)

[2019-10-28 23:56] #235 closed

[2019-10-29 09:28] jpkrohling opened #248 "Proposal for a `Span#Error`"
When instrumenting the Jaeger Operator, I find myself repeating calls like this:

[code]

Perhaps it's a sign that the API could have a `span.Error()` function, so that it can be called as follows:

[code]

This new function could accept an array of `ErrorOptions`, allowing callers to override the error code and possibly the attribute name.

[2019-10-29 10:33] dmathieu commented on #248
How about an internal `handleError` method in your operator:

[code]

Then, we're not setting up a new public method for error handling, and you can still reduce code repetition.

[2019-10-29 10:45] jpkrohling commented on #248
That is certainly a solution, but perhaps this is a pattern that will repeat for pretty much all other Go projects ?

[2019-10-29 10:49] dmathieu commented on #248
Another solution is the discussion in #174.

[2019-10-29 11:18] jpkrohling commented on #248
I understand #174 to be a way for my application to be called back when there's an error in an internal OpenTelemetry component. This issue here is about adding "error" attributes to an active span.

[2019-10-29 23:53] #163 closed

[2019-10-30 04:40] paivagustavo commented on #182
I would like to take this one.

[2019-10-30 17:20] #105 closed

[2019-10-30 18:26] marcosrmendezthd opened #257 "example in the readme is already outdated"
perhaps remove it and just leave the existing links to the samples?

sdktrace.Register, sdktrace.ApplyConfig...

[2019-10-30 19:20] jmacd commented on #248
(Yes, #174 is unrelated.)

This issue points out a flaw in the current implementation of `SetStatus()`, which takes a code but not a message string.  The specification says a status is a pair of a code and a string--you shouldn't have to set the message as a separate span attribute.  (See https://github.com/open-telemetry/opentelemetry-proto/blob/7b88843aed39bc270ffa991dabe2d18f7b717c0a/openteleme

[2019-10-30 19:59] #203 closed

[2019-10-30 20:21] #53 closed

[2019-10-30 23:46] freeformzSFDC commented on #257
FWIW: This is why I encourage developers to write [`Example`](https://golang.org/pkg/testing/#hdr-Examples) functions whenever possible.

[2019-10-31 04:16] paivagustavo opened #261 "Consider splitting package `api/core` in more meaningful packages"
Currently, package `core` has a set of types/functions that doesn't really fit together. For example, it defines `Key` and `Value` types (widely used on the whole api), `Number` type (mainly or exclusively used for metrics) and `SpanContext` type (used on the trace api).

Package name as `core` is discouraged by the Go community and the UX of these type of packages is bad. What does `core` mean fo

[2019-10-31 06:35] #168 closed

[2019-10-31 06:35] #216 closed

[2019-10-31 08:07] jpkrohling commented on #248
If `SetStatus(err)` would return the same `err`, then it would be even better to have this:

[code]

(the name `SetStatus` would be probably slightly inappropriate, though)

[2019-10-31 09:06] krnowak commented on #159
Let's close this one, #172 is merged.

[2019-10-31 15:05] austinlparker opened #264 "Tag a 0.1 release"
👋 As we'll soon be using this package in OpenTelemetry workshops, it'd be great if we could get a 0.1 tag/github release so that workshops can have a relatively stable point-in-time to pull.

[2019-10-31 15:44] lizthegrey opened #266 "ConnectStart/ConnectDone() called multiple times, causing panic"
Stack trace from @austinlparker:

[code]

My analysis:
[code]

[2019-10-31 16:31] #159 closed

[2019-10-31 16:31] #126 closed

[2019-10-31 17:16] freeformzSFDC commented on #261
I agree with `core` being a bad name, but IMO more things should be folded into `api` itself (or some renamed package there of) vs making *more* sub packages of api.

[2019-10-31 17:17] rghetia commented on #257
check embedmd tool.

[2019-10-31 17:18] freeformzSFDC commented on #261
Related: I have a personal todo to take a stab at collapsing various split out packages into more coherent `api` / `sdk` packages. I can prioritize that if there is interest, but I haven't because my otel work is just one of many threads I'm pulling on.

[2019-10-31 17:19] #207 closed

[2019-10-31 17:52] #145 closed

[2019-10-31 18:08] paivagustavo commented on #261
@freeformz Most of what I proposed is to move these types into already _existing_ packages and renaming packages. I agree with you that we have a lot of packages and there are a lot of naming conflicts on those.

[2019-10-31 19:54] freeformzSFDC commented on #257
For me *personally*: there is still a problem with that approach in that the examples aren't present in the docs I'm reading, so I'm unlikely to know they even exist. i.e. my starting point for a library is it's godoc. Maybe it's just me though?

[2019-10-31 21:53] rghetia commented on #257
I support godoc Example. For some of the complex example, readme file with code snippets would be better off using  embedmd tool than not using it.

[2019-11-01 15:34] jmacd commented on #257
@freeformz I suspect this is just a lack of knowledge, so it would be best if you made recommendations instead of suspecting you're in the minority. :)

[2019-11-01 15:39] jmacd commented on #261
I personally haven't felt there's a problem. Could you two @paivagustavo and @freeformz come up with a complete proposal? I'd prefer not to see `api.` package prefixes, would prefer `otel.`. Maybe it would help if we split the API and SDK into separate repos? There has also been a request to split the metrics and trace API/SDK apart into separate repos, which I do not feel is worthwhile.

In any c

[2019-11-01 15:43] jmacd commented on #248
I could also agree that `SetStatus` is less appropriate because Go uses "error" extensively, that `SetError` is appropriate. I also suspect that having this method return the argument error will strike some as a source of cognitive overhead, which is not in the spirit of Go.

[2019-11-01 15:44] jmacd commented on #111
See also #261

[2019-11-01 15:46] jmacd commented on #193
I feel we still have no substitute for "follows from", see here https://github.com/open-telemetry/opentelemetry-specification/pull/337#discussion_r341597015

[2019-11-01 15:50] lizthegrey commented on #193
I chose to do https://github.com/open-telemetry/opentelemetry-go/pull/272 in order to implement Links at span creation time, rather than trying to munge FollowsFrom into a Link etc

[2019-11-01 18:40] #184 closed

[2019-11-01 22:33] bogdandrutu opened #275 "Move SpanContext from core package into trace"

[2019-11-01 22:45] jmacd commented on #275
There are relationships with context propagation that belong outside the trace package. I think it could go in the trace package, but it might require a lot of package restructuring to avoid cycles.

This relates to #261

[2019-11-01 22:55] bogdandrutu opened #276 "Remove empty packages"
opentelemetry-go/api/event/
opentelemetry-go/api/stats/
etc.

[2019-11-01 23:11] bogdandrutu opened #277 "Inconsistent API design between trace and metri"
Currently the trace API is design using interfaces without any implementation detail, but the metric is design more like a "driver" pattern.

I would suggest that we pick one design model and implement that consistently between trace and metric APIs.

[2019-11-01 23:17] bogdandrutu opened #278 "Propose to split sdk/exporter"
Currently the sdk/exporter contains exporters for both traces and metrics. I am proposing to split this into sdk/metricexporter and sdk/traceexporter.

[2019-11-01 23:35] #171 closed

[2019-11-02 13:49] danstephen88 commented on #192
Say again

[2019-11-02 16:43] clsung opened #280 "Stdout exporter does not print Attributes from MessageEvent"
If the Span contain MessageEvent, the output will omit Attirbutes, which is array of core.KeyValue

[2019-11-03 04:33] lizthegrey commented on #266
https://github.com/open-telemetry/opentelemetry-go/pull/273#issuecomment-549104187

Further diagnosis from myself and @paivagustavo: this is due to the IPv6/IPv4 racing behavior of golang resulting in multiple connect() calls being made, one per destination address.

[2019-11-03 04:39] lizthegrey commented on #266
Verified this issue goes away when I explicitly connect to `127.0.0.1` and _not_ to `localhost` which resolves both to `127.0.0.1` and `::1` causing the fallback after 300ms delay. This now no longer is a blocker bug for me delivering the OTel workshop on Tuesday :)

To trip this bug, the remote host needs to fail to respond after 300ms on IPv4 _and_ needs to also have an IPv6 address for the host

[2019-11-03 04:53] paivagustavo commented on #266
As @lizthegrey said, the `clientTracer.connectStart(network, addr string)` can be called multiples times for a list of different address. I thought of two ways to solve this:

The first and easier way is to add the `addr` to the name of the span. The downside here is that the span name would have high cardinality, the result should be something similar to:
![image](https://user-images.githubuserco

[2019-11-03 04:56] lizthegrey commented on #266
I agree that the second approach feels more correct to me.

[2019-11-03 05:39] falonhnatiuk commented on #278
Help

[2019-11-03 06:10] jmacd commented on #278
I would prefer `sdk/export/trace` and `sdk/export/metric`.  Users can rename these on import as "metricexport" and "traceexport" if need be, but this lets us use formal type names without stutter like `metric.Batcher` instead of `export.MetricBatcher`.

[2019-11-03 07:42] paivagustavo opened #284 "SDK Span creation ignores the initial attributes list"
The SDK doesn't sets the attributes that are passed via the `WithAttributes` option to the `Span` creation method.

see: https://github.com/open-telemetry/opentelemetry-go/pull/283/files#diff-ad5e6fa2f2080149c8a5aebd94ea03ddR64

[2019-11-03 23:46] #266 closed

[2019-11-04 13:22] lizthegrey commented on #184
this appears to have broken godoc.org and https://godoc.org/go.opentelemetry.io/otel is empty. https://godoc.org/go.opentelemetry.io still displays the old code.

[2019-11-04 14:47] bogdandrutu commented on #264
Can this please be done today? The velocity workshop is tomorrow.

[2019-11-04 15:36] bogdandrutu commented on #264
I think we need to create a branch, where we merge a PR that updates all go.mod/sum that refers to go.opentelemetry.io/otel to the new tag version, and set the tag to that PR after it is merged.

[2019-11-04 17:53] jmacd commented on #277
I'm open to what others think about this, but I feel the trace and metric interfaces are substantially different beasts, and the distinctions here are appropriate. Every metric API boils down to an event with one number and some labels and a descriptor that says what it means. Forcing an SDK to implement 6 interfaces w/ 3 methods each is a burden for no benefit that I can see.

Since I created thi

[2019-11-04 19:04] #284 closed

[2019-11-04 19:46] #280 closed

[2019-11-05 21:08] #278 closed

[2019-11-07 17:57] freeformzSFDC commented on #261
My proposal, or at least an initial take on it, is #295

[2019-11-07 17:59] freeformzSFDC commented on #257
@jmacd I'm not sure I understand what you are getting at, feel free to msg me on gitter if you would like to provide confidential feedback (always appreciated).

[2019-11-07 18:16] rghetia commented on #257
Remove code from the readme and put enough comments in example code. Simply link example in readme.

[2019-11-07 19:22] jmacd commented on #257
@freeformzSFDC I apologize I didn't mean anything, except that we probably needed a little more guidance. I found this blog post to get me started https://blog.golang.org/examples

I also added a testable example to #265, although I had to introduce an option to suppress the timestamp to make the output deterministic.

https://github.com/open-telemetry/opentelemetry-go/pull/265/files#diff-ba31170c

[2019-11-08 20:45] krnowak commented on #264
This can be closed, right?

[2019-11-08 20:49] krnowak commented on #115
Unassigning myself, there is a PR for it. #296

[2019-11-08 21:17] rghetia commented on #264
yes

[2019-11-08 21:17] #264 closed

[2019-11-11 18:49] rakyll opened #299 "Rename SetCurrentSpan to WithSpan"
context.WithValue derives from the existing context and doesn't replace the value in the existing context. It is misleading to call this function SetCurrentSpan because it doesn't set, it derives.

Also no need for "Current". It operates on any context and any span.

[2019-11-11 18:54] rakyll opened #300 "No need for an exported NoopSpan"
I looks like we are expecting user to program against Tracer implementations. User doesn't have to know about no op span types, we just need to return one from the NoopTracer. Maybe it would be useful to can unexport NoopSpan. Otherwise, it is polluting the API doc and make the user focus on an insignificant type.

[2019-11-11 18:56] rakyll opened #301 "Rename (p NoopProvider) GetTracer to (p NoopProvider) NewTracer"
GetTracer is actually constructing a new Tracer hence should be called NewTracer.

[2019-11-11 19:01] rakyll opened #302 "Remove Span.SetAttribute"
Span.SetAttributes(...core.KeyValue) already does this if you pass a single argument. In Go, we don't provide too many options for the same functionality and variadic args are used exactly to avoid necessity to provide two methods.

[2019-11-11 19:03] rakyll opened #303 "Rename Tracer.WithSpan args"
[code]

[2019-11-11 19:05] paivagustavo commented on #299
Hey @rakyll, there is already an open issue for this https://github.com/open-telemetry/opentelemetry-go/issues/185. If you want to add your suggestion there :)

[2019-11-11 19:11] rakyll opened #304 "Inconsistent name with MeterProvider"
global.MeterProvider is returning a metric.Provider, so users would expect it to return a MetricProvider.

[2019-11-11 19:13] rakyll commented on #185
See also https://github.com/open-telemetry/opentelemetry-go/issues/299.

[2019-11-11 19:13] rakyll commented on #299
Closing this, it looks like a duplicate of #185.

[2019-11-11 19:13] #299 closed

[2019-11-11 19:26] rakyll opened #305 "Fix README quickstart"
`apitrace.GlobalTracer()` is available via the `global` package now.

[2019-11-11 19:29] rakyll opened #306 "Inconsistency with pointer and concrete type recievers"
core.Number has a mix of pointer and concrete receivers. E.g.

[code]

We don't do this in Go for the user's convenience even if we don't mutate any fields in the methods.

[2019-11-11 19:38] rakyll opened #307 "NoopTracer implements more than api.Tracer"
The following methods are not enforced by the api.Tracer:

[code]

Ether remove them, or put them in the Tracer interface. If they have to be put in the Tracer interface, WithXXX might not be the best name. From a user perspective, it looks like the optional functional arguments pattern.

[2019-11-11 21:42] iredelmeier opened #309 "Bug: WithAttributes should append instead of replacing attributes"
This would be especially useful for plugin customization.

[2019-11-11 21:50] iredelmeier opened #310 "Suggestion: Add WithAttribute option"
This would make it easier to conditionally set certain attributes.

Note that without #309, this would have unclear behaviour.

[2019-11-11 22:07] jmacd commented on #302
In OpenTelemetry, we have stated a desire to avoid performance penalties especially when there is a no-op implementation in use. `SetAttributes(singleton)` requires a memory allocation, whereas `SetAttribute(singleton)` does not. We believe that instrumentation libraries are special, from this point of view, and that it is worthwhile to provide options that avoid memory allocation where it is conv

[2019-11-11 22:14] jmacd commented on #307
These are dead code left over from a previous API change.

[2019-11-11 22:15] jmacd commented on #306
Agreed. Number should use concrete receivers.

[2019-11-11 22:16] jmacd commented on #305
See #257

[2019-11-11 22:18] jmacd commented on #304
With hindsight, I agree. The type it provides is named `metric.Meter` so it is providing a `Meter` and you could argue that it's correctly named. The same happens in tracing. The package is named `trace` and the type is `Tracer`. The API is `GetTracer`. So in this sense, `GetMeter` is consistent.

I think `GetMetricProvider` sounds better, although the entire named-Meter API specification is up fo

[2019-11-11 22:19] jmacd commented on #301
@iredelmeier has said the same thing. :)

[2019-11-11 22:25] jmacd commented on #309
I'd call it a __bug__ that `WithAttributes` does not append.

[2019-11-11 22:32] iredelmeier commented on #309
@jmacd I could get behind that characterization ;)

[2019-11-11 22:33] iredelmeier commented on #309
(Also, this is a `good-first-issue`)

[2019-11-11 23:41] iredelmeier commented on #310
To @rakyll's point in #302, this behaviour could also be implemented through fixing #309.

In my experience, it's semantically nice to have the singular option, which probably calls out to the plural version in its implementation; however, it's definitely not a hill that I for one need to die on!

[2019-11-11 23:42] iredelmeier commented on #306
This is also true for the `Value` methods.

[2019-11-12 00:25] iredelmeier commented on #300
If we were to do this, I think it would help to change the signature of `CurrentSpan` to return a bool if there's no span on the context.

[2019-11-12 01:10] jmacd commented on #300
I agree that we should get NoopSpan out of the documentation. This connected with the "IsRecording" question. If we had a better to test for a no-op span, it would help.

[2019-11-12 01:24] iredelmeier commented on #301
Yeah, I brought this up internally the other day :)

[2019-11-12 01:26] iredelmeier commented on #300
"IsRecording" bites again!

[2019-11-12 21:40] iredelmeier opened #311 "Suggestion: Rename non-api `propagation` package to `propagators`"
This would resolve the naming conflict with `api/propagation`.

[2019-11-13 01:04] iredelmeier opened #312 "Suggestion: expose "default" propagators"
e.g., `const DefaultTextFormatPropagator TextFormatPropagator = HTTPTraceContextPropagator` (which I realize wouldn't technically compile due to lack of imports...)

This would help ensure consistency across plugins.

[2019-11-14 04:01] paivagustavo commented on #311
Agree that we should rename the package to `propagators` but I think the api package should be renamed too. Specs says `Propagators API`, so it make sense to use that.

To solve the naming conflict, what about we merge both this package to the api package? It seems that others (java and js) are doing this and it makes sense to me as well.

[2019-11-14 06:28] #47 closed

[2019-11-14 18:03] #309 closed

[2019-11-14 18:19] jmacd opened #317 "Implement Histogram aggregator"
The metics export pipeline has support for configurable aggregators. In the SDK specification (WIP), https://github.com/open-telemetry/opentelemetry-specification/pull/347, four aggregators are specified that SHOULD be provided to support measure metric instruments.  One is currently missing from this set, the Histogram aggregator.  This aggregator should (probably) support both exponential bucket

[2019-11-14 18:23] rghetia commented on #300
@rakyll  would moving this to api/noop package be okay?

[2019-11-14 18:50] #303 closed

[2019-11-14 18:50] #307 closed

[2019-11-14 19:11] jmacd opened #319 "Update MaxSumCount aggregator to MinMaxSumCount"
There's little reason not to treat min and max symmetrically, and the current SDK specification says it should behave this way.  Update the sdk/metric/aggregator interface and stdout exporter to use the additional information.

[2019-11-14 19:14] jmacd opened #320 "Clarify treatment of unspecified values in Metrics export pipeline"
This was discussed in #265, see this comment: https://github.com/open-telemetry/opentelemetry-go/pull/265#discussion_r344305206

The current otel-proto declares that unspecified values will be exported as empty strings. The question for the SDK is whether the exporters should be able to distinguish unspecified from empty strings. It could be accomplished by using the `core.Value` INVALID type, but

[2019-11-15 01:51] paivagustavo commented on #301
From the Named Tracer OTEP, Providers should be a "get or create". So renaming this to `NewTracer()` would not be the best option and renaming to `GetOrCreateTracer()` feels weird.

I would say we need to improve docs here.

[2019-11-15 08:23] #276 closed

[2019-11-15 08:28] jmacd commented on #301
I don't like "OrCreate" in the name, because it implies a behavior that is not part of the semantics of the API. A valid SDK could not create anything as a result of this call, at least as far as the current specification stands (see related discussion about why "Registry" is not a good name in the Gitter https://gitter.im/open-telemetry/language-agnostic-wg).

[2019-11-16 03:40] paivagustavo commented on #302
I've made a simple benchmark comparing using `setAttributes(singleton)` vs `setAttribute(singleton)` when one is using the SDK to `start` and `end` a span (can be seen at #325).

Basically, It sets 4 attributes (one by one) using each function. Here is the benchmark running on my machine:
[code]

Each call adds an additional alloc and approximately 75~225ns.

IMO, that is a small penalty that I th

[2019-11-16 05:59] jmacd commented on #302
100-200ns is what you see in a microbenchmark.

What you'll see in real applications is additional garbage collection cost, which has a non-local, non-linear impact. I return to "It is also important that minimal implementation incurs as little performance penalty as possible". Even a no-op implementation bears this cost.

I agree that AddLink doesn't have a corresponding plural version, but I als

[2019-11-16 17:21] almariah opened #327 "Support for Jaeger remote sampler"
The remote sampler will consult Jaeger agent for the appropriate sampling strategy to use. This allows controlling the sampling strategies in the services from a central configuration in Jaeger backend, or even dynamically.

[2019-11-18 03:59] paivagustavo opened #329 "Remove AddLink from Span interface"
From the [specs](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-links), `AddLink` only exist during the creation of Span.

[2019-11-18 04:10] paivagustavo commented on #302
Agreed that the impact is higher than what the benchmark shows and I understand your position with the library guidelines.

But there is not doubt that this "duplicated" method pollutes the `Span` interface and the user may be confused why and when to use each variation, which is a common standard for Go. Also, there is nothing preventing the user to use the `SetAttributes` when calling with a sin

[2019-11-18 18:21] jmacd commented on #302
I will not object any further to removing SetAttribute. If there is a serious performance complaint, perhaps it can be re-introduced.

(For me, somewhat of a grammar nerd, using a plural "attributes" when there is only one is a bit off-putting. That's a separate matter.)

[2019-11-18 23:51] paivagustavo commented on #302
I think we both made our points about this, would be great to have input from others as well and get to a consensus.

[2019-11-19 14:34] lizthegrey opened #331 "bad jaeger tagged release"
https://pkg.go.dev/mod/go.opentelemetry.io/otel/exporter/trace/jaeger@v1.0.0?tab=versions

we incorrectly created v1.0.0 on November 4 and now Go module proxy has cached it.

we should investigate whether we can get it purged.

[2019-11-19 19:05] lzchen opened #332 "Metrics SDK default label encoding not unique"
Looking at the current implementation of the [default label encoder](https://github.com/open-telemetry/opentelemetry-go/blob/master/sdk/metric/labelencoder.go#L48), will this produce unique encodings with `get_label_set({"foo=bar": "baz"})` and `get_label_set({"foo": "bar=baz"})`? Are we restricting users from have '=' in their labelkeys/values? Sorry if I am misunderstanding as my Go is not as st

[2019-11-19 19:19] jmacd commented on #332
This is a legitimate issue. I'll add this to the list of things that need to be cleared up.

[2019-11-19 19:20] jmacd commented on #332
I think we should restrict keys not to contain certain characters, yes, but some kind of escaping will still be needed. On that topic, there are still open questions about whether unspecified values need to be treated differently from empty-string values, which will touch on the same issue.

[2019-11-20 00:06] jmacd commented on #174
I suggest this issue be named "SDK should to support an error callback". The current default metrics SDK supports one, but it should be supported by the tracer SDK as well.

[2019-11-21 07:03] elsesiy commented on #306
I'd like to tackle this one to get familiar with the code base. The goal is to have all value receivers correct? This would break a couple test cases that currently evaluate pointer equality if I'm not mistaken..

[2019-11-21 18:33] iredelmeier commented on #306
@elsesiy awesome! Yes re: that being the goal, at least for `Number` and `Value`.

[2019-11-21 18:36] jmacd commented on #331
@marwan-at-work says this is permanently cached in the Go team's checksum database, which is a security mechanism for Go modules. We may have trouble re-using this tag.

[2019-11-21 18:39] jmacd commented on #327
@lizthegrey Do you have thoughts on this, given your OTEP about sampling?

[2019-11-21 18:43] jmacd commented on #312
This is a request for an alias, "DefaultTextFormatPropagator" that's equal to the HTTP propagator. This helps clarify that B3 is not the default.

Could we name the HTTP propagator "W3CTraceContextPropagator"?

[2019-11-21 18:45] jmacd opened #337 "Non-API package `/global` should be an API package"
The `/global` package is an essential part of the API, let's move it into `/api`.

[2019-11-21 18:48] jmacd commented on #306
To clarify, we shouldn't change all types across the code base, just those which are commonly used as as values and are used in chained expressions. `Number` and `Value` should be fixed, for sure.

[2019-11-21 19:25] joe-elliott commented on #327
Since this is just a proxy does it make sense to configure and handle this entirely in the receiver?

If we can agree on how to handle this we could be glad to add the feature.

[2019-11-21 19:27] elsesiy commented on #306
@jmacd @iredelmeier Yes I'm only focusing on `Value` and `Number`. Once I have something presentable I'll open a draft PR for you to provide feedback early on. FYI: I noticed right now is that `make test` fails with a bunch of race conditions.

[2019-11-21 21:06] bogdandrutu commented on #327
We discussed about the collector integration to use extensions.

[2019-11-21 21:09] jmacd commented on #306
Please post details about any race conditions you observe. The tests should be passing, including with the race detector.

[2019-11-21 21:53] iredelmeier commented on #312
I think that renaming the HTTP propagator to `W3CTraceContextPropagator` would be worth doing, but is separate from the default.

[2019-11-21 22:18] elsesiy opened #339 "Make test target failing with race conditions"
As mentioned in #306 running `make test` fails with some data races.as
I attached the log output and here's what I did:
1. Clone repo
2. `make precommit`
3. `make test`

I also had to modify the shebang as proposed in https://github.com/open-telemetry/opentelemetry-go/pull/336.

Env info:
`go version go1.13.4 darwin/amd64`

[make_test_output.txt](https://github.com/open-telemetry/opentelemetry-go/

[2019-11-21 22:18] elsesiy commented on #306
@jmacd I created #339 to track this with some more info.

[2019-11-21 22:49] iredelmeier commented on #339
@elsesiy do you want to pick this up as part of your work for #306 or do you want someone else to? At a glance, it looks like the problem is that the `testExporter` (and maybe some other metrics test types) is missing a lock.

[2019-11-22 00:18] jmacd commented on #339
I'll take this one.

[2019-11-22 00:22] jmacd commented on #339
I'm confused because when I run `go test -race` directly on this test, it fails for me. But when I run `make precommit` it does not fail for me locally w/ the same code. Is this flakiness?

[2019-11-22 00:24] jmacd commented on #339
It looks like the test should wrap a mutex around its `records` field. I hadn't written the mutex because in the real SDK export is called in a single threaded context, but it's not in this test.

[2019-11-22 01:36] jmacd commented on #339
Also, I've determined why this hasn't failed very often, since it fails reliably for me on my machine. (1) I wasn't running the `make test` rule, I _thought_ `make precommit` would do that for me. (2) the CircleCI machine has very limited concurrency, as opposed to my machine.

[2019-11-22 01:46] elsesiy commented on #339
@jmacd I noticed that too but after digging through the targets I found that race detection is only done on `make test`. Thanks for the update!

[2019-11-22 04:39] jmacd opened #341 "Add unsafe.Alignof() tests for code that depends on 64-bit atomics"
This includes several metric aggregators and the Meter implementation. Adding simple tests that for alignment will avoid confusing test errors when changes lead to improperly aligned struct fields.

This was noted in #335. See https://go101.org/article/memory-layout.html.

[2019-11-22 08:05] elsesiy commented on #306
@rakyll As I started making changes I noticed that the change is a bit more involved than anticipated.

Changing e.g. `func (n *Number) AddFloat64(f float64)` to a value receiver would imply that we need to change the method signature to `func (n Number) AddFloat64(f float64) Number` to return the result unless there's another way to mutate `n` but I can't think of any. I spoke briefly to @jmacd a

[2019-11-22 12:59] VineethReddy02 commented on #329
I will work on this! So the change involves removing ```AddLink``` from span interface right?

[2019-11-22 16:34] paivagustavo commented on #329
Hey @VineethReddy02, thanks for picking this up!

Yes, just remove it from the interface and also from its implementations (sdk `span`, `noop_span` and `mock_span`).  We should also remove the `Link` method, just realized this now.

The only thing that must be kept is the `addLink` (unexported method) of the sdk span, that should be  used during the span creation (`tracer.Start()`) when we have a

[2019-11-22 18:45] jmacd commented on #306
I wonder if @rakyll could expand upon "We don't do this in Go for the user's convenience even if we don't mutate any fields in the methods."

I'm not sure I get its meaning.

[2019-11-22 18:48] #339 closed

[2019-11-22 18:50] annanay25 commented on #327
I will pick this up.

[2019-11-22 19:21] jmacd commented on #339
We added race detection to the CI tests. Thanks for finding this. :)

[2019-11-22 19:55] jmacd opened #343 "Add simplified constructor for simple metric SDK setup: stdout exporter."
It takes about 15 lines of code to setup an exporter. This is because the complete export pipeline has a number of various configurations possible, but it confuses most users who do not care to change the standard configuration.

Each exporter should provide a simple method to set it up using a recommended setup. For example, the stdout exporter should by default (IMO) use: the inexpensive measure

[2019-11-22 19:56] jmacd opened #344 "Add simplified constructor for simple metric SDK setup: dogstatsd exporter"
Like #343, for dogstatsd exporter.

Until this exporter supports exposing quantile values, this exporter should use the exact measure option, the ungrouped batcher (stateless), and a push controller.

[2019-11-22 19:58] jmacd opened #345 "Add simplified constructor for simple metric SDK setup: prometheus exporter"
Ensure that the Prometheus exporter has a simple method for installing the SDK. This exporter will have to integrate a controller and depends on the defaultkeys batcher, so it should be fairly straightforward.

[2019-11-22 20:07] jmacd opened #346 "Uniform handling of ErrNoData errors from aggregators in the SDK"
The Meter implementation's lock-free implementation always collects a record one final time before "forgetting" it, but this final collection usually comes up with empty data. There is already haphazard support for no-data conditions in the exporters, e.g., the ErrNoLastValue condition and, this TODO in the stdout exporter:
[code]
I'd like to add a predicate to the Aggregator interface to test whe

[2019-11-22 23:29] ferhatelmas commented on #306
IMHO, it means that be consistent such that if a pointer receiver is needed, always use a pointer for convenience, otherwise default to value receiver.

[2019-11-23 17:13] VineethReddy02 commented on #329
I also see ```go.opentelemetry.io/otel/sdk/tracesdk/trace/tracer.go:62:7: span.AddLink undefined```
So what exactly should I do at the places we are using ```AddLink``?

[2019-11-23 17:15] paivagustavo commented on #329
@VineethReddy02 that should be using the unexported `addLink`. But that rest should be removed.

[2019-11-24 16:22] VineethReddy02 opened #350 "make & make test fails"
When I run ```make``` it fails with below error.
[code]

When I run ```make test``` it fails with below error
[code]

[2019-11-24 17:44] jmacd commented on #350
Please upgrade to Go 1.13.

On Sun, Nov 24, 2019 at 8:22 AM Vineeth Reddy <notifications@github.com>
wrote:

[2019-11-25 01:43] VineethReddy02 commented on #350
I upgraded to Go 1.13 now I don't see those errors, And ```make``` is still failing with weird error
[code]

I tried commenting out the above part to check everything is fine, but I see all these errors
[code]

[2019-11-25 17:46] #301 closed

[2019-11-25 17:49] VineethReddy02 commented on #350
I wasn't doing go get, trying to git clone and build the project. Now works fine.
Thanks!

[2019-11-25 17:49] #350 closed

[2019-11-25 22:02] jmacd commented on #306
I'm still not sure how this gives convenience.  If I use a pointer receiver for a type that does not mutate the object, then I'm limiting convenience because I can't chain an expression of such things, so
[code]
is a real convenience. Mutating methods are also a convenience.

How does being consistent add convenience?

[2019-11-25 23:18] ferhatelmas commented on #306
It should always be passed down to have a fluent API like jQuery.

For example

[code]

This is what I understood and was thinking while writing the above comment. The original comment might mean totally a different thing though.

[2019-11-25 23:55] iredelmeier commented on #302
IIRC we reached consensus about removing this in last Thursday's SIG meeting.

To @jmacd's point, we can always add the singular version back in later!

[2019-11-25 23:57] #310 closed

[2019-11-25 23:59] iredelmeier commented on #185
@VineethReddy02 are you still able to work on this?

[2019-11-26 00:01] iredelmeier commented on #182
Can I ask that we hold off on this for now until after the OpenTelemetry-ified Datadog plugins officially land? Otherwise, I think de-duping things will be a really big mess.

[2019-11-26 00:02] iredelmeier commented on #181
@matej-g still open! Are you still able to take a look?

[2019-11-26 00:05] iredelmeier commented on #149
Any more thoughts on this? It seems like the trailing varargs is most straightforward.

[2019-11-26 00:05] paivagustavo commented on #182
Sure @iredelmeier. Also, I was going to hold on this because there is some ongoing work on semantic conventions on the specs repo.

[2019-11-26 00:08] iredelmeier commented on #72
Closing this for now as I believe it makes sense to start with the converted Datadog gRPC plugin, which we should be able to make public soon.

[2019-11-26 00:52] iredelmeier commented on #312
See #355 for the rename side of things.

[2019-11-26 02:59] evantorrie commented on #346
@jmacd I took a quick look at this.  If we try to use only the existing aggregator fields to determine whether an Aggregator has valid data, I don't see an obvious way to make it work for `Counter()`.

For instance, suppose we have a non-monotonic `Counter` which we `Update()` with a `+x` and `-x`. Then the check-pointed value would be equal to `core.Number(0)`;  indistinguishable from the uniniti

[2019-11-26 04:41] #337 closed

[2019-11-26 04:51] jmacd commented on #149
🤷‍♂ Sure!

[2019-11-26 06:58] matej-g commented on #181
Sure!

[2019-11-26 18:32] jmacd commented on #346
Yes, I agree with your reasoning.

I've thought more about the code I'd like to see here, starting with the change to `ForEach`.  The idea is to improve handling for ErrNoData approximately as follows:

1. Consolidate `ErrNoLastValue` and `ErrEmptyDataSet` into a single `ErrNoData` error in the `sdk/export/metric/aggregator` package. Make it an exported type so that we can use `errors.Is()` to tes

[2019-11-26 21:49] paivagustavo commented on #329
Close with #349.

[2019-11-26 21:49] #329 closed

[2019-11-26 22:07] #319 closed

[2019-11-27 05:29] elsesiy commented on #306
@iredelmeier @jmacd Any idea on how to proceed here? I'm not too sure if there's anything to be done until @rakyll can elaborate a bit more on the idiomatic way..

[2019-11-27 23:53] ferhatelmas commented on #197
@jmacd In this issue, we're only renaming, right?

Also, in #325, shouldn't `SetAttributes` take multiple pairs to have a better comparison. For example, in the benchmark, `SetAttribute` is called 4 times so `SetAttributes` should be called once with 4 pairs.

/cc @paivagustavo

[2019-11-28 01:51] lizthegrey commented on #331
this also causes someone running `go get -u [...]` to pull the bad version as it's the "latest"...

[2019-11-28 03:54] 0sc commented on #302
Is this up for grabs? I'll like to try my hands at it

[2019-11-28 17:31] matej-g commented on #181
So I was having a look, maybe I did not understand the issue correctly, but it seems like the end timestamp (`EndTime`) is already implemented in `EndOptions` (see here: https://github.com/open-telemetry/opentelemetry-go/blob/master/api/trace/api.go#L47).

Is this correct or am I missing something?

[2019-12-01 08:59] parschina commented on #305
[واردات از چین](https://parschina.ir/)

[2019-12-02 21:43] iredelmeier commented on #181
@matej-g looks like you're right 👍

Closing as already done.

[2019-12-02 21:43] #181 closed

[2019-12-03 04:25] lizthegrey opened #363 "Cut 0.2 release"
Now that we have functioning metrics, should we cut a 0.2 series release? I recognize context prop isn't there yet, but that should hold a 0.3 series rather than 0.2 series...

[2019-12-03 05:58] #302 closed

[2019-12-03 06:07] jmacd commented on #363
Sounds good!

[2019-12-03 07:51] rghetia opened #364 "test-with-coverage fails for example dir"
example dirs that do not have *.go file in its root directory (where go.mod is present) then coverage fails with error
[code]

Exclude examples from coverage.

[2019-12-03 07:58] #364 closed

[2019-12-03 08:20] rghetia commented on #363
[v0.2.0](https://github.com/open-telemetry/opentelemetry-go/releases/tag/v0.2.0) is released

[2019-12-03 08:20] #363 closed

[2019-12-03 08:24] matej-g commented on #181
thanks @iredelmeier, piggybacking off of this discussion, are there any other open issues that I could look into?

[2019-12-03 09:44] leitzler opened #367 "Update release schedule in README"
Nice to see a new release!

It would be amazing if the release schedule in the README could be updated to reflect the latest updates and plans.

[2019-12-03 16:26] iredelmeier commented on #181
@matej-g the `good first issue` label/[filter](https://github.com/open-telemetry/opentelemetry-go/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) is usually a good place to start.

If something there catches your key, feel free to comment and one of else will try to assign it to you. If not, let me know here or on Gitter and I can try to do another issue pass!

[2019-12-03 21:52] #311 closed

[2019-12-04 00:05] ferhatelmas commented on #331
Relevant issue - https://github.com/golang/go/issues/34189

I asked for the clarification of this case in a [comment](https://github.com/golang/go/issues/34189#issuecomment-561412668).

[2019-12-04 04:57] paivagustavo commented on #115
This should've been closed with #334

[2019-12-04 04:57] #115 closed

[2019-12-04 06:44] paivagustavo opened #370 "Prometheus client should not be used to aggregate metrics points"
With the bootstrap implementation of the prometheus exporter (#334), we have been using the prometheus client lib to **aggregate** and **export** metrics to the Prometheus format. To make that works, we needed to keep every recorded metric point on the sdk (i.e., not aggregate at all), so prometheus could aggregate itself, this is could be expensive.

We could start using the Prometheus client to

[2019-12-04 21:35] iredelmeier opened #371 "Consider adding API aliases to root package"
Currently, `go get go.opentelemetry.io/otel` fails because the root package contains only tools. Users must instead `go get` a more specific package.

This both makes the initial experience a bit confusing and requires users to know more about the particular package structure of the API.

[2019-12-04 21:36] iredelmeier opened #372 "README installations instructions fail"
Since the root package is currently tools-only (see #371), `go get -u go.opentelemetry.io/otel` fails with `build go.opentelemetry.io/otel: cannot load go.opentelemetry.io/otel: no Go source files`.

[2019-12-04 21:41] #197 closed

[2019-12-04 21:47] jmacd commented on #372
Related: #257

[2019-12-04 23:27] lizthegrey commented on #331
https://github.com/golang/go/issues/24031 probably would resolve this issue by allowing us to badlist the v1.0.0 release.

[2019-12-05 18:07] rghetia commented on #372
conclusion is to use alias as suggested in #371

[2019-12-05 18:13] iredelmeier commented on #343
Assigned to @matej-g (can't currently pick in the assignees list)

[2019-12-05 18:15] rghetia commented on #327
move to collector repo

[2019-12-05 20:06] matej-g commented on #343
@iredelmeier yes, thank you, I'll be glad to have a take this!

[2019-12-05 20:20] jmacd commented on #344
@matej-g is working on the companion issue for stdout, you two might collaborate @vvydier.

[2019-12-05 21:26] jmacd commented on #327
I suspect there is a desire to apply sampling in the client-side SDK, in which case this issue belongs here.

[2019-12-06 07:13] annanay25 commented on #327
Yes, once jaeger remote sampling is implemented in the agent/collector, we can pick up the client side SDK sampling.

[2019-12-06 13:34] paivagustavo commented on #192
When we tried to remove this (#223), we found out about the problem discussed in #224. Blocking this until https://github.com/open-telemetry/opentelemetry-specification/issues/307 to be resolved.

[2019-12-06 21:06] rakyll commented on #306
The rationale is it makes it harder for those who want to operate on their interface types. The chances are low for this package to be highly wrapped by the user, but it is a general convention and might be useful to follow for less mental overhead.

For example, the following code won't compile:

[code]

This is why a mixture of pointer and concrete types in Go is not preferred. We should mention

[2019-12-06 22:26] #257 closed

[2019-12-06 22:32] jmacd commented on #306
Thank you @rakyll.

For the types in question, I think we should probably use pointer receivers.

[2019-12-06 22:32] jmacd commented on #306
(This is a fine justification.)

[2019-12-08 12:58] VineethReddy02 commented on #345
I can take this up. Can I know what exactly needs to be done here?

[2019-12-08 18:23] ptravers commented on #312
Would you mind if I picked up this issue?

[2019-12-09 06:52] VineethReddy02 commented on #185
Hey @iredelmeier so what ```CurrentSpan``` & ```SetCurrentSpan``` should be renamed to?

[2019-12-09 08:13] elsesiy commented on #371
@iredelmeier I'm happy to jump on this one!

[2019-12-09 17:28] rghetia opened #376 "Add open-telmetry collector/agent trace exporter."
Add exporter to export Spans to Open-telemetry collector.
This is blocked on release of [open-telemetry/protocol](https://github.com/open-telemetry/opentelemetry-proto).

[2019-12-09 17:29] rghetia opened #377 "Add opentelemetry collector/agent exporter for metrics"
Add exporter to export Metrics to Open-telemetry collector.
This is blocked on release of [open-telemetry/protocol](https://github.com/open-telemetry/opentelemetry-proto).

[2019-12-09 18:31] jmacd commented on #345
This issue is similar to but different than #343 and #344 -- I forgot to put the link to #343 which has an explanation. I am concerned that the Prometheus exporter, which is being refactored under #370, may change enough that this work should be postponed until that issue is addressed.

[2019-12-09 18:32] jmacd commented on #345
@paivagustavo Note.

[2019-12-09 20:20] jmacd commented on #332
Note https://github.com/DataDog/datadog-go/issues/83

[2019-12-09 21:03] #306 closed

[2019-12-09 21:51] iredelmeier commented on #185
@VineethReddy02 `CurrentSpan` -> `SpanFromContext` and `SetCurrentSpan` -> `ContextWithSpan`

[2019-12-09 23:31] #367 closed

[2019-12-10 04:56] elsesiy commented on #371
@iredelmeier What would be the best approach here? I'm thinking of just creating another `doc.go` with `package main` and using blank imports to the respective packages, e.g.:

[code]

This should work if I'm not mistaken..

[2019-12-11 02:40] jmacd commented on #185
@rakyll proposed "WithSpan" as opposed to "ContextWithSpan". What do you think? I do feel that "Context" adds stutter here. If we went with "WithSpan", what's the opposite name? (I still like `CurrentSpan`). Also if we went with "WithSpan", there's a `Tracer.WithSpan`, similar to `trace.WithRegion` in the builtin library, that creates confusion.

[2019-12-11 03:59] paivagustavo commented on #185
I like more `trace.ContextWithSpan` (it is a little verbose but more clear than `trace.WithSpan` that could be misleading) and `trace.CurrentSpan`.

[2019-12-11 08:04] elsesiy opened #380 "Add SamplingHint to API package"
As far as I can tell the current API/SDK are missing the changes proposed in [OTEP0006](https://github.com/open-telemetry/oteps/blob/master/text/0006-sampling.md) such as `SamplingHint` in the API package or the necessary adjustments in the SDK interface to produce `SamplingDecision`s.

Please let me know if I'm mistaken or this is not the process to keep track of OTEP implementation status in the

[2019-12-11 17:49] VineethReddy02 commented on #275
I will take this up.

[2019-12-11 18:03] jmacd commented on #185
Although the PR merged, I am open to renaming `trace.SpanFromContext` to `trace.CurrentSpan`.

[2019-12-12 17:57] rghetia commented on #380
spec is not update for SamplingHint yet. There is an [issue](https://github.com/open-telemetry/opentelemetry-specification/issues/282) open in the spec repo.

[2019-12-12 22:38] jmacd commented on #121
Closing this as the current SDK includes a relatively well-developed concept of a processing pipeline built of the Batcher, AggregationSelector, Aggregator implementations, and Exporters.

[2019-12-12 22:38] #121 closed

[2019-12-12 22:41] jmacd commented on #317
I'm not sure if this is blocked on the spec or not. We've settled the issue about TimeSeries representation in the protocol,
https://github.com/open-telemetry/opentelemetry-proto/issues/54
so I'm marking this as unblocked.

The basic Histogram Aggregator will be similar to the other Measure-kind of aggregators (DDSketch, Array, MinMaxSumCount) but will support configurable (and default) bucket ran

[2019-12-12 22:51] jmacd opened #383 "Metrics SDK: Support for aggregation by distributed correlation context (Spec)"
This issue is filed in to Golang repo as it describes work on the Go Metrics SDK, although the outcome of this work will be a recommendation for how to implement the default SDK for metrics at the OpenTelemetry specification level.

As discussed in https://github.com/open-telemetry/opentelemetry-specification/issues/382, we are interested in having a way to configure metrics export to use aggregat

[2019-12-13 06:02] jmacd opened #384 "Metrics SDK: Support for configurable metrics Batcher/Aggregators (Spec)"
This issue is filed in to Golang repo as it describes work on the Go Metrics SDK, although the outcome of this work will be a recommendation for how to implement the default SDK for metrics at the OpenTelemetry specification level.

As discussed in open-telemetry/opentelemetry-specification#382, we are interested in having a way to configure metrics export to use configurable "views", which implie

[2019-12-14 13:28] VineethReddy02 opened #386 "zPages: rpcz support"
Feature Proposal from @SergeyKanzhelev

zPages is a great practice many organizations and SRE uses for the last line of defence while troubleshooting application issues. zPages aggregate telemetry in-process in a memory buffer and allow to query this informaiton directly from the app. It will be great to design and implement zPages

See some info on zPages: https://opencensus.io/zpages/

Also feat

[2019-12-14 13:44] VineethReddy02 commented on #275
Hey @jmacd I see chaos with moving this. When you say move SpanContext with all the functions defined it as context? Like
[code]

And in ```trace``` package can I place them in ```api.go```

[2019-12-14 16:39] jmacd commented on #275
Yes, any SpanContext  methods will move with the type.

On Sat, Dec 14, 2019 at 5:44 AM Vineeth Pothulapati <
notifications@github.com> wrote:

[2019-12-16 20:45] matej-g commented on #343
So I have been looking at this task and reading through spec / documentation,
but I guess I have still some questions, as a newcomer I want to make sure I understand:

- The terminology is not entirely clear to me - the issues description speaks of setting up an exporter, although it seems like exporter is actually one of the stages in the pipeline which we want to construct. Should I understand t

[2019-12-16 22:29] jmacd commented on #343
Yes, that was the intent of this issue. We want to simplify the default setup.

I would put this in the stdout directory, so the signature might be:

[code]

and to install one of these:
[code]

(Note: I invented the name `Config` above. It's actually named `Options`, but there's a growing consensus in this code base to use `Config` for the name of a config struct and `Option` as the name of the f

[2019-12-16 22:31] jmacd commented on #341
Assign to @MrAlias.

[2019-12-18 05:25] jmacd opened #387 "Events have a _Name_ field, not a _Message_"
The Go API for Events has a field called "Message".  The API specification specifies a field named "Name".  Name designates the schema of the event, not an informational message. See: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-events

[2019-12-18 05:40] jmacd commented on #386
One of the useful things you can do with a z-page is link from one active request to an active, remote child request. This is a nice way to find deadlocks and hung requests. It calls for a specification of what z-pages can do and how to form links into a z-page if you know the endpoint you are talking to.

[2019-12-18 05:49] jmacd opened #388 "Make the global `Meter` useful for registering metric instruments before the SDK is initialized"
There is a stale OTEP here: https://github.com/open-telemetry/oteps/pull/45
It may not describe a real problem in many languages, but it makes a proposal that should at least be followed in Go and probably several other languages.

To make concrete progress in this repository, we should make the global `Meter` instance a new "forwarding" implementation.  It will support allocating metric instrumen

[2019-12-18 18:15] rghetia commented on #387
fixed by #389

[2019-12-18 18:15] #387 closed

[2019-12-18 21:27] jmacd opened #390 "Rename metric "Handle" to "Bound instrument""
The specification change to rename "handle" to "bound instrument" was merged:
https://github.com/open-telemetry/opentelemetry-specification/pull/392

This update should be applied in the code base.

[2019-12-19 01:00] MrAlias commented on #341
Looking into building some tests for structures with fields that support 64-bit atomic operations and ensuring they are arrange for 64-bit alignment looks to be a bit more complicated than just checking the `unsafe.Alignof()` for the struct and field and might ultimately just mask an underlying memory address bug.

The `unsafe.Alignof()` function returns the required alignment of a type, not the a

[2019-12-19 19:45] jmacd commented on #304
This type is named `metric.Provider` now.

[2019-12-19 19:45] #304 closed

[2019-12-19 21:21] jmacd commented on #341
I definitely like the first half -- the proposal to use the `reflect` package in a test.  It was discussed in the SIG today, with a suggestion to use a new `atomic` struct tag, maybe. (I wonder if there's a convention out there already.)

Another idea is to auto-detect for a list of known types in the test -- `core.Number`, `unsafe.Pointer`, and more as needed.

[2019-12-19 21:31] jmacd opened #391 "Depend on external W3C propagation library"
The proposal is to replace the implementation of the W3C `traceparent` context to use code from https://github.com/lightstep/tracecontext.go, which would be copied into a new OpenTelemetry- or W3C-organized GitHub repository. The primary motivation is -- that implementation includes `tracestate` support.

The existing Correlation-Context support implemented in this repository would be separately c

[2019-12-21 14:13] matej-g commented on #343
@jmacd Thank you for the guidance, I tried my hand at a solution in https://github.com/open-telemetry/opentelemetry-go/pull/395

[2019-12-22 03:38] huikang opened #396 "Incorrect childspancount?"
When I tested the `example/http/server/server.go` and `example/http/client/client.go` program, I found that the ChildSpanCount of the client seems not correct. Followings are prints from the stdout

Client:
[code]

There are 6 spans in total, and the last span is the parent span of the other 5 spans. On the server side, there is one span (as shown below) which is the child span from the client.

[

[2019-12-22 04:51] huikang commented on #396
Looks like it misses one span end call. With the PR, I got the missing one:

[code]

[2019-12-23 17:19] jmacd commented on #396
See also https://github.com/open-telemetry/opentelemetry-specification/issues/355

The "Child count" you're seeing is the local child count, it doesn't count remotes.

[2019-12-23 17:47] #370 closed

[2019-12-23 18:46] jmacd opened #398 "Global forwarding Tracer implementation"
As discussed in https://github.com/open-telemetry/oteps/pull/74
and as implemented for the global Meter provider in #392,

Instances allocated through the the global trace.Provider should forward to the global SDK once it is installed.  The same logic can be followed as for Meters in #392, though the change will be much smaller because the trace API has no instruments, label sets, etc.

Marking bl

[2019-12-24 07:03] #388 closed

[2019-12-25 13:26] clippit opened #401 "Allow Sampler overriding when starting a span"
Currently only `DefaultSampler` in Provider will be used when starting a new span, which is hard to customize. For some test purpose, one may start a must-sampled span(eg. via a specific query parameter in http request) without touching the default sampler. How about setting an alternative sampler as a StartOption so that it can be used during the `startSpanInternal` period?

[2019-12-26 08:53] clippit opened #402 "Prometheus example with ddsketch aggregator panics"
In exmplae/prometheus/main.go, modify aggregator selector from Exact to Sketch

[code]

Then the whole example will panic with following stacktrace:

[code]

[2019-12-26 16:31] #402 closed

[2019-12-26 17:20] jmacd commented on #401
I'd ask whether the `Sampler` API could accommodate this kind of decision making, instead of making it a span option. The answer is no, which I think points to a defect in the `Sampler` API.

[code]

I'd suggest that this API, which is only good for relatively simple decision making, isn't good enough (e.g., it doesn't take the span's starting attributes, which are critical to good sampling decisi

[2019-12-27 01:57] MrAlias commented on #341
I spent some time investigating how we could auto-detect structs that need alignment and I have come to the conclusion that it is not going to be easily achievable.

To dynamically generate a list of all `struct`s in a package (from which you can filter for alignment based on a field tag), you need to parse the syntax tree for the package and all its sub-packages. Then, at runtime, pass values of

[2019-12-27 17:09] jmacd commented on #341
One idea, although some might call it overkill, is to use https://godoc.org/golang.org/x/tools/go/loader to load a program that depends on all OTel packages. Then it's relatively simple to iterate over all types and identify the structs. We can't use the reflect package in this case, we'll be handling a parsed program object--it's not looking very easy, but it's do-able.

I'm not sure it's worth t

[2019-12-27 17:31] bogdandrutu commented on #341
From the description:

[2019-12-27 17:42] MrAlias commented on #341
@jmacd thanks for the link, I wasn't aware of that package. Taking a look at it and the replacement @bogdandrutu pointed out (https://godoc.org/golang.org/x/tools/go/packages) I think this replaces the part of the code that does discovery. Seems like it could be a good maintained replacement for the PoC I built to test the idea locally.

As for introspecting the structs once they are identified, I

[2019-12-28 00:30] #390 closed

[2019-12-28 01:54] MrAlias commented on #341
Looking further into using `Eval` to reflect an arbitrary `struct`'s field offset does not look possible.  `Eval` will only return a value if the type is a [constant value](https://golang.org/pkg/go/constant/#Value). This will never be the case, the offset is a variable value.

At this point I don't think it is going to be viable to dynamically check declared `struct`s. Thinking through some ideas

[2019-12-31 21:04] lizthegrey opened #407 "Cut v0.2.1 release"
After https://github.com/open-telemetry/opentelemetry-go/pull/404 and https://github.com/open-telemetry/opentelemetry-go/pull/395 are merged, we should be ready for a v0.2.1

[2020-01-02 08:44] clippit commented on #401
@jmacd My original thought is using different `Sampler`s for different spans rather than one `Sampler` for all circumstances. If staring attributes considered in decision making, it could also provide a way to determine sampling or not by a URL parameter somehow.

But open-telemetry/oteps#66 seems not related to Sampler API. In [OTEP 0006](https://github.com/open-telemetry/oteps/blob/master/text/0

[2020-01-02 16:30] jmacd commented on #401
You mean to add the starting attributes as a parameter to the sampling API? That works -- until someone points out the next thing it's missing. If you wanted to use the (distributed) correlation context for example, another signature change would be needed.

The relationship with open-telemetry/oteps#66 is that everything will be accessible from the Context, possibly we should use the Context in t

[2020-01-02 18:25] jmacd commented on #391
Action item: reach out to W3C team and get a new repo? If not, we'll create a repo in the OTel org. @mwear who should we ask about getting a new repo created in the W3C github org?

[2020-01-02 18:30] jmacd commented on #149
Let's go with trailing varargs.

[2020-01-02 18:41] #343 closed

[2020-01-02 19:47] nicktrav opened #411 "Allow SpanContext to be provided when starting a Span"
I have a potential use-case where a process will be responsible for accepting incoming span payloads (could be in multiple wire formats) and then shipping them to various locations (initially Stackdriver) via one or more exporters.

Given that the incoming span payloads are fully formed, I'd like to be able to preserve the existing `SpanContext` when creating a new `Span` instance. The current imp

[2020-01-02 20:02] mwear commented on #391
@SergeyKanzhelev do you think this belongs in the W3C Github org, and if so, can you help create a repository for it?

[2020-01-02 21:20] #398 closed

[2020-01-03 23:26] MrAlias commented on #341
From the last SIG meeting (2020-01-02), the consensus was to go with (1) and (2) from [the last comment](https://github.com/open-telemetry/opentelemetry-go/issues/341#issuecomment-569375154).

The thinking being that comments and test would help capture at least part of the knowledge gained from this investigation. If these comments or tests become more of a problem than a help the problem can be

[2020-01-06 18:08] #341 closed

[2020-01-07 15:34] mjgarton commented on #371
One option is https://github.com/open-telemetry/opentelemetry-go/pull/422 but it's not clear that pulling in all packages is the right choice.

[2020-01-08 14:49] lizthegrey commented on #407
Fixed by https://github.com/open-telemetry/opentelemetry-go/pull/413

[2020-01-08 14:49] #407 closed

[2020-01-08 23:45] rghetia commented on #411
@nicktrav I don't fully understand your use case. Is the goal to extended the same span across two different process? What do you mean by `span payloads are fully formed`?

[2020-01-09 01:27] nicktrav commented on #411
@rghetia The use case is a process that aggregates telemetry information and exports it to a tracing backend. I say "fully formed" in the sense that all the process has to do is take the span data coming in "as is" and send it on its way. To do this, we need some way of creating Spans with an explicit context, rather than generating new trace / span IDs, as is done here:
https://github.com/open-te

[2020-01-09 07:11] elsesiy commented on #371
@mjgarton Yes I agree, I'm pretty much just waiting for some guidance here as I don't know what the user should be getting via `go get`. @lizthegrey You mentioned just importing `api`, is that the way to go?

[2020-01-09 17:01] rghetia commented on #411
This sounds similar to [otel-collector](https://github.com/open-telemetry/opentelemetry-collector). It allows to receive spans, processes it and then exports it to one or more backend.

[2020-01-09 17:11] paivagustavo commented on #371
Sorry @elsesiy for not responding earlier.

I have some controversy opinions on this issue. I understand the problem and agree that users should have a simpler way to use the Otel API but I don't know if making these alias is the right/final solution. I see this as the same problem that @freeformz and I have raised few times. See https://github.com/open-telemetry/opentelemetry-go/issues/261 and ht

[2020-01-09 18:37] rghetia commented on #396
fixed by #397

[2020-01-09 18:37] #396 closed

[2020-01-09 19:41] jmacd opened #423 "Implement Observer metric instrument"
Implement the functionality described here:
https://github.com/open-telemetry/oteps/blob/master/text/0072-metric-observer.md

[2020-01-09 20:23] MrAlias commented on #371
This doesn't seem to be an issue with modern versions of Go that support modules (something that was backported all the way to Go 1.9).

From the help docs (`go help module-get`):

What this means in practice is the full module is download (without a full tree of dependencies as in the `go get -u go.opentelemetry.io/otel/...` solution):

[code]

While the "build constraints exclude all Go files" w

[2020-01-09 23:58] jmacd commented on #344
This was done. I'm not sure who did it. :)

[2020-01-09 23:58] #344 closed

[2020-01-09 23:58] jmacd commented on #345
This was done.

[2020-01-09 23:58] #345 closed

[2020-01-10 00:00] jmacd opened #424 "Add simplified constructor for simple trace SDK setup: Jaeger exporter"
Like #343, #344, #345 but for the trace SDK. This one should cover Jaeger.

This means new methods for simplified setup, should follow the style of the metrics APIs.  NewRawExporter(), NewExportPipeline(), ...

[2020-01-10 00:29] jmacd opened #425 "Metric stdout `NewExportPipeline` should use `ungrouped` Batcher"
The defaultkeys batcher doesn't print complete information, which seems like what the user of a stdout exporter wants.  The ungrouped batcher prints complete information.

[2020-01-10 23:01] Aneurysm9 opened #426 "Prometheus exporter should use stateful batcher"
While attempting to configure a Prometheus exporter I discovered that counter metrics were not behaving as expected, their values would fluctuate up and down and the metrics would disappear from the scrape endpoint when the system was not active.  I believe this is because [prometheus.NewExportPipeline()](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporter/metric/prometheus/pro

[2020-01-11 01:11] paivagustavo commented on #426
Thanks for reporting this right @Aneurysm9. You're right, the batcher should be stateful things must be messed with these merges :)

I've filled #428 to fix that. Once that is merged, could you check if this fixes the problem you're reporting? Otherwise we may need some more information to debug it.

[2020-01-13 16:22] lizthegrey commented on #426
Addressed in [v0.2.1.1](https://github.com/open-telemetry/opentelemetry-go/releases/tag/v0.2.1.1)

[2020-01-13 16:22] #426 closed

[2020-01-13 22:53] MrAlias opened #429 "Do Not Prefix Span With Tracer Name"
Currently spans created with a tracer that has a name are augmented to have their names prepended with the tracer name. This is not then intended behaviour of a named tracer and needs to be changed.

The expected behaviour is that the span name should not be modified from the one passed to the SDK.

[2020-01-14 12:54] #429 closed

[2020-01-14 15:10] Aneurysm9 commented on #426
@paivagustavo thanks for the quick fix. I can confirm that the exporter is now exhibiting the expected behavior.

[2020-01-14 17:28] paivagustavo commented on #317
I've been working on this.

[2020-01-14 17:55] paivagustavo commented on #426
Happy that it was fixed, thank you for getting back!

[2020-01-15 22:35] MrAlias commented on #391
One thing that was pointed out to me by a few members of the Distributed Tracing W3C working group is that the W3C is a standards body and they didn't know of any other instances (off-hand at least) where the W3C hosted implementations of the specifications. That being said, I'm still interested to hear what @SergeyKanzhelev has to say about the subject.

[2020-01-17 12:42] annanay25 opened #434 "Project does not vendor-in thrift generated files from Jaeger repo"
I was looking to start work on #327, but quickly realised that the project does not vendor-in _the entire_ thrift-compiled directory from the Jaeger project (https://github.com/open-telemetry/opentelemetry-go/blob/master/exporters/trace/jaeger/internal/gen-go/jaeger/jaeger.go).

All APIs related to span processing have been copied over, but remote sampling definitions are missing. It would be clea

[2020-01-20 20:13] johananl opened #435 "Fix documentation of Inject() and Extract() in gRPC propagator"
https://github.com/open-telemetry/opentelemetry-go/blob/dcd0a1049316958692f95582098890cab7e4839d/plugin/grpctrace/grpctrace.go#L49-L69

AFAIK, context injection means "injecting context information into the carrier". In this case "carrier" is gRPC metadata. Therefore, saying that the method injects gRPC metadata into the span is wrong or at least confusing.

Shouldn't this be something like "Injec

[2020-01-21 17:15] #317 closed

[2020-01-22 04:05] lizthegrey commented on #425
I suggested this to @rebeccajae as a good first issue...

[2020-01-22 04:17] rebeccajae commented on #425
I switched the stdout exporter to use the `ungrouped` batcher, and it only outputs bound instruments. For example, using the basic example in `example/basic` the name changes from

[code]
to
[code]

This isn't including anything from the gauge options - that is, whatever is provided in `WithKeys` will not be in the name. So this may also be a bug in the batcher too.

[2020-01-22 05:19] jmacd commented on #425
With the `defaultkeys` Batcher you get the three keys passed in the `WithKeys()` option, but two of them have empty/unspecified values.

With the `ungrouped` batcher, you get four keys that were actually passed in the `commonLabels := meter.Labels(...)` statement.  I believe the `ungrouped` behavior is more useful in a stdout use-case where you are likely to read the labels, whereas the `defaultke

[2020-01-22 05:30] lizthegrey commented on #425
But my reading is that the values aren't unspecified? Or maybe there's a bug in the example code or my understanding.

[2020-01-22 05:32] rebeccajae commented on #425
I feel like I got caught up on "complete information" - the `ungrouped` batcher provides different information which may be more useful based on context. I was mentioning this because neither seemed to provide complete information, but a different subset of the overall available keys.

[2020-01-22 06:32] jmacd commented on #425
I see. I think you're right.

One nice thing about `ungrouped` is that it's less expensive since it passes the label set through.

There is a spec-level discussion about this topic (https://github.com/open-telemetry/opentelemetry-specification/issues/345), and it appears that we are collectively leaning toward letting the empty string and the unspecified value be treated the same.

 It is in that

[2020-01-22 20:11] rebeccajae commented on #425
So the way I see it is dependent on who/what is intended to read the output of this exporter. Currently it conforms to the Prometheus spec of using an empty string to represent null/empty values. This, however has the effect of not being able to know if the value is null or the key is unspecified.

If this exporter is intended to be human-readable, then it may be worthwhile to come up with a disti

[2020-01-22 20:23] jmacd commented on #425
Both of these suggestions are good. I'd choose the first suggestion, using `=` to indicate presence. I'm interested in what others think. Thanks!

[2020-01-22 22:08] paivagustavo commented on #425
I second that both options sounds good and also have a preference for the first one as well.

[2020-01-22 22:11] lizthegrey commented on #425
Sorry this turned out more complicated than a trivial true->false or import change :)

as you can see, the spec and code indeed are evolving, so thank you @rebeccajae :)

[2020-01-23 05:02] paivagustavo opened #437 "Some aggregators may have inconsistent states when updating multiple values"
`MinMaxSumCount` and `Histogram` aggregators keeps multiple fields that are independently atomically updated by `Updated()` and `Checkponit()`, which could result in inconsistent states when these two methods are called concurrently. This is a result of the lock-free implemented algorithm on these aggregators.

From a study based on the Prometheus implementation that @jmacd linked in the #385, we

[2020-01-23 05:24] paivagustavo opened #439 "Add a description and website to the GitHub Project"
Adding a description of the project and link for the opentelemetry website could help people that are searching for the project.

![image](https://user-images.githubusercontent.com/7898464/72958993-a0731f80-3d87-11ea-8df0-a3192a69049a.png)

[2020-01-23 18:14] rghetia commented on #434
@annanay25 can you please elaborate on the problem? may be output of failure?

[2020-01-23 18:34] rghetia commented on #439
Apparently I cannot update it either. Admin has to do it.
@mtwo, @tedsuo can you please update it.

[2020-01-23 18:50] mtwo commented on #439
Added!

[2020-01-23 18:50] #439 closed

[2020-01-23 22:30] neetle opened #440 "Counters, Gauges and Measures return bare structs when methods have pointer recievers"
Currently all of the `metric.NewT(Counter|Gauge|Measure)` and `metric.T(Counter|Gauge|Measure).Bind()` return bare structs. For example, `metric.NewFloat64Measure()` returns a `Float64Measure` and func `(*Float64) Bind() BoundFloat64Measure`.

However, all the methods on the returned structs have pointer receivers, so you need to take the address of the result before you can call the next method.

[2020-01-23 22:30] neetle commented on #440
I'm personally leaning towards 2 if the structs are also made safe to use as a zero value.

[2020-01-24 09:22] annanay25 commented on #434
@rghetia - what I meant, is that the [jaeger.go](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporter/trace/jaeger/internal/gen-go/jaeger/jaeger.go) file in this repo is a duplicate of the thrift-generated files in the jaeger repo. It includes the agent and collector APIs, but the sampling APIs are missing.

We should ideally vendor-in the entire `thrift-gen` package from jaeger

[2020-01-24 19:10] lizthegrey commented on #425
Fixed by #436, thank you for your first contribution @rebeccajae!

[2020-01-24 19:10] #425 closed

[2020-01-26 15:47] matej-g commented on #424
Hi, is this still available? I was working on #343, so I would be interested in tackling this one as well

[2020-01-26 21:29] elsesiy commented on #371
Thanks for the in-depth explanation @paivagustavo! I already suspected that my proposal wouldn't quite work but couldn't find time to validate it. I'm happy to assist with the aliases that can be imported via the `otel` package. I'll come up with a naming proposal for all `api/...` exports before I start implementing it in the next couple of days.

[2020-01-27 18:39] #435 closed

[2020-01-27 22:42] MrAlias opened #447 "Data Race in Testing"
[A recent run of the testing suite](https://circleci.com/gh/open-telemetry/opentelemetry-go/1163?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) revealed a data race in the stackdriver exporter unit tests.

[code]

A quick look at the code shows the two lines of [the mentioned file](https://github.com/open-telemetry/opentelemetry-go/blob/master/exporter/trace/st

[2020-01-28 00:19] paivagustavo commented on #447
Could this be an opportunity to ask to move proprietary exporters out of the main repo?

[2020-01-28 18:16] rghetia opened #448 "trace.TraceContext stutters"
Currently golint warning on [trace.TraceContext ](https://github.com/open-telemetry/opentelemetry-go/blob/6b4acf47b8cd3b106cc29d3ad6cad764ebf880fb/api/trace/trace_context_propagator.go#L39-L40) is disabled. Opened this issue to find a better name.

[2020-01-29 01:07] MrAlias opened #449 "Remove Vendor Exporters"
Vendors are expected to host their exporters external to this repository. The following vendor exporters should be removed

* [stackdriver trace exporter](https://github.com/open-telemetry/opentelemetry-go/tree/master/exporter/trace/stackdriver)
* [dogstatsd metric exporter](https://github.com/open-telemetry/opentelemetry-go/tree/master/exporter/metric/dogstatsd)

The dogstatsd exporter might need

[2020-01-29 01:09] MrAlias commented on #447
Created a ticket to (remove vendor exporters](https://github.com/open-telemetry/opentelemetry-go/issues/449). That issue closes this one if it itself is closed.

[2020-01-29 08:01] krnowak commented on #448
Thanks for filing this issue for me.

To expand on it a bit: `TraceContext` used to be in `propagators` package, so there was no stutter, and it was clear that it was a propagator because of the package name. Now it has been moved to the `trace` package, so it stutters and the `trace.TraceContext` name does not make it clear that it is a propagator. The `trace.B3` propagator is also affected - not

[2020-01-29 17:24] rghetia commented on #448
I like W3CPropagator.

[2020-01-30 12:40] daixiang0 opened #453 "Support Elastic/Lightstep"
Hi!
It is a very awesome project for tracing!
We want to move OpenTracing to OpenTelemetry, still keep support for existing providers is preserved: Jaeger, Elastic, Lightstep, Stackdriver.
I see the [plan](https://github.com/open-telemetry/opentelemetry-go#release-schedule), there is no plan mentioned about Elastic or Lightstep, is there any plan about it?
It would be very helpful!

[2020-01-30 13:49] paivagustavo commented on #453
Hi @daixiang0, thanks for the words and for the interest.

OpenTelemery decided to only maintain a limited number of exporter for some open source backends. That means that other exporter are either created/maintained by companies or individuals that wants to contribute.

There is a link that you can use for finding compatible exporter here: https://github.com/open-telemetry/opentelemetry-go#compa

[2020-01-30 19:12] MrAlias commented on #449
From gitter conversations the consensus is to leave the dogstatsd exporter.

[2020-01-31 16:45] krnowak opened #457 "Document clearly that `Supplier` should operate on singly-valued keys"
This is mostly a note to self, so I can add the documentation during my work on context propagation. This is to resolve an issue raised in #441.

[2020-01-31 20:20] cirocosta opened #458 "Configurable metric push period"
Hi!

First of all, thanks you very much for the work you've been doing!

<br />

I noticed that the `dogstatsd` metric exporter is currently configured with a
push frequency of one hour:

https://github.com/open-telemetry/opentelemetry-go/blob/405a92ab3ed715c5aa0bf10c47e4b2d8e071861c/exporter/metric/dogstatsd/dogstatsd.go#L101

https://github.com/open-telemetry/opentelemetry-go/blob/405a92ab3ed715

[2020-02-01 03:21] daixiang0 commented on #453
@paivagustavo thanks for quick input, could add an example about bridge usage? It would be more clear than the [doc](https://godoc.org/go.opentelemetry.io/otel/bridge/opentracing) for new users like me.

[2020-02-03 17:13] shanna opened #460 "Stackdriver exporter event attributes aren't displayed."
Span events with string or bool attributes don't show in the stackdriver UI. I'm not 100% this is an open-telemetry stackdriver exporter issue or a stackdriver tracing issue. I don't have a standalone test case for you but it's easy to reproduce:

[code]

Example:
[code]

* All the keys appear in the stackdriver UI but only the value `123` is displayed, all other attributes are empty.
* If I use t

[2020-02-03 18:28] krnowak opened #461 "Better attributes for ignored parents"
When #451 gets merged, we will get the `WithNewRoot()` option, that will ignore local and remote parents in the context and create a span with a new trace ID. The ignored parents will end up as links with a string attribute being `"ignored-on-demand": "local"` or `"ignored-on-demand": "remote"` for local and remote parents, respectively.

This needs a better name and likely some piece of specifica

[2020-02-03 18:34] MrAlias commented on #460
@rghetia we'll need to migrate this issue when the new repo for the Stackdrive exporter is migrated (related to #452)

[2020-02-03 18:36] rghetia commented on #460
yes. Added label exporter-sd.

[2020-02-03 18:36] MrAlias commented on #458
This is probably something that we should add to the `Config`s for each exporter.

[2020-02-03 18:46] jmacd commented on #461
I agree that the spec should discuss this. Does the spec describe `WithNewRoot()`?

[2020-02-03 19:53] krnowak commented on #461
Not outright, no. There is a confusing sentence in https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#span-creation (in the the second bullet point): API MAY also have an option for implicit parenting from the current context as a default behavior. So we introduce an option for "explicit non-parenting". ;)

So not sure about the way forward with

[2020-02-03 19:58] jmacd commented on #461
I think a PR to the spec would be appropriate.

[2020-02-03 23:26] MrAlias commented on #440
I updated the instruments methods to have value receivers in #462 (in line with option (2)).

The zero value of the instruments does not seem to me to be an issue. Given they are expected to be constructed with some `Meter` implementation, it is not expected that these structs will be directly constructed.

[2020-02-03 23:56] MrAlias opened #463 "Remove Gauge Instrument"
As per https://github.com/open-telemetry/oteps/pull/80 and https://github.com/open-telemetry/opentelemetry-specification/pull/430, the Gauge instrument needs to be removed.

A solution for this issue should wait for #423 to be addressed first as this introduces the replacement we decided is needed for this instrument.

[2020-02-04 13:31] krnowak commented on #461
So, went through the spec and found a sentence in a paragraph after the bullet points: "Implementations MUST provide an option to create a `Span` as a root span, and MUST generate a new `TraceId` for each root span created.".

So I think the `WithNewRoot` as an option is already covered, but added some wording for adding the parents as links, please see the PR here: https://github.com/open-telemet

[2020-02-04 18:27] #440 closed

[2020-02-04 21:35] iredelmeier commented on #424
Possibly relevant: #161

[2020-02-04 21:49] iredelmeier commented on #448
I'm personally wary of `W3C` as it feels somewhat un-obvious and is meant to be _the_ standard. You wouldn't say `W3CContentLength`.

[2020-02-04 21:50] iredelmeier commented on #453
How about a list in the README linking to proprietary exporters? (This would likely also be relevant with #449)

[2020-02-05 03:11] daixiang0 commented on #453
Could you add an example about bridge usage?

[2020-02-06 20:16] matej-g commented on #458
Is `Config` the right place though? To me it seems that `Config` is something that is tightly related to the actual exporter, while the parameter in question is related to a component further down the pipeline (controller). Maybe the frequency could be passed to the method initializing new pipeline (`NewExportPipeline`)?

[2020-02-07 03:19] andrewhsu commented on #453
@daixiang0 in regards to your desire to move OpenTracing to OpenTelemetry, the opentelemetry-go project is based on the specification work that is ongoing in opentelemetry-specification and there is still a bit of work to get the specification to 1.0 release so opentelemetry-go can fully implement. Here is a list of the milestones set back in October 2019 for the specification which should give yo

[2020-02-07 04:12] daixiang0 commented on #453
Good to heard it, i would have a try and wait for the 1.0 golang version release.

[2020-02-07 14:21] krnowak commented on #457
So this issue conflicts with the following issues in the otel-spec (as we will likely need to rework the supplier interface for allowing multi-valued keys and rework propagator interface to have an iterator over keys instead of a function for getting a fixed list of the keys the propagator uses/understands):

https://github.com/open-telemetry/opentelemetry-specification/issues/433
https://github.c

[2020-02-09 16:31] iamgoangle opened #470 "Found the error go.opentelemetry.io/otel/sdk/export for opentelemetry with jaeger exporter"
I am trying to run the example https://github.com/open-telemetry/opentelemetry-go/blob/master/example/jaeger/main.go

trying to get all dependencies
![image](https://user-images.githubusercontent.com/6595022/74107462-eced9600-4ba2-11ea-8c81-ea7f52a36f61.png)

I got an error like this
![image](https://user-images.githubusercontent.com/6595022/74105859-34b8f100-4b94-11ea-9e45-36620535707c.png)

Woul

[2020-02-10 06:51] wingyplus commented on #470
Seems like it fetch jaeger exporter as a v1.0.0.

[code]

Not sure why it's upgrade to v1.0.0. So I just try the workaround by mark a version to v0.2.1 during go get jaeger exporter

[code]

[2020-02-10 07:03] wingyplus commented on #470
It's seems to be a bad release on golang module proxy. Try it with `GOPROXY=direct` is work fine.

[code]

[2020-02-10 18:27] MrAlias commented on #458
@matej-g that is a good point. I agree, let's add a new parameter to the `NewExportPipeline` function.

[2020-02-10 19:49] paivagustavo commented on #331
We should probably look for a workaround for this since there is no clear solution other than waiting for version v1.0.1 to come out. People are starting facing issues because of this. Some examples of the people that faced this:
- https://github.com/open-telemetry/opentelemetry-go/issues/470
- https://gitter.im/open-telemetry/community?at=5e41add23716b919ba0d5824

One possible solution that I hav

[2020-02-10 20:45] matej-g commented on #458
Great, if there are no takers, happy to take this one 🙂

[2020-02-11 01:54] wingyplus commented on #331
@paivagustavo what’s about go get jaeger module with goproxy direct mode for now until this lib reach 1.0.0?

[2020-02-11 01:55] lizthegrey commented on #331
agree renaming package makes good sense.

[2020-02-11 02:07] #149 closed

[2020-02-11 16:05] lizthegrey commented on #248
https://github.com/open-telemetry/opentelemetry-specification/pull/427 covers this

[2020-02-11 16:23] lizthegrey commented on #248
Resolved at spec meeting: we're okay to proceed for 0.3 but may need to change it for 0.4

[2020-02-12 18:06] MrAlias opened #476 "Update README.md"
- [ ] Drop the `go get` instructions in favor of `git clone`.
- [ ] Add paragraph explaining how to add OTel-go as a dependency to some project. I.e. user should use `go.opentelemetry.io/otel`, not `github.com/open-telemetry/opentelemetry-go`.

_Originally posted by @krnowak in https://github.com/open-telemetry/opentelemetry-go/pull/382#issuecomment-584818035_

[2020-02-13 18:17] rghetia commented on #470
@krnowak suggested to rename exporter to exporters. This will affect all exporters but it is okay since it is not GA.

[2020-02-13 18:20] rghetia opened #477 "Implement Context propagation"
Implement Context propagation as per the spec.

[2020-02-13 18:30] rghetia commented on #372
this is addressed in #476

[2020-02-13 18:30] #372 closed

[2020-02-13 18:31] andrewhsu commented on #476
I'll take this one.

[2020-02-13 18:34] rghetia commented on #470
will be addressed by #331

[2020-02-13 18:34] #470 closed

[2020-02-13 18:36] rghetia commented on #305
it is fixed.

[2020-02-13 18:36] #305 closed

[2020-02-13 18:40] rghetia commented on #193
fixed by #451

[2020-02-13 18:40] #193 closed

[2020-02-13 18:45] #116 closed

[2020-02-13 18:48] #51 closed

[2020-02-13 18:49] #50 closed

[2020-02-14 07:16] #457 closed

[2020-02-14 07:54] krnowak commented on #477
This is copy of a post from #457 about suppliers:

So this issue conflicts with the following issues in the otel-spec (as we will likely need to rework the supplier interface for allowing multi-valued keys and rework propagator interface to have an iterator over keys instead of a function for getting a fixed list of the keys the propagator uses/understands):

https://github.com/open-telemetry/open

[2020-02-15 15:39] wingyplus commented on #458
Is `NewExportPipeline` function that living inside in each `export/metric` providers?

[2020-02-16 18:33] lizthegrey commented on #458
are you still working on this @matej-g? Otherwise I might toss this onto @rebeccajae's plate.

[2020-02-17 03:00] neetle opened #485 "Prometheus exporter panics due to race condition"
I'm starting up a service with a handful of `latency`/`error`/`traffic` metrics, but no values are recorded against these for the first 1-2 seconds of the service. Whenever I hit the prometheus endpoint before any of the values are recorded, I'm getting the attached stack trace.

I believe it's due to the gauge impl returning ErrNoLastValue and prometheus's NewRawExporter not setting the error han

[2020-02-17 03:45] paivagustavo commented on #485
Hey @neetle, Thanks for filling this issue.

You're correct when saying that the lib shouldn't panic because of such an error. The problem was that the `onError(err error)` method of the exporter was not being correctly initialized, causing a `nil pointer dereference` when some error occur. The "correct" default behavior is just print that no value was set and you can override this by changing the

[2020-02-17 08:09] matej-g commented on #458
Unfortunately didn't get a chance to start yet and, as I'll be going on a short hiatus later this week, I'm happy to pass this onto someone else :)

[2020-02-18 04:45] paivagustavo opened #487 "Add histogram support for prometheus exporter"
Since #385 the ability to use histograms was removed until #317 was done. #317 is now merged to master and we can offer users of the prometheus exporter to use histograms instead of summaries.

Even further, histogram are usually more common and recommended when using prometheus and it should be the default aggregator for measures until we have a more fine grained config mechanism.

What need to b

[2020-02-18 05:14] wingyplus commented on #487
I would like to take this one.

[2020-02-19 00:35] #485 closed

[2020-02-19 23:20] jmacd opened #491 "SetStatus does not accept a message string"
As seen in https://github.com/open-telemetry/opentelemetry-go/pull/473, there is a new API being proposed to set the status code when recording an error event.  Notably, the `SetStatus` API does not support passing a message string and the specification says it should.

[2020-02-20 21:46] krnowak opened #493 "Unexport CorrelationContextHeader and TraceparentHeader"
These are in `api/correlation` and `api/trace` respectively. Should rather be unexported. Also `CorrelationContextHeader` should be a constant, not a variable.

[2020-02-25 22:46] rghetia opened #496 "provide an option to filter certain end-points or urls"
Often there is a need to exclude certain endpoints or urls from tracing, for example, health check. This can be achieved either in
## Sampler
Sampler can either use never-sampler or probability sampler based on the name of the span or attributes of the span. Whoever starts a span has to set the name or attribute appropriately. Typically, plugins like http-plugin or grpc-plugin would start the span